#custom-cursor {
  top: 0;
  left: 0;
  position: fixed;
  width: 30px;
  height: 30px;
  pointer-events: none;
  user-select: none;
  border-radius: 100%;
  z-index: 55555555;
  backface-visibility: hidden;
  will-change: transform;
  box-shadow: 0 0 8px #fff, inset 0 0 8px #fff;
  -webkit-animation: pulse 2s linear 1s infinite;
  background: -webkit-radial-gradient(
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.7)
  );
  opacity: 0.4;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 8px #fff, inset 0 0 8px #fff;
  }
  50% {
    box-shadow: 0 0 20px #fff, inset 0 0 18px #fff;
  }
  100% {
    box-shadow: 0 0 8px #fff, inset 0 0 8px #fff;
  }
}
