<div v-if="item" class="glyph-card">
  <div class="glyph-card-header" :style="`background-image:url(${item.image})`">
    <div class="btn-group">
      <div class="badges">
        <div v-if="item.isNew" class="badge-new">{{ $t('glyphs.new') }}</div>
        <div v-if="item.isSale" class="badge-sale">{{ $t('glyphs.sale') }}</div>
        <TypographyText>
          {{ `${item.glyph.stickerURLs.length} glyphs` }}
        </TypographyText>
      </div>
      <div class="favorite">
        <heart-icon size="1x" />
      </div>
    </div>
  </div>
  <div class="card-text">
    <div class="name">{{item.glyph.name}}</div>
    <div class="description">{{ item.glyph.description }}</div>
    <div class="glyph-img">
      <InteractablesButton
        type="primary"
        size="small"
        :text="$t('glyphs.shop_now')"
        :action="goToShopItem"
      >
      </InteractablesButton>
      <EnhancersGlyphsItem
        :key="item.glyph.stickerURLs[0]"
        :src="item.glyph.stickerURLs[0]"
        :width="50"
        :height="50"
      ></EnhancersGlyphsItem>
    </div>
  </div>
</div>
