<div class="files-aside">
  <div class="upper">
    <div class="flex">
      <TypographyText color="light">
        {{ $t('pages.files.aside.free_tier') }}
      </TypographyText>
      <div v-tooltip.bottom="$t('pages.files.aside.coming_soon')">
        <InteractablesButton
          :text="$t('pages.files.aside.upgrade')"
          size="small"
          disabled
        />
      </div>
    </div>
    <UiProgress :progress="percentageUsed" />
    <TypographyText color="light" size="sm">
      <span :class="sizeColor">{{totalSize}}</span>
      of {{sizeLimit}}
    </TypographyText>
  </div>

  <div v-if="!$device.isMobile">
    <TypographyText color="light">
      {{ $t('pages.files.aside.quick_access') }}
    </TypographyText>
    <FilesAsideList :items="quickAccessOptions" />
  </div>
  <!-- <div>
    <TypographyText :size="6" :text="$t('pages.files.aside.shared_items')" />
    <FilesAsideList :items="sharedItemsOptions" />
  </div> -->
</div>
