.caret_divider {
  &:extend(.full-width);
  .caret_text {
    background: @red;
    border-radius: @corner-rounding-smaller;
    display: inline-block;
    font-size: @mini-text-size;
    position: absolute;
    top: -9.5px;
    padding: 0 0.5rem;
    height: 20px;
    line-height: 20px;
    &:extend(.font-secondary);
    &:extend(.glow-danger);

    .triangle {
      position: absolute;
      width: 20px;
      height: 20px;
      right: 1px;
      top: 0px;
      transform: translate(50%, 0%) rotate(45deg) scale(0.7);
      border-radius: @corner-rounding-smaller;
      background: linear-gradient(45deg, transparent 40%, @red 41%);
    }
  }
  border-bottom: 1px solid @red;
  position: relative;
  margin: 1.25rem 0;
  pointer-events: none;
}
