.caret_divider {
  &:extend(.full-width);
  .caret_text {
    &:extend(.font-secondary);
    &:extend(.glow-danger);
    .triangle,
    .triangle:before,
    .triangle:after {
      width: 20px;
      height: 20px;
    }
    .triangle {
      overflow: hidden;
      position: absolute;
      top: -5px;
      right: -18.1px;
      transform: translateY(@half) rotate(0deg) skewY(30deg) scaleX(0.866);
      cursor: pointer;
      pointer-events: none;
    }
    .triangle:before,
    .triangle:after {
      position: absolute;
      background: @red;
      pointer-events: auto;
      content: '';
    }
    .triangle:before {
      transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%)
        skewX(30deg) scaleY(0.866) translateX(-24%);
    }
    .triangle:after {
      transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%)
        skewX(-30deg) scaleY(0.866) translateX(24%);
    }
    &:extend(.no-select);
    background: @red;
    border-radius: @corner-rounding-smaller 0 0 @corner-rounding-smaller;
    display: inline-block;
    font-size: @mini-text-size;
    position: absolute;
    top: -9.5px;
    padding: 0 0 0 @light-spacing;
    height: 20px;
  }
  border-bottom: 1px solid @red;
  position: relative;
  margin-top: @light-spacing;
  margin-bottom: 0.5rem + @light-spacing;
  pointer-events: none;
}
