#encrypted-yellow {
  &:extend(.color-warning);
  &:extend(.background-semitransparent-light);
  &:extend(.round-corners);
  &:extend(.light-padding);
  width: 100%;
  text-align: center;
  font-size: 10pt;
}

@media only screen and (max-width: @mobile-breakpoint) {
  #encrypted-yellow {
    width: 100%;
    overflow-x: hidden;
  }
}
