.encrypted {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: @text-size;
  font-family: @secondary-font;
  padding: @light-spacing;
  &:extend(.color-warning);
  &:extend(.background-semitransparent-light);
  &:extend(.round-corners);
}
