.emoji-reactions {
  display: flex;
  margin-top: @light-spacing;
  margin-bottom: @normal-spacing;
  .emoji-reaction {
    background: @semitransparent-light-gradient;
    border: @light-border;
    border-radius: @corner-rounding;
    padding: (@light-spacing / 2) @light-spacing;
    margin: 0 (@light-spacing / 2);
    margin-left: 0;
    cursor: pointer;
    text-align: center;
    max-width: 3.5rem;

    &:nth-child(1) {
      margin-left: 0;
    }
  }
  .react-button {
    display: none;
  }
  &:hover {
    .react-button {
      display: inline-block;
    }
  }
  .emoji-icon {
    font-size: 1.1rem;
    margin: 8px 8px 2px 10px;
    cursor: pointer;
    color: @text-muted;
  }
  .reactors {
    display: flex; 
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    max-width: 240px;
    bottom: 36px;
    margin: 0px;
    margin-left: -60px;
    background-color: @dark-gray;
    padding: 8px 12px;
    border: @light-border;
    border-radius: @corner-rounding;
    z-index: @base-z-index + 2;
    animation: 1s fadeIn;
    animation-fill-mode: both;
    opacity: 0;
    @keyframes fadeIn {
      80% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    .reactors-emoji {
      font-size: 2rem;
      padding: 0px 4px;
      text-shadow: -1px 0 1px @dark-gray, 0 1px 1px @dark-gray, 1px 0 1px @dark-gray, 0 -1px 1px @dark-gray, 0 0 12px @gray;
    }
    .reactors-list {
      .reactor {
        display: flex; 
        flex-flow: row wrap;
        margin-left: 8px;
        font-size: 10pt;
      }
    }
  }
}