<div class="emoji-reactions" v-if="this.$props.message.reactions">
  <div v-for="reaction in this.$props.message.reactions">
    <div class="emoji-reaction" @click="quickReaction(reaction.emoji)" @mouseenter="toggleReactors(reaction.emoji)" @mouseleave="toggleReactors(null)">
      <span>{{reaction.emoji}}</span>
      <span>{{reaction.reactors.length}}</span>
      <div></div>
    </div>
    <div v-if="hovering === reaction.emoji">
      <div v-if="reaction.reactors.length > 3" class="reactors">
        <span class="reactor">{{reaction.reactors[0]}},</span>
        <span class="reactor">{{reaction.reactors[1]}},</span>
        <span class="reactor">{{reaction.reactors[2]}},</span>
        <span class="reactor">{{reaction.reactors.length - 3}} others...</span>
      </div>
      <div v-else class="reactors">
        <div v-for="reactor in reaction.reactors" class="reactor">
          <span v-if="reactor === reaction.reactors[reaction.reactors.length-1]">{{reactor}}</span>
          <span v-else>{{reactor}},</span>
        </div>
      </div>
    </div>
  </div>
  <div class="react-button">
    <font-awesome-icon
      v-if="this.$props.message.reactions.length"
      :icon="['far', 'smile-plus']"
      class="emoji-icon"
      @click="emojiReaction" />
  </div>
</div>