#pinned-messages {
  position: absolute;
  display: inline-flex;
  top: calc(@statusbar-height - @light-spacing);
  width: 22rem;
  background: @semitransparent-light-gradient;
  border-radius: @corner-rounding;
  border: @light-border;
  backdrop-filter: @blur;
  max-height: 50vh;
  overflow: hidden;

  .pinned-wrap {
    overflow: hidden;
  }
  img {
    max-width: 100%;
  }

  .header {
    .subtitle {
      font-size: @micro-text-size !important;
      font-family: @primary-font;
    }
    font-size: @micro-text-size !important;
    font-family: @primary-font;
  }

  hr {
    margin-top: 0;
  }
  
  .filters {
    text-align: right;
  }
  .filter {
    font-size: @text-size;
    display: inline-block;
    justify-self: flex-end;
    opacity: 0.75;
    cursor: pointer;
  }

  .active-filter {
    opacity: 1;
  }

  .scroll-area {
    max-height: 100%;
    padding: @light-spacing @light-spacing;
    padding-right: @normal-spacing;

    .is-message {
      margin-bottom: 0;
    }
    .wrap {
      position: relative;
      padding: 0 @light-spacing;
      padding-bottom: @light-spacing;
      margin-bottom: @light-spacing;
      background: @semitransparent-lighter-gradient;
      border-radius: @corner-rounding;
      border: @light-border;

      .button {
        padding: 0 @light-spacing;
        height: unset;
        float: right;
        position: absolute;
        top: @light-spacing;
        right: @light-spacing;
      }
      .button.is-dark {
        right: 2rem;
      }
      .feather {
        position: absolute;
        right: @light-spacing;
        top: @light-spacing;
        font-size: @text-size;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  #pinned-messages {
    width: unset;
    left: @light-spacing;
    right: @light-spacing;
    max-height: 75vh;
  }
}