<UiModal :closeModal="closeModal" nopad>
  <div id="settings" 
    :class="`with-sidebar ${ui.settingsSideBar ? 'is-open' : 'is-collapsed'}`">
    <div class="sidebar is-secondary-background" v-touch:swipe.left="collapseSidebar" v-touch:swipe.right="showSidebar">
      <UiScroll verticalScroll>
        <TailoredSettingsSidebar
          :title="$t('pages.settings.settings')"
          toggleable
          :toggle="toggleSidebar"
          :handleRouteChange="changeRoute"
        />
      </UiScroll> 
    </div>
    <div class="not-sidebar hidden-scroll" v-scroll-lock="true">
      <UiScroll verticalScroll enableWrap scrollbarVisibility="scroll">
        <UiBreadcrumbs />
        <InteractablesClose :action="closeModal" />
        <TailoredSettingsPagesPersonalize v-if="page === 'personalize'" />
        <TailoredSettingsPagesAccounts v-if="page === 'accounts'" />
        <TailoredSettingsPagesAudio v-if="page === 'audio'" />
        <TailoredSettingsPagesDeveloper v-if="page === 'developer'" />
        <TailoredSettingsPagesKeybinds v-if="page === 'keybinds'" />
        <TailoredSettingsPagesNotifications v-if="page === 'notifications'" />
        <TailoredSettingsPagesProfile v-if="page === 'profile'" />
        <TailoredSettingsPagesStorage v-if="page === 'storage'" />
        <TailoredSettingsPagesNetwork v-if="page === 'network'" />
        <TailoredSettingsPagesRealms v-if="page === 'realms'" />
      </UiScroll>
    </div>
  </div>
</UiModal>