<div v-if="featuredGlyph" class="glyph-detail-card">
  <div
    class="bg-header"
    :style="`background-image:url(${featuredGlyph.image})`"
  >
    <div class="badges">
      <div v-if="featuredGlyph.isNew" class="badge-new">
        {{ $t('glyphs.new') }}
      </div>
      <div v-if="featuredGlyph.isSale" class="badge-sale">
        {{ $t('glyphs.sale') }}
      </div>
      <TypographyText>
        {{ `${featuredGlyph.glyph.stickerURLs.length} glyphs` }}
      </TypographyText>
    </div>
  </div>
  <div class="glyph-content">
    <div class="glyph-content-text">
      <div class="glyph-name">
        <TypographySubtitle :size="6" :text="featuredGlyph.glyph.name" />
      </div>
      <TypographyText> {{ featuredGlyph.glyph.description }} </TypographyText>
    </div>
    <div class="glyph-list">
      <EnhancersGlyphsItem
        v-for="url in featuredGlyph.glyph.stickerURLs"
        :key="url"
        :src="url"
        :width="48"
        :height="48"
      />
    </div>
  </div>
  <div class="glyph-footer">
    <div class="btns">
      <InteractablesButton
        size="xs"
        :text="$t('glyphs.shop_all')"
        :action="shopAllGlyphs"
      />
      <div class="navigator">
        <InteractablesButton
          type="dark"
          size="xs"
          :action="() => { navigateGlyph('prev') }"
        >
          <chevron-left-icon size="1.5x"></chevron-left-icon>
        </InteractablesButton>
        <InteractablesButton
          type="dark"
          size="xs"
          :action="() => { navigateGlyph('next') }"
        >
          <chevron-right-icon size="1.5x"></chevron-right-icon>
        </InteractablesButton>
      </div>
    </div>
  </div>
</div>
