<div v-if="item" class="glyph-card">
  <div class="glyph-card-header" :style="`background-image:url(${item.image})`">
    <div class="btn-group">
      <div class="badges">
        <div v-if="item.isNew" class="badge-new">New</div>
        <div v-if="item.isSale" class="badge-sale">Sale</div>
        <TypographyText
          :size="6"
          :text="`${item.glyph.stickerURLs.length} glyphs`"
        />
      </div>
      <div class="favorite">
        <heart-icon size="1x" />
      </div>
    </div>
    <div class="glyph-list">
      <EnhancersGlyphsItem
        v-for="url in item.glyph.stickerURLs"
        :key="url"
        :src="url"
        :width="38"
        :height="38"
      ></EnhancersGlyphsItem>
    </div>
  </div>
  <div class="card-text">
    <div class="name">{{item.glyph.name}}</div>
    <div class="description">{{ item.glyph.description }}</div>
    <div class="price">
      ${{item.price.toFixed(2)}}
      <div class="btn-buy" @click="goToShopItem()">
        <shopping-cart-icon size="1.4x" />
      </div>
    </div>
  </div>
</div>
