<div>
  <div class="content">
    <div class="gradient-cover" data-cy="incoming-call"></div>
    <div v-if="callType === 'friend' && friend" class="caller--user">
      <div
        class="user-profile-picture"
        v-bind:style="`background:url(${friend.profilePicture})`"
      />
      <div class="user-info">
        <p class="user-name">{{friend.name}}</p>
        <p class="user-status">{{friend.status}}</p>
      </div>
    </div>
    <div v-else-if="callType === 'group' && group" class="caller--group">
      <div class="user-info">
        <p class="user-name">{{group.name}}</p>
        <p class="user-status">{{group.status}}</p>
      </div>
      <div
        class="user-profile-picture"
        v-bind:style="`background:url(${group.profilePicture})`"
      />
    </div>
  </div>
  <footer class="modal-card-foot">
    <button class="button is-success" v-on:click="() => acceptCall(['audio'])">
      <phone-icon size="1x" class="button-icon" />
    </button>
    <button
      class="button is-success"
      data-cy="incoming-call-accept-video"
      v-on:click="() => acceptCall(['audio', 'video'])"
    >
      <video-icon size="1x" class="button-icon" />
    </button>
    <button class="button is-danger" v-on:click="denyCall">
      <phone-off-icon size="1x" class="button-icon" />
    </button>
  </footer>
</div>
