.incoming {
  --width: 300px;
  --height: 380px;
  --padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: var(--width);
  height: var(--height);
  padding: var(--padding);
  background: @foreground-gradient;
  border-radius: @corner-rounding;
  overflow: hidden;

  .avatar {
    margin-top: auto;
  }

  .user-info {
    max-width: calc(var(--width) - var(--padding) * 2);
    margin-bottom: 0.5rem;
  }

  .buttons {
    display: flex;
    width: 100%;
    justify-content: stretch;
    margin-top: auto;
    gap: 16px;

    > .button {
      flex-grow: 1;
    }
  }
  @media only screen and (max-width: @mobile-breakpoint) {
    --width: 100%;
    --height: 100%;
  }
}
