<div>
  <div class="content">
    <div class="gradient-cover" data-cy="incoming-call"></div>
    <div
      v-if="Boolean(caller)"
      class="caller"
      :class="callType === 'friend' ? 'caller--user' : 'caller--group'"
    >
      <div
        class="user-profile-picture"
        v-bind:style="`background:url(${callerAvatar})`"
      />
      <div class="user-info">
        <p class="user-name" :title="caller.name">{{caller.name}}</p>
        <p class="user-status">{{caller.status}}</p>
      </div>
    </div>
  </div>
  <footer class="modal-card-foot">
    <button class="button is-success" v-on:click="() => acceptCall(['audio'])">
      <phone-icon size="1x" class="button-icon" />
    </button>
    <!-- <button
      class="button is-success"
      data-cy="incoming-call-accept-video"
      v-on:click="() => acceptCall(['audio', 'video'])"
    >
      <video-icon size="1x" class="button-icon" />
    </button> -->
    <button class="button is-danger" v-on:click="denyCall">
      <phone-off-icon size="1x" class="button-icon" />
    </button>
  </footer>
</div>
