<div>
  <div class="content">
    <div class="gradient-cover"></div>
    <div
      class="user-profile-picture"
      v-bind:style="`background:url(${user.profilePicture})`"
    />
    <div class="user-info">
      <p class="user-name">{{user.name}}</p>
      <p class="user-status">{{user.status}}</p>
    </div>
  </div>
  <footer class="modal-card-foot">
    <button class="button is-success" v-on:click="() => acceptCall(['audio'])">
      <phone-icon size="1x" class="button-icon" />
    </button>
    <button
      class="button is-success"
      v-on:click="() => acceptCall(['audio', 'video'])"
    >
      <video-icon size="1x" class="button-icon" />
    </button>
    <button class="button is-danger" v-on:click="denyCall">
      <phone-off-icon size="1x" class="button-icon" />
    </button>
  </footer>
</div>
