@width: 300px;

.incoming {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: @width;
  height: 380px;
  padding: 32px;
  background: @foreground-gradient;
  border-radius: @corner-rounding;

  .avatar {
    margin-top: auto;
  }

  .user-info {
    max-width: @width;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: auto;
  }

  @media only screen and (max-width: @mobile-breakpoint) {
    width: auto;
    height: 100%;
  }
}
