.modal-card-body {
  padding: 0 !important;
}

.content {
  width: 300px;
  height: 400px;
}

.caller {
  height: @full;
  text-align: center;
}

.user-profile-picture {
  background-size: cover !important;
  background-position: center !important;
  height: 80%;
  &:extend(.full-width);
}

.user-profile-placeholder {
  position: absolute;
  bottom: 200px;
  left: 50%;
  margin-left: -60px;
}

.gradient-cover {
  background: linear-gradient(transparent, #000 80%);
  height: @full;
  &:extend(.full-width);
  position: absolute;
}

.modal-card-foot {
  background: transparent;
  position: absolute;
  bottom: 5px;
  border-top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  &:extend(.full-width);
}

.user-info {
  .user-name {
    &:extend(.ellipsis);
    color: #fff;
    font-size: 25px;
    font-family: @primary-font;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
  }
  .user-status {
    opacity: 0.5;
    color: #fff;
    font-family: @primary-font;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: @full;
    margin-bottom: @normal-spacing;
  }
  position: absolute;
  &:extend(.full-width);
  bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
}

@media only screen and (max-width: @mobile-breakpoint) {
  .content {
    &:extend(.full-width);
    height: @full;
    width: @full;
  }

  .user-profile-placeholder {
    bottom: 300px;
  }

  .user-info {
    bottom: 150px;
  }

  // .button {
  //   margin: @normal-spacing !important;
  // }

  .modal-card-foot {
    bottom: 20px;
  }
}
