<div class="file-item" data-cy="file-item">
  <button class="close" @click="$emit('removeUploadItem')">
    <x-icon size="1x" />
  </button>
  <ui-image-container
    v-if="item.thumbnail"
    class="image-container"
    :nsfw="item.nsfw && blockNsfw"
  >
    <img :src="item.thumbnail" draggable="false" />
  </ui-image-container>
  <div v-else class="icon-container">
    <file-icon size="3x" class="control-icon" />
  </div>
  <div>
    <TypographyText :size="6" data-cy="file-item-filename" class="ellipsis">
      {{ item.file.name }}
    </TypographyText>
    <div v-if="item.progress > 0 && item.progress <= 100">
      <UiProgress :progress="item.progress" />
      <TypographySubtitle :text="`${item.progress}% Uploaded...`" />
    </div>
  </div>
</div>
