video {
  border-radius: @corner-rounding;
  overflow: hidden;
}

.video {
  max-width: 540px;
  min-width: 200px;
  width: 70%;
  margin: @normal-spacing 0;
}

.plyr__menu__container {
  background-color: @dark-gray !important;
  color: @bright-text !important;
  padding: 0;
  border-radius: @corner-rounding;

  &:hover, .plyr_control, span {
    color: @bright-text !important;
  }
  &::after {
    border-top-color: @dark-gray !important;
  }
}

.plyr__tooltip {
  background: @dark-gray !important;
  color: @bright-text !important;
  
  &::before {
    border-top-color: @dark-gray !important;
  }
}

.plyr__control {
  &:hover {
    background-color: transparent !important;
  }
}
.plyr__control--overlaid {
  background-color: @primary-color;

  &:hover {
    background-color: @primary-color-alt;
  }
}

.plyr__control--overlaid {
  background-color: @primary-color;
}

.plyr--full-ui input[type=range] {
  color: @primary-color;
}