.welcome-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 16px;
  padding: @normal-spacing;
  max-width: 40rem;
  min-width: 300px;
  background: @modal-gradient;

  .header {
    text-align: center;
  }
  .mascot {
    max-height: 275px;
    filter: drop-shadow(0 0 3px @flair-color);
  }

  @media (max-width: @mobile-breakpoint) {
    height: 100%;
    max-width: unset;
  }
}
