<UiModal nopad>
  <div class="welcome-content">
    <img src="~/assets/svg/mascot/new_things.svg" class="mascot" />
    <TypographyText as="h2" class="header">
      {{$t('welcome_message.welcome', {user: profile.name})}}
    </TypographyText>
    <TypographyText> {{ $t('welcome_message.ea_warning') }} </TypographyText>
    <TypographyText> {{ $t('welcome_message.permissions') }} </TypographyText>
    <TypographyText>
      {{ $t('welcome_message.file_scanning_permissions') }}
    </TypographyText>
    <InteractablesButton
      @click="closeModal"
      :text="$t('modal.update_modal.got_it')"
    >
      <check-icon size="1x" />
    </InteractablesButton>
  </div>
</UiModal>
