<div class="welcome-modal">
  <UiModal nopad>
    <div class="welcome-content">
      <img src="~/assets/svg/mascot/new_things.svg" class="mascot" />
      <UiSpacer :height="50" />
      <TypographyTitle
        :size="6"
        :text="$t('welcome_message.welcome', {user: profile.name})"
      />
      <div class="update-modal-spinner" v-if="isLoading">
        <UiLoadersSpinner spinning />
      </div>
      <UiSpacer :height="30" />
      <TypographyText>
        {{ $t('welcome_message.ea_warning') }}
      </TypographyText>
      <UiSpacer :height="20" />
      <TypographyText>
        {{ $t('welcome_message.permissions') }}
      </TypographyText>
      <UiSpacer :height="20" />
      <TypographyText>
        {{ $t('welcome_message.file_scanning_permissions') }}
      </TypographyText>
      <UiSpacer :height="20" />
      <div class="dismiss-controls">
        <InteractablesButton
          type="primary"
          @click="toggleVisibility"
          :text="$t('modal.update_modal.got_it')"
        >
          <check-icon size="1x" />
        </InteractablesButton>
        <InteractablesButton
          @click="dismissForever"
          color="danger"
          :text="$t('welcome_message.dismiss_forever')"
        >
          <x-icon size="1x" />
        </InteractablesButton>
      </div>
    </div>
  </UiModal>
</div>
