#new-message {
  display: flex;
  flex-flow: column;
  padding: 1rem;
  width: 100%;
  gap: @normal-spacing;
  padding: @normal-spacing;

  .title {
    display: flex;
    align-items: center;
    gap: @light-spacing;
    margin: 0;

    h1 {
      flex-grow: 1;
      margin: 0;
    }
  }
}
