<div id="new-message">
  <div class="title">
    <a class="font-flair" v-on:click="goBack">
      <arrow-left-icon outlined />
    </a>
    <TypographyTitle :text="$t('pages.newMessage.new_message')" :size="5" />
    <a
      class="is-active"
      :class="friends.length ? 'font-primary' : 'font-muted'"
      @click="confirm"
    >
      <pencil-icon v-if="!isLoading" />
      <UiLoadersSpinner v-else spinning class="spinner" />
    </a>
  </div>
  <InteractablesUserPicker v-model="friends" />
  <template v-if="friends.length > 1">
    <InteractablesInput
      v-model="name"
      size="small"
      type="dark"
      input-kind="text"
      :placeholder="$t('pages.chat.new_group_name')"
      :minLength="$Config.chat.groupNameMinLength"
      :maxLength="$Config.chat.groupNameMaxLength"
      :invalid="isInvalidName && Boolean(error)"
    />
    <TypographyError v-if="error" :text="error" small />
  </template>
</div>
