.droppable {
  display: flex;
  flex-grow: 1;
  position: relative;
  min-width: 0;
  &:after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    transition: border @animation-speed ease;
    border-color: @flair-color;
    &:extend(.no-select);
    &:extend(.third-layer);
  }
  &.active {
    &:after {
      border: 2px solid @flair-color;
      background-color: rgba(var(--flair-color), 0.25);
    }
  }
}
