.friends {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;

  .col {
    flex-grow: 1;
  }
}

.alpha-divider {
  &:extend(.full-width);
  display: inline-block;
  padding-left: @normal-spacing;
  font-size: @mini-text-size;
  font-family: @primary-font;
}

.loading-container {
  text-align: center;
}

.padded_divider {
  padding: @light-spacing @normal-spacing;
}
