<div class="friends">
  <div class="tab-container">
    <InteractablesSidebarToggle v-if="!showSidebar" />
    <InteractablesTabs :tabs="tabs" :route="activeTab" @setRoute="setRoute" />
  </div>
  <div class="main-content">
    <div
      v-if="activeTab === FriendsTabs.Friends && !friendsList.length"
      class="empty-friends-container"
    >
      <FriendsEmptyMessage class="empty-friends" />
    </div>
    <FriendsFriend
      v-for="user in friendsList"
      v-else-if="activeTab === FriendsTabs.Friends"
      :key="user.did"
      :user="user"
    />
    <FriendsAdd v-else-if="activeTab === FriendsTabs.Add" />
    <FriendsRequests v-else-if="activeTab === FriendsTabs.Requests" />
  </div>
</div>
