.friends {
  padding: @normal-spacing;
  width: 100%;
  overflow-y: scroll;

  .main-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 1250px;
    padding: 16px 0;
  }
}

.alpha-divider {
  &:extend(.full-width);
  display: inline-block;
  padding-left: @normal-spacing;
  font-size: @mini-text-size;
  font-family: @primary-font;
}

.loading-container {
  text-align: center;
}

.padded_divider {
  padding: @light-spacing @normal-spacing;
}

.tab-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  .tabs {
    padding: 0 @large-spacing;
    border-bottom: 1px solid rgba(@gray, 0.5);
  }
}

.buttons {
  padding-bottom: @normal-spacing;
  margin-left: auto;
}

.empty-friends-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;

  .empty-friends {
    max-width: 320px;

    &-side {
      max-width: 240px;
    }
  }
}
