<div class="friends">
  <InteractablesTabs
    :tabs="tabs"
    :route="activeTab"
    class="tabs"
    @setRoute="setRoute"
  />

  <div class="main-content">
    <UiSimpleScroll scroll-mode="vertical" scroll-show="scroll" class="col">
      <div
        v-if="activeTab === FriendsTabs.Friends && !friendsList.length"
        class="empty-friends-container"
      >
        <FriendsEmptyMessage class="empty-friends" />
      </div>
      <FriendsFriend
        v-for="user in friendsList"
        v-else-if="activeTab === FriendsTabs.Friends"
        :key="user.did"
        :user="user"
      />
      <FriendsAdd v-else-if="activeTab === FriendsTabs.Add" />
      <FriendsRequests v-else-if="activeTab === FriendsTabs.Requests" />
    </UiSimpleScroll>
  </div>
</div>
