.coming-soon-container {
  &:before {
    &:extend(.third-layer);
  }
  .coming-soon {
    pointer-events: none;

    &.horizontal {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
  &.grayscaled {
    .circle {
      filter: grayscale(100%);
    }
    cursor: not-allowed;
  }

  .coming-soon-overlay {
    background-color: darkgrey;
    opacity: 0.2;
    filter: grayscale(100%);
    pointer-events: none;
    padding: 20px;
  }
}
