<span v-if="!hide">
  <div
    v-if="!areaCover"
    class="coming-soon-container"
    :class="`${disabled ? 'disabled' : 'grayscaled'}`"
    v-tooltip="{content:tooltipText, placement:tooltipPosition}"
    @click="toggleModal(ModalWindows.CALL_TO_ACTION)"
  >
    <div
      :class="`coming-soon ${horizontal ? 'horizontal' : ''}`"
      :style="{'margin-top': marginTopOverride}"
      @click="preventClickthrough"
    >
      <slot></slot>
    </div>
  </div>
  <div v-if="areaCover" class="coming-soon-overlay">
    <slot></slot>
  </div>
</span>
