.coming-soon-container {

  &:before {
    z-index: @base-z-index + 200 !important;
  }
  .coming-soon {
    pointer-events: none;

    &.horizontal {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
  &.grayscaled {
    .circle{
      filter: grayscale(100%);
    }
  }

  .coming-soon-overlay {
    background-color: darkgrey;
    opacity: 0.2;
    filter: grayscale(100%);
    pointer-events: none;
    padding: 20px;
  }

  .coming-soon-overlay::before {
    content: 'Coming Soon';
    position: absolute;
    font-size: 2.5em;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
}
