.coming-soon-container {
  &:before {
    &:extend(.third-layer);
  }
  .coming-soon {
    pointer-events: none;

    &.horizontal {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
  &.grayscaled {
    .circle {
      filter: grayscale(100%);
    }
    cursor: not-allowed;
  }

  .coming-soon-overlay {
    background-color: darkgrey;
    opacity: 0.2;
    filter: grayscale(100%);
    pointer-events: none;
    padding: 20px;
  }

  .coming-soon-overlay::before {
    content: 'Coming Soon';
    position: absolute;
    font-size: 2.5em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    &:extend(.third-layer);
  }
}
