@sidebar-inner-offset: 175px;
@mobile-sidebar-inner-offset: 245px;

@sidebar-inner-streaming-pad: 2rem;
@mobile-sidebar-inner-streaming-pad: 6rem;

#sidebar {
  width: @sidebar-size;
  min-width: @sidebar-size;
  position: relative;
  display: inline-flex;
  height: @full;
  display: flex;
  flex-direction: column;
  padding-bottom: @normal-spacing;

  .sidebar-inner {
    &:extend(.round-corners);
    margin-top: @normal-spacing;
    padding-bottom: @normal-spacing;
    &:extend(.background-semitransparent-light);
    box-shadow: @ui-shadow;
    max-height: calc(@app-height - @sidebar-inner-offset);
    display: flex;
    flex-direction: column;
    padding-bottom: @normal-spacing;
    .sidebar-search {
      &:extend(.full-width);
      padding: @normal-spacing;
      padding-right: @normal-spacing * 3;
    }

    .toggle-sidebar {
      position: absolute;
      top: @normal-spacing * 2.5;
      right: @normal-spacing;
      &:extend(.filter-glow);
    }
  }

  .sidebar-inner-streaming {
    max-height: calc(
      @app-height - @sidebar-inner-offset - @sidebar-inner-streaming-pad
    );
  }

  .controls {
    &:extend(.background-semitransparent-light);
    &:extend(.round-corners);
    padding: @light-spacing @normal-spacing @normal-spacing @normal-spacing;
    box-shadow: @ui-shadow;
  }

  .filler {
    flex: 1;
  }

  .padded {
    padding: @normal-spacing @normal-spacing 0 @normal-spacing;
  }

  .no-top-pad {
    padding: 0 @normal-spacing;
  }

  .tabs {
    margin-bottom: @normal-spacing;
  }

  .label {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    font-size: @micro-text-size;
    border-radius: 2px;
    line-height: 1.2;
    padding: 0.15rem 0.25rem;
    &:extend(.font-primary);
    font-family: @primary-font;
  }

  .sidebar-selector {
    .button:nth-child(1) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .button:nth-child(2) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .loading-container {
    display: inline-flex;
    justify-content: center;
    &:extend(.full-width);
  }
}

.sidebar-full-btn {
  &:extend(.full-width);
  margin-bottom: @light-spacing;
  justify-content: flex-start;
}

.sidebar-nav {
  padding: 0 @normal-spacing;
  margin-bottom: @light-spacing;
}

@media only screen and (max-width: @mobile-breakpoint) {
  #sidebar {
    &:extend(.first-layer);
    &:extend(.background-dark-gradient);
    padding-bottom: @normal-spacing;
    .sidebar-inner-streaming {
      max-height: calc(@app-height - @mobile-sidebar-inner-offset);
    }
    width: @sidebar-size-mobile !important;
    min-width: @sidebar-size-mobile !important;

    .servers {
      &:extend(.first-layer);
    }

    .toggle-sidebar {
      &:extend(.second-layer);
    }
  }
}
