@size: 75px;
@size-mobile: 55px;

.profile-small-screen {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  &:extend(.full-width);
  .profile-left {
    padding: @normal-spacing 0;
  }
  .profile-layout {
    &:extend(.full-width);
    display: flex;
    flex-wrap: wrap;
    .profile-left {
      &:extend(.full-width);
      margin-top: 0;
    }
  }
  .profile-photo-column {
    max-width: 75px;
    .profile-photo {
      height: @size-mobile;
      width: @size-mobile;
    }
  }
}

.profile-layout {
  &:extend(.full-width);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.profile-left {
  flex-shrink: 0;
  width: 300px;
  padding: 0 @normal-spacing;
  margin-top: -200px;
}

.profile-right {
  &:extend(.half-width);
  min-width: 250px;
  flex-grow: 1;
  flex-shrink: 3;
  margin-top: @xlarge-spacing;
}

.profile-main {
  background: @midground-alt;
  padding: @normal-spacing;
  &:extend(.round-corners);
}

.profile-photo-column {
  max-width: 100px;
  .profile-photo {
    position: relative;
    height: @size;
    width: @size;
    cursor: pointer;
    .is-rounded,
    .is-square {
      max-width: @full !important;
      max-height: @full !important;
    }
    .plus-button {
      &:extend(.first-layer);
      right: 0;
      top: 0;
      position: absolute;
    }

    &-loading {
      cursor: progress;
    }
  }
}

.username-column {
  overflow: hidden;

  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.25;
    &:extend(.full-width);
  }
}

.profile-image-cropper {
  &:extend(.full-width);
  height: @full;
  &:extend(.first-layer);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  .content {
    position: relative;
    width: 500px;
    .cropper-mask {
      &:extend(.blur-less);
      position: fixed;
      &:extend(.first-layer);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.input-file {
  display: none;
}
