<SettingsPage>
  <div
    id="profile-settings"
    :class="isSmallScreen ? 'profile-small-screen' : ''"
  >
    <SettingsProfileBanner />

    <div class="profile-layout">
      <div class="profile-left">
        <SettingsProfileCard :info="sampleProfileInfo" />
      </div>
      <div class="profile-right">
        <!-- Profile -->
        <div class="profile-section">
          <div>
            <div class="section-title">
              <div class="title-wrapper">
                <user-icon size=" 1.5x" class="section-icon" />
                <TypographyTitle
                  :size="6"
                  :text="$t('pages.settings.profile.title')"
                />
              </div>
            </div>

            <div class="profile-main">
              <div class="profile-image-cropper" v-if="showCropper">
                <div class="content">
                  <InteractablesImageCropper
                    v-click-outside="toggleCropper"
                    :set-cropped-image="setCroppedImage"
                    :image-url="image"
                    @toggle-cropper="toggleCropper"
                  />
                  <div class="cropper-mask"></div>
                </div>
              </div>

              <div class="profile-section">
                <div class="subtitle">
                  <TypographySubtitle
                    :size="6"
                    :text="$t('pages.settings.profile.subtitle')"
                  />
                </div>
                <div class="profile-photo-column photo">
                  <div :class="['profile-photo']">
                    <InteractablesImageInput
                      ref="imageInput"
                      @change="selectProfileImage"
                    />
                    <UiCircle
                      :type="croppedImage || accounts.details.profilePicture ? 'image' : 'random'"
                      @click="openFileDialog"
                      :source="src"
                      :seed="accounts.active"
                      :size="isSmallScreen ? 55 : 80"
                    />
                    <UiCircle
                      type="icon"
                      @click="openFileDialog"
                      icon="plus"
                      color="var(--flair-color)"
                      :size="20"
                      class="plus-button"
                    />
                  </div>
                </div>
                <button
                  v-if="src"
                  class="remove-button"
                  @click="removeProfileImage"
                >
                  <span>{{ $t('pages.settings.profile.remove_image') }}</span>
                </button>
                <div class="username">
                  <TypographyTitle :size="6" :text="accounts.details.name" />
                </div>
                <div class="status-input">
                  <InteractablesInput
                    v-model="status"
                    size="xs"
                    type="text"
                    :placeholder="$t('pages.settings.profile.status_placeholder')"
                  >
                    <edit-icon size="1x" />
                  </InteractablesInput>
                </div>
                <div v-if="!!accounts.details.status" class="status">
                  <TypographyText as="h6">Current Status</TypographyText>
                  <TypographyText>
                    {{ accounts.details.status }}
                  </TypographyText>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="profile-section">
          <!-- About Me -->
          <div>
            <div class="section-title">
              <div class="title-wrapper">
                <align-left-icon size="1.5x" class="section-icon" />
                <TypographyTitle
                  :size="6"
                  :text="$t('pages.settings.profile.about.title')"
                />
              </div>
              <button class="edit-button" @click="() => {}">
                {{$t('global.edit')}}
              </button>
            </div>
            <div class="about-main">
              <div class="about-subtitle">
                <TypographySubtitle
                  :size="6"
                  :text="$t('pages.settings.profile.about.subtitle')"
                />
              </div>
              <TypographySubtitle :size="6" :text="sampleProfileInfo.about" />
            </div>
          </div>

          <!-- Your Accounts -->
          <div>
            <div class="section-title">
              <div class="title-wrapper">
                <laptop-icon size="1.5x" class="section-icon" />
                <TypographyTitle
                  :size="6"
                  :text="$t('pages.settings.profile.accounts.title')"
                />
              </div>
            </div>

            <div class="accounts-main">
              <div class="accounts-subtitle-wrapper">
                <div class="accounts-subtitle">
                  <TypographySubtitle
                    :size="6"
                    :text="$t('pages.settings.profile.accounts.subtitle_url')"
                    class="accounts-subtitle-text"
                  />
                  <div v-tooltip.top="$t('controls.edit')">
                    <info-icon size="1.5x" class="section-icon-tooltip" />
                  </div>
                </div>
                <InteractablesInput
                  v-model="accountUrl"
                  size="xs"
                  type="text"
                  :placeholder="$t('pages.settings.profile.accounts.url_placeholder')"
                >
                  <edit-icon size="1x" />
                </InteractablesInput>
              </div>

              <div class="accounts-subtitle-wrapper">
                <div class="accounts-subtitle">
                  <TypographySubtitle
                    :size="6"
                    :text="$t('pages.settings.profile.accounts.subtitle_accounts')"
                  />
                </div>

                <SettingsProfileAccounts />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</SettingsPage>
