.wallet {
  .close {
    position: absolute;
    top: @normal-spacing;
    right: @normal-spacing;
  }
  .heading {
    font-family: @primary-font;
    display: inline-flex;
    align-content: center;
    .subtitle {
      font-size: @text-size;
      margin-left: @light-spacing;
    }
  }
  .more-info {
    display: inline-flex;
    &:extend(.full-width);
    margin-top: @normal-spacing;
  }
  display: flex;
  height: 80vh;
  width: 80vw;
  max-height: @full;
  overflow: hidden;
  &:extend(.round-corners);
  padding: @normal-spacing;
  flex-direction: column;
}
