<div id="app" :class="`with-sidebar ${sidebar ? 'is-open' : 'is-collapsed'}`">
  <div class="sidebar is-secondary-background">
    <TypographyTitle :size="6" :text="$t('global.settings')" class="sidebar-word" />
    <TailoredSettingsSidebar
      :title="$t('global.settings')"
      toggleable
      :toggle="toggleSidebar"
    />
  </div>
  <div class="not-sidebar" v-scroll-lock="true">
    <UiBreadcrumbs />
    <InteractablesClose :action="() => $router.push('/chat/direct')" />
    <Nuxt />
  </div>
</div>