.infinite-scroll {
  .notice-text {
    height: 30px;
    font-size: @text-size;
    font-family: @secondary-font;
    color: @text-muted;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
