.glyph-popular {
  width: 100%;
  .glyph-detail-card {
    width: 100%;
    max-width: 100%;
    font-family: @primary-font;
    border-radius: @corner-rounding;
    overflow: hidden;
    margin-top: @normal-spacing;
    border: @light-border;
    background: transparent;
    .bg-header {
      width: 100%;
      height: 5rem;
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      padding: @normal-spacing;
    }
    .glyph-content {
      width: 100%;
      padding: @normal-spacing;
      background: @semitransparent-dark-gradient;
      .glyph-list {
        height: 16rem;
        text-align: center;
        overflow: hidden;
        padding: @light-spacing;
        div {
          display: inline-block;
          margin: 0 @light-spacing @light-spacing 0;
        }
      }
      .glyph-content-text {
        .subtitle,
        .is-text {
          margin-bottom: @xlarge-spacing;
        }
        .btns {
          display: flex;
          justify-content: space-between;
          align-items: baseline;
          margin-bottom: 2rem;
        }
      }
    }
  }
}
