.glyph-shop-section {
  margin-top: @xlarge-spacing;
  .shop-filter {
    display: flex;
    justify-content: space-between;
    .category-item {
      margin-right: @light-spacing;
      cursor: pointer;
    }
  }
  .shop-list {
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-columns: auto auto auto;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    .item {
      display: flex;
      justify-content: center;
    }
  }
}
