<div id="aside-box">
  <info-icon size="1x" class="info-toggle" v-on:click="toggle" />
  <div id="top-info">
    <TypographyTitle :size="6" :text="selectedGroup.name" />
    <InteractablesClose :action="toggle" />
  </div>
  <div id="actions">
    <UiCircle
      type="icon"
      icon="user"
      alt="$t('pages.chat.add_member')"
      v-tooltip.top="$t('pages.chat.add_member')"
      v-on:click="groupInvite(selectedGroup)"
    />
    <UiCircle
      type="icon"
      icon="message-square"
      alt="$t('pages.chat.switch_chat')"
      v-tooltip.top="$t('pages.chat.switch_chat')"
      v-on:click="navigateToGroup(selectedGroup.id)"
    />
    <UiCircle
      type="icon"
      icon="layout"
      alt="$t('pages.chat.start_watch_party')"
      v-tooltip.top="$t('pages.chat.start_watch_party')"
    />
    <UiCircle type="icon" icon="more-vertical" />
  </div>
  <UiHorizontalRule />
  <div id="members">
    <div id="members-number">
      <TypographyText :size="6" :text="`Members - ${selectedGroup.members}`" />
    </div>
    <UiSimpleScroll scrollMode="vertical" scrollShow="scroll">
      <UiUser
        v-for="member in filterMembers"
        :key="member.address"
        :user="member"
        :creatorBadge="member == selectedGroup.creator"
      />
    </UiSimpleScroll>
  </div>
</div>
