@sidebar-size: 250px;

#aside {
  #aside-box {
    &:extend(.round-corners);
    margin-top: @normal-spacing;
    &:extend(.background-semitransparent-light);
    box-shadow: @ui-shadow;
    margin-right: @normal-spacing;
    margin-left: @light-spacing;
    &:extend(.light-padding);
  }

  .info-toggle {
    font-size: 20px;
    &:extend(.font-accent);
    cursor: pointer;
    left: -5rem;
    top: 1.8rem;
    z-index: 999;
  }

  #top-info {
    &:extend(.full-width);
    height: 46px;
    padding: 0 @light-spacing;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      margin-bottom: 0;
    }
  }

  #actions {
    &:extend(.full-width);
    padding: 0 @light-spacing;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .action-icon {
      padding: 10px;
      height: 10px;
      width: 20px;
      font-size: @small-icon-size;
    }
    .circle-flex {
      background: @semitransparent-lightest-gradient !important;
      cursor: pointer;
      font-size: @tiny-icon-size !important;

      &:hover {
        background: @primary-gradient !important;
        &:extend(.glow-primary);
      }
    }
  }

  #members {
    &:extend(.full-width);
    max-height: calc(@full - 8.5rem);
    #members-number {
      display: flex;
      margin-bottom: 0.5rem;
      .is-text {
        text-align: left;
      }
    }
  }
  width: @sidebar-size;
  min-width: @sidebar-size;
  position: relative;
  display: inline-flex;
  height: @full;
  // background: @midground;
  display: flex;
  flex-direction: column;
  padding-bottom: @light-spacing;
  z-index: @base-z-index;
  align-items: center;
}

@media only screen and (max-width: @mobile-breakpoint) {
  #aside {
    margin-left: -200px;
    right: 0px;
    top: 0px;
    z-index: @base-z-index + 101;
    &:extend(.background-dark-gradient);
    &:extend(.full-width);

    #aside-box {
    width: 100%;
    }

    .info-toggle {
      left: -2rem;
    }
  }
  .is-open {
    #aside {
      transform: translateX(@full);
      .info-toggle {
        left: 0rem;
      }
    }
  }
}
