@sidebar-size: 250px;

#aside-box {
  &:extend(.round-corners);
  margin-top: @normal-spacing;
  &:extend(.background-semitransparent-light);
  box-shadow: @ui-shadow;
  &:extend(.light-padding);

  min-width: @sidebar-size;
  position: relative;
  height: calc(100% - @normal-spacing * 2);
  width: 100%;
  flex-direction: column;
  padding-bottom: @light-spacing;

  &:extend(.first-layer);
}

.info-toggle {
  font-size: 20px;
  cursor: pointer;
  left: -5rem;
  top: 1.8rem;
  &:extend(.third-layer);
}

#top-info {
  &:extend(.full-width);
  height: 46px;
  padding: 0 @light-spacing;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title {
    margin-bottom: 0;
  }
}

#actions {
  &:extend(.full-width);
  padding: 0 @light-spacing;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .action-icon {
    padding: 10px;
    height: 10px;
    width: 20px;
    font-size: @small-icon-size;
  }
  .circle-flex {
    background: @semitransparent-lightest-gradient !important;
    cursor: pointer;
    font-size: @tiny-icon-size !important;
  }
}

#members {
  &:extend(.full-width);
  max-height: calc(@full - 8.5rem);
  #members-number {
    display: flex;
    margin-bottom: 0.5rem;
    .is-text {
      text-align: left;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  min-width: @sidebar-size;
  position: relative;
  display: inline-flex;
  height: @full;
  flex-direction: column;
  padding-bottom: @light-spacing;

  &:extend(.first-layer);
}

@media only screen and (max-width: @mobile-breakpoint) {
  #aside-box {
    min-width: @sidebar-size;
    position: relative;
    display: inline-flex;
    height: @full;
    flex-direction: column;
    padding-bottom: @light-spacing;

    &:extend(.first-layer);
  }

  .info-toggle {
    left: -2rem;
  }

  .is-open {
    #aside {
      .info-toggle {
        left: 0rem;
      }
    }
  }
}
