#friends-nav {
  &:nth-last-child(.button) {
    margin-right: 0;
  }
  .button {
    margin: 0 (@light-spacing / 2);
    justify-self: flex-end;
  }
  .label {
    position: absolute;
    top: @xlight-spacing;
    right: @xlight-spacing;
    font-size: @micro-text-size;
    border-radius: 2px;
    line-height: 1.2;
    padding: 0.15rem 0.5rem;
    &:extend(.font-primary);
    font-family: @primary-font;
  }
  padding: @normal-spacing;
  display: inline-flex;
  justify-content: flex-end;
  &:extend(.full-width);
}

@media only screen and (max-width: @mobile-breakpoint) {
  #friends-nav {
    display: inline-flex;
    .spacer {
      flex: 1;
    }
    .button {
      margin-left: 0.25rem;
    }
  }
}
