.user-state {
  position: relative;
  display: flex;
  align-items: center;

  .circle {
    mask: radial-gradient(circle 8px at 85.35% 85.35%, #0000 98%, #000) 100%
      100%/100% 100% no-repeat;
    overflow: hidden;
  }

  .status {
    position: absolute;
    left: 85.35%;
    top: 85.35%;
    font-size: @text-size;
    text-shadow: 0 0 3px #000;
    transform: translate(-50%, -50%);
    display: inline-flex;
    align-content: center;

    circle {
      stroke: transparent;
      paint-order: stroke;
    }
    &.is-online {
      &:extend(.color-success);
      fill: @green;
    }
    &.is-offline {
      &:extend(.font-gray);
      fill: @gray;
    }
    &.is-idle {
      &:extend(.color-warning);
      fill: @yellow;
    }
  }

  .mobile-status {
    position: absolute;
    bottom: -1.5px;
    right: -2.5px;
    font-size: @small-icon-size;
    text-shadow: 0 0 3px #000;

    rect {
      stroke: @midground;
      stroke-width: 4;
      paint-order: stroke;
      fill: @green;
    }
    line {
      fill: #000;
      stroke: @midground;
      stroke-width: 4;
    }
    &.is-mobile {
      &:extend(.color-success);
    }
  }

  #typing-badge-container {
    width: 40px;
    height: 18px;
    position: absolute;
    bottom: -1.5px;
    left: 18px;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid @midground;
  }
}
