.user-state {
  position: relative;
  display: flex;
  align-items: center;

  .circle {
    mask: radial-gradient(circle 8px at 86% 86%, #0000 98%, #000) 100% 100%/100%
      100% no-repeat;
    overflow: hidden;
    &.is-large {
      mask: radial-gradient(circle 12px at 86% 86%, #0000 98%, #000) 100% 100%/100%
        100% no-repeat;
    }
  }

  .status {
    position: absolute;
    left: 86%;
    top: 86%;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    margin-left: -6px;

    &.is-large {
      width: 20px;
      height: 20px;
      margin-top: -10px;
      margin-left: -10px;
    }

    &.is-online {
      background-color: @green;
    }
    &.is-offline {
      background-color: @gray;
    }
    &.is-idle {
      background-color: @yellow;
    }
  }

  .mobile-status {
    position: absolute;
    bottom: -1.5px;
    right: -2.5px;
    font-size: @small-icon-size;
    text-shadow: 0 0 3px #000;

    rect {
      stroke: @midground;
      stroke-width: 4;
      paint-order: stroke;
      fill: @green;
    }
    line {
      fill: #000;
      stroke: @midground;
      stroke-width: 4;
    }
    &.is-mobile {
      &:extend(.color-success);
    }
  }

  #typing-badge-container {
    &:extend(.background-primary);
    width: 40px;
    height: 18px;
    position: absolute;
    bottom: -1.5px;
    left: 18px;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid @midground;
  }
}
