.user-state {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: @light-spacing;

  .mask {
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: auto;
  }

  .is-rounded {
    width: 100% !important;
    height: 100% !important;
  }

  .status {
    font-size: @text-size;

    circle {
      stroke: transparent;
      paint-order: stroke;
    }

    &.is-online,
    &.is-mobile {
      fill: @green;
    }
    &.is-offline {
      fill: @gray;
    }
    &.is-idle {
      fill: @yellow;
    }
    &.is-typing {
      fill: @flair-color;
    }
  }

  #typing-loader {
    width: 6px;
    height: 6px;
    border-radius: @half;
    position: relative;
    &:extend(.typing-state-animation);
  }
}
