ol {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  flex-wrap: wrap;
  flex-grow: 1;

  li {
    display: flex;
    + li::before {
      color: @light;
      content: '\02192';
      margin-right: 0.375rem;
    }

    button {
      max-width: 200px;
      color: @flair-color;
      .ellipsis();

      &[disabled] {
        color: @dark;
        cursor: default;
      }
    }
  }
}
