.breadcrumb {
  flex-grow: 1;
  margin-bottom: 0;

  ul {
    align-items: center;
  }
  a {
    display: block; // ellipsis only works on block elements
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
  }
  li {
    font-family: @primary-font;
    font-size: @text-size;

    + li::before {
      &:extend(.font-primary);
    }
    &.is-active a {
      &:extend(.font-muted);
    }
    &.disabled a {
      cursor: not-allowed;
    }
  }
}
