.breadcrumb {
  flex-grow: 1;

  ul {
    display: flex;
    align-items: center;
    gap: 0.375rem;

    li {
      display: flex;
      color: @flair-color;
      + li::before {
        color: @light;
        content: '\02192';
        margin-right: 0.375rem;
      }
      &.active {
        color: @dark;
      }
      a {
        &:extend(.ellipsis);
        max-width: 200px;
        svg {
          color: @flair-color;
        }
      }
    }
  }
}
