.listbox {
  display: flex;
  flex-direction: column;

  &.small {
    button,
    ul {
      font-size: 0.75rem;
    }
  }

  .listbox-label {
    font-family: @secondary-font;
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: @xlight-spacing;
    display: inline-block;
  }

  .list-container {
    width: fit-content;
  }
}

button,
select {
  min-width: 150px;
  font-size: 1rem;
  text-align: left;
  position: relative;
  border-radius: 4rem;
  padding: @light-spacing @xlarge-spacing @light-spacing @normal-spacing;

  color: @white;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>')
    no-repeat right 13px center @flair-color;
  box-shadow: 0 5px 14px -5px @flair-color;
  border: none;

  &:extend(.ellipsis);
  &:disabled {
    box-shadow: 0 5px 14px -5px @gray;
    background: @gray;
    cursor: not-allowed;
  }
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
ul {
  min-width: 150px;
  max-height: 250px;
  overflow-y: auto;
  position: absolute;
  margin-top: @xlight-spacing;
  margin-top: @xlight-spacing;
  &:extend(.background-dark-gradient);
  &:extend(.fifth-layer);
}
li {
  display: block;
  padding: @light-spacing @xlarge-spacing @light-spacing @normal-spacing;
  position: relative;
  &:focus,
  &:hover,
  &[aria-selected='true'] {
    &:extend(.background-semitransparent-lighter);
  }
}
