<div
  :class="`select is-${size} is-${type} is-${fullWidth ? 'full-width' : 'normal-width'}`"
  v-click-outside="() => open = false"
>
  <div class="custom-select">
    <div class="selected" :class="{ open: open }" @click="open = !open">
      {{ getSelectLabel() }}
    </div>
    <div class="items" :class="{ selectHide: !open }">
      <div
        v-for="(option, i) of options"
        :key="i"
        :disabled="option.disabled"
        @click="change(option)"
      >
        {{ option.text }}
      </div>
    </div>
  </div>
</div>
