<div
  :class="{'select': true, [`is-${type}`]: true, [`is-${size}`]: true, 'is-full-width': fullWidth, 'disabled': disabled}"
  v-click-outside="() => open = false"
>
  <div
    :class="{'custom-select': true, open, up, down: !up}"
    data-cy="custom-select"
  >
    <div
      v-if="colorSupport"
      class="selected"
      data-cy="custom-select-value"
      @click="toggleOpen()"
    >
      {{ getSelectLabelColor }}
    </div>
    <div
      v-else
      class="selected"
      data-cy="custom-select-value"
      @click="toggleOpen()"
    >
      {{ getSelectLabel }}
    </div>
    <div class="items">
      <UiSimpleScroll scrollMode="vertical" scrollShow="scroll">
        <div
          v-for="(option, i) of options"
          :key="i"
          :disabled="option.disabled"
          @click="change(option)"
        >
          <div
            class="color"
            v-if="colorSupport"
            :style="{background: renderBgGradient(option)}"
          >
            {{ option.text }}
          </div>
          <span data-cy="custom-select-option-text" v-else
            >{{ option.text }}</span
          >
        </div>
      </UiSimpleScroll>
    </div>
  </div>
</div>
