.is-full-width {
  width: 100%;
  select {
    width: 100%;
  }
}

.is-primary {
  .custom-select {
    .selected {
      background: @primary-gradient;
      border: none;
      outline: none;
      box-shadow: @primary-glow;
      &::after,
      &::before {
        border-color: @bright-text;
      }
    }
  }
}

.custom-select {
  position: relative;
  // width: 100%;
  // height: 100%;
  text-align: left;
  outline: none;
  color: @text;
  .selected {
    height: @select-height;
    line-height: @select-height;
    border-radius: 4rem;
    background-color: @dark-gray;
    color: @text;
    padding-left: @normal-spacing;
    padding-right: @normal-spacing * 2;
    cursor: pointer;
    user-select: none;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .items {
    color: #fff;
    overflow: hidden;
    position: relative;
    max-width: 100%;
    background: @semitransparent-dark-gradient;
    border-radius: @corner-rounding;
    border: @light-border;
    left: 0;
    right: 0;
    backdrop-filter: @blur;
    z-index: @base-z-index + 100;
    margin-top: @light-spacing;
    div {
      height: @normal-spacing * 2;
      line-height: @normal-spacing * 2;
      padding-left: @normal-spacing;
      padding-right: @normal-spacing;
      cursor: pointer;
      max-width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      user-select: none;
      &[disabled] {
        opacity: 0.5;
      }
      &:hover {
        background: @semitransparent-lighter-gradient;
      }
    }
  }
}

.selectHide {
  display: none;
}
