.scroll-area {
  margin: auto;
  width: 100%;
  height: 100%;
  white-space: nowrap;
}

.enable-wrap {
  white-space: normal!important;
}

.auto-scroll {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  overflow-x: hidden;
}