.scroll-area {
  margin: auto;
  width: 100%;
  height: 100%;
  white-space: nowrap;
}

.enable-wrap {
  white-space: normal !important;
}

.auto-scroll {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  overflow-x: hidden;
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
    &:hover {
      width: 11px;
    }
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 6px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #0984e3;
    border-radius: 6px;
  }
}

.new-message-alert {
  position: fixed;
  background: #0984e3;
  cursor: pointer;
  padding: 2px 20px;
  font-size: 14px;
  border-radius: 6px;
  z-index: 1000;
  span {
    float: right;
  }
}
