.listbox {
  font-size: 12px;

  .listbox-label {
    font-family: @secondary-font;
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: @xlight-spacing;
    display: inline-block;
  }

  .list-container {
    width: fit-content;
  }
}

button {
  width: 150px;
  text-align: left;
  position: relative;
  border-radius: 4rem;
  padding: @light-spacing @large-spacing @light-spacing @normal-spacing;

  color: @white;
  background: @flair-color;
  box-shadow: 0 5px 14px -5px @flair-color;
  border: none;
  cursor: pointer;

  &:extend(.ellipsis);
  &:disabled {
    box-shadow: 0 5px 14px -5px @gray;
    background: @gray;
    cursor: not-allowed;
  }

  &:after {
    width: 0.625em;
    height: 0.625em;
    position: absolute;
    top: 50%;
    right: 11.5px;
    border: 3px solid #e5e5e5;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: ' ';
    margin-top: -0.4375em;
    transform: rotate(-45deg);
  }
}

ul {
  width: 148px;
  max-height: 10rem;
  overflow-y: auto;
  position: absolute;
  margin-top: @xlight-spacing;

  //scroll
  &::-webkit-scrollbar {
    width: @scroll-bar-size;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: @flair-color;
    &:extend(.round-corners);
  }
  scrollbar-width: thin;
  scrollbar-color: @flair-color transparent;

  &:extend(.background-semitransparent-dark);
}

li {
  display: block;
  padding: @xlight-spacing @light-spacing;
  position: relative;

  &:focus,
  &:hover,
  &[aria-selected='true'] {
    &:extend(.background-semitransparent-lighter);
  }
}
