<div class="listbox" :value="value" ref="listbox">
  <span
    :id="`${label}-label`"
    :class="{ hidden : !showLabel }"
    class="listbox__label"
  >
    {{ label }}
  </span>
  <div class="listbox__dropdown" v-click-outside="hideListbox">
    <button
      :id="`${label}-button-label`"
      :aria-labelledby="`${label}-label ${label}-button-label`"
      type="button"
      aria-haspopup="listbox"
      class="listbox__button"
      @click="toggleListbox"
      @keydown="checkShow"
      ref="button"
      :disabled="disabled"
    >
      {{ value ? selectedOptionLabel : placeholder }}
    </button>
    <ul
      v-show="!listboxHidden"
      :aria-labelledby="`${label}-label`"
      :aria-activedescendant="value"
      tabindex="-1"
      role="listbox"
      class="listbox__list"
      @keydown="checkKeyDown"
      @click="checkClickItem"
      ref="list"
    >
      <li
        v-for="(option, index) in options"
        :key="`${label}-option-${index}`"
        :aria-selected="option.value === value"
        :data-value="option.value"
        class="listbox__option"
        role="option"
        ref="options"
      >
        {{ option.label }}
      </li>
    </ul>
  </div>
</div>
