#floating-container {
  &:extend(.background-semitransparent-light);
  &:extend(.round-corners);
  &:extend(.bordered);
  &:extend(.blur);
  .wrap {
    .header {
      .subtitle {
        font-size: @micro-text-size !important;
        font-family: @primary-font;
      }

      font-size: @micro-text-size !important;
      font-family: @primary-font;
      margin-bottom: @light-spacing;
    }
    overflow: hidden;
  }
  position: absolute;
  display: inline-flex;
  max-height: 50vh;
  overflow: hidden;
  padding: (@light-spacing / 2) @light-spacing;
}

@media only screen and (max-width: @mobile-breakpoint) {
  #floating-container {
    right: 0rem !important;
  }
}
