<div
  id="floating-container"
  v-click-outside="toggleMethod"
  :style="customStyles ? {} : { maxHeight: `${height}rem`, width: `${width}rem`, top: `${offsets[0]}rem`, right: `${offsets[1]}rem` }"
>
  <div class="wrap">
    <UiSimpleScroll scrollMode="vertical" scrollShow="scroll">
      <!-- Optional floating container label -->
      <div class="header" v-if="heading">
        <flask-conical-icon size="0.85x" />
        <TypographySubtitle :size="6" :text="heading" />
      </div>
      <!-- Scrolling content included here -->
      <slot></slot>
    </UiSimpleScroll>
  </div>
</div>
