.user {
  @user-details-height: 50px;
  .tag {
    height: 18px;
    padding: 0.35rem;
    font-weight: bold;
    align-self: flex-end;
    float: right;
    margin: 0.5rem 0 0 0;
  }

  &.is-selected {
    &:extend(.background-semitransparent-lighter);
  }

  &:hover {
    &:extend(.background-semitransparent-light);
  }

  .circle {
    align-self: center;
    justify-self: center;
  }

  .user-info {
    height: @user-details-height;
    .title {
      height: 20px;
      margin: 0 0 1.25rem 0;
      min-width: 0;
      font-size: @title-text;
      font-weight: bolder;
      line-height: 1.6;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .subtitle {
      height: 30px;
      display: inline-block;
      min-width: 0;
      font-size: @micro-text-size;
      line-height: 1.4;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: @micro-text-size;
      color: @text-muted;
    }

    flex: 1;
    min-width: 0;
    padding-left: @light-spacing;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .user-chat-details {
    height: @user-details-height;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;

    .is-text {
      margin: 0;
      line-height: 2;
      padding: 0;
      font-size: @micro-text-size;
      &:extend(.font-muted);
    }
  }

  .user-loader {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(@black, 0.2);
    &:extend(.first-layer);
  }

  &.is-loading {
    pointer-events: none;
    .user-loader {
      display: flex;
    }
  }

  display: inline-flex;
  align-items: center;
  overflow: hidden;
  min-width: 0;
  text-overflow: ellipsis;
  padding: 0.4rem 0.6rem;
  &:extend(.round-corners);
  cursor: pointer;
  position: relative;
  &:extend(.no-select);
  &:extend(.full-width);
}
