<div
  class="user"
  data-cy="sidebar-user"
  :class="{'is-loading' : isLoading , 'is-selected' : isSelected}"
  @contextmenu="contextMenu"
  @click="navigateToUser"
>
  <UiUserState :user="user" :isTyping="isTyping" :src="src" />
  <div class="user-info">
    <TypographyTitle :size="6" data-cy="sidebar-user-name" :text="user.name" />
    <div
      v-html="wrapEmoji(markdownToHtml(lastMessage))"
      :class="`subtitle ${containsOnlyEmoji(lastMessage) ? 'bigmoji' : ''}`"
      ref="subtitle"
    />
  </div>
  <div class="user-chat-details">
    <TypographyText :size="6" :text="timestamp" v-if="hasMessaged" />
    <TypographyTag v-if="unreadMessageCount" :text="unreadMessageCount" />
  </div>
  <div class="user-loader">
    <UiLoadersSpinner :spinning="isLoading" />
  </div>
</div>
