<div
  :class="`user ${isLoading ? 'is-loading' : ''}`"
  @contextmenu="contextMenu"
  v-on:click="navigateToUser"
>
  <UiUserState :user="user" :isTyping="isTyping" :src="src" />
  <div class="user-info">
    <TypographyTitle :size="6" :text="user.name" />
    <TypographySubtitle :size="6" :text="lastMessage" />
  </div>
  <div class="user-chat-details">
    <TypographyText
      :size="6"
      :text="getLastUpdate()"
      v-if="existConversation"
    />
    <TypographyTag :text="user.unreads.toString()" v-if="user.unreads > 0" />
  </div>
  <div class="user-loader">
    <UiLoadersSpinner :spinning="isLoading" />
  </div>
</div>
