<tr
  ref="row"
  v-on="ui.isLoadingFileIndex ? {} : { click: handle, contextmenu: contextMenu }"
>
  <td class="filename">
    <folder-icon v-if="item.content" />
    <archive-icon v-else-if="item.type.includes('archive')" />
    <image-icon v-else-if="item.type.includes('image')" />
    <file-icon v-else class="icon" />
    <span> {{ item.name }} </span>
  </td>
  <td v-if="!$device.isMobile">{{ $dayjs(item.modified).fromNow() }}</td>
  <td v-if="!$device.isMobile">{{ item.type }}</td>
  <td>{{ item.size ? $filesize(item.size) : '-' }}</td>
  <td
    @mouseover="menuHover=true"
    @mouseleave="menuHover=false"
    @click="contextMenu"
  >
    <more-vertical-icon size="1x" />
  </td>
</tr>
