<tr
  ref="row"
  v-on="ui.isLoadingFileIndex ? {} : { click: handle, contextmenu: contextMenu }"
>
  <td class="filename">
    <folder-icon v-if="item.content" class="file-type-icon" />
    <archive-icon v-else-if="isArchive" class="file-type-icon" />
    <image-icon
      v-else-if="item.type.includes('image')"
      class="file-type-icon"
    />
    <file-icon v-else class="file-type-icon" />
    <span> {{ item.name }} </span>
  </td>
  <td v-if="!$device.isMobile" class="hide">
    {{ $dayjs(item.modified).fromNow() }}
  </td>
  <td v-if="!$device.isMobile" class="hide">{{ item.type }}</td>
  <td>{{ item.size ? $filesize(item.size) : '-' }}</td>
  <td
    @mouseover="menuHover=true"
    @mouseleave="menuHover=false"
    v-on="ui.isLoadingFileIndex ? {} : { click: contextMenu }"
  >
    <more-vertical-icon size="1x" />
  </td>
</tr>
