.volume-control {
  &.absolute {
    cursor: pointer;
    position: absolute;
    bottom: @light-spacing;
    right: @normal-spacing;
  }
  &.ltr {
    .volume-slider {
      display: block;
      max-width: 10rem;
      height: auto;
    }
    .volume-icon {
      padding: 0 1rem 0 0;
    }
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
  }
}
