.volume-control {
  &.ltr {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
    .volume-slider {
      display: block;
      max-width: 10rem;
      height: auto;
    }
    .volume-icon {
      padding: 0 1rem 0 0;
    }
  }
}
