<div
  id="enhancers"
  v-if="ui.enhancers.show"
  v-click-outside="toggleEnhancers">
  <div class="navbar">
    <InteractablesButtonGroup v-model="route" :fullWidth="true" :values="['glyphs','emoji','gif']">
      <InteractablesButton
        type="dark"
        size="small"
        text="Glyphs">
        <grid-icon size="1x" />
      </InteractablesButton>
      <InteractablesButton
        type="dark"
        size="small"
        text="Emoji">
        <smile-icon size="1x" />
      </InteractablesButton>
      <InteractablesButton
        type="dark"
        size="small"
        text="Gifs">
        <image-icon size="1x" />
      </InteractablesButton>
    </InteractablesButtonGroup>
  </div>
  <div id="container">
    <emoji-picker @emoji="addEmoji" :search="search" v-if="route === 'emoji'">
      <div ref="emojiInvoker" slot="emoji-invoker" slot-scope="{ events: { click: clickEvent }, display, emojis }" v-bind:events.click="clickEvent" @click.stop="clickEvent">
      </div>
      <div slot="emoji-picker" slot-scope="{ emojis, insert, display }">
        <div class="emoji-picker">
          <div class="emoji-picker__search">
            <input type="text" v-model="search" >
          </div>
          <div>
            <div v-for="(emojiGroup, category) in emojis" :key="category">
              <h5>{{ category }}</h5>
              <div class="emojis">
                <span
                  v-for="(emoji, emojiName) in emojiGroup"
                  :key="emojiName"
                  @click="addEmoji(emoji)"
                  :title="emojiName"
                >{{ emoji }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </emoji-picker>
    <TailoredMessagingEnhancersGlyphs v-if="route === 'glyphs'"></TailoredMessagingEnhancersGlyphs>
  </div>
</div>