<div
  id="enhancers"
  v-if="ui.showEnhancers"
  v-click-outside="toggleEnhancers">
  <div class="navbar">
    <InteractablesButton
      :outlined="route === 'glyphs' ? false : true"
      :type="route === 'glyphs' ? 'primary' : 'dark'"
      size="small"
      :action="() => setRoute('glyphs')"
      :icon="{ style: 'far', name: 'comment-alt-smile' }"
      text="Glyphs" />
    <InteractablesButton
      :outlined="route === 'emoji' ? false : true"
      :type="route === 'emoji' ? 'primary' : 'dark'"
      size="small"
      :action="() => setRoute('emoji')"
      :icon="{ style: 'far', name: 'grin-tongue-wink' }"
      text="Emoji" />
    <InteractablesButton
      :outlined="route === 'gif' ? false : true"
      :type="route === 'gif' ? 'primary' : 'dark'"
      size="small"
      :action="() => setRoute('gif')"
      :icon="{ style: 'far', name: 'image' }"
      text="Gifs" />
  </div>
  <div id="container">
    <picker 
      v-if="route === 'emoji'"
      :data="emojiIndex"
      ref="emojiPicker"
      class="emoji-picker"
      @select="addEmoji" 
      :per-line="9"
      color="#087bd3"
      :emoji-size="26"
      :show-preview="false" />
  </div>
</div>