#enhancers {
  height: @enhancers-height;
  width: @enhancers-width;
  position: absolute;
  right: @normal-spacing;
  bottom: @chatbar-size;
  margin-bottom: @light-spacing;
  border-radius: @corner-rounding;
  background: red;
}