<div
  id="enhancers"
  ref="enhancers"
  v-if="ui.enhancers.show"
  v-click-outside="toggleEnhancers"
  v-bind:style="{top: $store.state.ui.enhancers.position[0]  + `px`, 
    right: $store.state.ui.enhancers.position[1] + `px`}"
  >
  <div class="navbar">
    <InteractablesButton
      :outlined="route === 'glyphs' ? false : true"
      :type="route === 'glyphs' ? 'primary' : 'dark'"
      size="small"
      :action="() => setRoute('glyphs')"
      text="Glyphs">
      <grid-icon size="1x" />
    </InteractablesButton>
    <InteractablesButton
      :outlined="route === 'emoji' ? false : true"
      :type="route === 'emoji' ? 'primary' : 'dark'"
      size="small"
      :action="() => setRoute('emoji')"
      text="Emoji">
      <smile-icon size="1x" />
    </InteractablesButton>
    <InteractablesButton
      :outlined="route === 'gif' ? false : true"
      :type="route === 'gif' ? 'primary' : 'dark'"
      size="small"
      :action="() => setRoute('gif')"
      text="Gifs">
      <image-icon size="1x" />
    </InteractablesButton>
  </div>
  <div id="container">
    <!-- Floating: {{ $store.state.ui.enhancers.floating }} -->
    <picker 
      v-if="route === 'emoji'"
      :data="emojiIndex"
      ref="emojiPicker"
      class="emoji-picker"
      @select="addEmoji" 
      :per-line="9"
      color="#087bd3"
      :emoji-size="26"
      :show-preview="false" />
    <TailoredMessagingEnhancersGlyphs v-if="route === 'glyphs'"></TailoredMessagingEnhancersGlyphs>
  </div>
</div>