#enhancers {
  height: @enhancers-height;
  width: @enhancers-width;
  position: absolute;
  right: @normal-spacing;
  bottom: @chatbar-size;
  margin-bottom: @light-spacing;
  border-radius: @corner-rounding;
  background: @semitransparent-light-gradient;
  overflow: hidden;
  backdrop-filter: @blur;

  #container {
    position: relative;
    flex: 1;
    width: 100%;
  }
  .navbar {
    width: 100%;
    display: inline-flex;
    padding: 0.75rem 0.5rem 0.5rem 0.5rem;
    background: @semitransparent-dark-gradient;
    .button {
      width: 100%;

      &:nth-child(1) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
      }
      &:nth-child(2) {
        border-radius: 0;
      }
      &:nth-child(3) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
      }
    }
  }
}