<div class="list-item">
  <div
    :class="`row header ${account.isVerified ? 'header-no-bottom-radius' : ''}`"
  >
    <div class="col left">
      <div class="icon">
        <component :is="account.icon" size="1.3x" />
      </div>
      <div class="titles">
        <TypographyTitle :size="6" :text="account.name" />
        <TypographySubtitle
          v-if="!!account.username"
          :size="6"
          :text="account.username"
          class="username"
        />
      </div>
    </div>
    <div class="col right">
      <InteractablesButton
        v-if="!account.isVerified"
        type="primary"
        size="small"
        :action="() => {}"
        :text="$t('pages.settings.profile.accounts.verify')"
      >
        <UiDynamicIcon size="1.5x" :icon="'shield-check'" />
      </InteractablesButton>
      <div v-else class="controls">
        <button class="edit-button" @click="() => {}">
          {{$t('global.edit')}}
        </button>
        <button class="edit-button" @click="() => {}">
          <x-icon size="1x" />
        </button>
      </div>
    </div>
  </div>
  <div v-if="account.isVerified" class="row body">
    <div class="row">
      <div class="col left">
        <TypographyText
          :size="6"
          :text="$t('pages.settings.profile.accounts.displayMusic')"
          class="music-label"
        />
      </div>
      <div class="col right">
        <InteractablesSwitch :v-model="account.displayMusic" class="col" />
      </div>
    </div>
    <div class="row">
      <div class="col left">
        <TypographyText
          :size="6"
          :text="$t('pages.settings.profile.accounts.displayOnProfile')"
          class="music-label"
        />
      </div>
      <div class="col right">
        <InteractablesSwitch :v-model="account.displayOnProfile" class="col" />
      </div>
    </div>
  </div>
</div>
