#friends-nav {
  padding: 0.5rem;
  min-width: @viewport-width;

  /*
  .button {
    &:nth-child(1) {
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:nth-child(2), &:nth-child(3) {
      border-left: none;
      border-right: none;
      border-radius: 0;
      margin-left: -4px;

    }
    &:nth-child(4) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-left: 0;
      margin-left: -4px;
    }
  }
  */
  
}
@media only screen and (max-width: 768px) {
  #friends-nav {
    display: inline-flex;
    .spacer {
      flex: 1;
    }
    .button {
      margin-left: 0.25rem;
    }
  }
}