#friends-nav {
  padding: 0.5rem;

  /*
  .button {
    &:nth-child(1) {
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:nth-child(2), &:nth-child(3) {
      border-left: none;
      border-right: none;
      border-radius: 0;
      margin-left: -4px;

    }
    &:nth-child(4) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-left: 0;
      margin-left: -4px;
    }
  }
  */
}