#mobile-nav {
  width: 100vw;
  height: @mobile-nav-size;
  background: @black;
  position: fixed;
  bottom: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-bottom: @normal-spacing;
  z-index: 2;

  svg {
    font-size: @small-icon-size;
    width: 20%;
    color: @bright-text;
  }

  .active {
    color: @primary-color;
  }
}
