.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  padding: 0 @normal-spacing;

  .disclaimer-body {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    min-width: 250px;
    max-width: 416px;
    align-self: center;
    padding: 0 @normal-spacing;

    .centered-subtitle {
      margin: @normal-spacing;
    }
  }

  .buttons {
    display: flex;
    gap: 16px;

    button {
      margin-top: @light-spacing;
    }
  }
}

@media only screen and (max-width: @mobile-small-breakpoint) {
  .container {
    .disclaimer-body {
      flex-grow: 1;
      margin-bottom: 0;
    }

    .buttons {
      flex-direction: column;
      margin-bottom: 32px;
    }
  }
}
