.container {
  .disclaimer-body {
    min-width: 250px;
    align-self: center;
    margin-bottom: 25vh;

    .centered-subtitle {
      margin: @normal-spacing;
    }
    padding: 0 @normal-spacing;
    max-width: 416px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: @mobile-breakpoint) {
  .disclaimer-body {
    margin-top: @normal-spacing;
  }
  .buttons {
    button {
      margin-top: @light-spacing;
      width: @full !important;
    }
    display: inline-block;
    margin-top: auto;
    justify-self: flex-end;
    &:nth-child(2) {
      margin-bottom: @normal-spacing;
    }
  }
}
