[submodule "android"]
	path = android
	url = https://github.com/Satellite-im/android.git
	ignore = all
	branch = main
[submodule "electron"]
	path = electron
	url = https://github.com/Satellite-im/electron.git
	ignore = all
	branch = master
[submodule "locales"]
	path = locales
	url = https://github.com/Satellite-im/locales.git
	ignore = all
	branch = main
[submodule "cypress"]
	path = cypress
	url = https://github.com/Satellite-im/cypress
	ignore = all
	branch = main
