[submodule "android"]
	path = android
	url = https://github.com/Satellite-im/android.git
	ignore = all
	branch = main
[submodule "electron"]
	path = electron
	url = https://github.com/Satellite-im/electron.git
	ignore = all
	branch = master
