<div id="file-upload">
  <div class="file-preview" v-if="file">
    <img v-if="isEmbedableImage(file.name)" :src="url" />
    <file-icon size="1.2x" class="control-icon" v-if="!isEmbedableImage(file.name)"  />
    <div class="file-info">
      <TypographyTitle :size="6" :text="file.name" />
      <TypographySubtitle :size="6" :text="file.type" />
      <TypographySubtitle :size="6" :text="$filesize(file.size)" />
      <div class="upload-spacer"></div>
      <div class="is-controls">
        <InteractablesButton type="primary" size="small" text="Send" />
        <InteractablesButton type="danger" size="small" text="Cancel" :action="cancelUpload" />
      </div>
    </div>
  </div>
  <input type="file" id="quick-upload" @change="handleFile"/>
  <label for="quick-upload"
    :data-tooltip="$t('global.upload')"
    class="has-tooltip has-tooltip-top has-tooltip-primary quick-upload">
    <plus-icon
      class="control-icon" />
  </label>
</div>
