<div class="pack-group">
  <div class="pack-title" @click="togglePack">
    <image-icon size="1x" />
    <span>Most Used</span>
    <chevron-down-icon size="1x" v-if="isOpen" />
    <chevron-up-icon size="1x" v-if="!isOpen" />
  </div>
  <div class="glyph-list-box" v-if="isOpen">
    <ViewsChatEnhancersGlyphsItem
      v-for="pack in $mock.glyphs"
      :key="pack.id"
      :src="pack.stickerURLs[1]"
      :pack="pack"
      :sendOnClick="true"
    ></ViewsChatEnhancersGlyphsItem>
  </div>
</div>
