.alpha-divider {
  &:extend(.full-width);
  display: inline-block;
  padding-left: @normal-spacing;
  font-size: @mini-text-size;
  &:extend(.font-accent);
  font-family: @primary-font;
}

#chat {
  &:extend(.light-padding);}

.scrolling {
  height: @full;
  min-height: @full;
}
.loading-container {
  text-align: center;
}
