.alpha-divider {
  width: 100%;
  display: inline-block;
  padding-left: 1rem;
  font-size: @mini-text-size;
  color: @primary-color;
  font-family: 'Space Mono';
}

#chat {
  padding: 0.5rem;
}

.scrolling {
  height: calc(100% - 2.3rem);
  overflow-y: scroll;
  overflow-x: hidden;
}