.alpha-divider {
  width: 100%;
  display: inline-block;
  padding-left: 1rem;
  font-size: @mini-text-size;
  color: @primary-color;
  font-family: 'Space Mono';
}

#chat {
  padding: 0.5rem;
}

.scrolling {
  height: calc(100% - 1.4rem);
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
