<div
  id="friends-list"
  :v-scroll-lock="$device.isDesktop ? true : false"
  :class="$device.isDesktop ? 'hidden-scroll' : '' "
>
  <FriendsMobileList v-if="$device.isMobile" />
  <UiScroll v-else verticalScroll enableWrap scrollbarVisibility="scroll">
    <div class="columns">
      <div class="column is-half-desktop">
        <!-- Friends Add -->
        <FriendsAdd />
        <!-- Friend Requests -->
        <UiLoadersFriend :count="1" v-if="data.loading" />
        <template
          v-else-if="data.friends && data.friends.requests && Object.keys(data.friends.requests).length"
        >
          <div class="padded_divider">
            <TypographyHorizontalRuleText
              plaintext
              :value="$t('friends.requests')"
            />
          </div>
          <FriendsFriend
            v-for="[did, request] in Object.entries(data.friends.requests)"
            :user="request && request.user || {
              id: did,
              name: did,
              status: 'offline'
            }"
            :request="request"
            :key="request.from"
          />
        </template>
      </div>
      <div class="column is-half-desktop">
        <!-- Friends List -->
        <div v-if="data.loading">
          <UiLoadersFriend :count="5" />
        </div>
        <div v-else-if="data.friends.details">
          <div
            v-for="[did, user] in Object.entries(data.friends.details)"
            :key="did"
          >
            <FriendsFriend :user="user" :key="did" />
          </div>
        </div>
        <div class="loading-container" v-if="data.loading">
          <UiLoadersUpdating />
        </div>
        <div
          v-else-if="data.friends && data.friends.blocked"
          class="padded_divider"
        >
          <FriendsFriend
            v-for="(user, did) in data.friends.blocked"
            :user="user"
            :key="did"
            blocked
          />
        </div>
      </div>
    </div>
  </UiScroll>
</div>
