<div class="marketplace-wrapper">
  <swiper
    class="marketplace-swiper"
    :options="swiperOption"
    ref="marketplaceSwiper"
  >
    <swiper-slide class="side-bar">
      <MarketplaceSidebar :categories="marketCategories" />
    </swiper-slide>
    <swiper-slide class="body-panel">
      <div class="top-bar">
        <div class="search">
          <MarketplaceSearchbox />
        </div>
        <div class="filter">
          <MarketplaceFilterbox />
        </div>
        <div class="action">
          <InteractablesClose :action="closeModal" />
        </div>
      </div>
      <div class="buttons-bar">
        <InteractablesButtonGroup v-model="subject" :action="changeSubject">
          <InteractablesButton
            :text="$t('market_place.glyphs')"
            size="xs"
            type="dark"
            fullWidth
          >
            <smile-icon size="1x" />
          </InteractablesButton>
          <InteractablesButton
            :text="$t('market_place.themes')"
            size="xs"
            type="dark"
            fullWidth
          >
            <layers-icon size="1x" />
          </InteractablesButton>
          <InteractablesButton
            :text="$t('market_place.nfts')"
            size="xs"
            type="dark"
            fullWidth
          >
            <box-icon size="1x" />
          </InteractablesButton>
        </InteractablesButtonGroup>
      </div>
      <div class="listing-panel">
        <UiSimpleScroll scrollMode="vertical" scrollShow="scroll">
          <MarketplaceListing v-if="subject==='Themes'" />
          <MarketplaceGlyphs v-if="subject==='Glyphs'" />
          <MarketplaceNfts v-if="subject==='NFTs'" />
        </UiSimpleScroll>
      </div>
    </swiper-slide>
  </swiper>
</div>
