#wallet-mini-send {
  padding: @normal-spacing;
}
.flex-row {
  display: inline-flex;
  width: 100%;
  flex-direction: row;

  .input-container {
    flex: 1;
    margin-right: @normal-spacing;
  }
}
.title {
  color: @green;
}
.centered {
  justify-content: center;
  margin-top: @normal-spacing;
  margin-bottom: @normal-spacing;
}
#send-payment {
  margin-top: @normal-spacing;
  .is-button {
    width: calc(50% - 0.25em);
  }
}
.details {
  border: @light-border;
  padding: @light-spacing;
  background: @semitransparent-light-gradient;
  .is-text {
    font-family: @primary-font;
  }
}