.embeded-file {
  margin: @normal-spacing 0;
  background: @semitransparent-light-gradient;
  border: @light-border;
  padding: @light-spacing @normal-spacing;
  border-radius: @corner-rounding;
  display: inline-flex;
  justify-content: center;
  flex-direction: row;

  .file-icon {
    font-size: @xl-icon-size;
    align-self: center;
  }

  .download {
    align-self: center;
    cursor: pointer;

    &:hover {
      color: @bright-text;
    }
  }

  .subtitle {
    margin: 0;
    font-weight: bold;
    font-size: @text-size;
    color: @bright-text;
  }

  .file-info {
    margin-right: @normal-spacing;
    align-self: center;
  }

  .is-text {
    margin: 0;
    font-family: @primary-font;
    white-space: nowrap;
    font-size: @mini-text-size;
    color: @text-muted;
    line-height: 0.9;
    margin-bottom: 0.4rem;
  }
}