.volume-slider {
  background-color: @dark-gray;
  border-radius: @corner-rounding;
  display: flex;
  padding: 0.65rem 0;
  position: relative;
  margin-bottom: 0.25rem;
  max-width: 100% !important;
  .blank {
    flex: 1;
    width: 100%;
    min-height: 1px;
  }
  .vue-slider-dot-tooltip-inner {
    border-color: transparent;
    border-radius: 2px;
    background-color: @primary-color;
    font-size: @micro-text-size;

    &::after {
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid @primary-color;
      margin-left: -1px;
    }
  }

  .vue-slider-rail {
    background-color: @gray;
  }

  .vue-slider-process {
    background-color: @primary-color;
  }

  .vue-slider-dot-handle {
    height: 13px;
    margin-left: 1px;
    width: 13px;
    background-color: @white;
    box-shadow: none;

    &:hover {
      box-shadow: 0 0 0 2pt rgba(255, 255, 255, 0.5);
      border: 1px solid @gray;
    }
  }

  &--btt,
  &--ttb {
    height: 8rem;
  }
  &--ltr {
    display: block;
    width: 100%;
    .vue-slider-dot-tooltip-inner {
      &::after {
        width: 0;
        height: 0;
        border-top: 5px solid @primary-color;
        border-bottom: 5px solid transparent;
        border-left: 5px solid transparent;
        margin-left: -1px;
      }
    }
  }
}