.volume-slider {
  &:extend(.round-corners);
  .blank {
    &:extend(.full-width);
    flex: 1;
    min-height: 1px;
  }
  .vue-slider-dot-tooltip-inner {
    &::after {
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      margin-left: -1px;
    }
    border-color: transparent;
    border-radius: 2px;
    font-size: @micro-text-size;
  }

  .vue-slider-rail {
    background: @gray;
  }

  .vue-slider-dot-handle {
    &:hover {
      box-shadow: 0 0 0 2pt rgba(255, 255, 255, 0.5);
      border: 1px solid @gray;
    }
    height: 13px;
    margin-left: 1px;
    width: 13px;
    background: @white;
    box-shadow: none;
  }

  &--btt,
  &--ttb {
    height: 8rem;
  }
  &--ltr {
    &:extend(.full-width);
    .vue-slider-dot-tooltip-inner {
      &::after {
        width: 0;
        height: 0;
        border-bottom: 5px solid transparent;
        border-left: 5px solid transparent;
        margin-left: -1px;
      }
    }
    display: block;
  }
  background: transparent;
  display: flex;
  padding: 0.65rem 0;
  position: relative;
  margin-bottom: 0.25rem;
  max-width: @full !important;
}
