#toolbar {
  flex: 1;
  display: flex;
  height: @toolbar-height;
  padding: 0 @normal-spacing;
  min-width: 500px;

  .vertical-divider {
    height: 30px;
    width: 1px;
    display: inline-block;
    background: @splash-radial;
    margin: 0 @light-spacing;
  }

  .notification-alert {
    position: fixed;
    z-index: 1;
  }

  .toggle-alerts {
    cursor: pointer;
    user-select: none;
  }

  .controls {
    &:extend(.background-semitransparent-light);
    &:extend(.round-corners);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    font-size: @icon-size;
    &:extend(.light-padding);
    box-shadow: @ui-shadow;
    pointer-events: all;
    margin-left: auto;

    .input-wrap {
      margin-left: @normal-spacing !important;
    }
    .control-icon {
      margin: 0 @light-spacing;
      cursor: pointer;
      font-size: @small-icon-size;
      &:extend(.filter-glow);

      &:nth-child(2) {
        margin-right: @normal-spacing;
      }
    }
    .disabled {
      &:extend(.font-muted);
      &,
      svg {
        cursor: not-allowed !important;
      }
    }
  }
  .toolbar-spacer {
    height: 45px;
    flex: auto;
  }
  .circle {
    align-self: center;
    justify-self: center;
    cursor: pointer;
  }

  .circle-container {
    height: @toolbar-height;
    display: inline-flex;
    position: relative;
    align-items: center;
  }

  .user-info {
    position: relative;
    align-self: center;
    margin-left: 0.75rem;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    &:extend(.no-select);
    pointer-events: none;

    .title {
      margin: 0;
      font-size: @title-text;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      line-height: 2 !important;
    }
    .subtitle {
      margin: 0;
      padding: 0;
      font-size: @mini-text-size;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
      white-space: nowrap;
    }
  }

  .alerts-floating-container {
    z-index: 100;
    &.side-open {
      margin-right: 1.2rem;
    }
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  #toolbar {
    min-width: @viewport-width;
    padding-right: @normal-spacing;
    min-height: @toolbar-height;
    padding-top: @light-spacing;

    .circle-container {
      order: 1;
      margin-left: 24px;
      height: auto;
    }

    .controls {
      background: none;
      box-shadow: unset;
      .control-button {
        padding: 2px;
        width: 24px;
        min-width: 24px;
        height: 24px;
        margin-left: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .control-icon {
        display: block;
        margin: 0;
        width: 18px;
        height: 18px;
      }
    }
  }
  .alerts-floating-container {
    top: calc(@toolbar-height - @light-spacing);
    right: @light-spacing !important;
    left: @light-spacing !important;
  }
}

/* Only for Safari to fix lack resolution of svgs */

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    #toolbar .controls svg {
      transform: translateZ(0);
    }
  }
}
