<div id="toolbar">
  <InteractablesSidebarToggle v-if="!ui.showSidebar" />
  <div class="circle-container">
    <template v-if="details">
      <UiUserState v-if="!isGroup" class="circle" :user="details" />
      <UiGroupIcon v-else :members="members" />
    </template>
  </div>
  <div class="user-info">
    <TypographyTitle :size="6" v-if="conversation" :text="conversation.name" />
    <TypographySubtitle :size="6" :text="subtitleText" />
  </div>
  <div class="controls">
    <div class="toggle-alerts" data-cy="toolbar-alerts">
      <UiCircle
        v-if="notifications.length"
        class="notification-alert"
        :size="15"
        color="red"
        type="icon"
        :data="notifications.length"
        @click="toggleAlerts"
      >
        {{notifications.length}}
      </UiCircle>
      <ToolbarAlerts
        v-if="showAlerts && $device.isDesktop"
        v-click-outside="toggleAlerts"
      />
      <bell-icon
        v-tooltip.bottom="$t('pages.chat.alerts')"
        size="1x"
        :class="`control-icon ${showAlerts ? 'primary' : ''}`"
        color="primary"
        @click="toggleAlerts"
      />
    </div>
    <div
      v-if="conversation"
      v-tooltip.bottom="callTooltipText"
      :class="`control-button ${
          !enableRTC || webrtc.activeCall ? 'disabled' : ''
        }`"
      data-cy="toolbar-enable-audio"
      @click="handleCall"
    >
      <phone-call-icon
        size="1x"
        class="control-icon"
        :color="isGroup ? 'grey' : ''"
      />
    </div>
    <!-- <div
      :class="`control-button ${!enableRTC || webrtc.BackgroundCall ? 'disabled' : ''}`"
      data-cy="toolbar-enable-video"
      v-tooltip.bottom="enableRTC ? $t('controls.video') : $t('controls.not_connected')"
      v-if="recipient"
      @click="() => call(['audio', 'video'])"
    >
      <video-icon size="1x" class="control-icon" />
    </div> -->
    <UiComingSoon
      v-if="!$device.isMobile"
      :tooltip-text="$t('coming_soon.archived')"
      :tooltip-position="'bottom'"
      data-cy="toolbar-archived-messages"
    >
      <div
        v-tooltip.bottom="$t('pages.chat.archived_messages')"
        :class="ui.showPinned ? 'primary' : ''"
        @click="$store.commit('ui/togglePinned', !ui.showPinned)"
      >
        <archive-icon size="1x" class="control-icon" color="grey" />
      </div>
    </UiComingSoon>
    <div class="button-wrapper" v-if="isGroup">
      <button
        v-tooltip.bottom="isGroupInviteVisible ? '' : $t('pages.chat.add_member')"
        class="control-button"
        @click="isGroupInviteVisible = !isGroupInviteVisible"
      >
        <user-plus-icon size="1x" class="control-icon" />
      </button>
      <GroupInvite
        v-if="isGroupInviteVisible"
        v-click-outside="() => isGroupInviteVisible = false"
        @close="isGroupInviteVisible = false"
      />
    </div>

    <div v-if="!$device.isMobile" class="vertical-divider"></div>
    <UiComingSoon
      v-if="!$device.isMobile"
      class="market-place control-button coming-soon"
      :tooltip-text="$t('market_place.title')"
      :tooltip-position="'bottom'"
      data-cy="toolbar-marketplace"
      @click="() => toggleModal(ModalWindows.CALL_TO_ACTION)"
    >
      <shopping-bag-icon class="control-icon" size="1x" color="grey" />
    </UiComingSoon>
    <UiComingSoon
      v-if="!$device.isMobile"
      :tooltip-text="$t('coming_soon.wallet')"
      :tooltip-position="'bottom'"
      data-cy="toolbar-wallet"
    >
      <div
        v-tooltip.bottom="$t('wallet.wallet')"
        @click="() => toggleModal(ModalWindows.WALLET)"
      >
        <wallet-icon class="control-icon" size="1x" color="grey" />
      </div>
    </UiComingSoon>

    <div v-if="!$device.isMobile" class="vertical-divider"></div>
    <template v-if="!$device.isMobile">
      <UiComingSoon
        v-if="isGroup"
        :tooltip-text="$t('coming_soon.group_chat_search')"
        horizontal
        tooltip-position="bottom"
      >
        <SearchInput
          :placeholder="$t('search.search')"
          :search-recommend="searchRecommend"
          @search="handleSearch"
          @change="handleChange"
        />
      </UiComingSoon>
      <SearchInput
        v-else
        :placeholder="$t('search.search')"
        :search-recommend="searchRecommend"
        @search="handleSearch"
        @change="handleChange"
      />
    </template>
    <SearchResult
      v-if="!$device.isMobile && searchQuery"
      :search-query="searchQuery"
      @toggle="toggleSearchResult"
    />
    <ToolbarPinned v-if="ui.showPinned" />
  </div>
</div>
