.toolbar {
  display: flex;
  align-items: center;
  transition: @transition-all;
  gap: @normal-spacing;
  margin-bottom: @normal-spacing;
  flex-shrink: 0;

  .circle-container {
    display: flex;
    flex-shrink: 0;
  }

  .user-info {
    flex-grow: 1;
    &:extend(.ellipsis);
  }

  .controls {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 16px;
    flex-shrink: 0;
    background: linear-gradient(
        180deg,
        rgba(42, 54, 75, 0) 0%,
        rgba(48, 52, 71, 0.4) 100%
      ),
      rgba(58, 58, 80, 0.4);
    border-radius: @corner-rounding;
    position: relative;

    // temp for uicomingsoon
    > span {
      height: 18px;
      width: 18px;
    }
    // endtemp

    .toggle-alerts {
      position: relative;

      &.with-count {
        &[data-count] {
          &::after {
            position: absolute;
            content: attr(data-count);
            font-size: @font-size-xs;
            background-color: @red;
            border-radius: 50%;
            pointer-events: none;
            min-width: 18px;
            left: -8px;
            top: -8px;
          }
        }
      }
    }

    .disabled {
      color: @dark;
      opacity: 0.75;
    }

    .vertical-divider {
      background: @splash-radial;
      width: 2px;
      height: 32px;
    }
  }
}
