<div id="toolbar" v-if="recipient">
  <div class="circle-container">
    <!--    hide profile modal depend on this task AP-1717 (https://satellite-im.atlassian.net/browse/AP-1717)-->
    <!--    <UiUserState-->
    <!--      v-if="!isGroup"-->
    <!--      class="circle"-->
    <!--      :user="recipient"-->
    <!--      :src="src"-->
    <!--      :clickHandler="openProfile"-->
    <!--    />-->
    <UiUserState v-if="!isGroup" class="circle" :user="recipient" :src="src" />
    <GroupIcon v-else :group="recipient" />
  </div>
  <div class="user-info">
    <TypographyTitle :size="6" :text="recipient.name" />
    <TypographySubtitle
      v-if="!$device.isMobile"
      :size="6"
      :text="subtitleText"
    />
  </div>
  <div class="controls">
    <div
      class="toggle-alerts"
      @click="toggleAlerts"
      v-tooltip.bottom="$t('pages.chat.alerts')"
    >
      <UiCircle
        v-if="allUnseenNotifications.length"
        class="notification-alert"
        :size="15"
        color="red"
        type="icon"
        :data="allUnseenNotifications.length"
      >
        {{allUnseenNotifications.length}}
      </UiCircle>
      <bell-icon
        size="1x"
        :class="`control-icon ${showAlerts ? 'primary' : ''}`"
        color="primary"
      />
    </div>

    <UiFloatingContainer
      v-if="showAlerts"
      :offsets="showSidebar ? [4.2] : [4.2, 2.3]"
      heading="Alerts"
      :width="25"
      :height="25"
      :class="`alerts-floating-container ${showSidebar ? 'side-open' : ''}`"
      :customStyles="$device.isMobile"
      :toggleMethod="() => $data.showAlerts = false"
    >
      <ToolbarAlerts />
    </UiFloatingContainer>
    <div
      :class="`control-button ${!enableRTC || webrtc.activeCall ? 'disabled' : ''}`"
      v-tooltip.bottom="callTooltipText"
      data-cy="toolbar-enable-audio"
      v-if="recipient"
      @click="handleCall"
    >
      <phone-call-icon
        size="1x"
        class="control-icon"
        :color="isGroup ? 'grey' : ''"
      />
    </div>
    <!-- <div
      :class="`control-button ${!enableRTC || webrtc.activeCall ? 'disabled' : ''}`"
      data-cy="toolbar-enable-video"
      v-tooltip.bottom="enableRTC ? $t('controls.video') : $t('controls.not_connected')"
      v-if="recipient"
      @click="() => call(['audio', 'video'])"
    >
      <video-icon size="1x" class="control-icon" />
    </div> -->
    <UiComingSoon
      v-if="!$device.isMobile"
      :tooltipText="$t('coming_soon.archived')"
      :tooltipPosition="'bottom'"
      data-cy="toolbar-archived-messages"
    >
      <div
        :class="ui.showPinned ? 'primary' : ''"
        v-tooltip.bottom="$t('pages.chat.archived_messages')"
        @click="() => {
        $store.commit('ui/togglePinned', !ui.showPinned)
      }"
      >
        <archive-icon size="1x" class="control-icon" color="grey" />
      </div>
    </UiComingSoon>
    <div
      v-if="isGroup"
      class="control-button"
      v-tooltip.bottom="$t('pages.chat.add_member')"
      @click="groupInvite"
    >
      <user-plus-icon size="1x" class="control-icon" />
    </div>
    <GroupInvite v-click-outside="()=>toggleModal('groupInvite')" />

    <div class="vertical-divider" v-if="!$device.isMobile"></div>
    <UiComingSoon
      v-if="!$device.isMobile"
      class="market-place control-button coming-soon"
      @click="() => toggleModal(ModalWindows.CALL_TO_ACTION)"
      :tooltipText="$t('market_place.title')"
      :tooltipPosition="'bottom'"
      data-cy="toolbar-marketplace"
    >
      <shopping-bag-icon class="control-icon" size="1x" color="grey" />
    </UiComingSoon>
    <UiComingSoon
      v-if="!$device.isMobile"
      :tooltipText="$t('coming_soon.wallet')"
      :tooltipPosition="'bottom'"
      data-cy="toolbar-wallet"
    >
      <div
        @click="() => toggleModal(ModalWindows.WALLET)"
        v-tooltip.bottom="$t('wallet.wallet')"
      >
        <wallet-icon class="control-icon" size="1x" color="grey" />
      </div>
    </UiComingSoon>

    <div class="vertical-divider" v-if="!$device.isMobile"></div>
    <SearchInput
      v-if="!$device.isMobile"
      @search="handleSearch"
      @change="handleChange"
      :placeholder="$t('search.search')"
      :searchRecommend="searchRecommend"
    />
    <SearchResult
      v-if="!$device.isMobile && searchQuery"
      :searchQuery="searchQuery"
      :user="recipient"
      @toggle="toggleSearchResult"
    />
    <ToolbarPinned v-if="ui.showPinned" />
  </div>
</div>
