#toolbar {
  display: flex;
  align-items: center;
  height: @toolbar-height;
  padding: 0 @normal-spacing 0 3rem;
  min-height: @toolbar-height;
  transition: @transition-all;
  &:extend(.third-layer);

  .vertical-divider {
    height: 30px;
    width: 1px;
    display: inline-block;
    background: @splash-radial;
    margin: 0 @light-spacing;
  }

  .notification-alert {
    position: fixed;
    &:extend(.first-layer);
  }

  .toggle-alerts {
    cursor: pointer;
    user-select: none;
    position: relative;
  }

  .controls {
    display: flex;
    align-items: center;
    margin-left: @large-spacing;
    font-size: @icon-size;
    box-shadow: @ui-shadow;
    &:extend(.light-padding);
    &:extend(.background-semitransparent-light);
    &:extend(.round-corners);

    .control-icon {
      margin: 0 @light-spacing;
      cursor: pointer;
      font-size: @small-icon-size;
      &:extend(.filter-glow);
    }
    .disabled {
      &:extend(.font-muted);
    }
  }
  .circle {
    // cursor: pointer; // TODO: Re-enable when clickable
  }

  .circle-container {
    display: flex;
    flex-shrink: 0;
  }

  .user-info {
    position: relative;
    align-self: center;
    margin-left: 0.75rem;
    flex-grow: 1;
    &:extend(.ellipsis);
    pointer-events: none;

    .title {
      margin: 0;
      font-size: @title-text;
      &:extend(.ellipsis);
      line-height: 2 !important;
    }
    .subtitle {
      margin: 0;
      padding: 0;
      font-size: @mini-text-size;
      &:extend(.ellipsis);
    }
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  #toolbar {
    min-width: @viewport-width;
    padding-right: @normal-spacing;
    min-height: @toolbar-height;
    padding-top: @light-spacing;

    .circle-container {
      order: 1;
      margin-left: 24px;
      height: auto;
    }

    .controls {
      background: none;
      box-shadow: unset;
      .control-button {
        padding: 2px;
        width: 24px;
        min-width: 24px;
        height: 24px;
        margin-left: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .control-icon {
        display: block;
        margin: 0;
        width: 18px;
        height: 18px;
      }
    }
  }
}

/* Only for Safari to fix lack resolution of svgs */

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    #toolbar .controls svg {
      transform: translateZ(0);
    }
  }
}
