.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  flex-wrap: nowrap;
  flex-direction: column;

  .registration-body {
    align-self: center;
    justify-self: center;
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  .container {
    .create-server-container {
      .submit-container {
        margin-top: auto;
        justify-self: flex-end;
      }
      width: unset;
      padding: @normal-spacing;
      height: @full;
    }
    .registration-body {
      &:extend(.full-width);
      height: @full;
    }
  }
  .create-server-button {
    min-width: @full !important;
  }
}
