.image {
  display: flex;
  border-radius: @corner-rounding;

  .image-container {
    max-width: 300px;

    img {
      cursor: pointer;
      width: 100%;
      object-fit: cover;
      max-width: 300px;
      &:extend(.round-corners);
      &:extend(.no-select);
    }
  }

  &-placeholder {
    text-align: center;
    max-width: 200px;
    &:extend(.no-select);
    &-img {
      padding: 16px;
    }
  }
}
