.image {
  padding: @light-spacing 0;
  border-radius: @corner-rounding;

  .is-image {
    cursor: pointer;
  }

  &-placeholder {
    text-align: center;
    max-width: 200px;
    user-select: none;
    pointer-events: none;
    &-img {
      padding: @normal-spacing;
    }
    &-caption {
      font-family: @primary-font;
      font-size: @mini-text-size;
    }
  }
}

.text {
  margin-top: 5px;
}

.is-normal-image {
  &:extend(.round-corners);
  max-width: 300px;
  user-select: none;
}

.file-info {
  grid-row: auto;
}

.dl-text {
  display: flex;
  float: right;
}
.icon {
  margin-right: 5px;
}
.imag-icon {
  margin: 10px 5px -5px -1px;
}

.dl-icon-text {
  grid-row: auto;

  .name-text {
    text-overflow: ellipsis;
    margin-bottom: 10px;
  }
}

.size-text {
  margin-bottom: 10px;
}

@media only screen and (max-width: @mobile-breakpoint) {
  .is-normal-image {
    &:extend(.full-width);
  }
}
