.separator {
  &:extend(.font-muted);
  &:extend(.flex-centered);
  margin: @normal-spacing 0;
  font-family: @primary-font;
  font-size: @mini-text-size;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid @foreground;
}

.separator:not(:empty)::before {
  margin-right: 1.25em;
}

.separator:not(:empty)::after {
  margin-left: 1.25em;
}
