.file-preview {
  width: calc(@full - 2rem);
  margin: 0 @normal-spacing;
  padding: @normal-spacing @normal-spacing @light-spacing;
  &:extend(.background-semitransparent-light);
  border-bottom-color: rgba(87, 101, 116, 0.3);
  border-radius: @corner-rounding @corner-rounding 0 0;

  &.no-round {
    border-radius: 0;
  }
  .file-list {
    display: flex;
    gap: @normal-spacing;
    overflow-x: scroll;
    padding-bottom: @light-spacing;
  }
}
