.message-attachments-item {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  justify-content: stretch;
  background: @semitransparent-lighter-gradient;
  box-shadow: @ui-shadow;
  border-radius: 4px;
  overflow: hidden;

  .details {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: stretch;
    padding: 0.5rem 1rem;
    width: 300px;
    overflow: hidden;

    > * {
      flex-shrink: 0;
    }

    .file-info {
      flex: 1;
      overflow: hidden;
      cursor: pointer;
    }
  }

  .download-link {
    display: none;
  }
}
