.live {
  display: inline-flex;
  align-content: center;
  &:extend(.full-width);
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  &:extend(.font-secondary);
  border-bottom: @light-border;
  padding-bottom: @light-spacing;
  .name-and-icon {
    display: inline-flex;
    justify-content: center;
    justify-self: center;
    padding-top: (@light-spacing / 2);
    cursor: pointer;
  }
  .subtitle {
    margin: 0;
    margin-left: @light-spacing;
    font-family: @primary-font;
    &:extend(.font-secondary);
  }
  .sel-user-name.is-exist {
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .button {
    padding: 0 @light-spacing 0 @light-spacing;
    height: unset;
    line-height: 1.8;
    justify-self: flex-end;
  }
}
