.aside-menu {
  padding: 2rem;
  position: relative;
  -webkit-user-drag: none;
  user-select: none;
  height: calc(100vh - @mobile-nav-size);

  .menu-list {
    margin-bottom: @normal-spacing;

    a {
      -webkit-user-drag: none;
      user-select: none;
    }
  }

  .menu-toggle {
    position: absolute;
    right: 2rem;
    top: 2.4rem;
  }

}