.username-container {
  display: flex;
  align-items: center;
  .icon-container {
    margin-right: @light-spacing;
  }
  .username {
    .title {
      margin-bottom: 0;
      color: @bright-text;
      font-size: @title-text;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
