<div class="mobile-safe-wrapper">
  <div v-if="small" class="mobile-modal-background" />
  <div class="modal is-active" :class="{'small' : small}">
    <div class="modal-background" v-on:click="close" />
    <div class="modal-card">
      <header v-if="title" class="modal-card-head">
        <span class="close" v-on:click="close">×</span>
        <TypographyTitle :text="title" :size="6" />
      </header>
      <section :class="`modal-card-body ${nopad ? 'nopad' : ''}`">
        <slot />
      </section>
    </div>
  </div>
</div>
