.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  backdrop-filter: @light-blur brightness(80%);
  &:extend(.sixth-layer);

  .modal {
    transform-origin: 50% 200%;
    position: relative;
    box-shadow: @ui-shadow-large;
    border-radius: @corner-rounding;
    &:extend(.background-semitransparent-dark);
  }
}

.modal-enter-active,
.modal-leave-active {
  &,
  .modal {
    transition: all @animation-speed-long ease;
  }
}

.modal-enter,
.modal-leave-to {
  backdrop-filter: blur(0px);

  .modal {
    opacity: 0;
    transform: perspective(880px) rotateX(0.5deg);
    filter: @light-blur;
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  .modal {
    height: @full;
    width: @full;

    &.small {
      height: auto;
      top: inherit;
    }
  }
  .modal-card {
    height: @full;
    &:extend(.full-width);
    margin: 0px;
    max-height: @full;
  }

  .mobile-modal-background {
    width: 100%;
    height: 100%;
    position: absolute;

    &:extend(.first-layer);
    background: transparent;
    backdrop-filter: @light-blur;
  }
}
