.edit-message {
  &-body {
    &-input {
      flex-grow: 1;
      font-size: @text-size;
      word-break: break-all;
      blockquote {
        border-left: 4px solid @text-muted;
        padding-left: @light-spacing;
      }
      &:extend(.round-corners);
      p {
        font-size: @text-size !important;
      }
    }
    &-emoj {
      flex-shrink: 0;
    }
    display: flex;
    align-items: center;
    &:extend(.round-corners);
    &:extend(.background-semitransparent-lighter);
    &:extend(.more-pad-sides);
  }
  &-bottom {
    font-size: @text-size;
    display: flex;
    margin: 0 -@light-spacing;
    justify-content: space-between;
    & > div {
      padding: 0 @light-spacing;
    }
  }
  margin: @light-spacing 0px;
  &:extend(.light-padding);
  &:extend(.background-semitransparent-dark);
  &:extend(.round-corners);
  border: 1px solid @primary-color;
}
