<div class="edit-message">
  <div class="edit-message-body" :class="{'is-error': isError}">
    <ChatbarAutocomplete
      ref="autocomplete"
      v-if="showAutocomplete"
      :text="autocompleteText"
      :conversationId="conversationId"
      @selection="handleAutocompleteSelection"
      @click="handleAutocompleteClick"
    />
    <InteractablesEditable
      v-model="content"
      ref="editable"
      class="edit-message-body-input"
      data-cy="edit-message-input"
      @keydown="handleInputKeydown"
      @autocomplete="handleAutocomplete"
    />
    <button v-tooltip.top="$t('ui.emoji')">
      <smile-icon size="1x" />
    </button>
  </div>
  <div class="edit-message-bottom">
    <div>
      <div>
        {{$t('messaging.edit.escape_to')}}
        <a class="action" @click="cancelMessage"
          >{{$t('messaging.edit.cancel')}}</a
        >
      </div>
      <div>
        {{$t('messaging.edit.enter_to')}}
        <a class="action" @click="saveMessage">{{$t('messaging.edit.save')}}</a>
      </div>
    </div>
    <div>{{lengthCount}}/{{maxChars}}</div>
  </div>
</div>
