.edit-message {
  &-body {
    display: flex;
    &:extend(.round-corners);
    &:extend(.background-semitransparent-lighter);

    &.is-error {
      border: 1px solid @red;
    }

    .editable-container {
      padding-left: 8px;
      max-height: 50vh;
    }

    button {
      font-size: @larger-icon-size;
      padding: 12px 8px;
      align-items: center;
      height: @chatbar-input-height;
      color: @white;
    }

    &-input {
      height: 100%;
      flex-grow: 1;
      word-break: break-all;
      blockquote {
        border-left: 4px solid @text-muted;
        padding-left: @light-spacing;
      }
      &:extend(.round-corners);
    }
  }
  &-bottom {
    font-size: @text-size;
    display: flex;
    margin: 0 -@light-spacing 0 0;
    justify-content: space-between;
    & > div {
      display: flex;
      margin: 0 @light-spacing;
      > div {
        &:not(:last-child)::after {
          content: '•';
          margin: 0 @light-spacing;
        }
      }
    }

    .action {
      color: @flair-color;
    }
  }
  margin: @light-spacing 0px;
  &:extend(.light-padding);
  &:extend(.background-semitransparent-dark);
  &:extend(.round-corners);
  border: 1px solid @flair-color;
}
