.create-user-container {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: @normal-modal-size;
  padding: 16px;

  .create-user-form {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .header {
      display: flex;
      gap: 16px;

      .image-container {
        max-width: 175px;
      }
    }

    .body {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .submit-button-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 16px;
      }
    }
  }
}

@media (max-width: @mobile-small-breakpoint) {
  .create-user-container {
    .create-user-form {
      .body {
        .submit-button-container {
          flex-direction: column;
          margin-top: 24px;
        }
      }
    }
  }
}
