<div class="create-server-container">
  <InteractablesImageCropper
    v-if="showCropper"
    :set-cropped-image="setCroppedImage"
    :image-url="image"
    @toggle-cropper="toggleCropper"
  />
  <div v-if="showCropper" class="cropper-mask" />
  <div class="modal-body">
    <form @submit="confirm" novalidate>
      <div class="custom-modal-content">
        <div class="columns">
          <div class="column image">
            <UiCircle
              type="image"
              :type="croppedImage ? 'image' : 'random'"
              :seed="accountAddress"
              :source="croppedImage"
              :size="120"
            />
          </div>
          <div class="column align">
            <TypographyText
              class="set-photo-title"
              :text="$t('user.registration.photo_text')"
            />
            <input
              ref="file"
              class="input-file"
              type="file"
              @change="selectImage"
              :accept="acceptableImageFormats"
            />
            <InteractablesButton
              :action="() => $refs.file.click()"
              type="primary"
              size="small"
              :text="$t('servers.create.photo_button')"
              outlined
            />
          </div>
        </div>
        <div style="clear: both"></div>

        <div class="input-container" data-cy="username-input">
          <span class="label">{{$t('user.registration.username')}}</span>
          <InteractablesInput
            :placeholder="$t('user.registration.username_placeholder')"
            size="small"
            v-model="name"
            input-kind="text"
            type="primary"
            :minLength="$Config.account.minLength"
            :maxLength="$Config.account.maxLength"
            :invalid="isInvalidName && Boolean(error.length)"
          />
        </div>

        <div class="input-container" data-cy="status-input">
          <span class="label">{{$t('user.registration.status')}}</span>
          <InteractablesInput
            :placeholder="$t('user.registration.status_placeholder')"
            size="small"
            v-model="status"
            input-kind="text"
            type="primary"
            :maxLength="$Config.account.statusMaxLength"
            :invalid="isInvalidStatus && Boolean(error.length)"
          />
        </div>

        <template v-if="error.length">
          <TypographyError
            v-for="e in error"
            :text="e"
            :key="e"
            data-cy="error-message"
          />
        </template>
      </div>

      <div class="submit-container">
        <InteractablesButton
          type="primary"
          size="small"
          :text="$t('user.registration.sign_in')"
          :loading="isLoading"
          class="create-server-btn"
          data-cy="sign-in-button"
          htmlType="submit"
        />
      </div>
    </form>
  </div>
</div>
