<div class="create-user-container">
  <InteractablesImageCropper
    v-if="showCropper"
    :set-cropped-image="setCroppedImage"
    :image-url="imageUrl"
    @toggle-cropper="toggleCropper"
  />
  <div v-if="showCropper" class="cropper-mask" />
  <form novalidate class="create-user-form" @submit="confirm">
    <div class="header">
      <div class="image-container">
        <UiCircle
          :type="croppedImage ? 'image' : 'random'"
          :seed="accountAddress"
          :source="croppedImage"
          :size="120"
        />
      </div>
      <div class="header-content">
        <TypographyText as="p" color="dark" style="margin-bottom: 1.5rem">
          {{ $t('user.registration.photo_text') }}
        </TypographyText>
        <InteractablesImageInput ref="imageInput" @change="selectImage" />
        <InteractablesButton
          size="small"
          :text="$t('servers.create.photo_button')"
          outlined
          @click="() => imageInputRef.click()"
        />
      </div>
    </div>

    <div class="body">
      <div class="input-container" data-cy="username-input">
        <span class="label">{{ $t('user.registration.username') }}</span>
        <InteractablesInput
          v-model="name"
          :placeholder="$t('user.registration.username_placeholder')"
          size="small"
          input-kind="text"
          type="primary"
          :min-length="$Config.account.minLength"
          :max-length="$Config.account.maxLength"
          :invalid="isInvalidName && Boolean(error.length)"
        />
      </div>

      <div class="input-container" data-cy="status-input">
        <span class="label">{{ $t('user.registration.status') }}</span>
        <InteractablesInput
          v-model="status"
          :placeholder="$t('user.registration.status_placeholder')"
          size="small"
          input-kind="text"
          type="primary"
          :max-length="$Config.account.statusMaxLength"
          :invalid="isInvalidStatus && Boolean(error.length)"
        />
      </div>

      <template v-if="error.length">
        <TypographyError
          v-for="e in error"
          :key="e"
          :text="e"
          data-cy="error-message"
        />
      </template>

      <div class="submit-button-container">
        <InteractablesButton
          color="primary"
          :text="$t('user.registration.sign_in')"
          :loading="isLoading"
          data-cy="sign-in-button"
          type="submit"
        />
      </div>
    </div>
  </form>
</div>
