.search-container {
  position: relative;
  font-size: @text-size;
}
.search-option-heading {
  color: @primary-color;
}
.search-box {
  display: inline-block;
  position: relative;
  width: 180px;
  font-size: @text-size;
  background: @input-gradient;
  border:@light-border;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: @corner-rounding;
  transition: width 0.1s;
  padding-left: 1.5rem;
  padding-right: 40px;
  &.focus {
    width: 282px;
    .search-input {
      width: 250px;
    }
  }
  .search-input {
    -webkit-user-select: text;
    user-select: text;
    display: inline-block;
    position: relative;
    padding: 0 5px;
    width: 150px;
    max-width: 100%;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    font-size: @text-size;
    background-color: transparent;
    outline: 0;
    color: @text;
    z-index: @base-z-index;
    scrollbar-width: 0;
  }
}
.search-clear {
  position: absolute;
  font-size: @tiny-icon-size;
  top: 5px;
  right: 8px;
  width: 30px;
  height: 20px;
  background: transparent;
  border-color: transparent;
  color: @text;
  z-index: 2;
  cursor: pointer;
}
.search-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: @text-muted;
  z-index: 0;
  cursor: pointer;
}
.search-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  line-height: 30px;
  font-size: @text-size;
  color: @text-muted;
  padding: 0 5px;
  padding-left: 1.8rem;
}
.hide {
  display: none;
}

.search-options {
  position: absolute;
  left: 0;
  margin-top: @light-spacing * 1.5;
  border: @light-border;
  z-index: @base-z-index + 2;
  background: @semitransparent-light-gradient;
  backdrop-filter: @blur;
  width: 100%;
  border-radius: @corner-rounding;
  padding: 3px 6px;
}

.search-option-group {
  padding: 5px;

  
  li {
    font-size: 16px;
    padding: 5px 10px;
    &:hover:not(:first-child),
    &.active {
      background: @primary-color;
      box-shadow: @primary-glow;
      color: @bright-text;
      cursor: pointer;
      border-radius: @corner-rounding;
      span:last-child {
        color: @bright-text;
      }
    }
    span:last-child {
      color: @text-muted;
    }
  }

  li:first-child {
    font-size: 12px;
  }
}

.search-recommends {
  position: absolute;
  left: 0;
  margin-top: @light-spacing * 1.5;
  z-index: @base-z-index + 2;
  border: @light-border;
  background: @semitransparent-light-gradient;
  backdrop-filter: @blur;
  width: 100%;
  border-radius: @corner-rounding;
  padding: 3px 6px;
}

.search-recommend-group {
  padding: 5px;

  li {
    font-size: 16px;
    padding: 5px 10px;
    &:hover:not(:first-child),
    &.active {
      background-color: @black;
      border-radius: 2px;
    }
    span:last-child {
      font-weight: 100;
      color: grey;
    }
  }

  li:first-child {
    font-size: 12px;
  }

  .search-for {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
  }
}

.date-selection {
  position: absolute;
  left: 0;
  margin-top: 4px;
  z-index: @base-z-index + 2;
  background: @semitransparent-lighter-gradient !important;
  width: 100%;
  border-radius: @corner-rounding;
  padding: 12px 6px;
  border: 1px solid @light-gray;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .search-box {
    width: 150px;
    &.focus {
      width: calc(100% - @light-spacing);
      .search-input {
        width: 250px;
      }
    }
  }
  
  .search-recommends, .search-options {
    margin: 0;
    width: calc(100% - (@light-spacing * 2));
    left: @light-spacing;
    right: @light-spacing;
    top: @statusbar-height + (@normal-spacing * 8);
    position: fixed;
  }
}