<div
  class="typehead-container"
  data-cy="add-passphrase"
  v-click-outside="lostFocus"
>
  <input
    v-model="searchText"
    :class="`input is-${size} is-${type}`"
    :placeholder="placeholder"
    @mousedown="setFocus"
    @input="update"
    v-on:keyup.enter="onEnterPressed"
    v-on:keyup.esc="lostFocus"
    v-on:keydown.up="onUpBrowseItem"
    v-on:keydown.down="onDownBrowseItem"
  />
  <div v-if="isFocus && searchList.length" class="search-options">
    <ul class="search-option-group">
      <li
        v-for="(item, i) in searchList.slice(0, maxShowCounts)"
        :class="{'active': i === browseIndex}"
        @click="onItemClicked(item)"
      >
        {{ label ? item[label] : item}}
      </li>
    </ul>
  </div>
</div>
