.typehead-container {
  position: relative;
  .search-options {
    position: absolute;
    left: 0;
    margin-top: @light-spacing * 1.5;
    border: @light-border;
    z-index: @base-z-index + 2;
    background: @semitransparent-light-gradient;
    backdrop-filter: @blur;
    width: 100%;
    border-radius: @corner-rounding;
    padding: @xlight-spacing / 2 0;
    .search-option-group {
      padding: @light-spacing 0;
      li {
        font-size: 16px;
        padding: 5px 10px;
        text-align: center;
        &:hover,
        &.active {
          background: @primary-color;
          box-shadow: @primary-glow;
          color: @bright-text;
          cursor: pointer;
          border-radius: @corner-rounding;
          span:last-child {
            color: @bright-text;
          }
        }
        span:last-child {
          color: @text-muted;
        }
      }
    }
  }
}
