.list {
  overflow-y: auto;

  &.loading {
    overflow-y: hidden;
  }

  .empty-friends-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 16px 0;
  }
}
