.list {
  overflow-y: auto;
  padding-bottom: 16px;
  flex-grow: 1;

  .empty-friends-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px 16px;

    @media (max-width: @mobile-breakpoint) {
      height: 100%;
      padding-bottom: 0;
    }
  }
}
