<div class="list hover-scroll">
  <SidebarListItem
    v-for="c in sortedConversations"
    :key="c.id"
    :conversation="c"
  />
  <div v-if="!sortedConversations.length" class="mascot-container">
    <div class="mascot-text">
      <TypographyText as="h2">
        {{ $t('pages.chat.no_friends_yet') }}
      </TypographyText>
      <TypographyText>
        {{ $t('pages.chat.no_friends_yet_text') }}
      </TypographyText>
    </div>
    <img src="~/assets/svg/mascot/sad_curious.svg" draggable="false" />
    <InteractablesButton
      :text="$t('friends.add')"
      size="small"
      type="primary"
      :action="navigateAddFriends"
    >
      <user-plus-icon size="1.2x" />
    </InteractablesButton>
  </div>
</div>
