.list {
  overflow-y: auto;
  padding-bottom: 16px;
  flex-grow: 1;

  .empty-friends-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0px 5px 32px 5px;

    .no-result {
      text-align: center;
      word-break: break-all;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}
