.control-icon {
  color: @text-muted;
  opacity: 0.75;
  font-size: @icon-size;
  align-self: flex-end;
  text-align: right;
  float: right;
  margin-left: @light-spacing;
  justify-self: center;
  

  &:hover {
    cursor: pointer;
  }
}

.active {
  color: @bright-text;
  opacity: 1;
}