<div id="media-heading">
  <TypographyTag v-if="elapsedTimeLabel" :text="elapsedTimeLabel" />
  <div class="spacer"></div>
  <transition name="media-fullscreen" mode="out-in">
    <div
      v-bind:key="ui.fullscreen"
      class="has-tooltip has-tooltip-primary has-tooltip-left"
      :data-tooltip="ui.fullscreen ? $t('ui.exit_fullscreen') : $t('ui.fullscreen')"
      @click="toggleFullscreen"
    >
      <minimize-icon v-if="ui.fullscreen" size="1.2x" />
      <maximize-icon v-else="ui.fullscreen" size="1.2x" />
    </div>
  </transition>
</div>
