.heading {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  min-height: 26px;
  padding: 0.75rem;

  button {
    height: fit-content;
  }
}

.media-fullscreen-enter,
.media-fullscreen-leave-to {
  opacity: 0;
}
