#file-topbar {
  padding-top: 12px;
}

#new-folder {
  .modal-input {
    &:extend(.half-width);
  }
  display: flex;
  justify-content: flex-end;
  &:extend(.full-width);
  margin-top: 12px;
}

@media only screen and (max-width: @mobile-breakpoint) {
  #new-folder {
    justify-content: center;
    .modal-input {
      width: 90%;
    }
  }
}
