.image-mask {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
  &:extend(.second-layer);
  &:extend(.absolute-coverage);

  .size-container {
    display: flex;
    flex-direction: column;
    margin: auto;

    .image-container {
      display: flex;
      overflow: hidden;

      img {
        &:extend(.round-corners);
        max-height: 80vh;
        max-width: 80vw;
        height: auto;
      }
    }
    a {
      color: @gray;
      display: flex;
      margin-right: auto;
      &:hover,
      &:focus {
        color: @white;
        text-decoration: underline;
      }
    }
  }
}
