.image-mask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  margin: auto;
  height: 100%;
  img {
    max-height: 80vh;
    max-width: 80vw;
    height: auto;
  }

  a {
    color: @text-muted;
    display: flex;
    margin-right: auto;
    &:hover {
      color: @white;
      text-decoration: underline;
    }
  }
}
