<div class="video iframe-video-container">
  <!-- We found embeddable iframe videos based on the url's provided -->
  <div
    v-if="videoLinksAsEmbeds.length > 0"
    v-for="(item, index) in videoLinksAsEmbeds"
  >
    <div v-if="item.type === 'embed'">
      <vue-plyr :ref="item.ref">
        <div class="plyr__video-embed">
          <iframe
            :src="item.src"
            allowfullscreen
            allowtransparency
            allow="autoplay"
          ></iframe>
        </div>
      </vue-plyr>
    </div>
    <div v-if="item.type === 'iframe'">
      {{ item.aspectRatioPadding }}
      <div :class="item.aspectRatioClass">
        <iframe
          :ref="item.ref"
          class="iframe-video responsive-iframe"
          :src="item.src"
          allowfullscreen
        >
        </iframe>
      </div>
      <span @click="resetAspectRatio(index, 4, 3)">
        <TypographyText
          class="subtext aspect-ratio-switcher-option"
          :class="[item.aspectRatioClass === 'iframe-container-4-3' ? 'selected-aspect-ratio-switcher-option' : '']"
        >
          4:3
        </TypographyText>
      </span>
      <span @click="resetAspectRatio(index, 16, 9)">
        <TypographyText
          class="subtext aspect-ratio-switcher-option"
          :class="[item.aspectRatioClass === 'iframe-container-16-9' ? 'selected-aspect-ratio-switcher-option' : '']"
        >
          16:9
        </TypographyText>
      </span>
      <span @click="resetAspectRatio(index, 1, 1)">
        <TypographyText
          class="subtext aspect-ratio-switcher-option"
          :class="[item.aspectRatioClass === 'iframe-container-1-1' ? 'selected-aspect-ratio-switcher-option' : '']"
        >
          1:1
        </TypographyText>
      </span>
      <TypographyText :size="5" class="subtext aspect-ratio-switcher">
        {{ $t('pages.settings.aspect_ratio_label') }}
      </TypographyText>
    </div>
    <br />
  </div>
</div>
