.settings {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: calc(100vw - 160px);
  height: calc(100vh - 160px);
  max-width: 1528px;
  max-height: 888px;
  gap: 32px;
  background: @background;

  .sidebar {
    padding: @xlarge-spacing;
  }

  .page {
    padding: @large-spacing;
    flex: 1;
    overflow-y: scroll;

    &.profile {
      padding: 0;
    }
  }
}
