<UiModal :closeModal="closeModal" nopad>
  <div class="settings">
    <SettingsSidebar
      class="sidebar"
      :title="$t('pages.settings.settings')"
      :toggle="toggleSidebar"
      :handleRouteChange="changeRoute"
    />
    <div class="page">
      <SettingsPagesPersonalize
        v-if="this.ui.settingsRoute === SettingsRoutes.PERSONALIZE"
      />
      <SettingsPagesAccounts
        v-if="this.ui.settingsRoute === SettingsRoutes.ACCOUNTS_AND_DEVICES"
      />
      <SettingsPagesAudio
        v-if="this.ui.settingsRoute === SettingsRoutes.AUDIO_AND_VIDEO"
      />
      <SettingsPagesDeveloper
        v-if="this.ui.settingsRoute === SettingsRoutes.DEVELOPER"
      />
      <SettingsPagesInfo v-if="this.ui.settingsRoute === SettingsRoutes.INFO" />
      <SettingsPagesKeybinds
        v-if="this.ui.settingsRoute === SettingsRoutes.KEY_BINDS"
      />
      <SettingsPagesNotifications
        v-if="this.ui.settingsRoute === SettingsRoutes.NOTIFICATIONS"
      />
      <SettingsPagesProfile
        v-if="this.ui.settingsRoute === SettingsRoutes.PROFILE"
      />
      <SettingsPagesStorage
        v-if="this.ui.settingsRoute === SettingsRoutes.STORAGE"
      />
      <SettingsPagesNetwork
        v-if="this.ui.settingsRoute === SettingsRoutes.NETWORK"
      />
      <SettingsPagesRealms
        v-if="this.ui.settingsRoute === SettingsRoutes.REALMS"
      />
      <SettingsPagesPrivacy
        v-if="this.ui.settingsRoute === SettingsRoutes.PRIVACY"
      />
    </div>
    <InteractablesClose data-cy="settings-close-button" :action="closeModal" />
  </div>
</UiModal>
