<UiModal :closeModal="closeModal" nopad>
  <div id="settings" 
    :class="`with-sidebar ${ui.settingsSideBar ? 'is-open' : 'is-collapsed'}`">
    <div class="sidebar is-secondary-background" v-touch:swipe.left="collapseSidebar" v-touch:swipe.right="showSidebar">
      <UiScroll verticalScroll>
        <ViewsSettingsSidebar
          :title="$t('pages.settings.settings')"
          toggleable
          :toggle="toggleSidebar"
          :handleRouteChange="changeRoute"
        />
      </UiScroll> 
    </div>
    <div class="not-sidebar hidden-scroll" v-scroll-lock="true">
      <UiScroll verticalScroll enableWrap scrollbarVisibility="scroll">
        <UiBreadcrumbs />
        <InteractablesClose :action="closeModal" />
        <ViewsSettingsPagesPersonalize v-if="page === 'personalize'" />
        <ViewsSettingsPagesAccounts v-if="page === 'accounts'" />
        <ViewsSettingsPagesAudio v-if="page === 'audio'" />
        <ViewsSettingsPagesDeveloper v-if="page === 'developer'" />
        <ViewsSettingsPagesInfo v-if="page === 'info'" />
        <ViewsSettingsPagesKeybinds v-if="page === 'keybinds'" />
        <ViewsSettingsPagesNotifications v-if="page === 'notifications'" />
        <ViewsSettingsPagesProfile v-if="page === 'profile'" />
        <ViewsSettingsPagesStorage v-if="page === 'storage'" />
        <ViewsSettingsPagesNetwork v-if="page === 'network'" />
        <ViewsSettingsPagesRealms v-if="page === 'realms'" />
      </UiScroll>
    </div>
  </div>
</UiModal>