.settings {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: calc(100vw - 160px);
  height: calc(100vh - 160px);
  max-width: 1500px;
  max-height: 1050px;
  background: @settings-background;

  .sidebar {
    padding: @xlarge-spacing @large-spacing;
  }
}
