<div
  class="quick-profile"
  ref="quick"
  @keydown.esc="close"
  tabindex="-1"
  v-click-outside="close"
>
  <div class="top">
    <button @click="openProfile" class="open-profile-button">
      <UiUserState :user="user" :size="40" />
    </button>
    <TypographyText as="h4" class="ellipsis"> {{ user.name }} </TypographyText>
  </div>
  <InteractablesInput
    v-if="conversationId"
    v-model.trim="text"
    ref="input"
    size="xs"
    :placeholder="`${$t('friends.message')} ${user.name}...`"
    :maxLength="$Config.chat.maxChars"
    showLimit
    autofocus
    @submit="sendMessage"
  >
    <arrow-right-icon size="1x" />
  </InteractablesInput>
</div>
