.quick-profile {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: fixed;
  width: 350px;
  padding: 16px;
  overflow: hidden;
  // background: linear-gradient(
  //   to bottom,
  //   @flair-color 0%,
  //   @flair-color 36px,
  //   #1c273a 36px,
  //   @darker 100%
  // );
  background: @modal-gradient;
  box-shadow: @ui-shadow;
  .round-corners();

  .top {
    display: flex;
    align-items: center;
    gap: 16px;

    .open-profile-button {
      cursor: default;
    }
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  .quick-profile {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }
}
