<div
  id="quick-profile"
  ref="quickProfile"
  v-click-outside="close"
  :style="$device.isDesktop ? `top: ${ui.quickProfilePosition.y}px; left: ${ui.quickProfilePosition.x}px;` : ''"
>
  <div class="header avatar-wrapper">
    <InteractablesClose id="closeIcon" :action="close" />
    <!-- Remove class on UICircle when profile implemented and both are clickable -->
    <!-- Clickable was removed temporarily -->
    <UiCircle
      id="userIcon"
      :type="src ? 'image' : 'random'"
      :seed="user.address"
      :size="45"
      :source="src"
    />
  </div>
  <TypographyTitle :text="user.name" :size="6" />
  <TypographyText color="dark" small>
    {{ user.publicKey ? `${user.publicKey.substr(0, 23)}...` : `` }}
  </TypographyText>
  <TypographyText> {{ user.status }} </TypographyText>
  <template v-if="!isMe">
    <UiHorizontalRule />
    <InteractablesInputGroup
      type="primary"
      v-model="text"
      :placeholder="`${$t('friends.message')} ${user.name}...`"
      :action="sendMessage"
      :maxLength="$Config.chat.maxChars"
      showLimit
    >
      <arrow-right-icon size="1x" />
    </InteractablesInputGroup>
    <TypographyError
      v-if="isEmptyMessage"
      :text="$t('errors.chat.empty_message_error')"
    />
  </template>
</div>
