<div id="personalize-settings">
  <div class="columns is-desktop">
    <div class="column">
      <TypographyTitle
        :size="6"
        :text="$t('pages.settings.personalize.title')"
      />
      <TypographySubtitle
        :size="6"
        :text="$t('pages.settings.personalize.subtitle')"
      />
    </div>
  </div>

  <div class="columns is-desktop">
    <div class="column">
      <InteractablesSelect
        v-model="theme"
        :options="themes"
        :label="$t('pages.settings.personalize.theme')"
        show-label
        small
      />
    </div>
  </div>

  <div class="columns is-desktop">
    <div class="column">
      <InteractablesSelect
        v-model="flair"
        :options="flairOptions"
        :label="$t('pages.settings.personalize.flair')"
        :disabled="theme === ThemeNames.DEFAULT"
        show-label
        small
      />
    </div>
  </div>

  <div class="columns is-desktop">
    <div class="column">
      <InteractablesSelect
        v-model="language"
        :options="[{ text: 'English (USA)', value: 'en_US' }]"
        :label="$t('pages.settings.personalize.language')"
        show-label
        small
      />
    </div>
  </div>
</div>
