<div id="personalize-settings">
  <div class="columns is-desktop">
    <div class="column">
      <TypographyTitle
        :size="6"
        :text="$t('pages.settings.personalize.title')"
      />
      <TypographySubtitle
        :size="6"
        :text="$t('pages.settings.personalize.subtitle')"
      />
    </div>
  </div>

  <div class="columns is-desktop">
    <div class="column">
      <TypographyLabel :text="$t('pages.settings.personalize.theme')" />
      <br />
      <InteractablesSelect v-model="theme" size="small" :options="themes" />
    </div>
  </div>

  <div class="columns is-desktop">
    <div class="column">
      <TypographyLabel :text="$t('pages.settings.personalize.flair')" />
      <br />
      <InteractablesSelect
        :disabled="theme === ThemeNames.DEFAULT"
        v-model="flair"
        size="small"
        :options="flairs"
        colorSupport
      />
    </div>
  </div>

  <div class="columns is-desktop">
    <div class="column">
      <TypographyLabel :text="$t('pages.settings.personalize.language')" />
      <br />
      <InteractablesSelect
        size="small"
        :options="[{ text: 'English (USA)', value: 'en_US' }]"
        selected="en_US"
      />
      <InteractablesNewSelect
        v-model="test"
        :options="[{ label: 'English (USA)', value: 'en_US' },
        { label: 'ay', value: 'test' },
        { label: 'yo', value: 'test2' },
        { label: 'yo', value: 'test3' },
        { label: 'yo', value: 'test4' }
        ]"
        :label="$t('pages.settings.personalize.language')"
        name="test"
        show-label
      />
    </div>
  </div>
</div>
