<div id="personalize-settings">
  <div class="columns is-desktop">
    <div class="column">
      <TypographyTitle
        :size="6"
        :text="$t('pages.settings.personalize.title')"
      />
      <TypographySubtitle
        :size="6"
        :text="$t('pages.settings.personalize.subtitle')"
      />
    </div>
  </div>

  <div class="columns is-desktop">
    <div class="column">
      <br />
      <InteractablesNewSelect
        v-model="theme"
        :options="themes"
        :label="$t('pages.settings.personalize.theme')"
        show-label
        small
      />
    </div>
  </div>

  <div class="columns is-desktop">
    <div class="column">
      <TypographyLabel :text="$t('pages.settings.personalize.flair')" />
      <br />
      <InteractablesSelect
        :disabled="theme === ThemeNames.DEFAULT"
        v-model="flair"
        size="small"
        :options="flairs"
        colorSupport
      />
    </div>
  </div>

  <div class="columns is-desktop">
    <div class="column">
      <TypographyLabel :text="$t('pages.settings.personalize.language')" />
      <br />
      <InteractablesSelect
        size="small"
        :options="[{ text: 'English (USA)', value: 'en_US' }]"
        selected="en_US"
      />
    </div>
  </div>
</div>
