@keyframes emoji-appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.is-message {
  color: @text;
  .pinned-message {
    border: 1px solid @primary-color;
    &:extend(.round-corners);
    padding: @normal-spacing;
    margin-top: @normal-spacing;
    margin-bottom: @light-spacing;

    .pinned-badge {
      top: -(@light-spacing);
      left: @light-spacing;
      padding: 0 @light-spacing;
      &:extend(.background-primary);
      border-radius: @corner-rounding-smaller;
      font-size: @mini-text-size;
      position: absolute;
    }
  }
  .sat-icon-container {
    margin-right: @light-spacing;
    margin-top: 0.3rem;
    width: 20px;
    height: 20px;
  }
  .inline-meta {
    margin-bottom: @light-spacing;
    display: flex;
    .is-text {
      opacity: 0.8;
      margin-top: 0.3rem;
      margin-left: @light-spacing;
    }
    .satellite-circle {
      position: relative;
      svg {
        margin: -0.2rem;
        width: 13px;
        height: 13px;
      }
    }
  }
  .markdown {
    white-space: break-spaces;
    word-wrap: break-word;
    display: inline;
    align-items: center;
    strong {
      &:extend(.font-secondary);
    }
    p {
      font-size: @text-size;
      display: inline;
    }
  }

  .message-container {
    position: relative;
    word-break: break-word;
  }
  .message-actions{
    display: none;
  }
  :hover {
    &:extend(.background-semitransparent-light);
    .message-actions{
      display: flex;
    }
  }
  .glyph {
    width: 192px;
    height: 192px;
  }
  .emoji {
    font-size: 15pt;
    font-style: initial;
  }
  .bigmoji {
    .emoji {
      font-size: 36pt;
      animation-name: emoji-appear;
      animation-duration: 500ms;
    }
  }
  .status {
    font-size: @micro-text-size;
    &.editing {
      vertical-align: bottom;
      margin-top: 0;
    }
  }

  .spoiler-container {
    cursor: pointer;
    background-color: @gray;
    border-radius: @corner-rounding-smaller;
    .spoiler {
      opacity: 0;
    }

    .spoiler-open {
      cursor: text;
      background-color: @darker-transparent;
      opacity: 1;
    }
  }
}

// non-Retina-specific stuff here
@media not screen and (-webkit-min-device-pixel-ratio: 2),
  not screen and (min--moz-device-pixel-ratio: 2),
  not screen and (-o-min-device-pixel-ratio: 2/1),
  not screen and (min-device-pixel-ratio: 2),
  not screen and (min-resolution: 192dpi),
  not screen and (min-resolution: 2dppx) {
  .is-message {
    // Chrome bug for emoji spacing on non-retina screens
    .emoji {
      letter-spacing: 4px;
    }
  }
}
