.is-message {
  color: @text;
  margin-bottom: 0.1rem;
  .pinned-message {
    border: 1px solid @primary-color;
    border-radius: @corner-rounding;
    padding: @normal-spacing;
    margin-top: @normal-spacing;
    margin-bottom: @light-spacing;

    .pinned-badge {
      top: -(@light-spacing);
      left: @light-spacing;
      padding: 0 @light-spacing;
      background-color: @primary-color;
      border-radius: @corner-rounding-smaller;
      font-size: @mini-text-size;
      position: absolute;
    }
  }
  .sat-icon-container {
    margin-right: @light-spacing;
    margin-top: 0.3rem;
    width: 20px;
    height: 20px;
  }
  .inline-meta {
    margin-bottom: @light-spacing;
    display: inline-flex;
    .is-text {
      opacity: 0.8;
      margin-top: 0.3rem;
      margin-left: @light-spacing;
    }
    .satellite-circle {
      position: relative;
      svg {
        margin: -0.2rem;
        width: 13px;
        height: 13px;
      }
    }
  }
  .markdown {
    display: inline-flex;
    align-items: center;
    strong {
      color: @bright-text;
    }
    p {
      font-size: @text-size;
    }
  }

  .message-container {
    position: relative;
    word-break: break-word;
  }

  .message-hover {
    background-color: @semitransparent-light-gradient;
  }
  .glyph {
    width: 192px;
    height: 192px;
  }
  .emoji {
    font-size: 15pt;
  }
  .bigmoji {
    .emoji {
      font-size: 36pt;
      animation-name: bounce;
      animation-duration: 500ms;
    }
  }
}
