<div
  class="is-message"
  :class="textile.messageLoading ? 'loading' : ''"
  @contextmenu="contextMenu"
>
  <div
    @mouseenter="mouseOver"
    @mouseleave="mouseOver"
    :class="`message-container ${messageHover ? 'message-hover' : '' } ${message.pinned ? 'pinned-message' : ''}`"
  >
    <div v-if="message.pinned" class="pinned-badge">
      <archive-icon size="0.85x" />
      Archived
    </div>
    <div v-if="hideActions" class="inline-meta">
      <div class="sat-icon-container satellite-icon-helper">
        <UiCircle
          type="random"
          :seed="$mock.users.filter(u => u.name === from)[0].address"
          :size="23"
        />
      </div>
      <UiUserName
        :username="from"
        :badge="$mock.users.filter(u => u.name === from)[0].badge"
      />
      <TypographyText :text="timestamp" />
    </div>
    <MessageActions
      v-if="messageHover && !hideActions"
      :setReplyChatbarContent="setReplyChatbarContent"
      :emojiReaction="emojiReaction"
      :editMessage="editMessage"
      :message="message"
    />
    <template v-if="!messageEdit && message.type === 'text'">
      <MessageMarkdown
        :text="wrapEmoji(markdownToHtml(message.payload))"
        :class="`markdown ${containsOnlyEmoji(message.payload) ? 'bigmoji' : ''}`"
        :data-cy="`chat-message`"
      />
      <span class="status editing" v-if="message.editingAt">
        <UiLoadersSpinner spinning />
      </span>
      <span class="status edited" v-else-if="message.editedAt">
        ({{$t('ui.edited')}})
      </span>
    </template>
    <UiChatImage
      v-if="message.type === 'image'"
      :image="message.payload"
      alt=""
    />
    <MessageGlyph
      v-else-if="message.type === 'glyph'"
      :source="message.payload"
      :pack="message.pack"
    />
    <!-- Only for video types we can't embed directly without doing something sketchy, like sending it to a server somewhere to extract the HTML5 video-->
    <UiChatEmbedsEmbeddedLinkContent
      v-if="message.type === 'text'"
      :data="message.payload"
    />
    <UiChatEmbedsVideoPlayer
      v-else-if="message.type === 'video'"
      :data="message.payload"
    />
    <UiChatEmbedsAudioPlayer
      v-else-if="message.type === 'audio'"
      :data="message.payload"
    />
    <UiChatEmbedsFile
      v-else-if="message.type === 'file'"
      :file="message.payload"
    />
    <MessageReactions
      v-if="!hideActions && hasReactions"
      :message="this.$props.message"
      :group="this.$props.group"
      :key="`${this.$props.message.id}-${hasReactions ? this.$props.message.reactions.length : 0}`"
    />
  </div>
  <MessageReply
    :message="message"
    :group="group"
    v-if="!hideActions"
    :from="from"
  />
  <MessageEdit
    v-if="messageEdit"
    :message="message.payload"
    @commitMessage="saveMessage"
    @cancelMessage="cancelMessage"
  />
</div>
