.modal-dialog {
  padding: 32px;
  max-width: 550px;
  max-height: 88vh;
  overflow: auto;
  .round-corners();

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    position: relative;

    .image-wrapper {
      img {
        width: 15rem;
        height: 15rem;
        pointer-events: none;
        user-select: none;
      }
    }

    .subtitle,
    .body {
      overflow: auto;
    }

    .action {
      flex-shrink: 0;
      width: 100%;

      .text {
        margin: 0 0.5rem;
      }
    }
  }
}

@media (max-width: @mobile-breakpoint) {
  .modal-dialog {
    padding: 16px;
    min-height: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
      max-width: 550px;

      .image-wrapper {
        img {
          width: 12rem;
          height: 12rem;
        }
      }

      .title {
        font-size: 1.5rem;
      }
    }
  }
}
