.alert {
  opacity: 1;
  display: flex;
  gap: @light-spacing;
  &:extend(.blur);
  &:extend(.bordered);
  &:extend(.round-corners);
  padding: @light-spacing @large-spacing @light-spacing @light-spacing;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: all @animation-speed ease;

  .circle {
    flex-shrink: 0;
  }

  .info-container {
    flex-grow: 1;
    &:extend(.ellipsis);

    .head {
      display: flex;
      justify-content: space-between;
      .subtitle {
        font-size: @text-size;
        margin: 0;
      }
    }
  }

  .close-button {
    top: 0;
    right: 0;
    background: transparent;
  }
}
