<div :class="`alert  ${hidden ? 'hidden' : 'shown'}`">
  <div>
    <!--Optional alert image -->
    <img v-if="localAlert.content.image" :src="localAlert.content.image" />
    <UiCircle
      v-if="!localAlert.content.image"
      type='random'
      data-cy="circle-without-picture"
    />
  </div>
  <div class='info-holder'>
    <div class="a-heading">
      <!--Alert title-->
      <TypographySubtitle :size="6" :text="localAlert.content.title" />
      <!--Alert timestamp-->
      <TypographyText
        :text="$dayjs(localAlert.at).fromNow()"
        class="timestamp"
      />
    </div>
    <!--Alert description-->
    <div class="description">
      <TypographyText v-if="localAlert.type === AlertType.DIRECT_MESSAGE" :text="localAlert.from + $t('messaging.user_sent.user', {msgType: localAlert.type})" />
    </div>
  </div>
  <InteractablesClose :action="dismiss" />
</div>
