.pack-group {
  margin-top: @light-spacing;
  .pack-title {
      cursor: pointer;
      padding-left: @light-spacing;
      span {
          margin: 0 @light-spacing;
      }
  }
  .glyph-list-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: @light-spacing;
    .glyph-item {
      margin: 0 @light-spacing @light-spacing 0;
    }
  }
}
