.chatbar-controls {
  display: inline-flex;
  align-items: center;

  .control-tooltip-wrap {
    font-size: @larger-icon-size;
    padding: 12px @light-spacing;
    display: inline-flex;
    align-items: center;
    height: @chatbar-input-height;
    background-color: transparent;
    color: @white;
    cursor: pointer;
    &:before {
      &:extend(.first-layer);
    }
    &[disabled] {
      cursor: not-allowed !important;
    }
  }
}
