.chatbar-controls {
  display: flex;

  button {
    font-size: @larger-icon-size;
    padding: 12px @light-spacing;
    align-items: center;
    height: @chatbar-input-height;
    color: @text;

    &:last-child {
      color: @flair-color;
    }

    &[disabled] {
      color: @dark;
      opacity: 0.75;
      cursor: not-allowed;
    }
  }
}
