<div :class="['group-icon', group.members.length > 3 ? 'unread' : '']">
  <div class="group" :class="groupClass">
    <div
      v-for="(member, i) in group.members.slice(0, 3)"
      :class="[`group-el-${i}`]"
    >
      <UiCircle
        :type="getSource(member) ? 'image' : 'random'"
        :source="getSource(member)"
        :size="groupClass == 'multi' ? (i === 2 ? 10 : i == 1 ? 20 : 30) : groupIconSize"
        :seed="member.address"
      />
    </div>
  </div>

  <span v-if="group.members.length > 3" class="label">
    {{group.members.length}}
  </span>
</div>
