#encrypted-yellow {
  color: @yellow !important;
  width: 95%;
  text-align: center;
  margin-left: 2.5%;
  font-size: 10pt;
  margin: 0.5rem 2.5% 1rem 2.5%;
  padding: 0.5rem;
  background: @dark-gray  !important;
  border-radius: 3px;
}