.listing {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 900px;
  max-height: 700px;
  overflow-x: hidden;
  overflow-y: auto;

  .item {
    display: flex;
    justify-content: center;
    width: 33.33333333333333%;
    margin-bottom: 16px;
  }
}