#glyphs {
  position: relative;
  height: 100%;
  padding: @light-spacing;
  padding-bottom: @xlarge-spacing;
  .search-glyph-box {
    margin-bottom: @light-spacing;
    input {
      border: @light-border !important;
    }
  }
  .glyph-list-box {
    backdrop-filter: @blur;
    border: @light-border;
    padding: @light-spacing;
    border-radius: @corner-rounding;
  }
  .glyph-content {
    height: 100%;
    font-size: 0.75rem;
    section {
      height: 100%;
    }
  }
}
