#glyphs {
  position: relative;
  height: @full;
  .search-glyph-box {
    margin-bottom: @light-spacing;
    input {
      border: @light-border !important;
    }
  }
  .glyph-list-box {
    &:extend(.blur);
    &:extend(.bordered);
    &:extend(.light-padding);
    &:extend(.round-corners);
  }
  .glyph-content {
    font-size: 0.75rem;
  }
  .virtual-list {
    height: 325px;
    overflow-y: overlay;
    padding-bottom: 80px;
  }
}
