#glyphs {
  position: relative;
  height: 100%;
  padding: @light-spacing;
  padding-bottom: @xlarge-spacing;
  .search-glyph-box {
    margin-bottom: @light-spacing;
    input {
      border: @light-border !important;
    }
  }
  .glyph-list-box {
    backdrop-filter: @blur;
    border: @light-border;
    padding: @light-spacing;
    border-radius: @corner-rounding;
  }
  .glyph-content {
    height: calc(100% - 5.5rem);
    font-size: 0.75rem;
    section {
      height: 100%;
      
      .group-container {
        padding-bottom: 85px;
      }
    }
  }
}


.v-responsive__sizer {
  padding-bottom: 0px !important;
}

.v-image__image {
  width: 100% !important;
  height: 100% !important;
  background-size: contain;
  cursor: pointer;
}