#status {
  display: flex;
  cursor: pointer;

  .circle {
    align-self: center;
    justify-self: center;
  }

  .user-info {
    min-width: 0;
    padding-left: @light-spacing;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;

    .title {
      font-size: @title-text;
      pointer-events: all;
    }

    .subtitle {
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;
      overflow-x: hidden;
      overflow-y: hidden;
      min-width: 0;
      font-size: @mini-text-size;
    }
  }
}
