.file {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: @normal-spacing;
  border-radius: @corner-rounding-smaller;
  overflow: hidden;
  padding-right: @normal-spacing;
  &:extend(.background-semitransparent-light);

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 80px;
    width: 80px;

    .file-type-icon {
      height: 48px;
    }
  }

  .image-container {
    filter: brightness(0.75);
    flex-shrink: 0;
    height: 80px;
    width: 80px;
    overflow: hidden;

    .image-preview {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .body {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    gap: @normal-spacing;
    flex-grow: 1;

    .text-container {
      min-width: 0;

      .maintext-container {
        &:extend(.ellipsis);
        .maintext {
          &:extend(.ellipsis);
        }

        .file-type-icon {
          display: none;
        }
      }
    }

    .subtext {
      &:extend(.ellipsis);
      .subtext-primary {
        &:extend(.ellipsis);
        &:extend(.font-muted);
      }

      .subtext-secondary {
        white-space: nowrap;
        &:extend(.font-muted);
      }
    }
  }
  .icons {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: @normal-spacing;
    .like {
      color: @pink;
    }
  }

  &-list {
    padding: 0.75rem 0;
    border-bottom: 1px solid @foreground;
    background: none;
    padding-right: unset;

    .body {
      padding: 0 @xlight-spacing;

      .text-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-right: 0;
        gap: 2px;

        .maintext-container {
          display: flex;
          align-items: center;
          gap: @light-spacing;

          .file-type-icon {
            display: inherit;
            flex-shrink: 0;
          }
        }

        .subtext {
          display: flex;
          justify-content: space-between;
          gap: @normal-spacing;
          margin-left: @large-spacing;
        }
      }
    }
  }
}
