.replies-container {
  margin: @light-spacing 0;
  padding: @xlight-spacing @light-spacing;
  word-break: break-word;
  &:extend(.bordered);
  &:extend(.round-corners);
  &:extend(.background-semitransparent-light);

  .toggle-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: @xlight-spacing;
    gap: @xlight-spacing;
    font-size: @text-size;
    font-family: @secondary-font;
    &:extend(.font-secondary);
  }
}
.is-chatbar-reply {
  .glyph {
    width: 32px;
    height: 32px;
  }
}
