.replies-container {
  .reply-preview {
    padding: 0.25rem;
    cursor: pointer;
    font-size: @text-size;
    &:extend(.font-secondary);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.1;
  }

  .reply-close {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    font-size: @text-size;
    &:extend(.font-secondary);
  }

  &:extend(.bordered);
  &:extend(.round-corners);
  padding: (@light-spacing / 2) @light-spacing;
  margin-top: @light-spacing;
  margin-bottom: @light-spacing;
  &:extend(.background-semitransparent-light);
}
.is-chatbar-reply {
  .glyph {
    width: 32px;
    height: 32px;
  }
}
