<div v-if="message.replies.length" class="replies-container">
  <div
    v-if="!showReplies"
    class="reply-preview"
    data-cy="reply-preview"
    @click="toggleReplies"
  >
    <plus-square-icon size="1.1x" />
    &nbsp; {{ makeReplyText }}
  </div>
  <template v-else>
    <MessageReplyItem
      v-for="reply in message.replies"
      :key="reply.id"
      :reply="reply"
      :message="message"
      :group="group"
      :markdownToHtml="markdownToHtml"
      @emoji-reaction="emojiReaction"
      @click="showQuickProfile"
    />
    <div @click="toggleReplies" class="reply-close" data-cy="reply-close">
      <minus-square-icon size="1.1x" />
      &nbsp; {{$t('conversation.collapse')}}
    </div>
  </template>
</div>
