<div v-if="message.replies.length" class="replies-container">
  <div
    v-if="!showReplies"
    class="reply-preview"
    data-cy="reply-preview"
    @click="toggleReplies"
  >
    <plus-square-icon size="1.1x" />
    &nbsp; {{ makeReplyText }}
  </div>
  <div
    class="reply-container"
    v-if="showReplies"
    v-for="reply in message.replies"
  >
    <div
      class="is-reply"
      @mouseenter="mouseOver(reply.id)"
      @mouseleave="mouseOver('')"
    >
      <span v-on:click="showQuickProfile">
        <UiCircle type="random" :seed="reply.from" :size="35" />
      </span>
      <div class="reply-body">
        <div class="reply-heading">
          <span v-on:click="showQuickProfile">
            <!-- TODO: update badges //AP-397 -->
            <UiUserName :username="getUsernameFromReply(reply)" :badge="''" />
          </span>
          <TypographyText :text="$dayjs(reply.at).fromNow()" />
        </div>
        <div class="reply-content">
          <MessageMarkdown
            v-if="reply.replyType === 'text'"
            :text="markdownToHtml(reply.payload)"
            class="markdown"
            data-cy="reply-message"
          />
          <UiChatImage
            v-else-if="reply.replyType === 'image'"
            :source="reply.payload.url"
            alt=""
          />
          <UiChatEmbedsVideoPlayer
            v-else-if="reply.replyType === 'video'"
            :data="reply.payload"
          />
          <UiChatEmbedsAudioPlayer
            v-else-if="reply.replyType === 'audio'"
            :data="reply.payload"
          />
          <UiChatEmbedsFile
            v-else-if="reply.replyType === 'file'"
            :data="reply.payload"
          />
          <MessageActions
            v-if="replyHover == reply.id"
            :hideReply="true"
            :emojiReaction="(event) => emojiReaction(event, reply.id)"
          />
        </div>
      </div>
    </div>
    <MessageReactions :message="message" :group="group" :reply="reply" />
  </div>
  <div
    v-if="showReplies"
    @click="toggleReplies"
    class="reply-close"
    data-cy="reply-close"
  >
    <minus-square-icon size="1.1x" />
    &nbsp; {{$t('conversation.collapse')}}
  </div>
</div>
