<div v-if="replies.length" class="replies-container">
  <div
    v-if="!showReplies"
    class="toggle-button"
    data-cy="reply-preview"
    @click="toggleReplies"
  >
    <plus-square-icon size="1.1x" />
    {{ makeReplyText }}
  </div>
  <template v-else>
    <MessageReplyItem
      v-for="reply in replies"
      :key="reply.id"
      :message="message"
      :reply="reply"
    />
    <div @click="toggleReplies" class="toggle-button" data-cy="reply-close">
      <minus-square-icon size="1.1x" />
      {{ $t('conversation.collapse') }}
    </div>
  </template>
</div>
