.replies-container {
  .reply-preview {
    padding: 0.25rem;
    cursor: pointer;
    font-size: @text-size;
    &:extend(.font-secondary);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.1;
  }

  .reply-close {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    font-size: @text-size;
    &:extend(.font-secondary);
  }

  .reply-container {
    .emoji-reactions {
      margin-top: 0;
      margin-left: 3rem;
      position: relative;
    }
    .is-reply {
      .circle {
        margin-top: 0.3rem;
        cursor: pointer;
      }

      .reply-body {
        .reply-heading {
          display: inline-flex;
          flex-direction: row;
          align-items: center;

          .is-text {
            margin-left: @light-spacing;
            font-size: @micro-text-size;
            &:extend(.font-muted);
            display: flex;
            align-items: flex-end;
            height: 1.2rem;
          }
        }

        .reply-content {
          position: relative;
        }
        margin-left: 0.75rem;
        &:extend(.full-width);
      }
      word-break: break-word;
      &:extend(.full-width);
      padding: 0.5rem;
      display: flex;
      margin-bottom: 0.25rem;
    }
    display: flex;
    flex-direction: column;
  }
  &:extend(.bordered);
  &:extend(.round-corners);
  padding: (@light-spacing / 2) @light-spacing;
  margin-top: @light-spacing;
  margin-bottom: @light-spacing;
  &:extend(.background-semitransparent-light);
}
.is-chatbar-reply {
  .glyph {
    width: 32px;
    height: 32px;
  }
}
