.search-result {
  &:extend(.background-semitransparent-light);
  &:extend(.blur);
  &:extend(.round-corners);
  padding: @normal-spacing;
  font-family: @primary-font;
  position: fixed;
  right: 10px;
  min-width: 300px;
  max-width: 800px;
  width: 80%;
  top: @toolbar-height - 9rem;
  border: @light-border !important;
  &:extend(.first-layer);
  font-size: @text-size;
  height: @full;
  overflow: hidden;
  box-sizing: border-box;
  max-height: calc(100vh - 25rem);

  &-header {
    font-size: @title-text;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-filters {
    padding: 5px 10px 0px;
    display: flex;
    flex-wrap: wrap;

    .date-input {
      &:extend(.font-secondary);
      border-radius: 1rem;
      height: 28px;
      font-size: @text-size;
      outline: none;
      line-height: 1.2;
      padding: 0 10px 0 10px;
      &:extend(.full-width);
      text-align: center;

      &::placeholder {
        color: @secondary-text !important;
      }
    }
    .date-icon {
      &:extend(.font-secondary);
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(calc(-50% - 2px));
      font-size: @small-icon-size;
    }
    .add-more-filters {
      outline: none;
      border: none;
      background: transparent;
      line-height: 32px;
      border-radius: 16px;
      padding: 0 10px;
      cursor: pointer;
      &:hover {
        &:extend(.font-primary);
      }
      &:active {
        &:extend(.font-primary);
      }
    }
    .container-filter {
      position: relative;
      margin: 0px 10px 10px 0px;

      &.user-options,
      &.channel-options {
        width: 166px;
      }

      &.date {
        height: 28px;
      }
    }
  }
  &-content {
    height: @full;
    max-height: calc(100vh - 32rem);
  }
  &-inner {
    display: flex;
    flex-direction: column;
    gap: @light-spacing;
  }
  .close {
    position: unset;
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  .search-result {
    position: absolute;
    width: calc(100vw - @normal-spacing);
    right: 0.5rem;
  }
}
