.card {
  font-family: @primary-font;
  border-radius: 4px;
  min-width: 200px;
  width: 250px;
  max-width: 100%;
  border: 1px solid rgba(199, 206, 246, 0.25);
  .card-image {
    border-radius: 4px 4px 0px 0px;
    width: 100%;
    position: relative;
    height: 150px;
    background-color: #3D83DB;
    background-position: center;
    background-size: cover;
    .badge-new {
      position: absolute;
      left: 16px;
      top: 16px;
      font-size: 12px;
      color: white;
      background-color: #61CEA4;
      padding: 8px 10px;
      border-radius: 4px;
    }
    .favorite {
      position: absolute;
      right: 16px;
      top: 16px;
      font-size: 18px;
    }
  }
  .card-text {
    padding: 16px;
    .name {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 8px;
    }
    .description {
      font-size: 12px;
      margin-bottom: 8px;
    }
    .price {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      font-size: 24px;
      font-weight: 600;
      .btn-buy {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #C7CEF6;
        font-size: 12px;
        color:#101017;
      }
    }
  }
}