<div class="quick-chat" :class="{compact : ui.showMedia}">
  <div>
    <TypographySubtitle :size="6" :text="$t('pages.chat.new_chat')" />
    <TypographyText :text="$t('pages.chat.new_chat_description')" />
  </div>
  <SettingsPagesUserSearch
    v-model="friends"
    :placeholder="$t('servers.create.select_friends_placeholder')"
    size="small"
    type="primary"
    drop="top"
  />
  <InteractablesInput
    v-if="friends.length > 1"
    v-model="name"
    size="small"
    type="dark"
    input-kind="text"
    :placeholder="$t('pages.chat.new_group_name')"
    :minLength="3"
    :maxLength="64"
  />
  <TypographyError v-if="error" :text="error" small />
  <InteractablesButton
    v-if="friends.length"
    type="primary"
    size="small"
    :text="$t('pages.chat.chat_now')"
    :action="confirm"
    :loading="isLoading"
  />
</div>
