<div class="quick-chat">
  <div>
    <TypographySubtitle :size="6" :text="$t('pages.chat.new_chat')" />
    <TypographyText :text="$t('pages.chat.new_chat_description')" />
  </div>
  <InteractablesUserPicker v-model="friends" height="220px" />
  <template v-if="friends.length > 1">
    <InteractablesInput
      v-model="name"
      size="small"
      type="dark"
      input-kind="text"
      :placeholder="$t('pages.chat.new_group_name')"
      :minLength="$Config.chat.groupNameMinLength"
      :maxLength="$Config.chat.groupNameMaxLength"
      :invalid="isInvalidName && Boolean(error)"
      :watchEnter="true"
      @watchEnter="confirm"
    />
    <TypographyError v-if="error" :text="error" small />
  </template>
  <InteractablesButton
    :type="friends.length ? 'primary' : 'dark'"
    size="small"
    :text="$t('pages.chat.chat_now')"
    :action="confirm"
    :loading="isLoading"
    full-width
  />
</div>
