.quick-chat {
  &:extend(.background-semitransparent-dark);
  &:extend(.round-corners);
  &:extend(.first-layer);
  &:extend(.bordered);
  &:extend(.blur);
  position: fixed;
  width: 18rem;
  top: 11rem;
  padding: @light-spacing @light-spacing @normal-spacing;
  left: @sidebar-size + 2rem;
  display: flex;
  flex-direction: column;
  gap: @normal-spacing;

  &.compact {
    left: @servers-size + 2rem;
  }

  .subtitle {
    margin-bottom: @light-spacing;
    font-size: @text-size;
  }

  button {
    align-self: flex-end;
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  .quick-chat {
    left: @servers-size + 2rem;
  }
}
