.container {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 400px;
  display: flex;
  justify-content: center;
  text-align: center;

  .phrase-body {
    min-width: 250px;
    align-self: center;
    margin-bottom: 25vh;
    
    .title {
      margin-top: 0;
    }

    .columns {
      margin: 0;

      .column {
        padding: 0.25rem;

        .tag, .tag-container {
          width: 100%;
        }

        .tag {
          margin: 0.25rem 0;
        }
      }
    }
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  .container {
    margin: 0 @normal-spacing;
    justify-content: flex-start;
    width: 100%;
    .phrase-body {
      margin-top: @normal-spacing;
      align-self: flex-start;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-bottom: @normal-spacing;


      .is-button {
        margin-top: auto;
        width: 100%;
        justify-self: flex-end;
      }
    }
  }
  .spacer {
    flex: 1;
  }
}