.container {
  margin: 0 auto;
  max-width: 400px;
  display: flex;
  justify-content: center;
  text-align: center;

  .phrase-body {
    min-width: 250px;
    align-self: center;

    .title {
      margin-top: 0;
    }

    .columns {
      margin: 0;

      .column {
        padding: 0.25rem;

        .tag,
        .tag-container {
          &:extend(.full-width);
        }

        .tag {
          margin: 0.25rem 0;
        }
      }
    }
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  .container {
    margin: 0 @normal-spacing;
    justify-content: flex-start;
    &:extend(.full-width);

    .phrase-body {
      margin-top: @normal-spacing;
      align-self: flex-start;
      height: @full;
      display: flex;
      flex-direction: column;
      padding-bottom: @normal-spacing;

      .is-button {
        margin-top: auto;
        &:extend(.full-width);
        justify-self: flex-end;
        margin-bottom: @normal-spacing;
      }
    }
  }
  .spacer {
    flex: 1;
  }
}
