<div class="container">
  <div class="phrase-body">
    <TypographyText as="h1"> {{ $t('pages.phrase.title') }} </TypographyText>
    <TypographyText as="p" color="dark" style="margin-bottom: 1.5rem">
      {{ $t('pages.phrase.write_down') }}
    </TypographyText>
    <div class="columns is-mobile">
      <div class="column">
        <TypographyNumberedWord
          v-for="word, i in splitPhrase"
          :word="word"
          v-if="isOdd(i + 1)"
          :number="i + 1"
        />
      </div>
      <div class="column">
        <TypographyNumberedWord
          v-for="word, i in splitPhrase"
          :word="word"
          v-if="!isOdd(i + 1)"
          :number="i + 1"
        />
      </div>
    </div>
    <UiSpacer :height="45" />
    <div class="columns is-mobile">
      <div class="column">
        <InteractablesButton
          full-width
          :text="$t('pages.settings.accounts.copy_phrase')"
          :action="copyPhrase"
        >
          <clipboard-icon size="1x" />
        </InteractablesButton>
      </div>
      <div class="column">
        <InteractablesButton
          full-width
          :text="$t('pages.phrase.done')"
          :action="confirm"
        />
      </div>
    </div>
  </div>
</div>
