.container {
  margin: 0 auto;
  max-width: 400px;
  display: flex;
  justify-content: center;
  text-align: center;

  .phrase-body {
    min-width: 250px;
    align-self: center;

    .title {
      margin-top: 0;
    }

    .columns {
      display: flex;
      gap: 1rem;
    }
    .column {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .tag {
        display: flex;
        justify-content: center;
      }
    }
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  .container {
    margin: 0 @normal-spacing;
    justify-content: flex-start;
    &:extend(.full-width);

    .phrase-body {
      padding: 16px 0;
      align-self: flex-start;
      height: @full;
      display: flex;
      flex-direction: column;

      .is-button {
        margin-top: auto;
        &:extend(.full-width);
        justify-self: flex-end;
        margin-bottom: @normal-spacing;
      }
    }
  }
  .spacer {
    flex: 1;
  }
}
