.container {
  margin: 0 auto;
  max-width: 400px;
  display: flex;
  justify-content: center;
  text-align: center;

  .input-account-body {
    min-width: 250px;
    align-self: center;

    .columns {
      margin: @normal-spacing auto 0;
      
      .column {
        padding: @xlight-spacing;

        .tag,
        .tag-container {
          &:extend(.full-width);
        }
        .tag {
          margin: @xlight-spacing 0;
        }
      }
    }
  }

  .input-error {
    margin-top: @normal-spacing;
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  .container {
    margin: 0 @normal-spacing;
    justify-content: flex-start;
    &:extend(.full-width);

    .input-account-body {
      margin-top: @normal-spacing;
      align-self: flex-start;
      height: @full;
      display: flex;
      flex-direction: column;
      padding-bottom: @normal-spacing;

      .columns {
        margin: 0;
        margin-top: @normal-spacing;
      }

      .is-button {
        margin-top: auto;
        &:extend(.full-width);
        justify-self: flex-end;
        margin-bottom: @normal-spacing;
      }
    }
  }
  .spacer {
    flex: 1;
  }
}
