<div class="container">
  <div class="input-account-body">
    <TypographyTitle :size="4" :text="$t('pages.inputAccount.title')" />
    <TypographySubtitle :size="6" :text="$t('pages.inputAccount.subtitle')" />
    <UiTypeAhead
      :list="bipList"
      size="small"
      type="primary"
      :placeholder="$t('pages.inputAccount.enter')"
      @onSelected="onSelected"
      @onMultipleSelected="onMultipleSelected"
    />
    <TypographyError v-if="error" :text="$t(error)" class="input-error" />
    <div class="columns is-mobile" v-if="phrases.length > 0">
      <div class="column">
        <div v-for="word, i in phrases" class="tag-container">
          <TypographyNumberedWord
            :word="word"
            v-if="isOdd(i + 1)"
            :number="i + 1"
            @remove="removeWord(i)"
            isRemoval
          />
        </div>
      </div>
      <div class="column">
        <div v-for="word, i in phrases" class="tag-container">
          <TypographyNumberedWord
            :word="word"
            v-if="!isOdd(i + 1)"
            :number="i + 1"
            @remove="removeWord(i)"
            isRemoval
          />
        </div>
      </div>
    </div>
    <InteractablesButton
      class="recover-account"
      :text="$t('pages.inputAccount.recover')"
      :disabled="phrases.length<12"
      :action="recoverAccount"
    />
  </div>
</div>
