.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 420px;
  justify-content: center;
  text-align: center;
  gap: 32px;
  padding: 32px 16px;

  .input-account-body {
    min-width: 250px;
    align-self: center;

    .columns {
      margin: 0;
      margin-top: 1rem;

      .column {
        padding: @xlight-spacing;

        .tag,
        .tag-container {
          &:extend(.full-width);
        }

        .tag {
          margin: @xlight-spacing 0;
        }
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 0;
    gap: 24px;
  }

  .input-error {
    margin-top: @normal-spacing;
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  .container {
    gap: 56px;

    .input-account-body {
      display: flex;
      justify-content: center;
      align-self: flex-start;
      flex-direction: column;
    }

    .buttons {
      flex-direction: column;
      gap: 16px;
      width: 100%;
    }
  }
}
