.container {
  margin: 0 auto;
  max-width: 400px;
  display: flex;
  justify-content: center;
  text-align: center;

  .input-account-body {
    min-width: 250px;
    align-self: center;

    .columns {
      margin: 0;
      margin-top: 1rem;

      .column {
        padding: @xlight-spacing;

        .tag,
        .tag-container {
          &:extend(.full-width);
        }
        .tag {
          margin: @xlight-spacing 0;
        }
      }
    }

    .container-actions {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0;

      .action {
        width: calc(50% - @xlight-spacing);

        .styled-button {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }

  .input-error {
    margin-top: @normal-spacing;
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  .container {
    padding: 0 @normal-spacing;
    &:extend(.full-width);
  }

  .input-account-body {
    margin-top: @normal-spacing;
    align-self: flex-start;
    height: @full;
    display: flex;
    flex-direction: column;
    padding-bottom: @normal-spacing;

    .title {
      margin-top: 10vh;
    }
  }

  .spacer {
    flex: 1;
  }
}
