#custom-cursor-area {
  &:extend(.full-width);
  > * {
    pointer-events: none;
  }
  height: @full;
}

#custom-cursor {
  top: 0;
  left: 0;
  position: absolute;
  width: 0px;
  height: 0px;
  pointer-events: none;
  user-select: none;
  &:extend(.third-layer);
  backface-visibility: hidden;
  will-change: transform;
  box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.1);
}
