.glyphs-modal {
  display: flex;
  height: 30vh;
  max-height: 100%;
  overflow: hidden;
  border-radius: @corner-rounding;
  padding: @normal-spacing @xlarge-spacing;
  flex-direction: column;
  justify-content: space-between;
  .close {
    position: absolute;
    top: @normal-spacing;
    right: @normal-spacing;
  }
  .heading {
    font-family: @primary-font;
    display: inline-flex;
    align-content: center;
  }
}
