#sidebar {
  width: @sidebar-size;
  min-width: @sidebar-size;
  position: relative;
  display: inline-flex;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: @normal-spacing;
  z-index: @base-z-index;

  .sidebar-inner {
    border-radius: @corner-rounding;
    margin-top: @normal-spacing;
    padding-bottom: @normal-spacing;
    background: @semitransparent-light-gradient;
    box-shadow: @ui-shadow;
    .sidebar-search {
      width: 100%;
      padding: @normal-spacing;
      padding-right: @normal-spacing * 3;
    }

    .toggle-sidebar {
      position: absolute;
      z-index: @base-z-index;
      top: @normal-spacing * 2.5;
      right: @normal-spacing;
      color: @primary-color;
      filter: @primary-text-glow;
    }
  }

  .controls {
    background: @semitransparent-light-gradient;
    border-radius: @corner-rounding;
    padding: @light-spacing @normal-spacing @normal-spacing @normal-spacing;
    box-shadow: @ui-shadow;
  }

  .filler {
    flex: 1;
  }

  .padded {
    padding: @normal-spacing @normal-spacing 0 @normal-spacing;
  }

  .no-top-pad {
    padding: 0 @normal-spacing;
  }

  .tabs {
    margin-bottom: @normal-spacing;
  }

  .label {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    font-size: @micro-text-size;
    background-color: @primary-color;
    border-radius: 2px;
    line-height: 1.2;
    padding: 0.15rem 0.25rem;
    color: @text;
    font-family: @primary-font;
  }

  .sidebar-selector {
    .button:nth-child(1) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .button:nth-child(2) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .scrolling {
    flex: 1;
    padding: 0 @normal-spacing;
    .ps {
      padding: 0px 2px 0px 0px;
      position: static;
    }
  }

  .loading-container {
    display: inline-flex;
    justify-content: center;
    width: 100%;
  }
}

.sidebar-full-btn {
  width: 100%;
  margin-bottom: @light-spacing;
  justify-content: flex-start;
  &.is-inactive {
    background-color: transparent !important;
    &:hover {
      background: @semitransparent-lighter-gradient;
    }
  }
}

.sidebar-nav {
  padding: 0 @normal-spacing;
  margin-bottom: @light-spacing;
}

@media only screen and (max-width: 768px) {
  #sidebar {
    z-index: 3;
    background: @dark-gradient;
  }
}
