<div
  id="sidebar"
  class="collapsed"
  v-touch:swipe="toggle"
  v-touch-options="{ swipeTolerance: 75 }"
>
  <div :class="media.streaming ? 'sidebar-inner sidebar-inner-streaming' : 'sidebar-inner'">
    <div class="sidebar-search">
      <menu-icon
        class="toggle-sidebar"
        v-on:click="toggle"
        size="1.2x"
        full-width
      />
      <InteractablesInput
        :placeholder="`${$t('global.search')}...`"
        size="small"
        input-kind="text"
        :delete-icon="true"
        type="dark"
        full-width
      />
    </div>
    <div class="sidebar-nav">
      <div style="position: relative;">
        <InteractablesButton
          :inactive="$route.path.includes('/friends/list') ? false : true"
          class="sidebar-full-btn"
          :type="$route.path.includes('/friends/list') ? 'primary' : 'dark'"
          size="small"
          :action="() => $router.push('/friends/list')"
          :text="$t('global.friends')"
        >
          <users-icon size="1.2x" />
        </InteractablesButton>
        <span v-if="friends.incomingRequests.length" :class="$route.path.includes('/friends/list') ? 'label tag-inverted' : 'label'">
          {{friends.incomingRequests.length}}
        </span>
      </div>
      <InteractablesButton
        :inactive="$route.path.includes('/files') ? false : true"
        class="sidebar-full-btn"
        :type="$route.path.includes('/files') ? 'primary' : 'dark'"
        size="small"
        :action="() => $router.push('/files/browse')"
        :text="$t('global.files')"
      >
        <folder-icon size="1.2x" />
      </InteractablesButton>
    </div>

    <div class="tabs sidebar-selector padded no-top-pad">
      <InteractablesButtonGroup v-model="toggleView" :fullWidth="true" :values="[true,false]">
        <InteractablesButton
          :text="$t('global.messages')"
          size="small"
          type="dark"
        >
          <message-square-icon size="1.2x" />
        </InteractablesButton>
        <InteractablesButton
          :text="$t('global.groups')"
          size="small"
          type="dark"
        >
          <users-icon size="1.2x" />
        </InteractablesButton>
      </InteractablesButtonGroup>
    </div>
    <div
      class="scrolling hidden-scroll users"
      v-scroll-lock="true"
      v-if="ui.showSidebarUsers"
    >
      <UiScroll verticalScroll scrollbarVisibility="scroll" enableWrap>
        <div v-if="dataState.friends !== DataStateType.Loading && users.length">
          <UiInlineNotification text="New Messages" v-if="ui.unreadMessage.length" />
          <TailoredCoreUser
            v-for="(user, i) in users"
            :key="i"
            :user="user"
            :isTyping="ui.isTyping.address === user.address"
          />

        </div>
        <div v-else-if="dataState.friends && !users.length" class="mascot-container">
          <TypographyTitle text="No Friends Yet" :size="6" />
          <TypographyText text="The world doesn't have to be so lonely." />
          <img src="~/assets/svg/mascot/sad_curious.svg" class="mascot" />
          <InteractablesButton
            :text="$t('friends.add') + 's'"
            size="small"
            type="primary"
            :action="() => $router.push('/friends/list')"
          >
            <user-plus-icon size="1.2x" />
          </InteractablesButton>
        </div>
        <UiLoadersAddress v-else :count="4" inverted />
      </UiScroll>
    </div>
    <div class="scrolling hidden-scroll" v-scroll-lock="true" v-else>
      <UiScroll verticalScroll scrollbarVisibility="scroll" enableWrap>
        <div v-if="dataState.friends !== DataStateType.Loading">
          <TailoredCoreGroup
            v-for="group in groups"
            :group="group"
            :key="group.address"
          />
        </div>
        <UiLoadersAddress v-else :count="4" inverted />
      </UiScroll>
    </div>
  </div>

  <div class="filler"></div>

  <div class="controls">
    <TailoredCoreSidebarLive />
    <TailoredCoreSidebarControls />
    <TailoredCoreSidebarStatus />
  </div>
</div>