@sidebar-inner-offset: 175px;
@mobile-sidebar-inner-offset: 245px;

@sidebar-inner-streaming-pad: 2rem;
@mobile-sidebar-inner-streaming-pad: 6rem;

#sidebar {
  width: @sidebar-size;
  min-width: @sidebar-size;
  position: relative;
  display: inline-flex;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: @normal-spacing;
  z-index: @base-z-index;
  background: transparent;

  .sidebar-inner {
    border-radius: @corner-rounding;
    margin-top: @normal-spacing;
    background: @semitransparent-light-gradient;
    box-shadow: @ui-shadow;
    max-height: calc(100vh - @sidebar-inner-offset);
    display: flex;
    flex-direction: column;

    .users {
      flex: 1;
      position: relative;
      overflow: hidden;
      .inline-notification {
        width: @sidebar-size - (@normal-spacing * 2);
      }
    }
    .sidebar-search {
      width: 100%;
      padding: @normal-spacing;
      padding-right: @normal-spacing * 3;
    }

    .toggle-sidebar {
      position: absolute;
      z-index: @base-z-index + 10;
      top: @normal-spacing * 2.5;
      right: @normal-spacing;
      color: @primary-color;
      filter: @primary-text-glow;
    }
  }


  .sidebar-inner-streaming {
    max-height: calc(100vh - @sidebar-inner-offset - @sidebar-inner-streaming-pad);
  }

  .controls {
    background: @semitransparent-light-gradient;
    border-radius: @corner-rounding;
    padding: @light-spacing @normal-spacing @normal-spacing @normal-spacing;
    box-shadow: @ui-shadow;
  }

  .filler {
    flex: 1;
  }

  .padded {
    padding: @normal-spacing @normal-spacing 0 @normal-spacing;
  }

  .no-top-pad {
    padding: 0 @normal-spacing;
  }

  .tabs {
    margin-bottom: @normal-spacing;
  }

  .label {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    font-size: @micro-text-size;
    background-color: @primary-color;
    border-radius: 2px;
    line-height: 1.2;
    padding: 0.15rem 0.25rem;
    color: @text;
    font-family: @primary-font;
  }

  .sidebar-selector {
    .button:nth-child(1) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .button:nth-child(2) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .scrolling {
    padding: 0 @normal-spacing;
    .ps {
      padding-right: @normal-spacing * 1.5;
      right: -@normal-spacing;
      left: 0;
      width: calc(100% + @normal-spacing);
    }
  }

  .loading-container {
    display: inline-flex;
    justify-content: center;
    width: 100%;
  }
}

.sidebar-full-btn {
  width: 100%;
  margin-bottom: @light-spacing;
  justify-content: flex-start;
}

.sidebar-nav {
  padding: 0 @normal-spacing;
  margin-bottom: @light-spacing;
}

@media only screen and (max-width: @mobile-breakpoint) {
  #sidebar {
    z-index: 3;
    .sidebar-inner {
      max-height: calc(100vh - @mobile-sidebar-inner-offset);
      .users {
        .inline-notification {
          width: 100vw - 30rem;
        }
      }
    }
    .sidebar-inner-streaming {
      max-height: calc(100vh - @sidebar-inner-offset - @mobile-sidebar-inner-streaming-pad);
    }
  }
}

@media only screen and (max-width: @mobile-candybar-breakpoint) {
  #sidebar {
    min-width: unset;
    max-width: @sidebar-size;
    sidebar-inner {
      max-height: calc(100vh - @mobile-sidebar-inner-offset);
      .users {
        .inline-notification {
          width: 100vw - 32rem !important;
        }
      }
    }
  }
}