<div class="server-sidebar-group">
  <h5 v-on:click="toggleCollapse">
    <chevron-right-icon size="0.8x" v-if="collapsed" />
    <chevron-down-icon size="0.8x" v-else />
    <span class="server-sidebar-group-name">{{group.name}}</span>
    <div class="add-channel" v-tooltip.top="$t(pages.chat.add_channel)">
      <plus-icon size="1x" />
    </div>
  </h5>
  <div
    v-for="channel in group.channels"
    :class="`${collapsed ? 'collapsed' : 'expanded'}`"
  >
    <ServerSidebarChannelsChannel
      :localChannel="channels[channel]"
      :setActiveChannel="setActiveChannel"
    />
  </div>
</div>
