@sidebar-size: 250px;
@servers-size: 60px;

#app {
  display: flex;
  background-color: @darker;
  user-select: none;

  .dynamic-content {
    background-color: @darker;
    width: 100%;
    height: 100vh;
    user-select: text;
    display: flex;
    flex-direction: column;

    .file-preview {
      transition: @transition-all;
    }

    #statusbar {
      max-height: @statusbar-height;
    }

    #friends {
      width: 100%;
      height: 100%;
      flex: 1;
      padding: 0.5rem;
      position: relative;

      h1.is-6 {
        font-size: @mini-text-size;
      }
    }
  }

  #sidebar, #servers-vertical-list, .dynamic-content, #sidebar .toggle-sidebar, #statusbar {
    transition: @transition-all;
  }

  &.is-collapsed {
    .file-preview {
      width: calc(100% - 2rem) !important;
    }
    #sidebar, #servers-vertical-list {
      transform: translateX(calc(-@sidebar-size + -@servers-size));
    }
    .dynamic-content {
      margin-left: calc(-@sidebar-size + -@servers-size);
    }
    #sidebar .toggle-sidebar {
      right: -2rem;
      z-index: 1;
    }
    #statusbar {
      padding-left: 3rem;
    }
  }
}