<div id="keybinds-settings">
  <div class="columns is-desktop">
    <div class="column">
      <TypographyTitle :size="6" :text="$t('pages.settings.keybinds.title')" />
      <TypographySubtitle
        :size="6"
        :text="$t('pages.settings.keybinds.subtitle')"
      />
    </div>
  </div>

  <div class="columns is-desktop" v-if="editingKeybind.status">
    <div class="column">
      <InteractablesInput
        readonly
        type="primary"
        :placeholder="editingKeybind.newString"
      />
      <TypographySubtitle
        class="keybind-error color-danger"
        type="danger"
        :size="6"
        :text="editingKeybind.errorMessage"
        v-if="editingKeybind.error"
      />
    </div>
    <div class="column">
      <InteractablesButton
        :text="$t('pages.settings.keybinds.clear')"
        size="small"
        type="primary"
        :action="clearKeybind"
      />
      <InteractablesButton
        :text="$t('pages.settings.keybinds.save')"
        size="small"
        type="primary"
        :action="saveKeybind"
      />
      <InteractablesButton
        :text="$t('pages.settings.keybinds.cancel')"
        size="small"
        type="primary"
        :action="cancelKeybind"
      />
    </div>
  </div>

  <div class="columns is-desktop">
    <div class="column" @click="editKeybind('toggleMute')">
      <TypographyLabel :text="$t('pages.settings.keybinds.mute')" />
      <InteractablesInput
        readonly
        type="primary"
        :placeholder="settings.keybinds.toggleMute"
      />
    </div>
    <div class="column" @click="editKeybind('openSettings')">
      <TypographyLabel :text="$t('pages.settings.keybinds.settings')" />
      <InteractablesInput
        readonly
        type="primary"
        :placeholder="settings.keybinds.openSettings"
      />
    </div>
  </div>

  <div class="columns is-desktop">
    <div class="column" @click="editKeybind('toggleDeafen')">
      <TypographyLabel :text="$t('pages.settings.keybinds.deafen')" />
      <InteractablesInput
        readonly
        type="primary"
        :placeholder="settings.keybinds.toggleDeafen"
      />
    </div>
    <div class="column" @click="editKeybind('callActiveChat')">
      <TypographyLabel :text="$t('pages.settings.keybinds.call')" />
      <InteractablesInput
        readonly
        type="primary"
        :placeholder="settings.keybinds.callActiveChat"
      />
    </div>
  </div>

  <InteractablesButton
    :text="$t('pages.settings.keybinds.reset_all')"
    size="small"
    type="primary"
    :action="resetKeybinds"
  />
</div>
