#file-upload {
  margin-top: 0.15rem;
  #quick-upload {
    width: 0;
    height: 0;
    border: none;
    position: absolute;
  }

  .control-icon {
    justify-self: flex-start;
    align-self: flex-start;
    font-size: @larger-icon-size;
    margin: 0 @light-spacing;
    margin-right: 1rem;
  }

  .file-preview {
    position: absolute;
    bottom: calc(4.6rem + @light-spacing);
    right: @normal-spacing;
    width: calc(100% - @sidebar-size - 40px - @normal-spacing);
    background: @dark-gray;
    border-radius: @corner-rounding;
    padding: @normal-spacing;
    display: inline-flex;

    .file-info {
      width: 100%;
    }

    .title {
      font-size: @text-size;
    }
    .subtitle {
      font-size: @mini-text-size;
      margin-bottom: 0.75rem;
    }

    .is-controls {
      align-content: flex-end;

      .button {
        float: right;
        margin-left: @light-spacing;
      }
    }

    img {
      max-width: 15vw;
      max-height: 10vh;
      border-radius: 2px;
      margin-right: @normal-spacing;
    }
  }
}
