<span>
  <span id="file-upload">
    <div class="file-preview" v-if="file">
      <div class="img-wrapper">
        <img v-if="isEmbedableImage(file.name)" :src="url" v-bind:class="{ 'img-blur': nsfw.status  }"/>
      </div>
      <font-awesome-icon
        v-if="!isEmbedableImage(file.name)"
        :icon="['far', 'file']"
        class="control-icon"
      />
      <div class="file-info">
        <TypographyTitle :size="6" :text="file.name" />
        <div v-if="nsfw.status || nsfw.checking" class="nsfw-text" >
          <TypographySubtitle :size="6" text="Scanning Image..." v-if="nsfw.checking" />
          <TypographySubtitle :size="6" text="Upload Blocked" v-if="nsfw.status" />
          <font-awesome-icon :icon="['far', 'skull']" v-if="nsfw.status"/>
        </div>
        <div v-else>
          <TypographySubtitle :size="6" :text="file.type" />
          <TypographySubtitle :size="6" :text="$filesize(file.size)" />
        </div>
        <div class="is-controls">
          <InteractablesButton
            type="primary"
            size="small"
            text="Send"
            :disabled="nsfw.status || nsfw.checking"
          />
          <InteractablesButton
            type="danger"
            size="small"
            text="Cancel"
            :action="cancelUpload"
          />
        </div>
      </div>
    </div>
    <input type="file" id="quick-upload" @change="handleFile" />
  </span>
  <span v-if="type == 'quick'">
    <div class="upload-button">
      <label
        for="quick-upload"
        :data-tooltip="$t('global.upload')"
        class="has-tooltip has-tooltip-top has-tooltip-primary"
      >
        <font-awesome-icon :icon="['far', 'plus']" class="control-icon" />
      </label>
    </div>
  </span>
  <div v-if="type =='button'">
    <label
      for="quick-upload"
      class="button is-button is-small is-primary is-normal-width"
    >
      <font-awesome-icon :icon="['far', 'file-plus']" class="control-icon" />
      &nbsp; {{ $t('pages.files.upload') }}
    </label>
  </div>
</span>
