.rename {
  display: flex;
  flex-direction: column;
  min-width: 450px;
  padding: @large-spacing;
  &:extend(.modal-gradient);
  gap: @light-spacing;

  .title {
    color: @secondary-text;
    font-weight: 400;
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  .rename {
    min-width: auto;
  }
}
