.is-message {
  color: @text;
  margin-bottom: 0.1rem;
  .markdown {
    strong {
      color: @bright-text;
    }
    p {
      font-size: @text-size;
    }
  }

  .message-container{
    position: relative;

    .reply-button {
      position: absolute;
      border: 1px solid @darker-alt;
      border-radius: @corner-rounding;
      background-color: @darker;
      top: -18px;
      right: 0;
      display: flex;
      box-sizing: border-box;
      height: 36px;
      
      &:hover {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      }
      
      .reply-command {
        width: 35px;
        // height: 35px;
        padding: 0.25rem;
        display: flex;
        justify-content: center;
        cursor: pointer;

        &:hover {
          background-color: @dark-gray;
          
          .control-icon {
            color: @bright-text;
          }
        }

        .control-icon {
          justify-self: center;
          align-self: center;
          font-size: @larger-icon-size;
          color: @text;
        }
  
        .emoji-icon:hover {
          transition: 200ms;
          transform: rotate(1turn);
        }
      }
    }
  }

  .reply-container {
    border: 1px solid @gray;
    border-radius: @corner-rounding;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .reply-preview {
    padding: 0.25rem;
    cursor: pointer;
    font-size: @text-size;
    color: @primary-color;
  }

  .reply-close {
    cursor: pointer;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: @text-size;
    color: @primary-color;
  }

  .message-hover {
    background-color: @dark-gray;
  }
}