<div class="is-message" @contextmenu="contextMenu">
  <div @mouseenter="mouseOver" @mouseleave="mouseOver" :class="`message-container ${messageHover ? 'message-hover' : '' }`">
    <TailoredMessagingMessageActions v-if="messageHover" :setReplyChatbarContent="setReplyChatbarContent" />
    <VueMarkdown v-if="message.type === 'text'" :source="message.payload" class="markdown" />
    <UiImage v-else-if="message.type === 'image'" :source="message.payload.url" alt="" />
    <UiEmbedsVideoPlayer v-else-if="message.type === 'video'" :data="message.payload" />
    <UiEmbedsAudioPlayer v-else-if="message.type === 'audio'" :data="message.payload" />
    <UiEmbedsFile v-else-if="message.type === 'file'" :data="message.payload" />
  </div>
  <div v-if="message.replies.length" class="reply-container">
    <!-- TODO: Move this all into the component. -->
    <div v-if="!showReplies" class="reply-preview" @click="toggleReplies">
      <font-awesome-icon
        :icon="['far', 'plus-square']"
      />
      &nbsp;
      {{message.replies.length}} {{$tc('conversation.reply', message.replies.length)}}
    </div>
    <TailoredMessagingMessageReply v-if="showReplies" v-for="reply in message.replies" :reply="reply" :key="reply.id"/>
    <div v-if="showReplies" @click="toggleReplies" class="reply-close">
      <font-awesome-icon
        :icon="['far', 'minus-square']"
      />
      &nbsp;
      Collapse
    </div>
  </div>
</div>