<div class="is-message" @contextmenu="contextMenu" @mouseenter="toggleActions(true)" @mouseleave="toggleActions(false)">
  <div class="message-actions" v-show="showActions"> 
    <font-awesome-icon
      :icon="['far', 'smile-plus']"
      class="emoji-icon message-action"
      @click="emojiReaction"
    />
    <font-awesome-icon
      :icon="['far', 'reply']"
      class="emoji-icon message-action"
    />
    <font-awesome-icon
      :icon="['far', 'ellipsis-v']"
      class="emoji-icon message-action"
    />
  </div>
  <VueMarkdown v-if="message.type === 'text'" :source="message.payload" class="markdown" />
  <UiImage v-else-if="message.type === 'image'" :source="message.payload.url" alt="" />
  <UiEmbedsVideoPlayer v-else-if="message.type === 'video'" :data="message.payload" />
  <UiEmbedsAudioPlayer v-else-if="message.type === 'audio'" :data="message.payload" />
  <UiEmbedsFile v-else-if="message.type === 'file'" :data="message.payload" />
  <div class="emoji-reactions" v-if="this.$props.message.reactions">
    <div v-for="reaction in this.$props.message.reactions">
      <div class="emoji-reaction" @click="quickReaction(reaction.emoji)">
        <span>{{reaction.emoji}}</span>
        <span>{{reaction.reactors.length}}</span>
      </div>
      <div class="reactors">
        <span v-for="reactor in reaction.reactors" class="reactor">{{reactor}}</span>
      </div>
    </div>
    <font-awesome-icon
      v-if="this.$props.message.reactions.length"
      :icon="['far', 'smile-plus']"
      class="emoji-icon"
      @click="emojiReaction"
    />
  </div>
</div>