.is-message {
  color: @text;
  margin-bottom: 0.1rem;
  .pinned-message {
    border: 1px solid @primary-color;
    border-radius: @corner-rounding;
    padding: @normal-spacing;
    margin-top: @normal-spacing;
    margin-bottom: @light-spacing;

    .pinned-badge {
      top: -(@light-spacing);
      left: @light-spacing;
      padding: 0 @light-spacing;
      background-color: @primary-color;
      border-radius: @corner-rounding-smaller;
      font-size: @mini-text-size;
      position: absolute;
    }
  }
  .sat-icon-container {
    margin-right: @light-spacing;
    margin-top: 0.3rem;
    width: 20px;
    height: 20px;
  }
  .inline-meta {
    margin-bottom: @light-spacing;
    display: inline-flex;
    .is-text {
      opacity: 0.8;
      margin-top: 0.3rem;
      margin-left: @light-spacing;
    }
  }
  .markdown {
    strong {
      color: @bright-text;
    }
    p {
      font-size: @text-size;
    }
  }

  .message-container{
    position: relative;
  }

  .message-hover {
    background-color: @semitransparent-light-gradient;
  }
}
