.tag {
  display: inline-flex;
  padding: 0.85rem 1rem 0.85rem 1.5rem;
  position: relative;
  font-size: 1rem;

  .tag-number {
    position: absolute;
    background-color: @primary-color;
    top: 0rem;
    left: 0;
    width: 18px;
    font-size: @mini-text-size;
    text-align: center;
    border-radius: 4px 0 2px 0;
    line-height: 1.4;
  }
}