<div class="aside-menu">
  <InteractablesClose v-if="$device.isMobile" :action="closeModal" />
  <aside class="menu">
    <div v-for="group in menuContent">
      <p class="menu-label">{{ group.title }}</p>
      <ul class="menu-list">
        <li v-for="link in group.links">
          <NuxtLink
            v-if="!custom"
            :to="link.to"
            :class="`${active === link.to ? 'is-active' : 'is-inactive'}`"
            >{{ link.text }}</NuxtLink
          >
          <a
            v-else
            v-on:click="customAction(link.to)"
            :class="`${active === link.to ? 'is-active' : 'is-inactive'}`"
          >
            {{ link.text }}
          </a>
        </li>
      </ul>
    </div>
  </aside>
</div>
