<div class="aside-menu hidden-scroll" v-scroll-lock="true">
  <menu-icon
    size="1.5x"
    v-if="toggleable"
    v-on:click="toggle"
    class="menu-toggle"
  />
  <aside class="menu">
    <div v-for="group in menuContent">
      <p class="menu-label">{{ group.title }}</p>
      <ul class="menu-list">
        <li v-for="link in group.links">
          <NuxtLink
            v-if="!custom"
            :to="link.to"
            :class="`${active === link.to ? 'is-active' : 'is-inactive'}`"
            >{{ link.text }}</NuxtLink
          >
          <a
            v-else
            v-on:click="customAction(link.to)"
            :class="`${active === link.to ? 'is-active' : 'is-inactive'}`"
          >
            {{ link.text }}
          </a>
        </li>
      </ul>
    </div>
  </aside>
</div>
