.aside-menu {
  .menu-list {
    a {
      -webkit-user-drag: none;
      &:extend(.no-select);
    }
    margin-bottom: @normal-spacing;
  }

  .menu-toggle {
    position: absolute;
    right: 2rem;
    top: 2.4rem;
  }

  padding: @xlarge-spacing;
  position: relative;
  -webkit-user-drag: none;
  &:extend(.no-select);
}
