.user-picker {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: @light-spacing;
  min-height: 0;

  > #simple-scrollbar {
    height: 100%;
    flex-basis: fit-content;
    flex-grow: 1;
    flex-shrink: 0;
    max-height: 100px;
  }

  .chips-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: @xlight-spacing;
  }

  .empty-results-text {
    text-align: center;
    color: @gray;
    margin: @light-spacing;
  }

  .scroll-wrapper {
    overflow: hidden;
    flex-grow: 2;
  }
}
