.user-picker {
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: @light-spacing;

  .chips {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: @xlight-spacing;
  }

  .empty-results-text {
    text-align: center;
    color: @gray;
    margin: @light-spacing;
  }
}
