<div class="user-picker">
    <div class="chips">
      <InteractablesChip
        v-for="(friend, i) in selected"
        :key="friend.address"
        :text="friend.name"
        :friend="friend"
        size="small"
        @delete="toggle(friend)"
      />
    </div>
  <InteractablesInput
    v-model="filter"
    size="small"
    type="dark"
    :placeholder="$t('servers.create.select_friends_placeholder')"
  />
  <div
    class="users"
    :style="{ height: height }"
  >
    <TypographyText
      v-if="!filteredFriends.length"
      :text="$t('servers.create.user_picker_empty')"
      class="empty-results-text"
    />
    <InteractablesUserPickerListItem
      v-else
      v-for="friend in filteredFriends"
      :key="friend.address"
      :friend="friend"
      :selected="isSelected(friend)"
      @click="toggle(friend)"
    />
  </div>
</div>
