.chatbar-autocomplete {
  position: absolute;
  bottom: 100%;
  // -1px in order to match chatbar's border
  left: -1px;
  right: -1px;
  // background-color: @midground;
  background-image: @semitransparent-dark-gradient;
  border-radius: @corner-rounding @corner-rounding 0 0;
  padding: 16px;
  display: flex;
  gap: 8px;
  flex-direction: column;

  .blur();
  .bordered();

  .items {
    max-height: min(300px, 50vh);
    overflow-y: auto;
  }

  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 8px;
    cursor: pointer;

    &.selected {
      background-image: @semitransparent-light-gradient;
    }
  }
}
