<button
  :class="[`button size-${size} color-${color}`, {
    'outlined': outlined,
  }]"
  :disabled="disabled || loading"
  :type="type"
  ref="button"
  @click="handleClick"
  @mousemove.stop="handleMouseMove"
  @mouseenter="handleMouseEnter"
  @mouseleave="handleMouseLeave"
  :aria-label="label || text"
>
  <UiLoadersSpinner class="spinner" v-if="loading" spinning />
  <div v-else class="content">
    <slot></slot>
    <span v-if="text.length">{{ text }}</span>
  </div>
  <div class="cursor-glow" :style="cursorGlowStyle"></div>
</button>
