.button {
  &:extend(.inline-flex-centered);
  min-width: 35px;
  overflow: hidden;
  line-height: unset;
  transition: 250ms all ease-in;

  #custom-cursor-area {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: unset;

    .spinner {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;

      .spin {
        margin-right: @xlight-spacing;
      }
    }
  }

  .button-icon-padded {
    margin-right: 0.25rem;
  }

  .content {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    .feather {
      height: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-right: 0.5rem;
    }

    .no-text-feather {
      margin-right: 0;
    }
  }
}
.is-full-width {
  width: 100%;
}
