<button
  :class="[`button size-${size} color-${color}`, {
    'outlined': outlined,
  }]"
  :disabled="loading"
  :type="type"
  ref="button"
  @click="handleClick"
  @mousemove.stop="handleMouseMove"
  @mouseenter="handleMouseEnter"
  @mouseleave="handleMouseLeave"
>
  <div class="spinner" v-if="loading">
    <UiLoadersSpinner spinning />
  </div>
  <div v-else class="content">
    <div
      :class="`feather ${text.length ? '' : 'no-text-feather'}`"
      v-if="$slots.default"
    >
      <slot></slot>
    </div>
    <span v-if="text.length">{{ text }}</span>
  </div>
  <div class="cursor-glow" :style="cursorGlowStyle"></div>
</button>
