@border-radius: 4px;

.styled-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-touch-callout: none;
  &:extend(.no-select);
  &:extend(.inline-flex-centered);

  border-radius: @border-radius;
  font-size: @font-size-md;
  line-height: 1.5;

  position: relative;
  vertical-align: top;
  justify-content: center;
  text-align: center;
  white-space: nowrap;

  width: fit-content;
  transition: all @animation-speed ease-in-out;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }

  &[disabled] {
    cursor: progress;
    box-shadow: none !important;
    color: @text-muted !important;

    &.is-disabled {
      cursor: not-allowed;
    }

    .hover-effect-container {
      background: @semitransparent-grey-gradient;
    }
  }

  .content {
    border-radius: @border-radius;
    height: 2.5em;
    padding: @light-spacing @normal-spacing;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    padding: 0 @normal-spacing;
  }

  .feather {
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: @light-spacing;
  }

  .no-text-feather {
    margin-right: 0;
  }

  &.xs {
    font-size: @font-size-xs;
    border-radius: calc(@border-radius / 2);

    .content {
      padding: @light-spacing 0.75rem;
      border-radius: calc(@border-radius / 2);
    }
  }

  &.sm {
    font-size: @font-size-md;
  }

  &.md {
    font-size: @font-size-xl;
  }

  &.lg {
    font-size: @font-size-2xl;
  }

  &.font-primary {
    font-family: @primary-font;
  }

  &.font-secondary {
    font-family: @secondary-font;
  }

  &.is-outlined {
    &.is-primary {
      .content {
        border: calc(@border-radius / 2) solid @flair-color;
      }

      background: transparent;
      color: @flair-color;

      &:hover:not([disabled]) {
        background: @flair-gradient;
        color: @secondary-text;
        box-shadow: @flair-glow;
      }
    }

    &.is-dark {
      .content {
        border: calc(@border-radius / 2) solid @dark-gray;
      }

      background: @semitransparent-lighter-gradient;
      color: @text;

      &:hover:not([disabled]) {
        background: @semitransparent-lightest-gradient;
        color: @secondary-text;
      }
    }

    &.is-danger {
      .content {
        border: calc(@border-radius / 2) solid @red;
      }

      color: @red;

      &:hover:not([disabled]) {
        background: @danger-gradient;
        color: @secondary-text;
        box-shadow: @danger-glow;
      }
    }

    &.is-success {
      .content {
        border: calc(@border-radius / 2) solid @green;
      }

      color: @green;

      &:hover:not([disabled]) {
        background: @success-gradient;
        color: @secondary-text;
        box-shadow: @success-glow;
      }
    }
  }

  &.is-contained {
    &.is-primary {
      background: @flair-gradient;
      color: @text;
      box-shadow: @flair-glow;
    }

    &.is-dark {
      background: @semitransparent-lighter-gradient;
      color: @secondary-text;

      &:hover:not([disabled]):not(.is-active) {
        background: @foreground-alt;
        color: @secondary-text;
      }

      &.is-active {
        background: @flair-gradient;
        color: @text;
        box-shadow: @flair-glow;
      }
    }

    &.is-danger {
      background: @danger-gradient;
      box-shadow: @danger-glow;
    }

    &.is-success {
      background: @success-gradient;
      box-shadow: @success-glow;
    }
  }

  &.is-full-width {
    width: 100%;

    .hover-effect-container {
      width: 100%;
      .content {
        width: 100%;
      }
    }
  }
}
