.styled-button {
  &:extend(.no-select);
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-touch-callout: none;

  border-radius: 4px;

  font-size: 1rem;
  justify-content: flex-start;
  line-height: 1.5;

  position: relative;
  vertical-align: top;

  justify-content: center;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
  transition: all @animation-speed ease-in-out;

  &:extend(.inline-flex-centered);
  min-width: 35px;
  overflow: hidden;

  &:focus {
    outline: none;
  }

  &[disabled] {
    cursor: progress;
    box-shadow: none !important;
    color: @text-muted !important;

    &.is-disabled {
      cursor: not-allowed;
    }

    .hover-effect-container {
      background: @semitransparent-grey-gradient;
    }
  }

  .content {
    border-radius: 4px;
    height: 2.5em;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    padding: 0 1em;
  }

  .feather {
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
  }

  .no-text-feather {
    margin-right: 0;
  }

  &.xs {
    font-size: 0.75rem;
    border-radius: 2px;

    .content {
      border-radius: 2px;
    }
  }

  &.sm {
    font-size: 1rem;
  }

  &.md {
    font-size: 1.25rem;
  }

  &.lg {
    font-size: 1.5rem;
  }

  &.font-primary {
    font-family: @primary-font;
  }

  &.font-secondary {
    font-family: @secondary-font;
  }

  &.is-outlined {
    .content {
      border: 2px;
    }

    &.is-primary {
      .content {
        border-color: @flair-color;
      }

      background: transparent;
      &:extend(.font-flair);

      &:hover:not([disabled]) {
        &:extend(.background-flair-gradient);
        &:extend(.font-secondary);
        &:extend(.glow-flair);
      }
    }

    &.is-dark {
      .content {
        border-color: @dark-gray;
      }

      &:extend(.background-semitransparent-lighter);
      &:extend(.font-primary);

      &:hover:not([disabled]) {
        &:extend(.background-semitransparent-lightest);
        &:extend(.font-secondary);
      }
    }

    &.is-danger {
      .content {
        border-color: @red;
      }

      &:extend(.color-danger);

      &:hover:not([disabled]) {
        &:extend(.background-danger-gradient);
        &:extend(.font-secondary);
        &:extend(.glow-danger);
      }
    }

    &.is-success {
      .content {
        border-color: @green;
      }

      &:extend(.color-success);

      &:hover:not([disabled]) {
        &:extend(.background-success-gradient);
        &:extend(.font-secondary);
        &:extend(.glow-success);
      }
    }
  }

  &.is-contained {
    &.is-primary {
      &:extend(.background-flair-gradient);
      &:extend(.font-primary);
      &:extend(.glow-flair);
    }

    &.is-dark {
      &:extend(.background-semitransparent-lighter);
      &:extend(.font-secondary);

      &:hover:not([disabled]):not(.is-active) {
        &:extend(.background-grey);
        &:extend(.font-secondary);
      }

      &.is-active {
        &:extend(.background-flair-gradient);
        &:extend(.font-primary);
        &:extend(.glow-flair);
      }
    }

    &.is-danger {
      &:extend(.glow-danger);
      &:extend(.background-danger-gradient);
    }

    &.is-success {
      &:extend(.glow-success);
      &:extend(.background-success-gradient);
    }
  }

  &.is-full-width {
    width: 100%;

    .hover-effect-container {
      width: 100%;
      .content {
        width: 100%;
      }
    }
  }
}
