<button
  class="styled-button"
  :class="[{'is-disabled': disabled, 'is-full-width': fullWidth}, `${size} is-${type} font-${font} is-${outlined ? 'outlined' : 'contained'}`]"
  :disabled="disabled || loading"
  :type="htmlType"
  @click="action"
  ref="styled-button"
>
  <InteractablesButtonHoverGlow :disabled="disabled || loading">
    <div class="spinner" v-if="loading">
      <UiLoadersSpinner spinning />
    </div>

    <div v-else class="content">
      <div
        :class="`feather ${text.length ? '' : 'no-text-feather'}`"
        v-if="$slots.default"
      >
        <slot></slot>
      </div>
      <span v-if="text.length">{{ text }}</span>
    </div>
  </InteractablesButtonHoverGlow>
</button>
