#file-controls {
  display: inline-flex;
  justify-content: flex-end;
  width: 100%;

  .button {
    margin-left: 1rem;
  }


  #file-upload {
    width: 0px;
    height: 0px;
    overflow: hidden;
    display: none;
  }
}

#new-folder-modal {
  text-align: center !important;
  // background: aliceblue;
  background-color: transparent!important;

}

.modal-div{
  background-color: #16161e;
  padding: 20px;
  // add margin color for outline
}
