#file-controls {
  display: inline-flex;
  justify-content: flex-end;
  width: 100%;

  .button {
    margin-left: 0.25rem;
  }

  #file-upload {
    width: 0px;
    height: 0px;
    overflow: hidden;
    display: none;
  }
}

#new-folder-modal {
  text-align: center !important;
  background-color: transparent !important;
  padding: 15px;
}

.modal-div{
  background-color: @dark-gray;
  padding: 20px;
  font-family: 'SpaceMono';
  border: 0.25px solid @black;
}
