#file-controls {
  display: inline-flex;
  justify-content: flex-end;
  width: 100%;

  .button {
    margin-left: 0.25rem;
  }

  .file-third {
    width: 100%;
  }

  #file-upload {
    width: 0px;
    height: 0px;
    overflow: hidden;
    display: none;
  }
  #quick-upload {
    display: none;
  }
}


@media only screen and (max-width: 768px) {
  #file-controls {
    min-width: @viewport-width - 20px;
    justify-content: center;
  }
}