@sidebar-inner-offset: 175px;

#sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  width: @sidebar-width;
  margin: @normal-spacing 0;
  flex-shrink: 0;

  .sidebar-inner {
    &:extend(.round-corners);
    box-shadow: @ui-shadow;
    max-height: calc(@app-height - @sidebar-inner-offset);
    display: flex;
    flex-direction: column;
    padding: @normal-spacing;
    gap: @normal-spacing;
    background: linear-gradient(
        163.91deg,
        rgba(48, 52, 71, 0.5) 0%,
        rgba(42, 54, 75, 0) 100%
      ),
      linear-gradient(
        163.91deg,
        rgba(28, 39, 58, 0.9) 0%,
        rgba(0, 0, 0, 0.09) 100%
      ),
      linear-gradient(
        359.95deg,
        rgba(36, 40, 57, 0.9) 0.04%,
        rgba(34, 44, 63, 0) 99.95%
      ),
      #121216;

    .sidebar-search {
      display: flex;
      gap: @normal-spacing;
      .toggle-sidebar {
        cursor: pointer;
        &:extend(.filter-glow);
      }
    }

    .sidebar-nav {
      display: flex;
      flex-direction: column;
      gap: @light-spacing;
      position: relative;
    }

    .quick-toggle {
      display: flex;
      align-self: flex-end;
      padding-left: @light-spacing;
      position: relative;
      svg {
        cursor: pointer;
      }
    }

    .users {
      flex: 1;
      position: relative;
      overflow: hidden;
      .inline-notification {
        width: @sidebar-width - (@normal-spacing * 2);
      }
    }
  }

  .controls {
    &:extend(.background-semitransparent-light);
    &:extend(.round-corners);
    padding: @light-spacing @normal-spacing @normal-spacing @normal-spacing;
    box-shadow: @ui-shadow;
    margin-top: auto;
  }

  .label {
    position: absolute;
    text-align: center;
    top: 0.25rem;
    right: 0.25rem;
    font-size: @mini-text-size;
    background-color: @flair-color;
    border-radius: 2px;
    line-height: 1;
    padding: 0.25rem;
    min-width: 18px;
    font-family: @primary-font;
    &:extend(.font-primary);
    &:extend(.background-flair);
    pointer-events: none;
    &.inverted {
      background: @foreground;
    }
  }
}
