@sidebar-inner-offset: 175px;

#sidebar {
  width: @sidebar-size;
  min-width: @sidebar-size;
  position: relative;
  height: @full;
  display: flex;
  flex-direction: column;
  padding-bottom: @normal-spacing;
  background: @background;

  .sidebar-inner {
    &:extend(.round-corners);
    &:extend(.background-semitransparent-light);
    box-shadow: @ui-shadow;
    max-height: calc(@app-height - @sidebar-inner-offset);
    display: flex;
    flex-direction: column;
    margin-top: @normal-spacing;
    padding: @normal-spacing;
    gap: @normal-spacing;

    .sidebar-search {
      padding-right: @xlarge-spacing;

      .toggle-sidebar {
        cursor: pointer;
        position: absolute;
        top: @normal-spacing * 2.5;
        right: @normal-spacing;
        &:extend(.filter-glow);
      }
    }

    .sidebar-nav {
      display: flex;
      flex-direction: column;
      gap: @light-spacing;
      position: relative;
    }

    .quick-toggle {
      display: flex;
      align-self: flex-end;
      padding-left: @light-spacing;
      position: relative;
      svg {
        cursor: pointer;
      }
    }

    .users {
      flex: 1;
      position: relative;
      overflow-y: scroll;
      .inline-notification {
        width: @sidebar-size - (@normal-spacing * 2);
      }
    }

    .mascot-container {
      &:extend(.full-width);
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .mascot {
        max-width: @half;
        padding-top: @normal-spacing;
        pointer-events: none;
      }

      .button {
        margin-top: @normal-spacing;
        width: 75%;
      }

      .is-text {
        text-align: center;
      }
    }
  }

  .controls {
    &:extend(.background-semitransparent-light);
    &:extend(.round-corners);
    padding: @light-spacing @normal-spacing @normal-spacing @normal-spacing;
    box-shadow: @ui-shadow;
    margin-top: auto;
  }

  .label {
    position: absolute;
    text-align: center;
    top: 0.25rem;
    right: 0.25rem;
    font-size: @mini-text-size;
    background-color: @flair-color;
    border-radius: 2px;
    line-height: 1;
    padding: 0.25rem;
    min-width: 18px;
    font-family: @primary-font;
    &:extend(.font-primary);
    &:extend(.background-flair);
    &.tag-inverted {
      background: @foreground;
    }
  }

  .loading-container {
    display: inline-flex;
    justify-content: center;
    &:extend(.full-width);
  }
}
