<div class="sidebar">
  <div class="sidebar-inner">
    <div class="sidebar-search">
      <InteractablesInput
        v-model="filter"
        type="search"
        size="sm"
        :placeholder="`${$t('ui.search')}...`"
      />
      <InteractablesSidebarToggle />
    </div>
    <div class="sidebar-nav">
      <InteractablesButton
        class="sidebar-full-btn"
        data-cy="sidebar-files"
        :color="$route.path.includes('/files') ? 'primary' : 'dark'"
        @click="() => $router.push('/files')"
        :text="$t('files.files')"
      >
        <folder-icon size="1.2x" />
      </InteractablesButton>
      <InteractablesButton
        class="sidebar-full-btn"
        data-cy="sidebar-friends"
        :color="$route.path.includes('/friends') ? 'primary' : 'dark'"
        @click="() => $router.push('/friends')"
        :text="$t('friends.friends')"
      >
        <users-icon size="1.2x" />
        <span v-if="incomingRequestsLength" class="label-container">
          <TypographyText
            size="xs"
            class="label"
            :class="{inverted : $route.path.includes('/friends')}"
          >
            {{incomingRequestsLength}}
          </TypographyText>
        </span>
      </InteractablesButton>
    </div>
    <div class="quick-toggle" v-tooltip.top="$t('pages.chat.new_chat')">
      <button title="$t('pages.chat.new_chat')" @click="toggleModal">
        <plus-icon size="1.4x" />
      </button>
      <SidebarQuick
        v-if="isQuickchatVisible"
        v-click-outside="toggleModal"
        @toggle="toggleModal"
      />
    </div>
    <SidebarList :filter="filter" />
  </div>
  <div class="controls">
    <SidebarLive />
    <SidebarControls />
    <SidebarStatus />
  </div>
</div>
