<div id="sidebar" class="collapsed">
  <div
    :class="media.streaming ? 'sidebar-inner sidebar-inner-streaming' : 'sidebar-inner'"
  >
    <div class="sidebar-search">
      <menu-icon
        class="toggle-sidebar"
        v-on:click="showMenu"
        size="1.2x"
        full-width
        :style="`${sidebar ? 'display: block' : 'display: none'}`"
      />
      <InteractablesInput
        :placeholder="`${$t('ui.search')}...`"
        size="small"
        input-kind="text"
        :delete-icon="true"
        type="dark"
        full-width
      />
    </div>
    <div class="sidebar-nav" v-if="!$device.isMobile">
      <div style="position: relative">
        <InteractablesButton
          :inactive="$route.path.includes('/friends/list') ? false : true"
          class="sidebar-full-btn"
          :type="$route.path.includes('/friends/list') ? 'primary' : 'dark'"
          size="small"
          :action="() => { friends.incomingRequests.length ? $router.push('/friends/list?tab=requests') : $router.push('/friends/list') }"
          :text="$t('friends.friends')"
        >
          <users-icon size="1.2x" />
        </InteractablesButton>
        <span
          v-if="friends.incomingRequests.length"
          :class="$route.path.includes('/friends/list') ? 'label tag-inverted' : 'label'"
        >
          {{friends.incomingRequests.length}}
        </span>
      </div>
      <InteractablesButton
        :inactive="$route.path.includes('/files') ? false : true"
        class="sidebar-full-btn"
        :type="$route.path.includes('/files') ? 'primary' : 'dark'"
        size="small"
        :action="() => $router.push('/files/browse')"
        :text="$t('files.files')"
      >
        <folder-icon size="1.2x" />
      </InteractablesButton>
    </div>

    <Slimbar
      v-if="$device.isMobile"
      :servers="$mock.servers"
      :unreads="$mock.unreads"
      :open-modal="toggleModal"
      horizontal
    />

    <div class="tabs sidebar-selector padded no-top-pad flexy">
      <InteractablesButtonGroup
        v-model="toggleView"
        :fullWidth="true"
        :values="[true,false]"
      >
        <InteractablesButton
          :text="$t('messaging.messages')"
          size="small"
          type="dark"
        >
          <message-square-icon size="1.2x" />
        </InteractablesButton>
        <InteractablesButton
          :text="$t('messaging.groups')"
          size="small"
          type="dark"
        >
          <users-icon size="1.2x" />
        </InteractablesButton>
      </InteractablesButtonGroup>

      <div
        class="quick-chat has-tooltip has-tooltip-top has-tooltip-primary"
        data-tooltip="New Chat"
        @click="()=>toggleModal('quickchat')"
        v-if="!$device.isMobile && toggleView"
      >
        <plus-circle-icon size="1x" />
      </div>
      <div
        class="quick-chat has-tooltip has-tooltip-top has-tooltip-primary"
        data-tooltip="New Group"
        @click="()=>toggleModal('creategroup')"
        v-if="!$device.isMobile && !toggleView"
      >
        <plus-circle-icon size="1x" />
      </div>
    </div>
    <FriendsQuick v-click-outside="()=>toggleModal('quickchat')" />
    <GroupCreate v-click-outside="()=>toggleModal('creategroup')" />
    <GroupInvite v-click-outside="()=>toggleModal('groupInvite')" />
    <div
      class="scrolling hidden-scroll users"
      v-scroll-lock="true"
      v-if="ui.showSidebarUsers"
    >
      <UiScroll verticalScroll scrollbarVisibility="scroll" enableWrap>
        <div v-if="dataState.friends !== DataStateType.Loading && users.length">
          <UiInlineNotification
            :text="$t('messaging.new_messages')"
            v-if="ui.unreadMessage.length"
          />
          <User
            v-for="(user, i) in users"
            :key="i"
            :user="user"
            :isTyping="ui.isTyping.address === user.address"
          />
        </div>
        <div
          v-else-if="dataState.friends !== DataStateType.Loading && !users.length"
          class="mascot-container"
        >
          <TypographyTitle :text="$t('pages.chat.no_friends_yet')" :size="6" />
          <TypographyText :text="$t('pages.chat.no_friends_yet_text')" />
          <img src="~/assets/svg/mascot/sad_curious.svg" class="mascot" />
          <InteractablesButton
            :text="$t('friends.add') + 's'"
            size="small"
            type="primary"
            :action="gotoAddFriends"
          >
            <user-plus-icon size="1.2x" />
          </InteractablesButton>
        </div>
        <UiLoadersAddress v-else :count="4" inverted />
      </UiScroll>
    </div>
    <div class="scrolling hidden-scroll" v-scroll-lock="true" v-else>
      <UiScroll verticalScroll scrollbarVisibility="scroll" enableWrap>
        <div v-if="dataState.groups !== DataStateType.Loading">
          <GroupAside
            v-for="group in sortedGroups"
            :selectedGroup="group"
            :key="group.id"
          />
        </div>
        <UiLoadersAddress v-else :count="4" inverted />
      </UiScroll>
    </div>
  </div>

  <div class="filler"></div>

  <div class="controls">
    <SidebarLive />
    <SidebarControls />
    <SidebarStatus />
  </div>
  <InteractablesButton
    class="quick-mobile-chat"
    v-if="$device.isMobile  && users.length"
    :action="gotoAddFriends"
  >
    <plus-icon size="1.2x" />
  </InteractablesButton>
</div>
