.create-error-container {
  width: @normal-modal-size;
}

.address {
  font-size: @text-size;
  color: #ccc;
}

.is-rounded.circle {
  background-color: @light-gray !important;
}

.label {
  font-size: @text-size;
  color: @bright-text !important;
}
.image {
  max-width: 175px;
}
.column.align {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .set-photo-title {
    margin-bottom: 20px;
  }
}

.input-file {
  display: none;
}

.submit-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  width: 100%;
}

.input-container {
  margin-bottom: 20px;
}

.cropper-mask {
  position: fixed;
  background-color: @light-gray !important;
  opacity: 0.6;
  z-index: 9;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.red {
  color: @red;
}

.modal-body {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.custom-modal-content {
  width: 100%;
}

@media (max-width: 768px) {
  .create-error-container {
    width: 100%;
  }

  .custom-modal-content {
    height: calc(100% - 90px);
    overflow-y: scroll;
  }

  .submit-container {
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin-top: 0px;
  }

  .create-server-btn {
    // position: absolute;
    // bottom: 1.5rem;
    // right: 1.5rem;
    width: 100%;
    height: 53px;
  }
}
