.banner {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
  user-select: none;
  &:extend(.background-semitransparent-light);
  &:extend(.round-corners);

  &.tall {
    padding: 12px;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    &:extend(.color-warning);

    .header {
      font-family: @secondary-font;
      font-size: @text-size;
    }
  }

  .content {
    text-align: center;
    font-family: @primary-font;
    font-size: @micro-text-size;
    &:extend(.color-warning);
  }
}
