.is-chatbar-reply {
  min-height: 36px;
  max-height: 36px;
  display: flex;
  justify-content: space-between;
  width: calc(@full - 2rem);
  padding: 0.25rem 0.5rem;
  font-size: @text-size;
  font-family: @secondary-font;
  margin: 0 1rem;
  &:extend(.background-primary-gradient);
  &:extend(.blur);
  border-top: @light-border;
  border-left: @light-border;
  border-right: @light-border;
  border-top-left-radius: @corner-rounding;
  border-top-right-radius: @corner-rounding;
  border: 1px solid transparent;
  align-items: center;

  strong {
    &:extend(.font-primary);
  }

  .markdown {
    width: calc(@full - @small-icon-size - 0.25rem);
    p {
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: @text-size;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .reply-close {
    cursor: pointer;
    display: flex;
    font-size: @small-icon-size;
    &:extend(.font-primary);
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  .is-chatbar-reply {
    margin: 0 @light-spacing;
    width: calc(@full - @normal-spacing);
  }
}
