#add-friend {
  padding: 0.5rem;
  .card {
    background-color: @darker;
    border: 1px solid @light-gray;
  }
}

@media only screen and (max-width: 768px) {
  #add-friend {
    min-width: @viewport-width;
    padding: 1rem;
  }
}