#glyphs-nav {
    background: @semitransparent-light-gradient;
    backdrop-filter: @blur;
    border: @light-border;
    padding: @light-spacing;
    border-radius: @corner-rounding;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .account-list {
        display: flex;
        align-items: center;
        .timer {
            cursor: pointer;
            margin-right: @light-spacing;
            background: @semitransparent-dark-gradient;
            padding: @xlight-spacing @light-spacing;
            border-radius: @corner-rounding;
        }
    }
    .pack-list {
        border-left: @mini-light-border;
        border-right: @mini-light-border;
        padding: 0 @light-spacing;
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
    .glyph-item, .circle {
        margin-right: @light-spacing;
    }
    .market-place {
        cursor: pointer;
        padding: 0 @light-spacing;
    }
}