.badged-icon {
  display: inline-flex;
  position: relative;

  .tag {
    position: absolute;
    padding: 0.25rem;
    right: -0.25rem;
    top: -0.25rem;
    border-radius: 2px;
    text-align: right;
    font-family: @primary-font;

    &:not(body).is-dark {
      background: @dark;
    
      .tag-number {
        background: @primary-color-alt;
      }
    }
    
    &:not(body).is-primary {
      background-color: @primary-color;
    }
    
  }
}