.badged-icon {
  display: inline-flex;
  position: relative;
  color: @primary-color;
  .dynamic-icon {
    filter: drop-shadow( 0px 3px 2px @primary-color);
  }

  .center {
    display: inline-flex;
    justify-content: center;
    align-content: center;
  }

  .squared {
    line-height: 1;
    padding: 0.1rem;
    border-radius: 0.1rem;
    color: @black;
  }

  .tag {
    position: absolute;
    padding: 0.25rem;
    right: -0.25rem;
    top: -0.25rem;
    border-radius: 2px;
    text-align: right;
    font-family: @primary-font;

    &:not(body).is-dark {
      background: @dark;
    
      .tag-number {
        background: @primary-color-alt;
      }
    }
    
    &:not(body).is-primary {
      background-color: @primary-color;
    }
    
  }
}