.badged-icon {
  display: inline-flex;
  position: relative;

  .tag {
    position: absolute;
    padding: 0.25rem;
    right: -0.25rem;
    top: -0.25rem;
    border-radius: 2px;
    text-align: right;
    font-family: 'SpaceMono';
  }
}