.settings-section {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: @large-spacing;

  @media only screen and (max-width: @medium-breakpoint) {
    grid-template-columns: auto;
  }
}
