.pack-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .pack-title {
    display: flex;
    align-items: center;
    color: @light;
    user-select: none;
    font-size: 0.75rem;
    cursor: pointer;
    gap: 0.5rem;
  }

  .glyph-list-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
    gap: 1rem;
  }
}
