<div class="pack-group" data-cy="glyph-pack">
  <div class="pack-title" @click="togglePack">
    <image-icon size="1x" />
    <span>{{ pack.name }}</span>
    <chevron-down-icon size="1x" v-if="isOpen" />
    <chevron-up-icon size="1x" v-if="!isOpen" />
  </div>
  <div class="glyph-list-box" v-if="isOpen">
    <EnhancersGlyphsItem
      v-for="glyph in pack.stickerURLs"
      :key="glyph"
      :src="glyph"
      data-cy="pack-glyph-item"
      :pack="pack"
      :sendOnClick="true"
    />
  </div>
</div>
