.pack-group {
  margin-top: @light-spacing;
  .pack-title {
    display: flex;
    align-items: center;
    font-family: @secondary-font;
    cursor: pointer;
    padding-left: @light-spacing;
    span {
      margin: 0 @light-spacing;
    }
  }
  .glyph-list-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
    gap: 1rem;
    margin-top: @light-spacing;
  }
}
