<div id="view-file" @keydown.esc="close" tabindex="1" ref="modal">
  <div class="file-nav">
    <div class="file-info ellipsis">
      <TypographyText as="h2" class="ellipsis">
        {{ file.name }}
      </TypographyText>
      <TypographyText> {{ file.type }} </TypographyText>
      <TypographyText> {{ $filesize(file.size) }} </TypographyText>
      <TypographyText> {{ $dayjs(file.modified).fromNow() }} </TypographyText>
    </div>
    <div class="controls">
      <UiLoadersSpinner
        v-if="isDownloading"
        class="control disabled"
        spinning
      />
      <button
        v-else
        @click="download"
        v-tooltip.bottom="$t('controls.download')"
        class="control"
      >
        <download-icon size="1x" />
      </button>
      <!-- 
      <a
        v-tooltip.bottom="$t('controls.share_link')"
        class="control"
        @click="share"
      >
        <link-icon size="1x" />
      </a> -->
      <button
        class="control control--close"
        v-tooltip.bottom="$t('ui.close')"
        @click="close"
      >
        <x-icon size="1x" />
      </button>
    </div>
  </div>
  <ui-image-container
    v-if="thumbnail"
    class="image-container"
    :nsfw="file.nsfw && blockNsfw"
  >
    <img :src="thumbnail" />
  </ui-image-container>
  <div v-else class="no-preview">
    <UiLoadersSpinner v-if="isDownloading" class="file-icon" spinning />
    <button v-else @click="download" v-tooltip.top="$t('controls.download')">
      <download-icon size="1x" class="file-icon" />
    </button>
    <TypographyText as="h1"> {{ file.name }} </TypographyText>
    <TypographySubtitle :size="6" :text="file.type" />
    <TypographySubtitle :text="$filesize(file.size)" :size="6" />
    <TypographySubtitle :text="$dayjs(file.modified).fromNow()" :size="6" />
  </div>
</div>
