#view-file {
  display: flex;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: @base-z-index + 35;
  align-content: center;

  .file-image {
    display: flex;
    margin: auto;
    max-width: 80vw;
    max-height: 80vh;
    &:extend(.round-corners);
  }
  .file-icon {
    font-size: 50pt;
    margin: auto;
    margin-bottom: @normal-spacing;
  }
  .no-preview {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    .subtitle {
      display: block;
      text-align: center;
      margin-bottom: 0;
    }
  }

  .file-nav {
    width: @full;
    display: flex;
    position: absolute;
    margin: @normal-spacing;

    .file-info {
      .title {
        &:extend(.font-secondary);
      }
    }

    .controls {
      margin-left: auto;
      margin-right: @normal-spacing;

      .control {
        display: inline-flex;
        font-size: @icon-size;
        margin: @normal-spacing @light-spacing;
        &:extend(.font-secondary);

        &:nth-child(4) {
          margin-right: @normal-spacing;
        }
        &.disabled {
          cursor: not-allowed;
        }
      }
    }
  }
}
