#view-file {
  display: flex;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: @base-z-index + 35;

  .file-image {
    display: flex;
    margin: auto;
    max-width: 80vw;
    max-height: 60vh;
    &:extend(.round-corners);
  }
  .file-icon {
    font-size: 50pt;
    margin: auto;
    margin-bottom: @normal-spacing;
  }
  .no-preview {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    .subtitle {
      display: block;
      text-align: center;
      margin-bottom: 0;
    }
  }

  .file-nav {
    width: @full;
    display: flex;
    position: absolute;
    margin: @normal-spacing;

    .file-info {
      max-width: 50vw;
      .title {
        &:extend(.font-secondary);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .controls {
      display: flex;
      height: fit-content;
      margin-left: auto;
      margin-right: @large-spacing;
      gap: @normal-spacing;

      .control {
        display: flex;
        font-size: @icon-size;
        &:extend(.font-secondary);
        &.disabled {
          cursor: not-allowed;
        }
      }
    }
  }
}

.swiper-slide-active {
  #view-file {
    transform: translate3d(calc(@sidebar-size + @servers-size), 0px, 0px);
  }
}
