#view-file {
  display: flex;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  &:extend(.first-layer);
  padding: @normal-spacing;

  .file-nav {
    width: calc(@full - @xlarge-spacing); //to account for margin
    display: flex;
    position: absolute;

    .file-info {
      max-width: 50vw;
      .title {
        &:extend(.font-secondary);
        &:extend(.ellipsis);
        line-height: 1.25;
      }
    }

    .controls {
      display: flex;
      height: fit-content;
      margin-left: auto;
      gap: @normal-spacing;

      .control {
        display: flex;
        font-size: @icon-size;
        &:extend(.font-secondary);
        &.disabled {
          cursor: not-allowed;
        }
        &--close {
          &:before {
            left: auto;
            right: 0;
            transform: translate(0, 100%);
          }
        }
      }
    }
  }

  .image-container {
    display: flex;
    margin: auto;
    max-width: 80vw;
    max-height: 60vh;
    &:extend(.round-corners);
    overflow: hidden;
    background-color: @background;
    img {
      height: 100%;
      width: 100%;
    }
  }

  .no-preview {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    .subtitle {
      display: block;
      text-align: center;
      margin-bottom: 0;
    }
    .file-icon {
      font-size: 50pt;
      margin: auto;
      margin-bottom: @normal-spacing;
    }
  }
}
