<div id="view-file">
  <div class="file-nav">
    <div class="file-info">
      <TypographyTitle :text="file.name" :size="6" />
      <TypographyText :text="file.type" :size="6" />
      <TypographyText :text="$filesize(file.size)" :size="6" />
      <TypographyText :text="$dayjs(file.modified).fromNow()" :size="6" />
    </div>
    <div class="controls">
      <div
        :data-tooltip="$t('ui.unpin')"
        class="has-tooltip has-tooltip-primary has-tooltip-bottom control"
      >
        <archive-icon size="1x" />
      </div>
      <a
        :data-tooltip="$t('controls.download')"
        class="has-tooltip has-tooltip-primary has-tooltip-bottom control"
        :href="path"
        target="_blank"
        :download="file.name"
      >
        <download-icon size="1x" />
      </a>
      <a
        :data-tooltip="$t('controls.share_link')"
        class="has-tooltip has-tooltip-primary has-tooltip-bottom control"
        :class="{'disabled' : ui.isLoadingFileIndex}"
        v-on="ui.isLoadingFileIndex ? {} : {click: share}"
      >
        <link-icon size="1x" />
      </a>
      <div
        :data-tooltip="$t('ui.close')"
        @click="$emit('close')"
        class="has-tooltip has-tooltip-primary has-tooltip-bottom control"
      >
        <x-icon size="1x" />
      </div>
    </div>
  </div>
  <img
    v-if="isImage && file.size < $Config.uploadByteLimit"
    class="file-image"
    :src="isSvg ? svgSrc : path"
  />
  <div v-else class="no-preview">
    <a
      :data-tooltip="$t('controls.download')"
      class="has-tooltip has-tooltip-primary has-tooltip-top"
      :href="path"
      target="_blank"
      :download="file.name"
    >
      <download-icon size="1x" class="file-icon" />
    </a>
    <TypographyTitle :size="4" :text="file.name" />
    <TypographySubtitle :size="6" :text="file.type" />
    <TypographySubtitle :text="$filesize(file.size)" :size="6" />
    <TypographySubtitle :text="$dayjs(file.modified).fromNow()" :size="6" />
  </div>
</div>
