<div id="view-file">
  <div class="file-nav">
    <div class="file-info">
      <TypographyTitle :text="file.name" :size="6" />
      <TypographyText :text="file.type" :size="6" />
      <TypographyText :text="$filesize(file.size)" :size="6" />
      <TypographyText :text="$dayjs(file.modified).fromNow()" :size="6" />
    </div>
    <div class="controls">
      <UiLoadersSpinner
        v-if="isDownloading"
        class="control disabled"
        spinning
      />
      <a
        v-else
        @click="download"
        :data-tooltip="$t('controls.download')"
        class="has-tooltip has-tooltip-primary has-tooltip-bottom control"
      >
        <download-icon size="1x" />
      </a>
      <a
        :data-tooltip="$t('controls.share_link')"
        class="has-tooltip has-tooltip-primary has-tooltip-bottom control"
        :class="{'disabled' : ui.isLoadingFileIndex}"
        v-on="ui.isLoadingFileIndex ? {} : {click: share}"
      >
        <link-icon size="1x" />
      </a>
      <div
        :data-tooltip="$t('ui.close')"
        @click="$emit('close')"
        class="has-tooltip has-tooltip-primary has-tooltip-bottom control"
      >
        <x-icon size="1x" />
      </div>
    </div>
  </div>
  <img v-if="file.thumbnail" class="file-image" :src="file.thumbnail" />
  <div v-else class="no-preview">
    <UiLoadersSpinner v-if="isDownloading" class="file-icon" spinning />
    <a
      v-else
      @click="download"
      :data-tooltip="$t('controls.download')"
      class="has-tooltip has-tooltip-primary has-tooltip-top"
    >
      <download-icon size="1x" class="file-icon" />
    </a>
    <TypographyTitle :size="4" :text="file.name" />
    <TypographySubtitle :size="6" :text="file.type" />
    <TypographySubtitle :text="$filesize(file.size)" :size="6" />
    <TypographySubtitle :text="$dayjs(file.modified).fromNow()" :size="6" />
  </div>
</div>
