<div class="side-bar-inner">
  <div class="header">
    <TypographyTitle :size="5" :text="$t('market_place.title')" />
  </div>
  <div class="body">
    <ul class="category-tree">
      <li
        :class="['category-item', 'depth-'+item.depth, item.children.length > 0 ? 'parent' : '', item.hidden ? 'hidden' : '', item.selected ? 'active' : '']"
        v-for="(item, i) in categoryTree"
        :key="i"
        v-on:click="clickCategory(item)"
      >
        <span class="category">
          <span class="category-text"> {{item.self.name}} </span>
          <span class="category-action">
            <chevron-down-icon size="1x" v-if="item.children.length>0" />
            <circle-icon
              size="1x"
              v-if="item.selected"
              :icon="['fas', 'circle']"
            />
          </span>
        </span>
      </li>
    </ul>
  </div>
</div>
