.embedded-file {
  &:extend(.background-semitransparent-light);
  &:extend(.bordered);
  &:extend(.round-corners);
  &:extend(.more-pad-sides);
  display: flex;
  align-items: center;
  gap: @normal-spacing;
  margin: @light-spacing 0;
  max-width: 400px;

  .file-icon {
    margin: 0;
    font-size: @xl-icon-size;
    flex-shrink: 0;
  }

  .file-info {
    &:extend(.ellipsis);
    flex-grow: 1;
    .subtitle {
      &:extend(.font-secondary);
      &:extend(.ellipsis);

      margin: 0;
      font-weight: bold;
      font-size: @text-size;
    }
    .is-text {
      &:extend(.font-muted);
      &:extend(.ellipsis);
      margin: 0;
      font-family: @primary-font;
      font-size: @mini-text-size;
      line-height: 0.9;
    }
  }
  .button {
    flex-shrink: 0;
    &:hover {
      &:extend(.font-secondary);
    }
  }
}

@media only screen and (max-width: @mobile-small-breakpoint) {
  .embedded-file {
    min-width: unset;
    padding: @light-spacing;
    justify-content: space-between;
    .file-icon {
      display: none;
    }
  }
}
