<div :class="file.type.includes('image') ? 'embedded-image' : 'embedded-file'">
  <file-icon size="1x" class="file-icon" v-if="!file.type.includes('image')" />
  <UiChatImage
    v-if="file.type.includes('image')"
    :image="file"
    :alt="file.name"
  />
  <div class="file-info" v-if="!file.type.includes('image')">
    <TypographySubtitle :size="6" :text="`${file.name}`" />
    <TypographyText :text="`${file.type} - ${getFileSize}`" />
  </div>
  <a :href='file.url' target='_blank'>
    <download-icon size='1x' class='download' v-if="!file.type.includes('image')" />
  </a>
</div>
