.chat-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  margin: @normal-spacing;

  .chat {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
}
