.image-container {
  &:extend(.flex-centered);
  cursor: pointer;

  .glyph {
    &:extend(.full-width);
    &:extend(.full-height);
    visibility: visible;

    &.hidden {
      visibility: hidden;
    }
  }
}
