.glyph {
  display: block;
  width: 192px;
  height: 192px;
  aspect-ratio: 1/1;
  object-fit: cover;
  cursor: pointer;
}

@media only screen and (max-width: @mobile-breakpoint) {
  .glyph {
    max-width: 176px;
    height: auto;
  }
}
