.image-container {
  &:extend(.flex-centered);
  cursor: pointer;

  .glyph {
    &:extend(.full-width);
    &:extend(.full-height);

    &.hidden {
      visibility: hidden;
    }

    &.visible {
      visibility: visible;
    }
  }
}
