<div id="file-upload">
  <input
    :type="editable ? `file` : `hidden`"
    id="quick-upload"
    ref="quickUpload"
    @change="handleFile"
    multiple
  />
  <label
    v-if="type == 'quick'"
    @click="handleFileClick"
    :data-tooltip="$t('global.upload')"
    :class="`has-tooltip has-tooltip-top has-tooltip-primary upload-label ${editable ? 'active' : 'inactive'}`"
  >
    <plus-icon size="1.2x" class="control-icon" />
  </label>
  <div v-if="type =='button'">
    <label
      @click="handleFileClick"
      class="button is-button is-small is-primary is-normal-width"
    >
      <UiGlowingCursorArea>
        <file-plus-icon size="1.2x" class="control-icon" />
        &nbsp; {{ $t('global.upload_files') }}
      </UiGlowingCursorArea>
    </label>
  </div>
</div>
