#file-upload {
  #quick-upload {
    width: 0;
    height: 0;
    border: none;
    position: absolute;
  }

  .upload-button {
    color: #fff;
    display: inline-flex;
    .control-icon {
      font-size: @larger-icon-size;
      width: unset;
    }
  }
  .loading-bar {
    max-width: @half;
  }

  display: inline-flex;
  justify-self: flex-start;
  align-self: flex-start;
}
