<div id="file-upload">
  <div
    class="file-preview"
    v-if="files.length || count_error"
    @touchmove="handleTouchPreview"
    @touchstart="handleTouchPreview"
    @touchend="handleTouchPreview"
  >
    <div v-if="count_error" class="file-error">
      <TypographyError :text="$t('errors.chat.drop_file_count')" />
      <x-icon size="1x" class="has-text-danger" @click="cancelUpload" />
    </div>
    <div v-if="alertNsfw" class="file-error">
      <TypographyError :text="$t('errors.chat.contains_nsfw')" />
      <div class="is-controls">
        <InteractablesButton
          type="danger"
          size="small"
          :text="$t('pages.files.upload.close')"
          :action="closeNsfwAlert"
        />
      </div>
    </div>
    <template v-else>
      <UiScroll horizontalScroll scrollbarVisibility="scroll">
        <div class="file-list">
          <FilesUploadPreviewItem
            :item="item"
            :index="index"
            :key="index"
            @removeUploadItem="removeUploadItem(index)"
            v-for="(item, index) in files"
          ></FilesUploadPreviewItem>
        </div>
      </UiScroll>
    </template>
  </div>
  <input
    :type="editable ? `file` : `hidden`"
    id="quick-upload"
    ref="quickUpload"
    @change="handleFile"
    multiple
  />
  <label
    v-if="type == 'quick'"
    @click="handleFileClick"
    :data-tooltip="$t('global.upload')"
    :class="`has-tooltip has-tooltip-top has-tooltip-primary upload-label ${editable ? 'active' : 'inactive'}`"
  >
    <plus-icon size="1.2x" class="control-icon" />
  </label>
  <div v-if="type =='button'">
    <label
      @click="handleFileClick"
      class="button is-button is-small is-primary is-normal-width"
    >
      <UiGlowingCursorArea>
        <file-plus-icon size="1.2x" class="control-icon" />
        &nbsp; {{ $t('global.upload_files') }}
      </UiGlowingCursorArea>
    </label>
  </div>
</div>
