.input-container {
  display: flex;
  flex-direction: column;

  .input-wrapper {
    display: flex;
    align-items: stretch;

    &:extend(.bordered);
    &:extend(.round-corners);

    .button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .char-limit {
    float: right;
    margin-right: @light-spacing;
    font-size: @mini-text-size;
    &:extend(.font-muted);
    margin-left: auto;
  }
}
