<div>
  <TypographyLabel
    class="input-label"
    v-if="labelText.length"
    :text="labelText"
  />
  <div class="field has-addons">
    <div class="control" data-cy="add-input">
      <input
        v-model="internalText"
        class="input"
        :class="[`is-${size} is-${type}`, {'disabled' : disabled || loading}]"
        :readonly="readonly"
        :type="inputKind"
        data-cy="input-group"
        :placeholder="placeholder"
        :maxLength="maxLength"
        :disabled="disabled || loading"
        v-on:keyup.enter="action"
        @input="update"
        ref="input"
      />
    </div>
    <div class="control" data-cy="submit-input">
      <a
        class="button"
        :class="[`is-${type} is-${size} has-${icon ? 'icon' : 'no-icon'}`, {'disabled' : disabled || loading}]"
        @click="() => disabled || loading ? null : action()"
      >
        <UiLoadersSpinner v-if="loading" spinning />
        <span v-else>
          <slot></slot>
          {{ buttonText }}
        </span>
      </a>
    </div>
  </div>
  <span v-if="showLimit" class="char-limit"> {{ textLength }} </span>
</div>
