<div>
  <TypographyText v-if="label" as="label" color="light" uppercase small>
    {{label}}
  </TypographyText>
  <div class="input-wrapper">
    <input
      ref="input"
      class="input"
      :class="`is-${size} is-${type}`"
      :value="text"
      :type="inputKind"
      :readonly="readonly"
      :placeholder="placeholder"
      :maxLength="maxLength"
      :disabled="disabled || loading"
      @keydown.enter="action"
      @input="$emit('change', $event.target.value)"
      data-cy="input-group"
    />
    <button
      class="button"
      :class="[`is-${type} is-${size}`, {disabled: disabled}]"
      @click="disabled || loading ? null : action()"
      data-cy="submit-input"
    >
      <UiLoadersSpinner v-if="loading" spinning />
      <slot v-else></slot>
    </button>
  </div>
  <span v-if="showLimit" class="char-limit"> {{ textLength }} </span>
</div>
