.control:nth-child(1) {
  &:extend(.full-width);
}
.field {
  display: flex;
  &:extend(.bordered);
  &:extend(.round-corners);
}

.input.is-normal,
.button.is-normal {
  height: 2.3rem;
  font-size: @text-size;
}
.char-limit {
  float: right;
  margin-right: @light-spacing;
  font-size: @mini-text-size;
  &:extend(.font-muted);
  margin-left: auto;
}
