.input-label {
  text-align: left;
}
.has-icon {
  width: 40px;
}
.control:nth-child(1) {
  width: 100%;
}
.button, .button span {
  display: inline-flex;
  justify-content: center;
  align-content: center;
}
.has-addons {
  border: @light-border;
  border-radius: @corner-rounding;
}
.input.is-normal, .button.is-normal {
  height: 2.3rem;
  font-size: @text-size;
}