<div id="add-friend">
  <TypographyTitle :size="6" :text="$t('friends.add')" />
  <TypographyText :text="$t('friends.add_description')" />
  <UiSpacer :height="10" />
  <!-- max size of solana public key is 44 https://docs.solana.com/cli/transfer-tokens#receive-tokens -->
  <InteractablesInput
    v-model="accountID"
    class="search-container"
    type="primary"
    size="small"
    :placeholder="$t('friends.search_placeholder')"
    :maxLength="44"
    @update="_searchFriend"
    autofocus
  />
  <TypographyError v-if="error" :text="$t(error)" />
  <UiLoadersLoadingBar v-else-if="searching" />
  <FriendsFriend
    v-else-if="friend"
    :friend="friend"
    @requestSent="onFriendRequestSent"
    send
  />
  <!-- <UiSpacer :height="10" />
    <TypographyHorizontalRuleText plaintext value="OR" />
    <UiSpacer :height="10" />
    <TypographyTitle :size="6" :text="$t('friends.add_via_qr')" />
    <TypographyText :text="$t('friends.add_qrcode_description')" />
    <UiSpacer :height="10" />
    <div class="card">
      <div class="card-content">
        <div class="content">
          <div class="columns">
            <div class="column">
              <TypographyText :text="$t('friends.scan_code')" />
              <InteractablesButton
                type="primary"
                size="small"
                :text="$t('friends.camera_scan')"
              />
            </div>
            <div class="column">
              <TypographyText :text="$t('friends.friend_code')" />
              <qrcode-vue :value="friendInviteUrl" :size="150" level="H" />
            </div>
          </div>
        </div>
      </div>
    </div> -->
</div>
