#add-friend {
  .card {
    &:extend(.background-semitransparent-light);
    &:extend(.bordered);
    &:extend(.font-primary);
  }
  .search-container {
    margin: @light-spacing @light-spacing;
  }
  .error {
    margin: 0 @normal-spacing;
  }
  padding-top: 0;
}
