<div id="add-friend">
  <TypographyTitle :size="6" :text="$t('friends.add')" />
  <TypographyText :text="$t('friends.add_description')" />
  <UiSpacer :height="10" />
  <InteractablesInputGroup
    class="search-container"
    type="primary"
    size="small"
    :placeholder="$t('friends.search_placeholder')"
    @update="_searchFriend"
    v-model="accountID"
    :loading="searching"
    :autofocus="hasNoFriends"
  >
    <user-plus-icon size="1x" />
  </InteractablesInputGroup>
  <TypographyError v-if="error" :text="$t(error)" class="error" />
  <FriendsFriend
    v-if="friend"
    :friend="friend"
    @requestSent="onFriendRequestSent"
    send
  />
  <span v-if="featureReadyToShow">
    <UiSpacer :height="10" />
    <TypographyHorizontalRuleText plaintext value="OR" />
    <UiSpacer :height="10" />
    <TypographyTitle :size="6" :text="$t('friends.add_via_qr')" />
    <TypographyText :text="$t('friends.add_qrcode_description')" />
    <UiSpacer :height="10" />
    <div class="card">
      <div class="card-content">
        <div class="content">
          <div class="columns">
            <div class="column">
              <TypographyText :text="$t('friends.scan_code')" />
              <InteractablesButton
                type="primary"
                size="small"
                :text="$t('friends.camera_scan')"
              />
            </div>
            <div class="column">
              <TypographyText :text="$t('friends.friend_code')" />
              <qrcode-vue :value="friendInviteUrl" :size="size" level="H" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </span>
</div>
