<div class="file-item">
  <button class="close" @click="$emit('removeUploadItem')" v-if="!!item.url">
    <x-icon size="1x" />
  </button>
  <div class="preview">
    <div
      :class="{thumbnail: true, blur: item.nsfw.status}"
      v-if="isEmbedableImage(item.file.name)"
      :style="`background-image:url(${item.url})`"
    ></div>
    <file-icon
      size="1x"
      v-if="!isEmbedableImage(item.file.name)"
      class="control-icon"
    />
    <UiLoadersLogoLoader v-if="!item.url" :size="48" />
    <div class="nsfw-text">
      <TypographySubtitle
        :size="6"
        :text="$t('pages.files.upload.scanning_image')"
        v-if="item.nsfw.checking"
      />
      <TypographySubtitle
        :size="6"
        :text="`${$t('errors.chat.unable_preview')}. ${$t('errors.chat.upload_blocked')}`"
        v-if="item.nsfw.status"
      />
      <slash-icon size="1x" v-if="item.nsfw.status" />
    </div>
  </div>
  <div class="file-info">
    <TypographyTitle :size="6" :text="item.file.name" />
    <div>
      <div v-for="itemProgress in uploadProgress">
        <div v-if="itemProgress.name === item.file.name">
          <div v-if="itemProgress.progress !== 100">
            <UiProgress :progress="itemProgress.progress" type="loading" />
            <TypographySubtitle
              :text="`${itemProgress.progress.toFixed(2)}% Uploaded...`"
            />
          </div>
          <div v-if="itemProgress.finished">
            <file-plus-icon />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
