<div class="message-actions" data-cy="message-actions">
  <div
    class="reply-command"
    data-cy="message-action-react"
    v-tooltip.top="$t('ui.emoji')"
    @click="emojiReaction"
  >
    <smile-icon size="1x" class="control-icon" />
  </div>
  <div
    v-if="!hideReply"
    class="reply-command"
    data-cy="message-action-reply"
    v-tooltip.top="$t('messaging.reply')"
    @click="setReplyChatbarMessage"
  >
    <corner-down-right-icon size="1x" class="control-icon" />
  </div>
  <div
    v-if="featureReadyToShow"
    class="reply-command"
    v-tooltip.top="$t('messaging.pin')"
  >
    <archive-icon size="1x" class="control-icon" />
  </div>
  <div
    v-if="isEditable"
    class="reply-command"
    data-cy="message-action-edit"
    v-tooltip.top="$t('controls.edit')"
    @click="editMessage"
  >
    <edit-icon size="1x" class="control-icon" />
  </div>
  <div
    v-if="hasMoreSettings"
    class="reply-command"
    v-tooltip.top="$t('ui.more')"
  >
    <more-vertical-icon size="1x" class="control-icon" />
  </div>
</div>
