.message-actions {
  display: flex;
  align-items: center;
  position: absolute;
  top: -18px;
  right: 0;
  height: 36px;
  padding: 0 0.25rem;
  &:extend(.bordered);
  &:extend(.round-corners);
  &:extend(.background-semitransparent-light);
  &:extend(.blur);

  .reply-text {
    padding: 0 0.25rem;
  }

  .reply-command {
    width: 35px;
    // height: 35px;
    padding: 0.25rem;
    display: flex;
    justify-content: center;
    cursor: pointer;

    &.coming-soon,
    &.coming-soon:hover {
      cursor: not-allowed;
      svg {
        color: grey;
      }
    }

    &:hover {
      &:extend(.background-semitransparent-light);
      .control-icon {
        &:extend(.font-secondary);
      }
    }

    .control-icon {
      justify-self: center;
      align-self: center;
      font-size: @small-icon-size;
      &:extend(.font-primary);
    }
  }
}
