<div class="message-actions">
  <div
    class="reply-command"
    :class="{'coming-soon': isGroup}"
    v-tooltip.top="$t(isGroup ? 'ui.coming_soon' : 'ui.emoji')"
    @click="emojiReaction"
  >
    <smile-icon
      size="1x"
      :class="`control-icon emoji-icon ${ui.enhancers.show ? 'primary' : ''}`"
    />
  </div>
  <div
    v-if="!hideReply"
    class="reply-command"
    :class="{'coming-soon': isGroup}"
    v-tooltip.top="$t(isGroup ? 'ui.coming_soon' : 'messaging.reply')"
    @click="setReplyChatbarMessage"
  >
    <corner-down-right-icon size="1x" :class="'control-icon'" />
  </div>
  <div
    class="reply-command"
    v-tooltip.top="$t('messaging.pin')"
    v-if="featureReadyToShow"
  >
    <archive-icon size="1x" :class="'control-icon'" />
  </div>
  <div
    class="reply-command coming-soon"
    v-tooltip.top="$t('controls.edit')"
    v-if="isEditable"
    @click="toggleModal(ModalWindows.CALL_TO_ACTION)"
  >
    <edit-icon size="1x" :class="'control-icon'" />
  </div>
  <div
    class="reply-command"
    v-tooltip.top="$t('ui.more')"
    v-if="hasMoreSettings"
  >
    <more-vertical-icon size="1x" :class="'control-icon'" />
  </div>
</div>
