<div class="message-actions">
  <div
    class="reply-command has-tooltip has-tooltip-primary"
    :data-tooltip="$t('ui.emotes')"
    @click="emojiReaction"
  >
    <smile-icon
      size="1x"
      :class="`control-icon emoji-icon ${ui.enhancers.show ? 'primary' : ''}`"
    />
  </div>
  <div
    v-if="!hideReply"
    class="reply-command has-tooltip has-tooltip-primary"
    :data-tooltip="$t('messaging.reply')"
    @click="setReplyChatbarContent"
  >
    <corner-down-right-icon size="1x" :class="'control-icon'" />
  </div>
  <div
    class="reply-command has-tooltip has-tooltip-primary"
    :data-tooltip="$t('messaging.pin')"
    v-if="featureReadyToShow"
  >
    <archive-icon size="1x" :class="'control-icon'" />
  </div>
  <div
    class="reply-command has-tooltip has-tooltip-primary"
    :data-tooltip="$t('controls.edit')"
    v-if="isEditable"
    @click="editMessage"
  >
    <edit-icon size="1x" :class="'control-icon'" />
  </div>
  <div
    class="reply-command has-tooltip has-tooltip-primary"
    :data-tooltip="$t('ui.more')"
    v-if="hasMoreSettings"
  >
    <more-vertical-icon size="1x" :class="'control-icon'" />
  </div>
</div>
