#bottom-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: @light-spacing;
  padding: 0 16px;

  &.is-error {
    border: 1px solid @red;

    .control-icon {
      &:nth-child(4) {
        &:extend(.color-danger);
      }
    }
  }
}
