<div class="cta" data-cy="modal-cta">
  <InteractablesClose :action="closeModal" />
  <satellite-icon class="sat-icon" size="3.5x" />
  <TypographyTitle
    class="main-title"
    :size="3"
    :text="$t('modal.call_to_action.title')"
  />
  <TypographyTitle
    class="sub"
    :size="6"
    :text="$t('modal.call_to_action.subtitle')"
  />
  <ul>
    <li>
      <TypographyText> {{ $t('modal.call_to_action.item1') }} </TypographyText>
    </li>
    <li>
      <TypographyText> {{ $t('modal.call_to_action.item2') }} </TypographyText>
    </li>
    <li>
      <TypographyText> {{ $t('modal.call_to_action.item3') }} </TypographyText>
    </li>
    <li>
      <TypographyText> {{ $t('modal.call_to_action.item4') }} </TypographyText>
    </li>
    <li>
      <TypographyText> {{ $t('modal.call_to_action.item5') }} </TypographyText>
    </li>
  </ul>
  <UiHorizontalRule />
  <TypographyText>
    {{ $t('modal.call_to_action.description') }}
  </TypographyText>
  <InteractablesButton
    type="primary"
    :text="$t('modal.call_to_action.btn')"
    :action="showTwitter"
  >
    <radio-icon size="1.5x" />
  </InteractablesButton>
</div>
