.cta {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: @large-spacing * 2 @large-spacing @normal-spacing;
  &:extend(.modal-gradient);
  color: @secondary-text;

  .close-button {
    top: @large-spacing * 2;
  }
  .sat-icon {
    fill: @white;
    margin: 0 auto @normal-spacing;
    overflow: visible;
  }
  .main-title {
    text-align: center;
    font-weight: 400;
  }
  .title {
    color: @secondary-text;
    &.sub {
      margin-bottom: @normal-spacing;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: @light-spacing;
    list-style-type: disc;
    margin-left: @normal-spacing;
  }

  .twitter-btn {
    margin-top: @normal-spacing;
  }
}
