<SettingsPage>
  <SettingsSection>
    <SettingsUnit>
      <TypographyTitle
        :size="6"
        :text="$t('pages.settings.notifications.title')"
      />
      <TypographySubtitle
        :size="6"
        :text="$t('pages.settings.notifications.notes')"
      />
    </SettingsUnit>
  </SettingsSection>
  <TypographyLabel
    :text="$t('pages.settings.notifications.labels.current_platform')"
  />
  <TypographyText> {{ Platform }} </TypographyText>
  <br />

  <SettingsSection>
    <SettingsUnit>
      <span
        v-if="Platform === PlatformTypeEnum.WEB || Platform === PlatformTypeEnum.ELECTRON"
      >
        <span v-if="Platform === PlatformTypeEnum.WEB">
          <TypographyLabel :text="$t('pages.settings.notifications.enabled')" />
          <br />
          <TypographyText v-if="NotificationStatus === 'granted'">
            {{ $t('pages.settings.notifications.web.granted') }}
          </TypographyText>
          <TypographyText v-if="NotificationStatus === 'denied'">
            {{ $t('pages.settings.notifications.web.denied') }}
          </TypographyText>
        </span>

        <!-- 
          // The request permissions auto fires on page load on web
         <InteractablesButton
          v-if="(NotificationStatus !== 'granted') && (NotificationStatus !== 'denied')"
          :text="$t('pages.settings.audio.sources.permissionButtonText')"
          size="xs"
          :action="requestPermission"
        /> -->
        <br />
        <TypographyLabel
          :text="$t('pages.settings.notifications.send_label')"
        />
        <InteractablesInput
          v-if="NotificationStatus === 'granted' || Platform === PlatformTypeEnum.ELECTRON"
          class="modal-input"
          size="xs"
          v-model="$data.NotificationText"
          :placeholder="$t('pages.settings.notifications.send_placeholder')"
          @submit="sendNotification"
        >
          <arrow-right-icon size="1x" />
        </InteractablesInput>
      </span>
      <span v-if="Platform === PlatformTypeEnum.ANDROID">
        <InteractablesInput
          v-model="NotificationText"
          class="modal-input"
          size="xs"
          @submit="sendNotification"
        >
          <arrow-right-icon size="1x" />
        </InteractablesInput>
      </span>
    </SettingsUnit>
  </SettingsSection>

  <SettingsPagesNotificationsSounds />
</SettingsPage>
