#mini-wallet {
  height: @enhancers-height;
  width: @enhancers-width;
  position: absolute;
  right: @normal-spacing;
  bottom: @chatbar-size;
  margin-bottom: @light-spacing;
  border-radius: @corner-rounding;
  background: @semitransparent-light-gradient;
  overflow: hidden;
  z-index: @base-z-index + 100;
  backdrop-filter: @blur;
}