<div id="uploader" :class="inline ? 'inline' : ''">
  <div class="file-preview" v-if="file">
    <div class="img-wrapper">
      <img v-if="isEmbedableImage(file.name)" :src="url" v-bind:class="{ 'img-blur': nsfw.status  }"/>
    </div>
    <file-icon size="1x" v-if="!isEmbedableImage(file.name)" class="control-icon" />
    <div class="file-info">
      <TypographyTitle :size="6" :text="file.name" />
      <div v-if="nsfw.status || nsfw.checking" class="nsfw-text" >
        <TypographySubtitle :size="6" text="Scanning Image..." v-if="nsfw.checking" />
        <TypographySubtitle :size="6" text="Upload Blocked" v-if="nsfw.status" />
        <slash-icon size="1x" v-if="nsfw.status"/>
      </div>
      <div v-else>
        <TypographySubtitle :size="6" :text="file.type" />
        <TypographySubtitle :size="6" :text="$filesize(file.size)" />
      </div>
      <div class="is-controls">
        <InteractablesButton type="primary" size="small" :text="$t('pages.files.browse.upload')" outlined :disabled="this.$props.nsfw.status || this.$props.nsfw.checking" />
        <InteractablesButton type="danger" size="small" :text="$t('global.cancel')" outlined :action="cancelUpload" />
      </div>
    </div>
  </div>
</div>