.error-network-container {
  &:extend(.modal-gradient);
  padding: 1rem;

  .modal-body {
    .custom-modal-content {
      padding: 0 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .mascot {
        width: 15rem;
        height: 15rem;
        filter: drop-shadow(0 0 3px @flair-color);
      }

      .title {
        font-size: 1.9rem;
        color: @secondary-text;
        margin-top: 2rem;
        text-align: center;
      }

      .subtitle {
        margin-top: 2rem;
      }

      .action {
        width: 100%;
        margin-top: 1rem;

        .text {
          margin: 0 0.5rem;
        }
      }
    }
  }
}

@media only screen and (min-width: @mobile-breakpoint) {
  .error-network-container {
    max-width: 550px;
  }
}
