.error-network-container {
  &:extend(.modal-gradient);
  padding: 32px;
  max-width: 550px;

  .modal-body {
    .custom-modal-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;

      .mascot {
        width: 15rem;
        height: 15rem;
        filter: drop-shadow(0 0 3px @flair-color);
      }

      .title {
        font-size: 1.9rem;
        color: @secondary-text;
        text-align: center;
      }

      .action {
        width: 100%;

        .text {
          margin: 0 0.5rem;
        }
      }
    }
  }
}

@media (max-width: @mobile-breakpoint) {
  .error-network-container {
    padding: 16px;
    height: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-body {
      max-width: 550px;

      .custom-modal-content {
        .mascot {
          width: 10rem;
          height: 10rem;
        }

        .title {
          font-size: 1.5rem;
        }
      }
    }
  }
}
