.side-bar {
    .header {
        display: flex;
        align-items: center;
        padding: 32px;
        font-family: @primary-font;
        font-size: 24px;
        font-weight: 400 !important;

        .fa-shopping-bag {
            color: #F6CC6B;
            margin-right: 16px;
        }
    }
}