.breadcrumb {
  font-family: @primary-font;
  font-size: @text-size;
  a {
    text-transform: capitalize;
    color: @primary-color;
    &:hover {
      color: @primary-color;
    }
  }
  li + li::before {
    color: @text;
  }
  
  li.is-active a {
    color: @text-muted;
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  .breadcrumb {
    min-width: 100%;
  }
}