.satellite-circle {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: @bright-text;
    border-radius: 50%;
    font-weight: 500;
    color: #fff;
}