<div
  id="file-list"
  :class="{'hidden-scroll': !$device.isMobile}"
  v-scroll-lock="true"
>
  <component
    :is="!$device.isMobile? 'UiScroll' : 'div'"
    verticalScroll
    scrollbarVisibility="scroll"
  >
    <table class="table">
      <thead>
        <th>
          {{ $t('pages.files.browse.name') }}
          <filter-icon size="0.8x" class="sort" />
        </th>
        <th v-if="!$device.isMobile">
          {{ $t('pages.files.browse.modified') }}
          <filter-icon size="0.8x" class="sort" />
        </th>
        <th v-if="!$device.isMobile">
          {{ $t('pages.files.browse.type') }}
          <filter-icon size="0.8x" class="sort" />
        </th>
        <th v-if="!$device.isMobile">
          {{ $t('pages.files.browse.encrypted') }}
          <filter-icon size="0.8x" class="sort" />
        </th>
        <th>
          {{ $t('pages.files.browse.size') }}
          <filter-icon size="0.8x" class="sort" />
        </th>
        <th></th>
      </thead>
      <tbody>
        <tr class="item" v-for="item in directory">
          <td class="filename" @click="handle(item)">
            <span class="icon">
              <folder-icon size="1x" v-if="item.content" />
              <archive-icon
                size="1x"
                v-else-if="item.type && item.type.includes('archive')"
              />
              <image-icon
                size="1x"
                v-else-if="item.type && item.type.includes('image')"
              />
              <file-icon size="1x" v-else />
            </span>
            {{ item.name }}
          </td>
          <td v-if="!$device.isMobile">
            {{ $dayjs(item.modified).fromNow() }}
          </td>
          <td v-if="!$device.isMobile">
            {{ item.type ? item.type : item.children ? 'Folder' : '-' }}
          </td>
          <td
            class="has-tooltip has-tooltip-primary has-tooltip-top"
            :data-tooltip="(item.encrypted) ? $t('global.encrypted') : $t('global.unencrypted')"
            v-if="!$device.isMobile"
          >
            <lock-icon size="1x" v-if="item.encrypted" />
            <unlock-icon size="1x" v-else />
          </td>
          <td>{{ item.size ? $filesize(item.size) : '-' }}</td>
          <td class="options">
            <more-vertical-icon size="1x" />
          </td>
        </tr>
      </tbody>
    </table>
  </component>
</div>
