<table
  class="table"
  data-cy="files-table"
  :class="{'disabled' : isFilesIndexLoading}"
>
  <thead>
    <th
      @click="!$route.query.route && setSort(FileSortEnum.NAME)"
      :class="{'disabled' : $route.query.route}"
    >
      {{ $t('pages.files.browse.name') }}
      <template v-if="sort.category===FileSortEnum.NAME && !$route.query.route">
        <chevron-up-icon v-if="sort.asc" size="1x" />
        <chevron-down-icon v-else size="1x" />
      </template>
    </th>
    <th
      @click="!$route.query.route && setSort(FileSortEnum.MODIFIED)"
      :class="{'disabled' : $route.query.route}"
    >
      {{ $t('pages.files.browse.modified') }}
      <template
        v-if="sort.category===FileSortEnum.MODIFIED && !$route.query.route"
      >
        <chevron-up-icon v-if="sort.asc" size="1x" />
        <chevron-down-icon v-else size="1x" />
      </template>
    </th>
    <th
      v-if="!$device.isMobile"
      @click="!$route.query.route && setSort(FileSortEnum.TYPE)"
      class="open-sidebar-hide"
      :class="{'disabled' : $route.query.route}"
    >
      {{ $t('pages.files.browse.type') }}
      <template v-if="sort.category===FileSortEnum.TYPE && !$route.query.route">
        <chevron-up-icon v-if="sort.asc" size="1x" />
        <chevron-down-icon v-else size="1x" />
      </template>
    </th>
    <th
      @click="!$route.query.route && setSort(FileSortEnum.SIZE)"
      class="open-sidebar-hide"
      :class="{'disabled' : $route.query.route}"
    >
      {{ $t('pages.files.browse.size') }}
      <template v-if="sort.category===FileSortEnum.SIZE && !$route.query.route">
        <chevron-up-icon v-if="sort.asc" size="1x" />
        <chevron-down-icon v-else size="1x" />
      </template>
    </th>
    <th />
  </thead>
  <tbody>
    <FilesListRow
      v-for="item, i in directory"
      :key="i + counter"
      :item="item"
      data-cy="files-item"
      @like="like"
      @share="share"
      @remove="remove"
      @handle="handle"
    />
  </tbody>
</table>
