.table {
  display: table;
  cursor: pointer;
  &:extend(.full-width);
  font-size: @text-size;
  background: transparent;
  &:extend(.no-select);

  &.disabled {
    cursor: not-allowed;
  }

  .table-header {
    display: table-row;

    .table-cell {
      display: table-cell;
      &:extend(.font-secondary);
      border-bottom: 1px solid @text-muted;
      padding: @light-spacing 0;
      min-width: 18px;

      &:first-of-type {
        padding-left: 1.8rem;
      }

      &:not(:last-child) {
        min-width: 160px;
      }

      &:last-child {
        padding: 0;
      }

      svg {
        display: inline;
        font-size: 9pt;
      }
    }
  }

  .table-body {
    display: table-row-group;
  }
}

@media only screen and (max-width: @medium-breakpoint) {
  .swiper-slide-next {
    .open-sidebar-hide {
      display: none;
    }
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  .table {
    min-width: @viewport-width - 20px;

    .table-header {
      .table-cell {
        &:first-of-type {
          padding-left: @light-spacing;
        }

        &:not(:last-child) {
          min-width: 75px;
        }

        &:last-child {
          padding-right: @light-spacing;
        }
      }
    }
  }
}
