.table {
  cursor: pointer;
  &:extend(.full-width);
  font-size: @text-size;
  background: transparent;

  &.disabled {
    cursor: not-allowed;
  }

  th {
    &:extend(.font-secondary);
    border-bottom-width: 1px;
    border-bottom-color: @text-muted;

    &:first-of-type {
      padding-left: @xlarge-spacing;
    }
    &:not(:last-child) {
      min-width: 160px;
    }
    &:last-child {
      padding: 0;
    }

    svg {
      font-size: 9pt;
    }
  }
}

@media only screen and (max-width: @medium-breakpoint) {
  .swiper-slide-next {
    .open-sidebar-hide {
      display: none;
    }
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  .table {
    min-width: @viewport-width - 20px;
    th {
      padding: @light-spacing;
      &:first-of-type {
        padding-left: @light-spacing;
      }
      &:not(:last-child) {
        min-width: 75px;
      }
    }
  }
}
