.file-preview {
  height: 25vh;
  width: calc(@full - 2rem);
  margin: 0 1rem;
  background-color: #181f2c;
  border-bottom-color: rgba(87, 101, 116, 0.3);
  border-radius: @corner-rounding @corner-rounding 0 0;
  padding: @xlight-spacing @normal-spacing;

  .file-list {
    height: fit-content;
    display: flex;
    flex-wrap: nowrap;
  }

  .file-error {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: @large-spacing 0;

    .close-button {
      cursor: pointer;
    }
  }

  &.empty {
    height: 0px;
    padding: 0px;
  }
}
