<div
  :class="`${files.length > 0 ? 'bordered file-preview' : 'file-preview'}`"
  @touchmove="handleTouchPreview"
  @touchstart="handleTouchPreview"
  @touchend="handleTouchPreview"
>
  <div v-if="countError" class="file-error">
    <TypographyError :text="$t('errors.chat.drop_file_count')" />
    <div class="close-button">
      <x-icon
        size="1x"
        class="has-text-danger"
        @click="$emit('cancelUpload')"
      />
    </div>
  </div>
  <div v-if="alertNsfw" class="file-error">
    <TypographyError :text="$t('errors.chat.contains_nsfw')" />
    <div class="close-button">
      <x-icon size="1x" class="has-text-danger" @click="closeNsfwAlert" />
    </div>
  </div>
  <template v-if="files.length > 0">
    <UiSimpleScroll scrollMode="horizontal" scrollShow="scroll">
      <div class="file-list">
        <FilesUploadPreviewItem
          :item="item"
          :index="index"
          :key="index"
          @removeUploadItem="removeUploadItem(index)"
          v-for="(item, index) in files"
        ></FilesUploadPreviewItem>
      </div>
    </UiSimpleScroll>
  </template>
</div>
