.button-group {
  .styled-button {
    &:first-child {
      border-radius: @corner-rounding 0px 0px @corner-rounding;
    }
    &:last-child {
      border-radius: 0px @corner-rounding @corner-rounding 0px;
    }
    cursor: pointer;
    border-radius: 0;
    margin: 0;
    border: none;
  }
  &.is-normal-width {
    .styled-button {
      &:not(:first-child) {
        margin: 0 -1.5px;
        border-left: none;
      }
    }
    display: inline;
  }
  &.is-full-width {
    &:extend(.full-width);
    .styled-button {
      flex-grow: 1;
    }
    display: flex;
  }
}
