#simple-scrollbar {
  width: @full;
  height: @full;
  display: flex;

  &.scrollbar-vertical {
    overflow-x: hidden;
    overflow-y: scroll;
    flex-direction: row;

    .wrapper {
      width: calc(@full + @scroll-bar-size);
      height: @full;

      @media only screen and (max-width: 1024px) {
        width: calc(@full + @scroll-bar-size*2);
      }
    }

    .mask {
      pointer-events: none;
      width: @scroll-bar-size;

      @media only screen and (max-width: 1024px) {
        width: @scroll-bar-size*2;
      }
    }

    &::-webkit-scrollbar {
      width: @scroll-bar-size;
    }
  }

  &.scrollbar-horizontal {
    overflow-y: hidden;
    overflow-x: scroll;
    flex-direction: column;

    .wrapper {
      width: @full;
      height: calc(@full - @scroll-bar-size);

      @media only screen and (max-width: 1024px) {
        height: calc(@full - @scroll-bar-size*2);
      }
    }

    .mask {
      pointer-events: none;
      height: @scroll-bar-size;

      @media only screen and (max-width: 1024px) {
        height: @scroll-bar-size*2;
      }
    }

    &::-webkit-scrollbar {
      height: @scroll-bar-size;
    }
  }

  scrollbar-width: thin;
  scrollbar-color: var(--flair-color) transparent;

  &:hover {
    &::-webkit-scrollbar-thumb {
      border-radius: @scroll-bar-size*2;
      background-color: var(--flair-color);
    }
  }

  &.scrollbar-always-visible::-webkit-scrollbar-thumb {
    border-radius: @scroll-bar-size*2;
    background-color: var(--flair-color);
  }

  @media only screen and (max-width: 1024px) {
    &::-webkit-scrollbar-thumb {
      border-radius: @scroll-bar-size*2;
      background-color: var(--flair-color);
    }

    &.scrollbar-vertical {
      &::-webkit-scrollbar {
        width: @scroll-bar-size*2;
      }
    }

    &.scrollbar-horizontal {
      &::-webkit-scrollbar {
        height: @scroll-bar-size*2;
      }
    }

    scrollbar-width: auto;
  }
}
