#simple-scrollbar {
  @scrollBarSize: 5px;
  width: @full;
  height: @full;

  &.scrollbar-vertical {
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: @scrollBarSize*2;

    &::-webkit-scrollbar {
      width: @scrollBarSize;
    }
  }

  &.scrollbar-horizontal {
    overflow-y: hidden;
    overflow-x: scroll;
    padding-bottom: @scrollBarSize*2;

    &::-webkit-scrollbar {
      height: @scrollBarSize;
    }
  }

  scrollbar-width: thin;
  scrollbar-color: var(--flair-color) transparent;

  &:hover {
    &::-webkit-scrollbar-thumb {
      border-radius: @scrollBarSize*2;
      background-color: var(--flair-color);
    }
  }

  &.scrollbar-always-visible::-webkit-scrollbar-thumb {
    border-radius: @scrollBarSize*2;
    background-color: var(--flair-color);
  }
}
