#wallet-balance {
  width: 100%;
  background: @semitransparent-light-gradient;
  border-radius: @corner-rounding;
  padding: @normal-spacing;
  border: @light-border;

  .balance-heading {
    display: inline-flex;
    .is-text {
      margin-left: @light-spacing;
    }
  }
  .wallet-body {
    display: flex;
    .title {
      color: @green;
      margin-top: @normal-spacing;
      margin-bottom: @light-spacing;
    }

    .is-text {
      margin-bottom: @normal-spacing;
    }

    .wallet-body-left, .wallet-body.right {
      width: 100%;
    }

    .wallet-body-right .is-text {
      font-size: @micro-text-size;
    }

    .inline {
      display: inline-flex;
      width: 100%;
      margin-bottom: @light-spacing;
      .button {
        margin-right: @light-spacing;
      }

      .modal-input {
        width: 70%;
      }
      .select {
        margin-left: @light-spacing;
        width: 30%;
      }
    }
  }
}