<div class="file" :class="{ 'is-liked': item.liked }" @click="click">
  <UiContextMenu :items="contextMenuValues">
    <!-- add container so blur effect doesn't go outside the dimensions of the image -->
    <ui-image-container
      v-if="thumbnail"
      :nsfw="item.nsfw"
      class="image-container"
    >
      <img :src="thumbnail" draggable="false" />
    </ui-image-container>
    <div v-else class="icon-container">
      <folder-icon v-if="item.children" size="4x" class="file-type-icon" />
      <archive-icon v-else-if="isArchive" size="4x" class="file-type-icon" />
      <image-icon v-else-if="isImage" size="4x" class="file-type-icon" />
      <film-icon v-else-if="isVideo" size="4x" class="file-type-icon" />
      <file-icon v-else size="4x" class="file-type-icon" />
    </div>
    <div class="quick-actions">
      <heart-icon
        size="1.25x"
        class="like"
        :class="{liked : item.liked}"
        @mouseover="heartHover=true"
        @mouseleave="heartHover=false"
      />
      <link-icon v-if="item.shared" size="1.25x" class="link" />
    </div>
    <div class="text-container">
      <TypographyText class="ellipsis" color="light" size="sm">
        {{ item.name }}
      </TypographyText>
      <TypographyText class="ellpisis" color="dark" size="sm">
        {{ subtext }}
      </TypographyText>
    </div>
  </UiContextMenu>
</div>
