<div
  id="chatbar"
  ref="chatbar"
  :class="ui.replyChatbarContent.id ? 'has-reply' : ''"
>
  <ChatbarReply v-if="recipient" />
  <div
    class="chatbar-wrap"
    :class="{'is-error': charlimit, 'inactive': !recipient, 'top-corners-sharp': showFilePreview || ui.replyChatbarContent.id || commandPreview}"
    ref="wrap"
  >
    <div class="control-wrap file-upload-wrap">
      <FilesUpload
        :editable="recipient ? true : false"
        :recipient="recipient"
        type="quick"
        ref="file-upload"
      />
    </div>
    <div
      :class="`chat-label ${isValidCommand ? 'green' : 'color-danger'}`"
      v-if="hasCommand"
      ref="chatbar"
    >
      <terminal-icon size="1x" />
    </div>
    <Editable
      v-model="text"
      :placeholder="$t('ui.talk')"
      :enabled="Boolean(recipient)"
      :class="`messageuser ${hasCommand ? 'has-command' : ''}`"
      :handleInputKeydownProps="handleInputKeydown"
      :handleInputKeyupProps="handleInputKeyup"
      :handleDropProps="handleDrop"
      :handlePasteProps="handlePaste"
    />

    <ChatbarControls
      :editable="recipient ? true : false"
      :sendMessage="sendMessage"
      id="chatbar-controls"
    />
  </div>
  <ChatbarFooter
    :text="text"
    :charlimit="charlimit"
    :typing="recipientTyping"
    :usersTyping="activeFriend ? [ activeFriend ] : []"
  />
</div>
