<div
  id="chatbar"
  ref="chatbar"
  :class="ui.replyChatbarContent.id ? 'has-reply' : ''"
>
  <Enhancers @click="handleChatTextFromOutside" :recipient="recipient" />
  <!-- Hide commands for early access -->
  <!-- <ChatbarCommandsPreview :recipient="recipient" :message="ui.chatbarContent" /> -->
  <ChatbarReply v-if="recipient" />
  <FilesUploadFilePreview
    :recipient="recipient"
    :files="files"
    @cancelUpload="onCancelUpload"
  />
  <div
    class="chatbar-wrap"
    :class="{'is-error': charlimit, 'inactive': !recipient, 'top-corners-sharp': files.length > 0 || ui.replyChatbarContent.id || commandPreview || $store.state.chat.alertNsfw || $store.state.chat.countError}"
    ref="wrap"
  >
    <div class="control-wrap file-upload-wrap">
      <FilesUpload
        :recipient="recipient"
        ref="file-upload"
        :files="files"
        @cancelUpload="onCancelUpload"
      />
    </div>
    <div
      :class="`chat-label ${isValidCommand ? 'green' : 'color-danger'}`"
      v-if="hasCommand"
      ref="chatbar"
    >
      <terminal-icon size="1x" />
    </div>
    <ChatbarEditable
      ref="editable"
      v-model="text"
      :placeholder="$t('ui.talk')"
      :enabled="Boolean(recipient) && !textile.messageLoading"
      :class="`messageuser ${hasCommand ? 'has-command' : ''}`"
      :focus="ui.chatbarFocus"
      @keydown="handleInputKeydown"
      @paste="handlePaste"
    />
    <ChatbarControls
      :disabled="!recipient"
      :sendMessage="sendMessage"
      id="chatbar-controls"
    />
  </div>
  <ChatbarFooter :text="text" :charlimit="charlimit" />
</div>
