#chatbar {
  display: flex;
  flex-direction: column;
  transition: height @animation-speed;

  @media only screen and (max-width: @mobile-breakpoint) {
    margin: 0 @normal-spacing @normal-spacing;
  }

  .chatbar-wrap {
    display: flex;
    align-items: flex-end;
    gap: @light-spacing;
    padding: 0 @normal-spacing;
    position: relative;
    border-radius: 20px;
    border: 1px solid transparent;
    &:extend(.background-semitransparent-light);

    &.is-error {
      border-color: @red;
    }

    &.top-corners-sharp {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    // .chat-label {
    //   font-size: @mini-text-size;
    //   font-weight: bold;
    //   width: 1.5rem;
    //   height: 1.25rem;
    //   padding: 0.15rem;
    //   text-align: center;
    //   align-content: center;
    //   border-radius: @corner-rounding-smaller;
    //   cursor: pointer;
    //   align-self: flex-start;
    //   margin-top: 11px;
    // }
  }
}
