<div id="developer-settings">
  <div class="columns is-desktop">
    <div class="column">
      <TypographyTitle :size="6" :text="$t('pages.settings.info.title')" />
      <TypographySubtitle
        :size="6"
        :text="$t('pages.settings.info.subtitle')"
      />
    </div>
  </div>

  <div class="columns is-desktop">
    <div class="column">
      <TypographyLabel :text="$t('pages.settings.app_info')" />
      <br />
      <pre>
        App Version: {{ this.$config.clientVersion }}
        Browser:     {{ this.$envinfo.navigator.vendor }}, {{ this.$envinfo.navigator.product }}
        Language:    {{ this.$envinfo.navigator.product }}
        <span v-if="cpu">Platform:    {{cpu}}</span>
        <span v-if="renderer">Processor:   {{renderer}}</span>
        Online:      {{ this.$envinfo.navigator.onLine }}
      </pre>
    </div>
  </div>
  <div class="columns is-desktop">
    <div class="column">
      <TypographyLabel :text="$t('pages.settings.changelog')" />
      <br />
      <pre>
        <vue-markdown :source="releaseData && releaseData.body" :breaks="false"/>
      </pre>
    </div>
  </div>
</div>
