<SettingsPage>
  <SettingsUnit>
    <TypographyText as="h2">
      {{ $t('pages.settings.info.title') }}
    </TypographyText>
    <TypographyText color="dark">
      {{ $t('pages.settings.info.subtitle') }}
    </TypographyText>
  </SettingsUnit>

  <SettingsUnit>
    <TypographyLabel :text="$t('pages.settings.app_info')" />
    <br />
    <pre>
        App Version: {{ this.$config.clientVersion }}
        Browser:     {{ this.$envinfo.navigator.vendor }}, {{ this.$envinfo.navigator.product }}
        Language:    {{ this.$envinfo.navigator.product }}
        <span v-if="cpu">Platform:    {{cpu}}</span>
        <span v-if="renderer">Processor:   {{renderer}}</span>
        Online:      {{ this.$envinfo.navigator.onLine }}
      </pre>
  </SettingsUnit>
  <SettingsUnit>
    <TypographyLabel :text="$t('pages.settings.changelog')" />
    <br />
    <pre>
        <vue-markdown :source="releaseData && releaseData.body" :breaks="false"/>
      </pre>
  </SettingsUnit>
</SettingsPage>
