/*Typing Loader*/

#typing-badge-container {
  width: fit-content;
  height: 20px;
  //   margin: 0 40px;
  display: flex;
  align-items: center;
  //   background: white;
}

#text-container {
  margin-left: 1.4rem;
  display: flex;
  p {
    margin-left: 0.4rem;
    margin-bottom: 0;
    line-height: 1.6rem;
    font-size: 0.7em;
    &:first-child {
      font-weight: bold;
    }
  }
}

#typing-loader {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-animation: typing 1s linear infinite alternate;
  -moz-animation: Typing 1s linear infinite alternate;
  animation: typing 1s linear infinite alternate;
  position: relative;
  //   left: -12px;
}
@-webkit-keyframes typing {
  0% {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 10px 0px 0px 0px rgba(255, 255, 255, 0.2),
      20px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  25% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 10px 0px 0px 0px rgba(255, 255, 255, 2),
      20px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  75% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 10px 0px 0px 0px rgba(255, 255, 255, 0.2),
      20px 0px 0px 0px rgba(255, 255, 255, 1);
  }
}

@-moz-keyframes typing {
  0% {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 10px 0px 0px 0px rgba(255, 255, 255, 0.2),
      20px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  25% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 10px 0px 0px 0px rgba(255, 255, 255, 2),
      20px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  75% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 10px 0px 0px 0px rgba(255, 255, 255, 0.2),
      20px 0px 0px 0px rgba(255, 255, 255, 1);
  }
}

@keyframes typing {
  0% {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 10px 0px 0px 0px rgba(255, 255, 255, 0.2),
      20px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  25% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 10px 0px 0px 0px rgba(255, 255, 255, 2),
      20px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  75% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 10px 0px 0px 0px rgba(255, 255, 255, 0.2),
      20px 0px 0px 0px rgba(255, 255, 255, 1);
  }
}
