/*Typing Loader*/

#typing-badge-container {
  width: fit-content;
  height: 20px;
  display: flex;
  align-items: center;
}

#text-container {
  p {
    &:first-child {
      font-weight: bold;
    }
    margin-left: 0.4rem;
    margin-bottom: 0;
    line-height: 1.6rem;
    font-size: 0.7em;
  }
  margin-left: 26px;
  display: flex;
}

#typing-loader {
  width: 4px;
  height: 4px;
  border-radius: @half;
  position: relative;
  &:extend(.typing-animation);
}
