.preview-call {
  height: 100%;
  position: relative;
  text-align: center;
  &-user {
    height: 100%;
  }
  &-actions {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
    transition: 0.2s ease-in-out;
    transition-delay: 0.2s;
  }
  &-button {
    position: absolute;
    top: @light-spacing;
    left: @light-spacing;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: @indicator-size;
    height: @indicator-size;
    opacity: 0;
    border-radius: 100%;
    background-color: @foreground-alt;
    box-shadow: -2px 2px 30px rgba(18, 18, 22, 0.45),
      0px 1px 2px rgba(43, 43, 59, 0.65);
    transition: 0.2s ease-in-out;
    transition-delay: 0.2s;

    svg {
      color: @white;
      width: 16px;
      height: 16px;
    }
  }

  &:hover:not(.dragging) {
    .preview-call-button {
      visibility: visible;
      opacity: 0.5;
    }
    .preview-call-actions {
      top: auto;
      bottom: 5px;
    }
  }
}
