@button-size: 32px;

.preview-call {
  background: red;
  height: 100%;
  position: relative;
  text-align: center;
  &-user {
    height: 100%;
  }
  &-actions {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
    transition: 0.2s ease-in-out;
  }
  &-button {
    position: absolute;
    top: @light-spacing;
    left: @light-spacing;
    display: flex;
    align-items: center;
    justify-content: center;
    width: @button-size;
    height: @button-size;
    opacity: 0;
    border-radius: 100%;
    background-color: @foreground-alt;
    box-shadow: -2px 2px 30px rgba(18, 18, 22, 0.45),
      0px 1px 2px rgba(43, 43, 59, 0.65);
    visibility: hidden;
    transition: 0.2s ease-in-out;
  }
  :deep(.indicators) {
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;
  }
  :deep(.tag) {
    &:extend(.font-secondary);
    &:extend(.round-corners);
    &:extend(.bordered);
    box-shadow: none;
    font-family: @primary-font;
    text-transform: lowercase;
    padding: 0 @light-spacing;
    background: @semitransparent-dark-gradient;
  }
  &:hover {
    .preview-call-button,
    :deep(.indicators) {
      visibility: visible;
      opacity: 0.5;
    }
    .preview-call-actions {
      top: auto;
      bottom: 5px;
    }
  }
}
