<div class="preview-call" :class="{ dragging: dragging }">
  <MediaUser
    v-if="remoteParticipant"
    :id="`remote_video_${ remoteParticipant.did }`"
    class="preview-call-user"
    :user="remoteParticipant"
    data-cy="remote-video"
  />
  <MediaActions class="preview-call-actions drag-stop" />
  <button
    class="preview-call-button drag-stop"
    v-tooltip.top="$t('controls.back_to_call')"
    @click="navigateToActiveConversation"
  >
    <corner-up-left-icon size="1.25x" />
  </button>
</div>
