<div id="privacy-settings">
  <div class="columns is-desktop">
    <div class="column">
      <TypographyTitle :size="6" :text="$t('pages.privacy.title')" />
      <TypographySubtitle :size="6" :text="$t('pages.privacy.subtitle')" />
    </div>
  </div>
  <UiScroll verticalScroll enableWrap scrollbarVisibility="scroll">
    <div class="columns is-desktop">
      <SettingsUnit
        :title="$t('pages.privacy.register.title')"
        :text="$t('pages.privacy.register.subtitle')"
      >
        <InteractablesSwitch isLocked v-model="registry" />
      </SettingsUnit>
      <SettingsUnit
        :title="$t('pages.privacy.pin.title')"
        :text="$t('pages.privacy.pin.subtitle')"
      >
        <InteractablesSwitch v-model="storePin" />
      </SettingsUnit>
    </div>
    <div class="columns is-desktop">
      <SettingsUnit
        :title="$t('pages.privacy.embeds.title')"
        :text="$t('pages.privacy.embeds.subtitle')"
      >
        <InteractablesSwitch v-model="embeddedLinks" />
      </SettingsUnit>
      <SettingsUnit
        :title="$t('pages.privacy.activity.title')"
        :text="$t('pages.privacy.activity.subtitle')"
      >
        <InteractablesSwitch v-model="displayCurrentActivity" />
      </SettingsUnit>
    </div>
  </UiScroll>
</div>
