<SettingsPage>
  <SettingsSection>
    <SettingsUnit>
      <TypographyText as="h2"> {{ $t('pages.privacy.title') }} </TypographyText>
      <TypographyText color="dark">
        {{ $t('pages.privacy.subtitle') }}
      </TypographyText>
    </SettingsUnit>
  </SettingsSection>
  <TypographyHorizontalRuleText
    plaintext
    :value="$t('pages.privacy.permissions')"
  />
  <SettingsSection>
    <SettingsUnit
      :title="$t('pages.privacy.notifications.title')"
      :text="$t('pages.privacy.notifications.subtitle')"
    >
      <InteractablesSwitch
        :isEnabled="permissions.includes('notifications')"
        @click="handlePermissions('notification')"
        :isLocked="loading.includes('notifications')"
      />
    </SettingsUnit>
    <SettingsUnit
      :title="$t('pages.privacy.microphone.title')"
      :text="$t('pages.privacy.microphone.subtitle')"
    >
      <InteractablesSwitch
        :isEnabled="permissions.includes('microphone')"
        @click="handlePermissions('microphone')"
        :isLocked="loading.includes('microphone')"
      />
    </SettingsUnit>
    <SettingsUnit
      :title="$t('pages.privacy.camera.title')"
      :text="$t('pages.privacy.camera.subtitle')"
    >
      <InteractablesSwitch
        :isEnabled="permissions.includes('camera')"
        @click="handlePermissions('camera')"
        :isLocked="loading.includes('camera')"
      />
    </SettingsUnit>
    <SettingsUnit
      :title="$t('pages.privacy.screenshare.title')"
      :text="$t('pages.privacy.screenshare.subtitle')"
    >
      <InteractablesSwitch
        v-model="screenshare"
        :isLocked="loading.includes('screenshare')"
      />
    </SettingsUnit>
  </SettingsSection>

  <TypographyHorizontalRuleText
    plaintext
    :value="$t('pages.privacy.filesharing')"
  />
  <SettingsSection>
    <SettingsUnit
      :title="$t('pages.privacy.embeds.title')"
      :text="$t('pages.privacy.embeds.subtitle')"
    >
      <InteractablesSwitch v-model="embeddedLinks" />
    </SettingsUnit>
    <SettingsUnit
      :title="$t('pages.privacy.consentScan.title')"
      :text="$t('pages.privacy.consentScan.subtitle')"
    >
      <InteractablesSwitch
        v-model="consentScan"
        :isLocked="loading.includes('consentScan')"
      />
    </SettingsUnit>
    <SettingsUnit
      :title="$t('pages.privacy.nsfw.title')"
      :text="$t('pages.privacy.nsfw.subtitle')"
    >
      <InteractablesSwitch
        v-model="blockNsfw"
        :isLocked="loading.includes('blockNsfw')"
      />
    </SettingsUnit>
  </SettingsSection>

  <TypographyHorizontalRuleText plaintext :value="$t('pages.privacy.other')" />
  <SettingsSection>
    <SettingsUnit
      :title="$t('pages.privacy.register.title')"
      :text="$t('pages.privacy.register.subtitle')"
    >
      <InteractablesSwitch isLocked v-model="registry" />
    </SettingsUnit>
    <SettingsUnit
      :title="$t('pages.privacy.pin.title')"
      :text="$t('pages.privacy.pin.subtitle')"
    >
      <InteractablesSwitch v-model="storePin" />
    </SettingsUnit>
    <SettingsUnit
      :title="$t('pages.privacy.activity.title')"
      :text="$t('pages.privacy.activity.subtitle')"
    >
      <InteractablesSwitch v-model="displayCurrentActivity" />
    </SettingsUnit>
  </SettingsSection>

  <!-- <SettingsSection>
    <SettingsUnit
      :title="$t('pages.privacy.serverType.title')"
      :text="$t('pages.privacy.serverType.subtitle')"
    >
    <InteractablesSelect
      v-model="serverType"
      :options="serverTypes"
      class="form-control"
    />
    </SettingsUnit>
  </SettingsSection> -->

  <TypographyHorizontalRuleText
    v-if="serverType === 'own'"
    plaintext
    :value="$t('pages.privacy.ownserver')"
  />
  <SettingsSection
    v-if="serverType === 'own'"
    class="columns is-desktop ownInfo-input-part"
  >
    <SettingsUnit
      :title="$t('pages.privacy.ownInfo.title')"
      :text="$t('pages.privacy.ownInfo.subtitle')"
    >
      <InteractablesInput
        v-model="ownInfo"
        type="dark"
        size="xs"
        :placeholder="$t('pages.privacy.ownInfo.placeholder')"
        class="ownInfo-input"
      />
      <TypographyText v-if="lengthError" class="color-danger">
        {{ $t('pages.privacy.ownInfo.lengthErrorMsg') }}
      </TypographyText>
      <span v-if="formatError">
        <TypographyText class="color-danger">
          {{ $t('pages.privacy.ownInfo.formatErrorMsg') }}
        </TypographyText>
        <TypographyText class="color-danger ml-3">
          {{ $t('pages.privacy.ownInfo.errorSampleUrl1') }}
        </TypographyText>
        <TypographyText class="color-danger ml-3">
          {{ $t('pages.privacy.ownInfo.errorSampleUrl2') }}
        </TypographyText>
      </span>
    </SettingsUnit>
  </SettingsSection>

  <TypographyText v-if="loading.length">
    {{ $t('pages.privacy.updating') }}
  </TypographyText>
</SettingsPage>
