.glyph-card {
  font-family: @primary-font;
  border-radius: @corner-rounding;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  border: @light-border;
  background: transparent;
  box-shadow: none;

  .glyph-card-header {
    width: 100%;
    height: 5rem;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: @normal-spacing;
    .btn-group {
      display: flex;
      justify-content: space-between;
      .favorite {
        font-size: 18px;
      }
    }
  }
  .card-text {
    width: 100%;
    height: 11rem;
    padding: @normal-spacing;
    background: @semitransparent-dark-gradient;
    .name {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 8px;
    }
    .description {
      font-size: 12px;
      margin-bottom: 8px;
    }
    .glyph-img {
      margin-top: @normal-spacing;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }
}
