<div v-if="group.avatar" class="is-group">
  <span class="wrapper-circle" v-on:click="showQuickProfile">
    <UiCircle
      :type="src ? 'image' :'random'"
      :seed="address"
      :size="36"
      :source="src"
    />
  </span>
  <div class="group-body">
    <div class="group-heading">
      <span v-on:click="showQuickProfile">
        <UiUserName :username="username" :badge="badge" />
      </span>
      <TypographyText :text="timestamp" :data-cy="`chat-timestamp`" />
    </div>
    <div class="group-message">
      <Message :group="group" :message="group.message" :from="username" />
    </div>
  </div>
</div>
<div v-else class="group-same">
  <div class="group-messages">
    <Message :group="group" :message="group.message" :from="username" />
  </div>
</div>
