.is-group {
  .title {
    &:extend(.font-secondary);
    font-size: @title-text;
    font-weight: bold;
    cursor: pointer;
  }

  .wrapper-circle {
    margin-top: 0.3rem;
    cursor: pointer;
    height: 35px;
  }

  .group-body {
    .group-heading {
      .is-text {
        &:extend(.font-muted);
        font-size: @micro-text-size;
        margin-left: @light-spacing;
        display: flex;
        align-items: flex-end;
        height: 1.2rem;
      }
      &:extend(.full-width);
      display: inline-flex;
      flex-direction: row;
      align-items: center;
    }
    margin-left: @normal-spacing;
    &:extend(.full-width);
  }

  display: flex;
  &:extend(.full-width);
  margin-top: @light-spacing;
}
.group-same {
  display: flex;
  align-items: center;
  .timestamp {
    &:extend(.font-muted);
    display: none;
    font-size: @micro-text-size;
    min-width: 52px;
  }
  .group-messages {
    flex-grow: 1;
    margin-left: 3.25rem;
  }

  &:focus,
  &:hover {
    .timestamp {
      display: block;
    }
    .group-messages {
      margin-left: 0;
    }
  }
}
