#wallet-balance {
  .balance-heading {
    display: inline-flex;
    .is-text {
      margin-left: @light-spacing;
    }
  }
  .wallet-body {
    display: flex;
    .title {
      &:extend(.color-success);
      margin-top: @normal-spacing;
      margin-bottom: @light-spacing;
    }

    .is-text {
      margin-bottom: @normal-spacing;
    }

    .wallet-body-left,
    .wallet-body.right {
      &:extend(.full-width);
    }

    .wallet-body-right .is-text {
      font-size: @micro-text-size;
    }

    .inline {
      .wallet-interact-btn {
        margin-right: @light-spacing;
      }

      .modal-input {
        width: 70%;
      }
      .select {
        margin-left: @light-spacing;
        width: 30%;
      }
      display: inline-flex;
      &:extend(.full-width);
      margin-bottom: @light-spacing;
    }
  }
  &:extend(.full-width);
  &:extend(.background-semitransparent-light);
  &:extend(.round-corners);
  padding: @normal-spacing;
  &:extend(.bordered);
}
