<div id="wallet-balance">
  <div class="balance-heading">
    <coins-icon size="1.2x" />
    <TypographyText> {{ $t('wallet.balance.balance') }} </TypographyText>
  </div>
  <div class="wallet-body">
    <div class="wallet-body-left">
      <TypographyTitle :size="5" text="123,456.78" />
      <TypographyText> Last Updated: Today </TypographyText>
      <div class="inline">
        <InteractablesInputGroup class="modal-input" size="xs">
          <send-icon size="1x" />
        </InteractablesInputGroup>
        <InteractablesSelect class="form-control" />
      </div>
      <div class="inline">
        <InteractablesButton
          class="left"
          type="primary"
          size="small"
          :text="$t('wallet.balance.add_funds')"
        >
          <plus-circle-icon size="1.2x" />
        </InteractablesButton>
        <InteractablesButton
          class="left"
          type="dark"
          size="small"
          :text="$t('wallet.balance.cash_out')"
        >
          <trending-down-icon size="1.2x" />
        </InteractablesButton>
      </div>
    </div>
    <div class="wallet-body-right">
      <TypographyText>
        {{ `Account: *******${accounts.active.slice(accounts.active.length - 7,
        accounts.active.length)}` }}
      </TypographyText>
    </div>
  </div>
</div>
