.username-container {
  display: flex;
  align-items: center;
  .icon-container {
    margin-left: @light-spacing;
  }
  .profile-container {
    margin-right: @light-spacing;
    height: @larger-icon-size;
    width: @larger-icon-size;
  }
  .username {
    .title {
      margin-bottom: 0;
      &:extend(.font-secondary);
      font-size: @title-text;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
