#glyphs-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .account-list {
    display: flex;
    align-items: center;
    gap: @light-spacing;
    .timer {
      cursor: pointer;
      margin-right: @light-spacing;
      &:extend(.background-semitransparent-dark);
      padding: @xlight-spacing @light-spacing;
      &:extend(.round-corners);
    }
  .pack-list {
    border-left: @mini-light-border;
    border-right: @mini-light-border;
    padding: 0 @light-spacing;
    display: flex;
    align-items: center;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .glyph-item,
  .circle {
    margin-right: @light-spacing;
  }
  .market-place {
    cursor: pointer;
  }
}
