<div id="glyphs-nav" class="glyph-list-box">
  <div class="timer">
    <clock-icon class="control-icon" size="1x" />
  </div>
  <div class="pack-list">
    <TypographyText v-if="!ui.recentGlyphs.length" :text="$t('glyphs.try')" />
    <template v-else v-for="glyph in recentGlyphs">
      <EnhancersGlyphsItem
        :key="glyph.url"
        :src="glyph.url"
        :pack="glyph.pack"
        data-cy="recent-glyph-item"
        :height="32"
        :width="32"
        :sendOnClick="true"
      />
    </template>
  </div>
  <div class="market-place" @click="toggleMarketPlace">
    <shopping-bag-icon
      class="control-icon"
      data-cy="glyphs-marketplace"
      size="1x"
    />
  </div>
</div>
