#chatbar {
  margin-top: @light-spacing;
  width: 100%;

  &.has-reply {
    margin-top: 0;
  }
  
  .chat-label {
    background: @primary-color;
    font-size: @mini-text-size;
    font-weight: bold;
    height: 100%;
    width: 1.8rem;
    padding: 0.15rem;
    text-align: center;
    align-self: center;
    border-radius: @corner-rounding-smaller;
    cursor: pointer;
  }
  textarea.has-command {
    font-family: @primary-font;
  }
  .quick-upload {
    margin-left: @normal-spacing;
  }
  .green {
    background: @green;
    color: @white;
  }
  .red {
    background: @red;
    color: @white;
  }
  .charlimit {
    float: right;
    margin-right: 2rem;
    font-size: @mini-text-size;
    color: @text-muted;
    margin-left: auto;
    &.is-error {
      color: @red;
    }
  }

  .file-upload-wrap {
    margin: 0 @light-spacing;
  }
  .control-wrap {
    display: flex;
    justify-self: center;
    align-self: center;
  }

  .chatbar-wrap {
    background: @semitransparent-light-gradient;
    margin: 0 @normal-spacing;
    border-radius: 40px;
    padding: @light-spacing 0.75rem;
    display: inline-flex;
    flex-direction: row;
    width: calc(100% - 2rem);
    border: 1px solid transparent;
    transition: border-radius 0.2s ease;

    &.expanded {
      border-radius: 5px;
    }

    .control-tooltip-wrap {
      height: 16pt;
      width: 16pt;
      align-self: center;
      margin: 0 0.75rem;

      &:nth-child(1) {
        margin-right: 0.75rem;
        margin-left: @light-spacing;
      }

      &:nth-child(3) {
        margin-right: 0.75rem;
        margin-left: 0;
      }
    }

    &.is-error {
      border: 1px solid @red;

      .control-icon {
        &:nth-child(4) {
          color: @red;
        }
      }
    }

    .messageuser {
      flex: 1;
      padding: 0.25rem @light-spacing;
      background-color: transparent;
      border: none;
      font-family: 'Poppins';
      color: @text;
      outline: none;
      resize: none;
      font-size: @text-size;
    }

    .control-icon {
      justify-self: center;
      align-self: center;
      font-size: @larger-icon-size;
      margin: 0 @light-spacing;

      &:nth-child(1) {
        margin-right: 0;
      }
      &:nth-child(3) {
        margin-left: 0;
      }
      &:nth-child(4) {
        color: @primary-color;
      }
    }

    .emoji-icon:hover {
      transition: 200ms;
      transform: rotate(1turn);
    }
  }

  #bottom-bar-container {
    display: flex;
    justify-content: space-between;
    // height: 1.5rem;
    align-items: center;
    padding: 5px 0px 5px 20px;
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  #chatbar {
    min-width: @viewport-width;

    .chatbar-wrap {
      margin: 0 @light-spacing;
      width: calc(100% - @normal-spacing);
    }
  }
}
