#chatbar {
  margin-top: @light-spacing;
  width: 100%;
  &.has-reply {
    margin-top: 0;
  }
  .chat-label {
    background: @primary-color;
    font-size: @mini-text-size;
    font-weight: bold;
    width: 1.5rem;
    height: 1.25rem;
    padding: 0.15rem;
    text-align: center;
    align-self: center;
    align-content: center;
    border-radius: @corner-rounding-smaller;
    cursor: pointer;
  }
  textarea.has-command {
    font-family: @primary-font;
  }
  .quick-upload {
    margin-left: @normal-spacing;
  }
  .green {
    background: @green;
    color: @white;
  }
  .red {
    background: @red;
    color: @white;
  }
  .control-wrap {
    display: flex;
    justify-self: center;
    align-self: center;
  }

  .file-upload-wrap {
    margin: 0 @light-spacing;
    order: 1;
    align-self: flex-start;
    font-size: @icon-size;
  }

  .chatbar-wrap {
    background: @semitransparent-light-gradient;
    margin: 0 @normal-spacing;
    border-radius: 40px;
    padding: (@light-spacing / 1.5) 0.75rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: stretch;
    border: 1px solid transparent;
    transition: border-radius 0.2s ease;
    width: calc(100% - (@normal-spacing * 2));
    display: inline-flex;
    align-content: center;

    &.expanded {
      border-radius: 5px;
    }

    .control-tooltip-wrap {
      height: 16pt;
      width: 16pt;
      align-self: center;
      margin: 0 0.75rem;
      margin-left: 0;

      &:nth-child(1) {
        margin-right: 0.75rem;
        margin-left: @light-spacing;
      }
    }

    &.is-error {
      border: 1px solid @red;

      .control-icon {
        &:nth-child(4) {
          color: @red;
        }
      }
    }

    .messageuser {
      flex: 1;
      order: 2;
      padding: 0.25rem @light-spacing;
      background-color: transparent;
      border: none;
      font-family: 'Poppins';
      color: @text;
      outline: none;
      resize: none;
      font-size: @text-size;
      word-break: break-all;

      &[placeholder]:empty:before {
        content: attr(placeholder);
      }
    }

    #chatbar-controls {
      order: 3;
      align-self: flex-start;
    }
    
    .control-icon {
      justify-self: center;
      align-self: center;
      font-size: @larger-icon-size;
      margin: 0 @light-spacing;

      &:nth-child(1) {
        margin-right: 0;
      }
      &:nth-child(3) {
        margin-left: 0;
      }
      &:nth-child(4) {
        color: @primary-color;
      }
    }

    .emoji-icon:hover {
      transition: 200ms;
      transform: rotate(1turn);
    }
  }

  .chatbar-wrap.inactive {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
  }
}

  .bigEmoji {
    font-size: 50px;
  }

@media only screen and (max-width: @mobile-breakpoint) {
  #chatbar {
    min-width: @viewport-width;

    .chatbar-wrap {
      margin: 0 @light-spacing;
      width: calc(100% - @normal-spacing);
    }
  }
}
