<div id="chatbar" ref="chatbar">
  <div :class="`chatbar-wrap ${charlimit ? 'is-error' : 'is-normal'}`" ref="wrap">
    <div
      class="control-wrap">
      <FileUpload />
    </div>
    <div :class="`chat-label ${isValidCommand ? 'green' : 'red'}`"  v-if="hasCommand">
      <font-awesome-icon :icon="['far', 'terminal']" />
    </div>
    <textarea :placeholder="$t('global.talk')"
      rows="1"
      :class="`messageuser hidden-scroll ${hasCommand ? 'has-command' : ''}`"
      ref="messageuser"
      v-model="value"
      @input="handleInputChange"
      @change="handleInputChange"
    ></textarea>
    <div
      :data-tooltip="$t('global.glyphs')"
      class="control-tooltip-wrap has-tooltip has-tooltip-top has-tooltip-primary">
      <font-awesome-icon :icon="['far', 'grin-tongue-wink']" class="control-icon emoji-icon" @click="toggleEmojiPicker"/>
    </div>  
    <picker :data="emojiIndex" ref="emojiPicker" class="emoji-picker" @select="addEmoji" 
      :per-line="9" color="#087bd3" :emoji-size="32" :show-preview="false" :skin="1"
      v-bind:style="{ 
        // left: emojiPos.x + 'px', 
        top: emojiPos.y + 'px', 
        visibility: showEmojiPicker ? 'visible' : 'hidden' 
      }"
    />
    <font-awesome-icon :icon="['far', 'arrow-circle-right']" class="control-icon" />
  </div>
  <span :class="`charlimit ${charlimit ? 'is-error' : 'is-normal'}`">{{ `${text.length}/${maxChars}` }}</span>
</div>