.emoji-mart {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: @dark-gray;
  border: @darker;
  color: @text;
}

.emoji-mart-category-label h3 {
  background-color: @dark-gray;
}

.emoji-mart-category-label {
  font-size: @mini-text-size !important;
}

.emoji-mart-anchor:hover,
.emoji-mart-anchor-selected {
  color: @primary-color-alt;
  cursor: pointer;
}
.emoji-mart-anchor {
  color: @text;
}

.emoji-mart-search input {
  border: 1px solid @primary-color;
  background-color: @darker;
  color: @text;
  border-radius: 4px;
  padding: 0.4rem;
}

.emoji-mart-bar {
  border: 0 solid @darker;
  background-color: @dark-gray;
  margin-bottom: 0.3rem;
}

.emoji-mart-category .emoji-mart-emoji:hover:before,
.emoji-mart-emoji-selected:before {
  background-color: @light-gray;
}

.emoji-mart-emoji span:hover {
  cursor: pointer;
}