<div
  ref="mediastream"
  class="mediastream"
  :class="{ 'has-presenter': presenter !== null }"
  data-cy="mediastream"
  :style="`height:${height}`"
>
  <div v-if="presenter !== null" class="presenter" ref="presenter">
    <MediaUser
      :user="presenter.participant"
      :size="presenterUserSize"
      :stream="presenter.stream"
      @click="() => togglePresenter(null)"
      @mounted="calculateUserSizes"
    />
  </div>

  <div
    class="media"
    :class="{ 'has-presenter': presenter !== null }"
    ref="media"
  >
    <template v-for="stream in streams">
      <MediaUser
        :key="stream.participant.did + stream.stream"
        :user="stream.participant"
        data-cy="remote-video"
        :size="mediaUserSize"
        :stream="stream.stream"
        :class="{ 'is-presenter': presenter === stream }"
        @click="() => togglePresenter(stream)"
      />
    </template>

    <!-- <div
      v-if="ui.fullscreen && users.length > fullscreenMaxViewableUsers || !ui.fullscreen && users.length > maxViewableUsers"
      class="more-user"
      :class="{full: ui.fullscreen, 'full-mobile': fullscreenMaxViewableUsers === 6}"
    >
      ...
    </div> -->
  </div>
  <!-- <MediaActionsSettings /> -->

  <MediaHeading />
  <MediaActions />
  <div class="controls">
    <MediaActionsVolume
      :volume="volume"
      is-popup
      @volumeControlValueChange="volumeControlValueChange"
    />
    <MediaActionsFullscreen
      :is-fullscreen="isFullscreen"
      @toggle="toggleFullscreen"
    />
  </div>
  <InteractablesDragBar
    v-if="!isFullscreen"
    side="bottom"
    @resize="(val) => (height = val)"
  />
</div>
