.mediastream {
  display: flex;
  background-color: @midground;
  flex-direction: column;
  position: relative;
  border-radius: @corner-rounding;
  min-height: 100px;

  .media {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(156px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(144px, 1fr));
    flex: 1;
    overflow-y: auto;
    gap: 8px;
    padding: 8px;

    #local {
      order: -1;
    }
  }

  .controls {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
}
