#mediastream {
  height: 16rem;
  width: 100%;
  background: @black;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  position: relative;

  #media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    overflow: hidden;
    justify-content: flex-end;
  }
}

.fullscreen-media {
  #mediastream {
    #media {
      justify-content: center;
    }
  }
}

.fullscreen-media #media {
  flex-flow: row wrap;
  align-content: center;
  .user {
    max-width: calc(50% - 1rem);
  }
}

.more-user {
  align-self: flex-end;
  font-size: 30px;
  line-height: 28px;
  // padding: 20px;
  height: 30px;
  &.full {
    line-height: 13px;
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  #mediastream {
    min-width: @viewport-width;
  }
}
