// Base Colors
@light-gray: #2b2b3b;
@light-gray-alt: #3a3a50;
@dark-gray: #16161e;
@dark-gray-alt: #1a1a24;
@dark: #27293b;
@dark-hover: #2e303d;
@darker: #101016;
@darker-alt: #0b0b0f;
@black: #000;

@primary-color: #0984e3;
@primary-color-alt: #087bd3;

@bright-text: #dae0ff;
@text: #c6cefa;
@text-muted: #a0a9cf;

@red: #f14668;
@yellow: #feca57;
@orange: #ff9f43;
@purple: #5f27cd;
@pink: #ff9ff3;
@blue: #48dbfb;
@gray: #576574;
@jade: #00d2d3;
@green: #00b894;
@white: #fff;