// Base Colors
@light-gray: #2b2b3b;
@light-gray-alt: #303042;
@dark-gray: #16161e;
@dark: #27293b;
@dark-hover: #2e303d;
@darker: #101016;
@black: #000;

@primary-color: #0984e3;
@primary-color-alt: #087bd3;

@bright-text: #dae0ff;
@text: #c6cefa;
@text-muted: #a0a9cf;

@red: #e84118;
@yellow: #fbc531;
@offline: #7f8fa6;
@green: #4cd137;