// Base Colors
@dark-gray: #16161e;
@dark: #27293b;
@dark-hover: #2e303d;
@darker: #101016;

@primary-color: #0984e3;
@primary-color-alt: #087bd3;

@bright-text: #fff;
@text: #c6cefa;
@text-muted: #979fc2;