@sidebar-size: 18.5rem;
@servers-size: 60px;
@statusbar-height: 75px;
@normal-modal-size: 500px;
@chatbar-size: 82px;
@title-text: 10pt;
@text-size: 10pt;
@mini-text-size: 9pt;
@micro-text-size: 8pt;
@transition-all: all @animation-speed ease;
@primary-font: 'SpaceMono', monospace;
@secondary-font: 'Poppins';
@icon-size: 14pt;
@tiny-icon-size: 11pt;
@small-icon-size: 12pt;
@larger-icon-size: 16pt;
@xl-icon-size: 22pt;
@mobile-nav-size: 4.5rem;
@corner-rounding-xxlarge: 24px;
@corner-rounding: 4px;
@corner-rounding-smaller: 2px;
@base-z-index: 1;
@viewport-width: 100vw;
@enhancers-height: 30rem;
@enhancers-width: 34rem;
@xlight-spacing: 0.25rem;
@light-spacing: 0.5rem;
@normal-spacing: 1rem;
@large-spacing: 1.5rem;
@xlarge-spacing: 2rem;
@select-height: 2.5em;
@scrollbar-width: 5px;
@scrollbar-width-mobile: 3px;

@blur: blur(40px);
@light-blur: blur(2px);
@heavy-blur: blur(220px);

@light-border: 1px solid rgba(105, 128, 167, 0.05);
@mini-light-border: 1px solid rgba(199, 206, 246, 0.25);

@mobile-breakpoint: 768px;
@mobile-candybar-breakpoint: 360px;

:root {
  --app-height: 100vh;
}

html,
body {
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
  overscroll-behavior: none;
  caret-color: @primary-color;
}

::selection {
  background: @primary-color;
  color: @bright-text;
}

.hidden-scroll {
  overflow-y: auto;
  position: relative;

  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }
}

@import url('@creativebulma/bulma-tooltip/dist/bulma-tooltip.min.css');
@import url('~/assets/styles/scrollbar.less');
