@sidebar-size: 18rem;
@transition-all: all @animation-speed ease;
@primary-font: 'SpaceMono', monospace;
@secondary-font: 'Poppins';

@import url('@creativebulma/bulma-tooltip/dist/bulma-tooltip.min.css');