@sidebar-size: 18rem;
@statusbar-height: 45px;
@chatbar-size: 72px;
@title-text: 10pt;
@text-size: 10pt;
@mini-text-size: 9pt;
@micro-text-size: 8pt;
@transition-all: all @animation-speed ease;
@primary-font: 'SpaceMono', monospace;
@secondary-font: 'Poppins';
@icon-size: 14pt;
@small-icon-size: 12pt;
@larger-icon-size: 16pt;
@mobile-nav-size: 3.5rem;

html,
body {
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
  overscroll-behavior: none;
  caret-color: @primary-color;
}

::selection {
  background: @primary-color;
  color: @bright-text;
}

@import url('@creativebulma/bulma-tooltip/dist/bulma-tooltip.min.css');