@primary-gradient: linear-gradient(40deg, rgba(39,97,253,1) 0%, rgba(40,109,254,1) 100%);
@danger-gradient: linear-gradient(40deg, rgba(231,76,60,1) 0%, rgba(231,60,89,1) 100%);
@dark-gradient: linear-gradient(328deg, #16171d 0%, #16171d 75%, #161f2e 100%);
@dark-gradient-alt: linear-gradient(-328deg, #131217 0%, #131217 32%, #121b28 100%);

@semitransparent-dark-gradient: linear-gradient(328deg, #16171dda 0%, #16171dda 75%, #0f141dd5 100%);
@semitransparent-light-gradient: linear-gradient(0deg, rgba(34,44,63,0.5) 0%, rgba(36,40,57,0.5) 100%);
@semitransparent-lighter-gradient: linear-gradient(0deg, rgba(42, 54, 75, 0.5) 0%, rgba(48, 52, 71, 0.5) 100%);
@semitransparent-lightest-gradient: linear-gradient(0deg, rgba(49, 63, 87, 0.5) 0%, rgba(62, 66, 90, 0.5) 100%);

@input-gradient: @semitransparent-lighter-gradient;

@splash-radial: radial-gradient(circle, rgba(44,51,65,0.8127844887955182) 0%, rgba(34,44,63,0) 100%);


@background-gradient: -webkit-radial-gradient(top left, #1C273A, rgba(0,0,0,0) 10%),
    -webkit-radial-gradient(bottom left, #121822, rgba(0,0,0,0) 20%),
    -webkit-radial-gradient(top right, #1B2638, rgba(0,0,0,0) 68%),
    #16171d;