#realm {
  background: @semitransparent-light-gradient;
  padding: calc(@light-spacing / 2) @normal-spacing;
  display: inline-flex;
  border-radius: @corner-rounding;
  align-items: center;
  width: fit-content;
  color: @text-muted;
  font-family: @primary-font;
  .realm {
    display: inline-block;
    margin-right: @light-spacing;
  }
  svg {
    margin-right: (@light-spacing / 2);
  }
  .realm-name {
    display: inline-flex;
    align-items: center;
    color: @orange;
  }
}