#media-settings {
  #settings-menu {
    .settings-item {
      &:last-of-type {
        border-bottom: none;
      }
      .item-header {
        .word {
          flex: 1;
          margin-right: @normal-spacing;
        }
        .icon {
          transition: transform @animation-speed;
          height: 1rem;
          width: 1rem;
        }
        padding: (@light-spacing / 2) @light-spacing 0 @light-spacing;
        display: flex;
      }
      .item-body {
        & > div {
          padding: 0.5rem 0.5rem;
        }
        height: 0;
        overflow: hidden;
        transition: height @animation-speed;
      }
      &.open {
        .item-header {
          .icon {
            transform: rotate(90deg);
          }
        }
      }
    }
    cursor: pointer;
    margin-bottom: 0.25rem;
    &:extend(.round-corners);
    padding: (@light-spacing / 2) 0;
    min-width: 8rem;
    font-size: @text-size;
    &:extend(.background-semitransparent-dark);
    &:extend(.blur);
  }
  .form {
    .form-group:not(:last-child) {
      margin-bottom: 0.2rem;
    }
    label {
      display: block;
      margin-bottom: 0.1rem;
    }
  }
  .columns {
    margin: 0 -0.25rem;

    .column {
      padding: 0.25rem;
    }
  }
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  bottom: @light-spacing;
  left: @normal-spacing;
  cursor: pointer;

  &::before {
    overflow: visible;
    &:extend(.third-layer);
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  #media-settings {
    &:before {
      left: @normal-spacing * 3;
    }
  }
}
