<div id="media-settings" v-tooltip.right="$t('controls.not_available')">
  <ul id="settings-menu" v-if="menuOpen" ref="menu" v-click-outside="hideMenu">
    <li class="settings-item">
      <div class="item-header" @click="switchMenuItem">
        <div class="word">{{$t('media.settings.audio_quality')}}</div>
        <chevron-right-icon class="icon" size="0.5x" />
      </div>
      <div class="item-body">
        <div class="form">
          <div class="form-group">
            <label> {{$t('media.settings.bitrate')}} </label>
            <InteractablesSelect
              :options="Bitrates"
              v-model="bitrate"
              size="small"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label>{{$t('media.settings.sample_size')}}</label>
            <InteractablesSelect
              :options="SampleSizes"
              v-model="sampleSize"
              size="small"
              class="form-control"
            />
          </div>
        </div>
      </div>
    </li>
    <li class="settings-item">
      <div class="item-header" @click="switchMenuItem">
        <div class="word">{{$t('media.settings.video_quality')}}</div>
        <chevron-right-icon class="icon" size="0.5x" />
      </div>
      <div class="item-body">
        <div>{{$t('media.settings.no_options')}}</div>
      </div>
    </li>
    <li class="settings-item">
      <div class="item-header" @click="switchMenuItem">
        <div class="word">{{$t('media.settings.stream_options')}}</div>
        <chevron-right-icon class="icon" size="0.5x" />
      </div>
      <div class="item-body">
        <div>{{$t('media.settings.no_options')}}</div>
      </div>
    </li>
  </ul>

  <settings-icon size="1x" disabled />
</div>
