<div class="friend">
  <UiUserState :user="friend" :src="src" />
  <div class="description">
    <TypographySubtitle :size="6" :text="friend.name" />
    <TypographyText :text="friend.status" />
  </div>
  <div class="spacer"></div>
  <div class="controls" v-if="request">
    <InteractablesButton
      v-if="loading !== 'decline'"
      type="success"
      size="small"
      class="has-tooltip has-tooltip-primary has-tooltip-bottom has-tooltip-desktop-only"
      :data-tooltip="$t('friends.accept')"
      :loading="loading === 'accept'"
      :disabled="loadCheck"
      :action="acceptFriendRequest"
    >
      <check-icon size="1x" />
    </InteractablesButton>
    <InteractablesButton
      v-if="loading !== 'accept'"
      type="danger"
      size="small"
      class="has-tooltip has-tooltip-primary has-tooltip-bottom has-tooltip-desktop-only"
      :data-tooltip="$t('friends.decline')"
      :loading="loading === 'decline'"
      :action="declineFriendRequest"
    >
      <x-icon size="1x" />
    </InteractablesButton>
  </div>
  <div class="controls" v-else-if="blocked">
    <InteractablesButton
      type="danger"
      size="small"
      class="has-tooltip has-tooltip-primary has-tooltip-bottom has-tooltip-desktop-only"
      :data-tooltip="$t('friends.unblock')"
      :action="() => {}"
    >
      <x-icon size="1x" />
    </InteractablesButton>
  </div>
  <div class="controls" v-else-if="send">
    <InteractablesButton
      type="primary"
      size="small"
      class="has-tooltip has-tooltip-primary has-tooltip-bottom has-tooltip-desktop-only"
      :data-tooltip="$t('friends.send')"
      :loading="loading === 'sending'"
      :action="createFriendRequest"
    >
      <check-icon size="1x" />
    </InteractablesButton>
  </div>
  <div class="controls" v-else-if="outgoing">
    <InteractablesButton
      type="danger"
      size="small"
      class="has-tooltip has-tooltip-primary has-tooltip-bottom has-tooltip-desktop-only"
      :data-tooltip="$t('friends.cancel')"
      :loading="loading === 'options'"
      :action="cancelRequest"
    >
      <x-icon size="1x" />
    </InteractablesButton>
  </div>
  <div class="controls" v-else>
    <InteractablesButton
      v-if="loading !== 'options'"
      type="primary"
      size="small"
      class="has-tooltip has-tooltip-primary has-tooltip-bottom has-tooltip-desktop-only"
      :data-tooltip="$t('friends.message')"
      :action="sendMessageRequest"
    >
      <message-square-icon size="1x" />
    </InteractablesButton>
    <InteractablesButton
      type="primary"
      size="small"
      class="has-tooltip has-tooltip-primary has-tooltip-bottom has-tooltip-desktop-only"
      :data-tooltip="$t('friends.options')"
      :loading="loading === 'options'"
      :action="contextMenu"
    >
      <more-vertical-icon size="1x" />
    </InteractablesButton>
  </div>
</div>
