<div class="friend" data-cy="friend">
  <UiUserState :user="user" :src="src" />
  <div class="description">
    <TypographyText
      color="light"
      font="heading"
      weight="bold"
      data-cy="friend-name"
    >
      {{ user.name || user.did }}
    </TypographyText>
    <TypographyText v-if="isPreview" size="sm">{{ user.did }}</TypographyText>
    <TypographyText v-if="user.status" size="sm">
      {{ user.status }}
    </TypographyText>
  </div>
  <div class="spacer"></div>
  <div class="controls" v-if="user && !request && isPreview">
    <div class="loader-container" v-if="loading">
      <UiLoadersLoadingBar short />
    </div>
    <InteractablesButton
      v-else
      color="success"
      v-tooltip.bottom="$t('friends.send')"
      :disabled="loadCheck"
      @click="createFriendRequest"
    >
      <check-icon size="1x" />
    </InteractablesButton>
  </div>
  <div
    class="controls"
    v-if="request && request.incoming && request.status === 'pending'"
  >
    <div class="loader-container" v-if="loading">
      <UiLoadersLoadingBar short />
    </div>
    <InteractablesButton
      v-if="!loading"
      color="danger"
      v-tooltip.bottom="$t('friends.decline')"
      @click="rejectFriendRequest"
    >
      <x-icon size="1x" />
    </InteractablesButton>
    <InteractablesButton
      v-if="!loading"
      color="success"
      v-tooltip.bottom="$t('friends.accept')"
      :disabled="loadCheck"
      @click="acceptFriendRequest"
    >
      <check-icon size="1x" />
    </InteractablesButton>
  </div>
  <div class="controls" v-else-if="blocked">
    <div class="loader-container" v-if="loading">
      <UiLoadersLoadingBar short />
    </div>
    <InteractablesButton
      v-else
      color="danger"
      v-tooltip.bottom="$t('friends.unblock')"
    >
      <x-icon size="1x" />
    </InteractablesButton>
  </div>
  <div
    class="controls"
    v-else-if="request && !request.incoming && request.status === 'pending'"
  >
    <div class="loader-container" v-if="loading">
      <UiLoadersLoadingBar short />
    </div>
    <InteractablesButton
      v-else
      color="danger"
      v-tooltip.bottom="$t('friends.cancel')"
      :loading="loading"
      @click="cancelRequest"
    >
      <x-icon size="1x" />
    </InteractablesButton>
  </div>
  <div class="controls" v-else-if="user && !request && !isPreview">
    <div class="loader-container" v-if="loading">
      <UiLoadersLoadingBar short />
    </div>
    <InteractablesButton
      v-if="!loading"
      color="primary"
      data-cy="friend-send-message"
      v-tooltip.bottom="$t('friends.message')"
      @click="sendMessageRequest"
    >
      <message-square-icon size="1x" />
    </InteractablesButton>
    <InteractablesButton
      v-if="!loading"
      color="primary"
      v-tooltip.bottom="$t('friends.options')"
    >
      <more-vertical-icon size="1x" />
    </InteractablesButton>
  </div>
</div>
