.friend {
  display: flex;
  align-items: center;
  padding: @light-spacing @normal-spacing;
  gap: @normal-spacing;
  &:extend(.no-select);
  &:extend(.round-corners);

  &:hover {
    &:extend(.background-semitransparent-light);
  }

  .user-state,
  .controls,
  .circle {
    flex-shrink: 0;
  }

  .controls {
    display: flex;
    gap: 0.5rem;
  }

  .description {
    flex-grow: 1;
    &:extend(.ellipsis);

    .friend-name {
      &:extend(.ellipsis);
    }

    p,
    h1 {
      margin: 0;
      font-size: @mini-text-size;
      &:extend(.ellipsis);
    }
    h1 {
      &:extend(.font-secondary);
    }
    p {
      &:extend(.font-muted);
    }
  }
}
