<div class="friend" data-cy="friend">
  <UiUserState v-if="showStatus" :user="friend" :src="src" />
  <UiCircle
    v-else
    :type="src ? 'image' : 'random'"
    :seed="friend.address"
    :source="src"
  />
  <div class="description">
    <TypographySubtitle :size="6" :text="friend.name" data-cy="friend-name" />
    <TypographyText :text="friend.status" />
  </div>
  <div class="controls" v-if="request">
    <InteractablesButton
      v-if="loading !== 'decline'"
      type="success"
      size="small"
      v-tooltip.bottom="$t('friends.accept')"
      :loading="loading === 'accept'"
      :disabled="loadCheck"
      :action="acceptFriendRequest"
    >
      <check-icon size="1x" />
    </InteractablesButton>
    <InteractablesButton
      v-if="loading !== 'accept'"
      type="danger"
      size="small"
      v-tooltip.bottom="$t('friends.decline')"
      :loading="loading === 'decline'"
      :action="declineFriendRequest"
    >
      <x-icon size="1x" />
    </InteractablesButton>
  </div>
  <div class="controls" v-else-if="blocked">
    <InteractablesButton
      type="danger"
      size="small"
      v-tooltip.bottom="$t('friends.unblock')"
      :action="() => {}"
    >
      <x-icon size="1x" />
    </InteractablesButton>
  </div>
  <div class="controls" v-else-if="send">
    <InteractablesButton
      type="primary"
      size="small"
      v-tooltip.bottom="$t('friends.send')"
      :loading="loading === 'sending'"
      :action="createFriendRequest"
    >
      <check-icon size="1x" />
    </InteractablesButton>
  </div>
  <div class="controls" v-else-if="outgoing">
    <InteractablesButton
      type="danger"
      size="small"
      v-tooltip.bottom="$t('friends.cancel')"
      :loading="loading === 'options'"
      :action="cancelRequest"
    >
      <x-icon size="1x" />
    </InteractablesButton>
  </div>
  <div class="controls" v-else>
    <InteractablesButton
      v-if="loading !== 'options'"
      type="primary"
      size="small"
      data-cy="friend-send-message"
      v-tooltip.bottom="$t('friends.message')"
      :action="sendMessageRequest"
    >
      <message-square-icon size="1x" />
    </InteractablesButton>
    <InteractablesButton
      type="primary"
      size="small"
      v-tooltip.bottom="$t('friends.options')"
      :loading="loading === 'options'"
      :action="contextMenu"
    >
      <more-vertical-icon size="1x" />
    </InteractablesButton>
  </div>
</div>
