#servers-vertical-list {
  height: 100%;
  width: 60px;
  min-width: 60px;
  background-color: @darker;
  display: inline-flex;
  justify-content: flex-start;
  padding-left: 0.6rem;
  padding-top: @normal-spacing;

  .logo {
    padding: 0.55rem;
    background-color: @dark-gray;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .circle-group {
    margin: @normal-spacing 0;
    color: @text;
    bottom: 0rem;
    // position: absolute;
    margin-bottom: 0.7rem;
    z-index: @base-z-index + 1;
    width: 50px;
  }

  .servers {
    .circle {
      margin: 0.25rem 0;
    }
  }

  .unread {
    position: relative;
    .circle {
      margin: 0.25rem 0;
    }
    .label {
      position: absolute;
      bottom: 2px;
      right: -2px;
      font-size: @micro-text-size;
      background-color: @primary-color;
      border-radius: 50%;
      line-height: 1.2;
      padding: 0.1rem 0.27rem;
      text-align: center;
      color: @text;
      font-family: @primary-font;
      border: 2px solid @darker;
    }
  }

  .server,
  .unread {
    // width: 50px;
    z-index: @base-z-index + 1;
  }

  .scroll-area {
    height: auto;
    max-height: calc(100% - 10rem);
    width: 200px;
    display: flex;
  }
  #list-container {
    height: fit-content;
    max-height: calc(100% - 10rem);
    position: relative;
  }
}

// @media only screen and (max-width: 768px) {
//   #servers-vertical-list {
//     .circle-group {
//       bottom: 4.3rem;
//     }
//   }
// }
