.meta {
  padding: @normal-spacing 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .result-count {
    &:extend(.font-secondary);
  }
  .result-orderby {
    display: flex;
    .orderby-item {
      cursor: pointer;
      padding: 2px 8px;
      &.active {
        font-weight: bold;
      }
    }
  }
}
