.button-group {
  display: inline;
  button {
    display: inline-block;
    font-family: @primary-font;
    font-size: 12px;
    color: @primary-color;
    border: 1px solid @primary-color;
    margin: 0px;
    padding: 8px 44px;
    background-color: @darker;
    outline: none;
    cursor: pointer;
    &:first-child {
      border-radius: 4px 0px 0px 4px;
    }
    &:last-child {
      border-radius: 0px 4px 4px 0px;
    }
    &:not(:first-child) {
      margin-left: -1px;
    }
    &:hover {
      color: @white;
    }
    &.active {
      color: @white;
      background-color: @primary-color;
    }
  }
}