<div id="controls">
  <InteractablesButton
    :type="audioMuted ? 'danger' : 'dark'"
    size="small"
    v-tooltip.top="$t('controls.mute')"
    :action="() => toggleMute('audio')"
    :text="$t('controls.mic')"
    :loading="isLoading"
    loadingText=""
  >
    <mic-off-icon v-if="audioMuted" size="1x"></mic-off-icon>
    <mic-icon v-else size="1x"></mic-icon>
  </InteractablesButton>
  <InteractablesButton
    :type="audio.deafened ? 'danger' : 'dark'"
    size="small"
    v-tooltip.top="$t('controls.deafen')"
    :action="() => toggleDeafen()"
    :text="$t('controls.headphones')"
  >
    <headphones-off-icon v-if="audio.deafened" size="1x"></headphones-off-icon>
    <headphones-icon v-else size="1x"></headphones-icon>
  </InteractablesButton>
  <InteractablesButton
    :type="videoMuted ? 'danger' : 'dark'"
    size="small"
    v-tooltip.top="$t('controls.toggle')"
    :text="$t('controls.video')"
    :action="() => toggleMute('video')"
    :loading="isLoading"
    loadingText=""
  >
    <video-off-icon v-if="videoMuted" size="1x"></video-off-icon>
    <video-icon v-else size="1x"></video-icon>
  </InteractablesButton>
</div>
