<div id="controls">
  <InteractablesButton
    :type="audioMuted ? 'danger' : 'dark'"
    size="small"
    v-tooltip.top="audioMuted ? $t('controls.unmute') : $t('controls.mute')"
    :action="() => toggleMute('audio')"
    data-cy="sidebar-mic-button"
    :text="$t('controls.mic')"
    :loading="isLoading"
    loadingText=""
  >
    <mic-off-icon
      data-cy="sidebar-mic-muted"
      v-if="audioMuted"
      size="1x"
    ></mic-off-icon>
    <mic-icon data-cy="sidebar-mic-unmuted" v-else size="1x"></mic-icon>
  </InteractablesButton>
  <InteractablesButton
    :type="audio.deafened ? 'danger' : 'dark'"
    size="small"
    v-tooltip.top="audio.deafened ? $t('controls.undeafen') : $t('controls.deafen')"
    :action="() => toggleDeafen()"
    :text="$t('controls.headphones')"
  >
    <headphones-off-icon
      data-cy="sidebar-audio-deafened"
      v-if="audio.deafened"
      size="1x"
    ></headphones-off-icon>
    <headphones-icon
      data-cy="sidebar-audio-not-deafened"
      v-else
      size="1x"
    ></headphones-icon>
  </InteractablesButton>
  <InteractablesButton
    :type="videoMuted ? 'danger' : 'dark'"
    size="small"
    v-tooltip.top="videoMuted ? $t('controls.turn_on_camera') : $t('controls.turn_off_camera')"
    :text="$t('controls.video')"
    :action="() => toggleMute('video')"
    :loading="isLoading"
    loadingText=""
  >
    <video-off-icon
      data-cy="sidebar-video-muted"
      v-if="videoMuted"
      size="1x"
    ></video-off-icon>
    <video-icon data-cy="sidebar-video-unmuted" v-else size="1x"></video-icon>
  </InteractablesButton>
</div>
