<div class="input-group">
  <TypographyText v-if="label" as="label" uppercase>
    {{ label }}
  </TypographyText>
  <div class="input-outer" :class="`font-size-${size}`">
    <div class="input-inner">
      <input
        ref="input"
        class="input font-body font-color-light"
        :class="[
            `is-${color}`,
            {
              'show-clear-button': showClearButton,
              'is-danger': error || invalid,
            },
          ]"
        :value="text"
        :type="type"
        :readonly="readonly"
        :placeholder="placeholder"
        :minLength="minLength"
        :maxLength="maxLength"
        :disabled="disabled"
        data-cy="input-group"
        @keydown.enter="handleSubmit"
        @input="handleInput"
      />
      <div class="append input-options">
        <button v-if="showClearButton && !isEmpty" @click="clearInput">
          <delete-icon size="1x" />
        </button>
        <div v-if="$slots.append" class="slot">
          <slot name="append" />
        </div>
      </div>
    </div>
    <InteractablesButton
      v-if="$slots.default"
      class="button"
      :color="color"
      :disabled="disabled"
      data-cy="submit-input"
      :type="buttonType"
      @click="handleSubmit"
    >
      <UiLoadersSpinner v-if="loading" spinning />
      <slot v-else></slot>
    </InteractablesButton>
  </div>
  <span v-if="showLimit" class="char-limit">
    {{ text.length }}/{{ maxLength }}
  </span>
  <TypographyError v-if="error" class="error" :text="error" small />
</div>
