<div class="input-group">
  <TypographyLabel v-if="label" class="input-label" :text="label" />
  <div class="input-outer">
    <div class="input-inner">
      <input
        ref="input"
        class="input"
        :class="[
          `font-size-${size} is-${color}`,
          {
            'show-clear-button': showClear,
            'is-danger': error || invalid
          }
        ]"
        :value="text"
        :type="type"
        :readonly="readonly"
        :placeholder="placeholder"
        :minLength="minLength"
        :maxLength="maxLength"
        :disabled="disabled"
        @keydown.enter="handleSubmit"
        @input="handleInput"
        data-cy="input-group"
      />
      <button
        v-if="showClear && !isEmpty"
        class="clear-button"
        @click="clearInput"
      >
        <delete-icon size="1x" />
      </button>
    </div>
    <button
      v-if="$slots.default"
      class="button"
      :class="[`font-size-${size} is-${color}`, {disabled: disabled}]"
      @click="handleSubmit"
      data-cy="submit-input"
    >
      <UiLoadersSpinner v-if="loading" spinning />
      <slot v-else></slot>
    </button>
  </div>
  <span v-if="showLimit" class="char-limit">
    {{ text.length }}/{{ maxLength }}
  </span>
  <TypographyError v-if="error" class="error" :text="error" small />
</div>
