.input-label {
  text-align: left;
}
.is-full-width {
  &:extend(.full-width);
}
.search-box {
  &.right-icon {
    input {
      padding-right: 34px;
    }
  }
  .search-clear {
    &:extend(.font-primary);
    &:focus {
      background: @background;
    }
    position: absolute;
    font-size: @tiny-icon-size;
    top: 0;
    right: 0;
    width: 34px;
    height: @full;
    background: transparent;
    border-color: transparent;
    z-index: 2;
    cursor: pointer;
  }
  position: relative;
}

.input {
  font-size: @text-size;
  &.is-normal {
    height: 2.3rem;
  }
  &:disabled {
    &::placeholder {
      /* without !important it does not work */
      color: grey !important;
    }
  }
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
