#settings {
  -webkit-tap-highlight-color: transparent;

  position: absolute;
  bottom: @normal-spacing;
  left: @normal-spacing;
  cursor: pointer;
  z-index: @base-z-index;

  #settings-menu {
    cursor: pointer;
    margin-bottom: 0.25rem;
    border-radius: @corner-rounding;
    min-width: 8rem;
    background: @dark-gray;
    font-size: @text-size;

    .settings-item {
      &:last-of-type {
        border-bottom: none;
      }
      .item-header {
        padding: 0.1rem 0.5rem;
        border-bottom: 1px solid @light-gray;
        display: flex;
        .word {
          flex: 1;
          margin-right: @normal-spacing;
        }
        .icon {
          transition: transform @animation-speed;
        }
      }
      .item-body {
        height: 0;
        overflow: hidden;
        transition: height @animation-speed;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        & > div {
          padding: 0.5rem 0.5rem;
        }
      }
      &:last-child {
        .item-header {
          border-bottom-color: transparent;
        }
        .item-body {
          border-top: 2px solid transparent;
          border-bottom: 0;
        }
      }
      &.open {
        .item-body {
          border-color: @light-gray;
        }
        .item-header {
          .icon {
            transform: rotate(90deg);
          }
        }
      }
    }
  }
  .form {
    .form-group:not(:last-child) {
      margin-bottom: 0.2rem;
    }
    label {
      display: block;
      margin-bottom: 0.1rem;
    }
  }
  .columns {
    margin: 0 -0.25rem;

    .column {
      padding: 0.25rem;
    }
  }
}
