#settings {
  position: absolute;
  bottom: @normal-spacing;
  left: @normal-spacing;
  cursor: pointer;
  z-index: @base-z-index;

  #settings-menu {
    padding: 0.25rem @light-spacing;
    margin-bottom: 0.25rem;
    border-radius: @corner-rounding;
    min-width: 6rem;
    background: @dark-gray;
    font-size: @text-size;

    li {
      border-bottom: 1px solid @dark-gray-alt;
      margin-bottom: 0.15rem;
      user-select: none;

      &:last-of-type {
        border-bottom: none;
      }
    }
    .word {
      display: inline-block;
      margin-right: @normal-spacing;
      margin-bottom: 0.15rem;
    }

    .fa-chevron-right {
      float: right;
      margin-top: 0.25rem;
    }
  }
}