<div class="file-item">
  <button class="close" @click="$emit('removeUploadItem')">
    <x-icon size="1x" />
  </button>
  <div class="preview">
    <img
      v-if="item.thumbnail"
      :src="item.thumbnail"
      class="thumbnail"
      :class="{blur : item.nsfw}"
    />
    <file-icon v-else size="1x" class="control-icon" />
  </div>
  <div class="file-info">
    <TypographyTitle :size="6" :text="item.file.name" />
    <div>
      <div v-for="upload in uploadProgress">
        <div v-if="upload.name === item.file.name">
          <div v-if="upload.progress !== 100">
            <UiProgress :progress="upload.progress" type="loading" />
            <TypographySubtitle
              :text="`${upload.progress.toFixed(2)}% Uploaded...`"
            />
          </div>
          <div v-if="upload.progress >= 100">
            <file-plus-icon />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
