.progress::-webkit-progress-value {
  background: @satellite-color;
}
.progress::-moz-progress-bar {
  background: @satellite-color;
}
.progress::-ms-fill {
  background: @satellite-color;
  border: none;
}
.progress {
  border: 1px solid @satellite-color;
  background: transparent;
  margin-bottom: @light-spacing;
}
.progress::-webkit-progress-bar {
  background: transparent;
}
