.progress::-webkit-progress-value {
  background-color: @primary-color;
}
.progress::-moz-progress-bar {
  background-color: @primary-color;
}
.progress::-ms-fill {
  background-color: @primary-color;
  border: none;
}
.progress {
  border: 1px solid @primary-color;
  background-color: transparent;
  margin-bottom: @light-spacing;
}
.progress::-webkit-progress-bar {
  background-color: transparent;
}