.progress::-webkit-progress-value {
  &:extend(.background-primary);
}
.progress::-moz-progress-bar {
  &:extend(.background-primary);
}
.progress::-ms-fill {
  &:extend(.background-primary);
  border: none;
}
.progress {
  border: 1px solid @primary-color;
  background: transparent;
  margin-bottom: @light-spacing;
}
.progress::-webkit-progress-bar {
  background: transparent;
}