.moonless_night {
  //------------- Colors -------------
  @white: #fff;

  @background: #15161d;
  @midground: #000;
  @graydient: linear-gradient(
    0deg,
    rgba(42, 54, 75, 0.5) 0%,
    rgba(48, 52, 71, 0.5) 100%
  );
  @gray: linear-gradient(
    0deg,
    rgba(42, 54, 75, 0.5) 0%,
    rgba(48, 52, 71, 0.5) 100%
  );
  @transparent: transparent;

  //------------- Ui Colors -------------
  @border-color: @gray;

  //------------- Ui Flair -------------
  @border: 1px solid @border-color;

  .background {
    background: @midground !important;
  }
  .background-alt {
    background: @graydient !important;
  }

  &body,
  #app {
    background: @midground !important;
  }

  .control-icon.active,
  #mobile-nav .active {
    background: transparent !important;
  }

  #mobile-nav {
    div {
      svg {
        &:extend(.font-primary);
      }
      &.active {
        border-radius: @half;
      }
      &:extend(.inline-flex-centered);
      margin: auto;
      width: 40px !important;
      height: 40px;
    }

    background: @graydient !important;
    backdrop-filter: @blur;
  }

  // ------------- Ui Elements-------------

  .files-aside {
    background: @graydient !important;
  }

  .sidebar-inner,
  .controls {
    background: @transparent !important;
    backdrop-filter: unset !important;
    box-shadow: none !important;
  }
}
