:root {
  --app-height: 100vh;
  --flair-color: @primary-color;
  --flair-color-rgb: 39, 97, 253;
}
@flair-glow: 0 5px 14px -5px var(--flair-color);
@switch-off-flair-glow: -5px 0px 20px -2px var(--flair-color);

html,
body {
  position: fixed;
  overflow: hidden;
  height: @full;
  &:extend(.full-width);
  overscroll-behavior: contain;
  caret-color: var(--flair-color) !important;
}

html {
  &:extend(.background-gradient);
}

body {
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left) !important;
  font-variant-ligatures: none;
}

.background-flair {
  background: var(--flair-color) !important;
}
.glow-flair {
  box-shadow: @flair-glow !important;
}
.color-flair {
  color: var(--flair-color) !important;
}
.switch-off-glow-flair {
  box-shadow: @switch-off-flair-glow !important;
}

::selection {
  &:extend(.font-secondary);
  &:extend(.background-flair);
}

/* Only for Safari to fix selection text background */

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    ::selection {
      background: rgba(var(--flair-color-rgb), 0.99) !important;
    }
  }
}

.hidden-scroll {
  overflow-y: auto;
  position: relative;

  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }
}

#app {
  &:extend(.font-primary);
}

.is-secondary-background {
  background: @darker;
}

.is-collapsed .menu-toggle {
  &:extend(.font-accent);
}
// UI Kit

.card {
  background: black;
  &:extend(.font-primary);
}

.toasted-container.top-center {
  top: env(safe-area-inset-top) !important;
}

.toasted-container .toasted {
  &:extend(.background-flair);
  color: @secondary-text !important;
  font-family: @primary-font;
}
.loading-bar {
  .bar {
    background: @text;
  }
}

.title.is-6 {
  margin-bottom: 0.25rem;
}

.is-6 {
  font-size: 11pt;
}

//Menu
.menu-list {
  a {
    &:extend(.font-primary);

    &.is-active {
      &:extend(.background-flair);
      &:extend(.glow-flair);
    }

    &:hover:not(.is-active) {
      &:extend(.background-semitransparent-light);
      &:extend(.font-primary);
    }
  }

  li {
    &.is-active {
      &:extend(.background-flair);
      &:extend(.glow-flair);
    }

    a.is-active {
      &:extend(.background-flair);
      &:extend(.glow-flair);
    }

    &:not(.is-active)&:hover {
      &:extend(.background-semitransparent-light);
    }
  }
}

.menu-label {
  &:extend(.font-muted);
}

.version {
  &:extend(.font-muted);
}

// Server labels
#list-container {
  .unread {
    .label {
      &:extend(.background-flair);
    }
  }
}

// Buttons
.button {
  &.is-primary {
    &:extend(.background-flair);
    &:extend(.glow-flair);
  }

  &.is-primary.is-outlined {
    &:extend(.font-accent);
  }

  #custom-cursor-area {
    &:extend(.font-primary);
  }

  &.is-danger,
  .is-danger {
    background: @danger-gradient !important;
    box-shadow: @danger-glow !important;

    &:hover {
      &:extend(.glow-danger);
      background: @danger-gradient;
    }
  }

  &.is-danger.is-outlined {
    &:extend(.color-danger);
    &:extend(.glow-danger);

    &:hover,
    &:focus {
      background: @danger-gradient;
      &:extend(.glow-danger);
    }
  }
}

.button-group {
  .button {
    &.active {
      &:extend(.background-flair);
      &:extend(.glow-flair);
      &:extend(.font-primary);
    }
    &:hover {
      border: none;
    }
  }
}

button {
  outline: none !important;
  border: none !important;
}

.button.is-dark.is-outlined {
  &:extend(.font-primary);
  border-color: @foreground;

  &:hover,
  &:focus {
    background: @foreground;
    border-color: @foreground;
    &:extend(.font-secondary);
  }

  &.active {
    &:extend(.background-flair);
    border-color: @foreground;
    &:extend(.font-secondary);
  }
}

.button.is-dark {
  &:extend(.background-semitransparent-lighter);
  &:extend(.font-secondary);

  &:hover {
    background: @foreground-alt;
    &:extend(.font-secondary);
  }
}

.tabs {
  overflow: unset !important;
}

//Volume Slider
.volume-slider .vue-slider-process,
.vue-slider-dot-tooltip-inner {
  &::after {
    border-top-color: var(--flair-color) !important;
  }
  &:extend(.background-flair);
}

//Breadcrumb
.breadcrumb li:not(.is-active) a {
  &:extend(.color-flair);
}

//Multiselect & chip items
.multiselect {
  .multiselect__input {
    &:extend(.background-flair);
    color: @text;
  }

  .multiselect__content-wrapper {
    border: 1px solid var(--flair-color);
    &:extend(.glow-flair);
  }

  .multiselect__tags {
    &:extend(.background-flair);
    border: 1px solid var(--flair-color);
  }
}

.chip-item {
  &:extend(.background-flair);
  border: 1px solid var(--flair-color);
}

//Toggle sidebar
.toggle-sidebar,
.toggle--sidebar,
.menu-toggle {
  &:extend(.color-flair);
}

//Select
.is-primary {
  .custom-select {
    color: @text;
    .selected {
      &:extend(.background-flair);
      &:extend(.glow-flair);

      &:hover {
        &:extend(.glow-primary);
      }
    }
  }
}

// Progress
progress.progress {
  border: var(--flair-color);

  &.is-primary {
    border-color: var(--flair-color) !important;
    &::-webkit-progress-value {
      &:extend(.background-flair);
    }
  }

  border: 1px solid var(--flair-color);
}

//Sidebar
#sidebar {
  .sidebar-nav {
    .button,
    div {
      &.is-primary {
        &:extend(.background-flair);
        &:extend(.glow-flair);
      }
      .tag-inverted {
        background: @midground !important;
      }
    }
  }
  background: @background !important;
}

//Scrollbar
.ps__thumb-x,
.ps__thumb-y,
.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x,
.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  &:extend(.background-flair);
}

.auto-scroll {
  /* Scroll Handle */
  &::-webkit-scrollbar-thumb {
    &:extend(.background-flair);
  }
  /* Custom Scroll for Firefox */
  scrollbar-color: var(--flair-color) transparent !important;
}

.new-message-alert {
  &:extend(.background-flair);
}

//Search Input
.search-query-highlight {
  &:extend(.background-flair);
  &:extend(.glow-flair);
}

.search-option-group {
  li {
    &:hover:not(:first-child),
    &.active {
      &:extend(.background-flair);
      &:extend(.glow-flair);
    }
  }
}

//------------- Navigation -------------

a.link {
  &:extend(.color-flair);

  &:hover {
    &:extend(.color-flair);
    &:extend(.glow-flair);
  }
}

.alpha-divider,
.search-option-heading,
.vc-weekday,
.search-result-header,
.add-more-filters {
  &:extend(.color-flair);
}

.add-more-filters {
  &:hover {
    &:extend(.background-flair);
    color: @white !important;
  }
  &:extend(.color-flair);
}

li .is-active,
li.active,
input.date-input {
  &:extend(.background-flair);
  &:extend(.glow-flair);
  border: none !important;
}

// ------------- Ui Elements-------------

* {
  border-color: var(--flair-color);
}

// Chatbar
#chatbar {
  .chatbar-controls {
    div[data-tooltip='Send'] {
      &:extend(.color-flair);
    }
    .send-message-btn {
      &:extend(.color-flair);
    }
  }
}

.is-chatbar-reply {
  &:extend(.background-flair);
}

// Inputs

.has-tooltip-primary {
  &:before {
    background: transparent;
    background: @semitransparent-dark-gradient !important;
    &:extend(.blur-less);
    font-family: @primary-font !important;
    color: @secondary-text !important;
    &:extend(.fourth-layer);
  }
}
.input {
  &:extend(.input-bg);
  &:extend(.font-primary);
  box-shadow: none !important;
  &:active,
  &:focus {
    background: @semitransparent-lightest-gradient !important;
  }
}
.select select {
  background: @midground;
  &:extend(.font-primary);
}
::placeholder {
  color: @text-muted !important;
}
.is-primary.input,
.is-dark.input {
  &:extend(.input-bg);
  &:extend(.font-primary);
  border: none;

  &:active,
  &:focus {
    border: none;
    outline: none;
  }
}
.select.is-primary select {
  &:extend(.background-primary-gradient);
  border: none;
  outline: none;
  &:extend(.glow-primary);
  &::after,
  &::before {
    border-color: @secondary-text;
  }
}

.select.is-primary:not(:hover)::after,
.select:not(.is-multiple):not(.is-loading):hover::after {
  border-color: @secondary-text;

  &:extend(.first-layer);
}

.select.is-primary:hover::after,
.select.is-primary:active::after,
.select.is-primary selec:hover {
  border-color: @secondary-text;
}

//Icon
.icon,
.file-icon,
.file-type-icon {
  &:extend(.color-flair);
}

// Typography
.title {
  &:extend(.font-primary);
}

.subtitle {
  &:extend(.font-muted);
}

// generic

.mg-none {
  margin: 0 !important;
}

.mg-quarter {
  margin: 0.25rem 0 !important;
}

.mg-half {
  margin: @light-spacing 0 !important;
}

li.active {
  &:extend(.background-primary-gradient);
}

*:focus {
  outline: none;
}

*:active {
  outline: none;
}

code {
  &:extend(.background-semitransparent-lighter);
  &:extend(.font-accent);
}

strong {
  &:extend(.font-secondary);
}

.locked,
.disabled,
.disabled * {
  cursor: not-allowed !important;
}

@media only screen and (max-width: @mobile-breakpoint) {
  .dynamic-content {
    min-width: 100vw;
    background: transparent;
  }
}

.spin {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bounce {
  animation-name: bounce;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
}

// Swiper
.sidebar-container.swiper-slide.swiper-slide-active {
  transform: none;
}

.user {
  .user-info {
    .subtitle {
      font-size: @micro-text-size;
      color: @text-muted;

      * {
        font-size: @micro-text-size;
        color: @text-muted;
      }
    }

    .bigmoji {
      .emoji {
        font-size: 18pt;
        animation-name: emoji-appear;
        animation-duration: 500ms;
      }
    }

    .spoiler-container {
      cursor: pointer;
      background-color: @gray;
      border-radius: @corner-rounding-smaller;
      .spoiler {
        opacity: 0;
      }

      .spoiler-open {
        cursor: text;
        background-color: @darker-transparent;
        opacity: 1;
      }
    }
  }
}
