:root {
  --app-height: 100vh;
  --flair-color: @primary-color;
}
@flair-glow: 0 5px 14px -5px var(--flair-color);

html,
body {
  position: fixed;
  overflow: hidden;
  height: @full;
  &:extend(.full-width);
  overscroll-behavior: none;
  caret-color: var(--flair-color) !important;;
}

html {
  &:extend(.background-gradient);
}


::selection {
  &:extend(.font-secondary);
  background: var(--flair-color) !important;
}

.flair { background: var(--flair-color) !important; }
.flair-glow { box-shadow: @flair-glow !important; }

.hidden-scroll {
  overflow-y: auto;
  position: relative;

  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }
}

#app {
  &:extend(.font-primary);
}

.is-secondary-background {
  background: @darker;
}

.is-collapsed .menu-toggle {
  &:extend(.font-accent);
}
// UI Kit

.card {
  background: black;
  &:extend(.font-primary);
}

.toasted-container.top-center {
  top: 0 !important;
}

.toasted-container .toasted {
  background: var(--flair-color) !important;;
  color: @secondary-text !important;
  font-family: @primary-font;
}
.loading-bar {
  .bar {
    background: @text;
  }
}

.title.is-6 {
  margin-bottom: 0.25rem;
}

.is-6 {
  font-size: 11pt;
}

.menu-list {
  li {
    margin: 0.25rem;

    a {
      &:extend(.font-primary);

      &.is-active {
        &:extend(.background-primary);
        &:extend(.glow-primary);
      }

      &:hover:not(.is-active) {
        &:extend(.background-semitransparent-light);
        &:extend(.font-primary);
      }
    }
  }
}
.menu-label {
  &:extend(.font-muted);
}

.version {
  &:extend(.font-muted);
}


// Buttons
.button {

  &.is-primary, .is-primary{
    &:extend(.background-primary-gradient);
    &:extend(.glow-primary);
    border: none !important;
    outline: none;
    color: var(--flair-color) !important;;

    &:hover, &:focus, &:active {
      &:extend(.background-primary-gradient);
      &:extend(.font-secondary);
      border: none;
      &:extend(.glow-primary);
    }
  }

  &.is-primary.is-outlined {
    &:extend(.font-accent);
    &:extend(.glow-primary);

    &:hover, &:focus {
      &:extend(.font-secondary);
      &:extend(.glow-primary);
    }
  }

  &.is-danger, .is-danger {
    background: @danger-gradient !important;
    box-shadow: @danger-glow !important;

    &:hover {
      &:extend(.glow-danger);
      background: @danger-gradient;
    }
  }

  &.is-danger.is-outlined {
    &:extend(.color-danger);
    &:extend(.glow-danger);

    &:hover, &:focus {
      background: @danger-gradient;
      &:extend(.font-secondary);
      &:extend(.glow-danger);
    }
  }
}

button {
  outline: none !important;
  border: none !important;
}

.tabs {
  overflow: unset !important;
}

.button.is-dark.is-outlined {
  &:extend(.font-primary);
  border-color: @foreground;

  &:hover, &:focus {
    background: @foreground;
    border-color: @foreground;
    &:extend(.font-secondary);
  }

  &.active {
    &:extend(.background-primary);
    border-color: @foreground;
    &:extend(.font-secondary);
  }
}

.button.is-dark {
  &:extend(.background-semitransparent-lighter);
  &:extend(.font-secondary);
}
.button.is-dark:hover {
  background: @foreground-alt;
  &:extend(.font-secondary);
}

// Inputs

#sidebar {
  .search-box {
    input.input.is-small.is-dark {
      background: @input-gradient !important;
    }
  }
}
.has-tooltip-primary {
  &:before {
    background: transparent;
    background: @semitransparent-dark-gradient !important;
    &:extend(.blur-less);
    font-family: @primary-font !important;
    color: @secondary-text !important;
    z-index: 100000;
  }
}
.input {
  &:extend(.input-bg);
  &:extend(.font-primary);
  box-shadow: none !important;
  &:active, &:focus {
    background: @semitransparent-lightest-gradient !important;
  }
}
.select select{
  background: @midground;
  &:extend(.font-primary);
}
::placeholder {
  color: @text-muted !important;
}
.is-primary.input,
.is-dark.input {
  &:extend(.input-bg);
  &:extend(.font-primary);
  border: none;

  &:active, &:focus {
    border: none;
    outline: none;
  }
}
.select.is-primary select {
  &:extend(.background-primary-gradient);
  border: none;
  outline: none;
  &:extend(.glow-primary);
  &::after, &::before {
    border-color: @secondary-text;
  }
}

.select.is-primary:not(:hover)::after,
.select:not(.is-multiple):not(.is-loading):hover::after  {
  border-color: @secondary-text;
  z-index: @base-z-index;
}

.select.is-primary:hover::after,
.select.is-primary:active::after,
.select.is-primary selec:hover  {
  border-color: @secondary-text;
}

.icon {
  color: @primary-color;
}

// Typography
.title {
  &:extend(.font-primary);
}

.subtitle {
  &:extend(.font-muted);
}

// generic

.mg-none {
  margin: 0 !important;
}

.mg-quarter {
  margin: 0.25rem 0 !important;
}

.mg-half {
  margin: @light-spacing 0 !important;
}

li.active {
  &:extend(.background-primary-gradient);
}

*:focus {
  outline: none;
}

*:active {
  outline: none;
}

code {
  &:extend(.background-semitransparent-lighter);
  &:extend(.font-accent);
}

strong {
  &:extend(.font-secondary);
}

@media only screen and (max-width: @mobile-breakpoint) {
  .dynamic-content {
    min-width: 100vw;
    background: transparent;
  }
}

.spin {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bounce {
  animation-name: bounce;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
}
