:root {
  --app-height: 100vh;
  --flair-color: @satellite-color;
  --flair-color-secondary: @satellite-color-secondary;
  --flair-color-rgb: @satellite-color-rgb;
}

//Generic
html {
  &:extend(.full-height);
  &:extend(.full-width);
  overflow: hidden;
}

body {
  &:extend(.full-height);
  &:extend(.full-width);
  &:extend(.background-gradient);
  margin: 0 !important;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left) !important;
  &:extend(.font-primary);
  font-variant-ligatures: none;
  overflow: hidden;
  overscroll-behavior: contain;
  caret-color: @flair-color !important;
}

*:focus,
*:active {
  outline: none;
}

code {
  &:extend(.background-semitransparent-lighter);
  &:extend(.font-flair);
}

strong {
  &:extend(.font-secondary);
}

a.link {
  &:extend(.font-flair);

  &:hover {
    &:extend(.font-flair);
    &:extend(.glow-flair);
  }
}

.is-secondary-background {
  background: @darker;
}

// ------------- Ui Elements-------------

//Cards
.card {
  background: black;
  .card-image {
    &:extend(.background-flair);
  }
  .card-text {
    .price {
      .btn-buy {
        &:extend(.background-flair-gradient);
        &:extend(.glow-flair);
      }
    }
  }
}

.glyph-card {
  .glyph-card-header {
    &:extend(.background-flair);
  }
  .card-text {
    .price {
      .btn-buy {
        &:extend(.background-flair-gradient);
        &:extend(.glow-flair);
      }
    }
  }
}

//Toast
.toasted-container.top-center {
  top: env(safe-area-inset-top) !important;
}

.toasted-container .toasted {
  background: @flair-gradient !important;
  color: @secondary-text !important;
  font-family: @primary-font;

  &.error {
    background: @danger-gradient !important;
  }
}

//Loading
.loading-bar {
  .bar {
    background: @white;
  }
}

.loading-updating {
  &:extend(.background-flair);
}

//Menus
.is-collapsed .menu-toggle {
  &:extend(.font-flair);
}

.context-menu {
  p {
    &:hover {
      &:extend(.background-flair);
    }
  }
}

.menu-list {
  a {
    &:extend(.font-primary);

    &.is-active {
      &:extend(.background-flair-gradient);
      &:extend(.glow-flair);
    }

    &:hover:not(.is-active) {
      &:extend(.background-semitransparent-light);
      &:extend(.font-primary);
    }
  }

  li {
    font-family: @secondary-font;
    &.is-active {
      &:extend(.background-flair-gradient);
      &:extend(.glow-flair);
    }

    a.is-active {
      &:extend(.background-flair-gradient);
      &:extend(.glow-flair);
    }

    &:hover:not(.is-active) {
      &:extend(.background-semitransparent-light);
    }
  }
}

.menu-label {
  &:extend(.font-muted);
}

.simple-menu {
  .active {
    &:extend(.background-flair);

    &:hover {
      &:extend(.background-flair);
    }
  }
}

.version {
  &:extend(.font-muted);
}

//Breadcrumb
.breadcrumb {
  a {
    &:extend(.font-flair);
    &:hover {
      &:extend(.font-flair);
    }
  }
}

// Buttons
button {
  padding: 0;
  border: none;
  cursor: pointer;
  background: transparent;
  &:extend(.font-primary);
}
.button {
  border: none;
  &.active {
    &:extend(.background-flair-gradient);
    &:extend(.glow-flair);
    &:extend(.font-primary);

    &[disabled] {
      &:extend(.background-flair-gradient);
    }

    &.disabled {
      background: @text-muted;
    }

    &:focus {
      &:extend(.background-flair-gradient);
      &:extend(.glow-flair);
      &:extend(.font-primary);
    }
  }

  &.is-primary {
    &:extend(.background-flair-gradient);
    &:extend(.glow-flair);
    &:extend(.font-primary);

    &[disabled] {
      &:extend(.background-flair-gradient);
    }

    &.disabled {
      background: @text-muted;
    }
  }

  &.is-primary.is-outlined {
    &:extend(.font-flair);
  }

  #custom-cursor-area {
    &:extend(.font-primary);
  }

  &.is-dark.is-outlined {
    &:extend(.font-primary);
    border-color: @foreground;

    &:hover,
    &.active {
      background: @foreground;
      border-color: @foreground;
      &:extend(.font-secondary);
    }

    &.active {
      &:extend(.background-flair-gradient);
      border-color: @foreground;
      &:extend(.font-secondary);
    }
  }

  &.is-dark {
    &:extend(.background-semitransparent-lighter);
    &:extend(.font-secondary);

    &:hover:not(.active) {
      background: @foreground-alt;
      &:extend(.font-secondary);
    }

    .active {
      &:extend(.glow-flair);
    }
  }

  &.is-danger,
  .is-danger {
    &:extend(.glow-danger);
    &:extend(.background-danger-gradient);

    &:hover,
    &:focus:not(:active) {
      &:extend(.background-danger-gradient);
      box-shadow: @danger-glow !important;
    }
  }

  &.is-success,
  .is-success {
    &:extend(.glow-success);
    &:extend(.background-success-gradient);

    &:hover,
    &:focus:not(:active) {
      &:extend(.background-success-gradient);
      box-shadow: @success-glow !important;
    }
  }

  &.is-danger.is-outlined {
    &:extend(.color-danger);
    &:extend(.glow-danger);

    &:hover,
    &:focus:not(:active) {
      &:extend(.background-danger-gradient);
      box-shadow: @danger-glow !important;
    }
  }
}

.tabs {
  overflow: unset !important;
}

//Droppable wrapper
.droppableWrapper {
  &.droppableWrapper--active {
    &:after {
      border-color: @flair-color;
      background-color: rgba(var(--flair-color), 0.25);
    }
  }
}

//Selects
.select select {
  background: @midground;
  &:extend(.font-primary);
}
.select.is-primary select {
  &:extend(.background-flair-gradient);
  border: none;
  outline: none;
  &:extend(.glow-flair);
  &::after,
  &::before {
    border-color: @secondary-text;
  }
}

.select.is-primary:not(:hover)::after,
.select:not(.is-multiple):not(.is-loading):hover::after {
  border-color: @secondary-text;
  &:extend(.first-layer);
}

.select.is-primary:hover::after,
.select.is-primary:active::after,
.select.is-primary selec:hover {
  border-color: @secondary-text;
}

.is-primary {
  .custom-select {
    font-family: @secondary-font;
    &:extend(.font-primary);
    .selected {
      &:extend(.background-flair-gradient);
      &:extend(.glow-flair);

      &:hover {
        &:extend(.glow-flair-secondary);
      }
    }
  }
}

::selection {
  &:extend(.font-secondary);
  &:extend(.background-flair);
}

/* Only for Safari to fix selection text background */

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    ::selection {
      background: rgba(var(--flair-color-rgb), 0.99) !important;
    }
  }
}

//Multiselect & chip items
.multiselect {
  .multiselect__input {
    &:extend(.font-primary);
    &:extend(.background-flair);
  }

  .multiselect__content-wrapper {
    &:extend(.border-flair-small);
    &:extend(.glow-flair);
  }

  .multiselect__tags {
    &:extend(.background-flair);
    &:extend(.border-flair-small);
  }

  .multiselect__tag-icon:focus,
  .multiselect__tag-icon:hover {
    &:extend(.background-flair);
  }
}

.vc-is-dark {
  .vc-weekday {
    &:extend(.font-flair);
  }
  .vc-highlight {
    &:extend(.background-flair-gradient);
    &:extend(.glow-flair);
  }
}

//Chip
.chip-item {
  &:extend(.background-flair);
  &:extend(.border-flair-small);
}

//Volume Slider
.volume-slider {
  .vue-slider-process {
    &:extend(.background-flair);
  }
  .vue-slider-dot-tooltip {
    .vue-slider-dot-tooltip-inner {
      font-family: @secondary-font;
      &:extend(.background-flair);
      &::after {
        border-top-color: @flair-color !important;
      }
    }
  }
}

//Switch
.switch-container {
  .switch-button-control {
    .switch-button {
      border: 0.125rem solid @flair-color;
      box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.33);

      .sw-button {
        &:extend(.background-flair);
        &:extend(.switch-off-glow-flair);
      }

      &.enabled {
        &:extend(.background-flair);
        &:extend(.glow-flair);

        .sw-button {
          border: 0.2rem solid @flair-color;
          background: @white !important;
        }
      }
    }
  }
}

//Toggle sidebar
.toggle-sidebar,
.toggle--sidebar,
.menu-toggle {
  &:extend(.font-flair);
}

//Sidebar
.side-bar-inner {
  .body {
    .category-tree {
      .category-item {
        &.active,
        :hover {
          &:extend(.font-flair);
        }
      }
    }
  }
}

//Media
#media-heading {
  .tag {
    &:extend(.background-flair);
    &:extend(.glow-flair);
    &:extend(.font-primary);
  }
}

#mediastream {
  .user,
  .media-user .tag {
    &:extend(.background-semitransparent-dark);
    &:extend(.font-primary);
    font-family: @primary-font;
  }
}

.user {
  .tag {
    &:extend(.background-flair);
  }
}

.media-user {
  &:extend(.background-flair);
}

.more-user {
  &:extend(.background-flair);
}

//Video
.plyr__control--overlaid {
  &:extend(.glow-flair);
  &:extend(.background-flair);
}

.plyr--full-ui input[type='range'] {
  &:extend(.font-flair);
}

//Tag
.tag {
  font-family: @secondary-font;
  &:extend(.background-flair-gradient);
  &:extend(.glow-flair);
  &:extend(.font-secondary);
  .tag-number {
    &:extend(.background-flair);
  }

  &:not(body).is-dark {
    .tag-number {
      &:extend(.background-flair);
    }
    background: @background;
  }
  &:not(body).is-primary {
    &:extend(.background-flair);
  }
}

.tag-inverted {
  &:extend(.font-secondary);
  background: @foreground;
}

// Chatbar
#chatbar {
  .chatbar-controls {
    .send-message-btn {
      &:extend(.font-flair);
    }
    [disabled] {
      color: grey;
    }
  }

  .chat-label {
    &:extend(.background-flair);
  }
}

.is-chatbar-reply {
  &:extend(.background-flair);
}

#chat-mobile-sidebar {
  .label {
    &:extend(.background-flair);
  }
}

//Editable
.editable-container {
  .editable-input {
    .chat-row-content {
      .md-url {
        &:extend(.font-flair);
      }
    }
  }
}

//Alerts
.new-message-alert {
  &:extend(.background-flair);
}
.alert.UNREAD {
  &:extend(.background-flair);
}

//Friends
#friends-nav {
  .label {
    &:extend(.background-flair);
  }
}

#friends-list {
  .user-check-container {
    .label {
      &:extend(.background-flair);
    }
  }
}

//Group
.group-icon {
  &.unread {
    .label {
      &:extend(.background-flair);
    }
  }
}

.group {
  & .group-item {
    &.active {
      border-color: @flair-color;
    }
  }
}

// Server labels
#list-container {
  .unread {
    .label {
      &:extend(.background-flair);
    }
  }
}

.unread {
  .label {
    &:extend(.background-flair);
  }
}

//Info
.info {
  &--primary {
    &:extend(.background-flair-gradient);
  }
}
.info-toggle {
  &:extend(.font-flair);
}

//Message
.is-message {
  .pinned-message {
    &:extend(.border-flair-small);

    .pinned-badge {
      &:extend(.background-flair);
    }
  }
}

//Quick profile
#quick-profile {
  .header {
    &:extend(.background-flair);
  }
  &:extend(.color-flair);
}

// ------------- Ui Elements-------------

.is-chatbar-reply {
  &:extend(.background-flair);
}

//Tooltip
.v-popper__popper {
  &.v-popper--theme-tooltip {
    .v-popper__inner {
      background: @semitransparent-dark-gradient;
      &:extend(.blur-less);
      font-family: @primary-font;
      color: @secondary-text;
      font-size: 0.75em;
    }

    .v-popper__arrow-outer {
      border-color: @midground;
    }
  }

  &.v-popper__popper--show-from .v-popper__wrapper {
    transform: scale(0.5);
  }

  &.v-popper__popper--show-to .v-popper__wrapper {
    transform: none;
    transition: transform 0.15s;
  }
}

//Inputs
.input {
  &:extend(.input-bg);
  &:extend(.font-primary);
  box-shadow: none !important;
  &:active,
  &:focus {
    background: @semitransparent-lightest-gradient !important;
  }
}

::placeholder {
  color: @text-muted !important;
}

.is-primary.input,
.is-dark.input {
  &:extend(.input-bg);
  &:extend(.font-primary);
  border-color: transparent;

  &:active,
  &:focus {
    border: none;
    outline: none;
  }
}

//Search Input
.search-query-highlight {
  &:extend(.background-flair);
  &:extend(.glow-flair);
}

.search-option-group {
  li {
    &:not(.active) {
      background: transparent !important;
    }
    &:hover:not(:first-child),
    &.active {
      &:extend(.background-flair);
      &:extend(.glow-flair);
    }
  }
}

.search-result-pagination li {
  &.active {
    a {
      &:extend(.background-flair);
    }
  }
}

.search-result {
  &-header {
    &:extend(.font-flair);
  }
  &-filters {
    .date-input {
      &:extend(.background-flair-gradient);
      &:extend(.glow-flair);
      &:extend(.border-flair-small);
    }
    .date-icon {
      &:extend(.font-secondary);
    }
    .add-more-filters {
      &:extend(.font-flair);
      &:hover {
        &:extend(.background-flair);
      }
      &:active {
        &:extend(.background-flair);
      }
    }
  }
}

//Icon
.icon,
.file-icon,
.file-type-icon {
  &:extend(.font-flair);
}
.badged-icon {
  &:extend(.font-flair);

  .dynamic-icon {
    &:extend(.filter-glow-flair);
  }
}

// Typography
.title {
  &:extend(.font-primary);
}

.subtitle {
  &:extend(.font-muted);
}

.title.is-6 {
  margin-bottom: 0.25rem;
}

.is-6 {
  font-size: 11pt;
}

#aside-box {
  #actions {
    &:hover {
      &:extend(.background-flair-gradient);
      &:extend(.glow-flair);
    }
  }
}

.mg-none {
  margin: 0 !important;
}

.mg-quarter {
  margin: 0.25rem 0 !important;
}

.mg-half {
  margin: @light-spacing 0 !important;
}

.locked,
.disabled,
.disabled * {
  cursor: not-allowed !important;
}

@media only screen and (max-width: @mobile-breakpoint) {
  .dynamic-content {
    min-width: 100vw;
    background: transparent;
  }
}

.spin {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bounce {
  animation-name: bounce;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
}

//------------- Navigation -------------

#mobile-nav {
  div {
    .active {
      &:extend(.font-flair);
      svg {
        &:extend(.font-flair);
      }
    }
  }
}

.alpha-divider,
.search-option-heading,
.vc-weekday {
  &:extend(.font-flair);
}

.add-more-filters {
  &:hover {
    &:extend(.background-flair);
    &:extend(.font-primary);
  }
  &:extend(.font-flair);
}

.user {
  .user-info {
    .subtitle {
      font-size: @micro-text-size;
      color: @text-muted;

      * {
        font-size: @micro-text-size;
        color: @text-muted;
      }
    }

    .bigmoji {
      .emoji {
        font-size: 18pt;
        animation-name: emoji-appear;
        animation-duration: 500ms;
      }
    }
  }
}

.spoiler-container {
  cursor: pointer;
  background-color: @gray;
  border-radius: @corner-rounding-smaller;
  .spoiler {
    opacity: 0;
  }
  &.spoiler-open {
    cursor: text;
    background-color: transparent;
    .spoiler {
      opacity: 1;
    }
  }
}

// Swiper
.sidebar-container.swiper-slide.swiper-slide-active {
  transform: none;
}
