.enhancers {
  height: @enhancers-height;
  width: @enhancers-width;
  max-width: @enhancers-width;
  position: absolute;
  right: 16px;
  bottom: calc(@chatbar-size + 16px);
  overflow: hidden;
  box-shadow: @ui-shadow;
  display: flex;
  flex-direction: column;
  &:extend(.round-corners);
  &:extend(.background-semitransparent-light);
  &:extend(.blur);

  @media (max-width: @mobile-breakpoint) {
    width: calc(100%);
    right: 0;
  }

  .navbar {
    display: flex;
    padding: @light-spacing;
    min-height: auto;
    &:extend(.background-semitransparent-dark);
  }

  .container {
    width: 100%;
    overflow: hidden;
  }
}
