<div
  id="enhancers"
  v-if="ui.enhancers.show"
  v-click-outside="toggleEnhancers"
  v-bind:style="!ui.enhancers.floating ? {
    left: calculatePositionOnScreen(ui.enhancers.position[0]) + 'px',
    bottom: ui.enhancers.position[1] + 'px'
  } : {}"
>
  <div class="navbar">
    <InteractablesButtonGroup
      v-model="route"
      :fullWidth="true"
      :values="['glyphs','emotes','gif']"
    >
      <InteractablesButton type="dark" size="small" text="Glyphs">
        <grid-icon size="1x" />
      </InteractablesButton>
      <InteractablesButton type="dark" size="small" text="Emoji">
        <smile-icon size="1x" />
      </InteractablesButton>
      <InteractablesButton
        type="dark"
        size="small"
        text="Gifs"
        v-if="featureReadyToShow"
      >
        <image-icon size="1x" />
      </InteractablesButton>
    </InteractablesButtonGroup>
  </div>
  <div id="container">
    <UiSimpleScroll
      scrollMode="vertical"
      scrollShow="scroll"
    >
      <emoji-picker @emoji="addEmoji" :search="search.toLowerCase()" v-if="ui.enhancers.route === 'emotes'">
        <div
          slot="emoji-picker"
          ref="emojiPicker"
          slot-scope="{ emojis, insert }"
        >
          <div class="emoji-picker">
            <div class="emoji-picker__search">
              <InteractablesInput
                v-model="search"
                type="dark"
                size="small"
                placeholder="Search..."
              />
            </div>
            <div>
              <div v-for="(emojiGroup, category) in emojis" :key="category">
                <TypographyText :text="category" />
                <div class="emojis">
                  <div
                    v-if="category === 'Frequently used' && mostUsedEmojis.length"
                  >
                    <span
                      v-for="(emoji, index) in mostUsedEmojis"
                      :key="index"
                      @click="addEmoji(emoji.content, emoji.code)"
                      :title="index"
                    >
                      {{ emoji.content }}
                    </span>
                  </div>
                  <div v-else>
                    <span
                      v-for="(emoji, emojiName) in emojiGroup"
                      :key="emojiName"
                      @click="addEmoji(emoji, emojiName)"
                      :title="emojiName"
                      >{{ emoji }}</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </emoji-picker>
    </UiSimpleScroll>
    <EnhancersGlyphs v-if="ui.enhancers.route === 'glyphs'" />
  </div>
</div>
