<div
  class="enhancers"
  :class="{'enhancers-mobile': $device.isMobile}"
  v-if="ui.enhancers.show"
  v-click-outside="toggleEnhancers"
  v-bind:style="!ui.enhancers.floating ? {
    left: calculatePositionOnScreen(ui.enhancers.position[0]) + 'px',
    bottom: ui.enhancers.position[1] + 'px'
  } : {}"
>
  <div class="navbar">
    <InteractablesButtonGroup
      v-model="route"
      :values="['glyphs','emoji','gif']"
    >
      <InteractablesButton
        text="Glyphs"
        :color="ui.enhancers.route === 'glyphs' ? 'primary' : ''"
      >
        <grid-icon size="1x" />
      </InteractablesButton>
      <InteractablesButton
        text="Emoji"
        :color="ui.enhancers.route === 'emoji' ? 'primary' : ''"
      >
        <smile-icon size="1x" />
      </InteractablesButton>
      <InteractablesButton
        text="Gifs"
        :color="ui.enhancers.route === 'gifs' ? 'primary' : ''"
        v-if="featureReadyToShow"
      >
        <image-icon size="1x" />
      </InteractablesButton>
    </InteractablesButtonGroup>
  </div>
  <div class="container">
    <EnhancersGlyphs v-if="ui.enhancers.route === 'glyphs'" />
    <EnhancersEmoji v-if="ui.enhancers.route === 'emoji'" />
  </div>
</div>
