.enhancers {
  height: @enhancers-height;
  width: @enhancers-width;
  max-width: @enhancers-width;
  position: absolute;
  right: 16px;
  bottom: calc(@chatbar-size + 16px);
  overflow: hidden;
  box-shadow: @ui-shadow;
  display: flex;
  flex-direction: column;
  &:extend(.round-corners);
  &:extend(.background-semitransparent-light);
  &:extend(.blur);

  @media (max-width: @mobile-breakpoint) {
    width: 100%;
    right: 0;
  }

  .navbar {
    display: flex;
    padding: @light-spacing;
    min-height: auto;
    &:extend(.background-semitransparent-dark);
  }

  .container {
    width: 100%;
    overflow: hidden;
  }

  @media (max-width: @mobile-breakpoint) {
    position: fixed;
    inset: auto 0 0 0;
    box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.25);
    z-index: 1;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: calc(0px - var(--keyboard-height));
    padding-bottom: var(--keyboard-height);
    height: calc(@enhancers-height + var(--keyboard-height));
  }
}
