.message-reactions {
  display: flex;
  align-items: center;
  gap: @xlight-spacing;
  margin: @light-spacing 0;

  &:hover,
  &:focus-within {
    .add-reaction {
      display: flex;
    }
  }

  .reaction-button {
    display: flex;
    gap: @xlight-spacing;
    align-items: center;
    position: relative;
    padding: (@light-spacing / 2) @light-spacing;
    color: white;
    &:extend(.background-semitransparent-light);
    &:extend(.bordered);
    &:extend(.round-corners);

    &.reacted {
      &:extend(.background-flair-gradient);
      &:extend(.glow-flair);
    }

    &:hover,
    &:focus {
      .reaction-details {
        display: flex;
      }
    }

    .reaction-details {
      display: none;
      align-items: center;
      gap: @xlight-spacing;
      padding: @light-spacing;
      width: 140px;

      position: absolute;
      bottom: 36px;
      left: 50%;
      transform: translateX(-50%);

      font-size: 10pt;
      text-align: left;
      cursor: default;

      &:extend(.background-semitransparent-dark);
      &:extend(.blur);
      &:extend(.bordered);
      &:extend(.round-corners);
      &:extend(.first-layer);

      .reactors-emoji {
        font-size: 2rem;
        padding: 0px 4px;
        text-shadow: -1px 0 1px @midground, 0 1px 1px @midground,
          1px 0 1px @midground, 0 -1px 1px @midground, 0 0 12px @gray;
      }
    }
  }

  .add-reaction {
    display: none;
    font-size: 1.1rem;
    background: transparent;
    border: none;
    &:extend(.font-muted);
  }
}
