<div class="message-reactions" v-if="reactions">
  <template v-for="reaction in reactions">
    <button
      class="reaction-button"
      :class="{reacted : didIReact(reaction)}"
      @click="quickReaction(reaction.emoji)"
      data-cy="reaction-to-message"
    >
      <div class="reaction-details">
        <div class="reactors-emoji">{{reaction.emoji}}</div>
        <div>{{getReactorsList(reaction.reactors)}}</div>
      </div>
      <span data-cy="emoji-reaction-value">{{reaction.emoji}}</span>
      <span data-cy="emoji-reaction-count">{{reaction.reactors.length}}</span>
    </button>
  </template>
  <button
    class="add-reaction"
    @click="emojiReaction"
    v-tooltip.top="$t('pages.chat.add_reaction')"
  >
    <smile-icon size="1x" v-if="reactions.length" />
  </button>
</div>
