.group-invite {
  display: flex;
  flex-direction: column;
  gap: @light-spacing;
  position: fixed;
  width: 18rem;
  top: @toolbar-height;
  padding: @light-spacing @light-spacing;
  right: calc(18rem + 7rem);
  max-height: 500px;
  &:extend(.first-layer);
  &:extend(.background-semitransparent-dark);
  &:extend(.blur);
  &:extend(.round-corners);
  &:extend(.bordered);

  .subtitle {
    margin: 0;
    font-size: @text-size;
  }

  .button {
    flex-shrink: 0;
  }

  &--compact {
    right: @servers-size + 2rem;
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  .create-group {
    left: @servers-size + 2rem;
  }
}
