.group-invite {
  display: flex;
  flex-direction: column;
  gap: @light-spacing;
  position: absolute;
  width: 18rem;
  top: 100%;
  left: 0;
  padding: @light-spacing @light-spacing;
  max-height: 500px;
  &:extend(.first-layer);
  &:extend(.background-semitransparent-dark);
  &:extend(.blur);
  &:extend(.round-corners);
  &:extend(.bordered);

  .subtitle {
    margin: 0;
    font-size: @text-size;
  }

  .invite-btn {
    flex-shrink: 0;
  }

  &--compact {
    right: @servers-size + 2rem;
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  .create-group {
    left: @servers-size + 2rem;
  }
}
