<div id="group-invite" class="group-invite">
  <TypographyText as="h3"> {{ $t('pages.chat.group_invite') }} </TypographyText>
  <TypographyText size="sm">
    {{ $t('pages.chat.group_invite_description') }}
  </TypographyText>
  <InteractablesUserPicker
    v-model="recipients"
    :exclude="groupMembers"
    address-lookup
  />
  <small v-if="error" class="error has-text-danger error">{{error}}</small>
  <InteractablesButton
    :color="recipients.length ? 'primary' : 'dark'"
    :text="$t('pages.chat.add_member')"
    @click="confirm"
    :loading="isLoading"
    full-width
  />
</div>
