<div id="group-invite" class="group-invite" v-if="modal.isOpen">
  <TypographySubtitle :size="6" :text="$t('pages.chat.group_invite')" />
  <TypographyText :text="$t('pages.chat.group_invite_description')" />
  <InteractablesUserPicker
    v-model="recipients"
    :exclude="participantAddresses"
    address-lookup
  />
  <small v-if="error" class="error has-text-danger error">{{error}}</small>
  <InteractablesButton
    :type="recipients.length ? 'primary' : 'dark'"
    size="small"
    :text="$t('pages.chat.add_member')"
    :action="confirm"
    :loading="isLoading"
    full-width
  />
</div>
