.group-invite {
  display: flex;
  flex-direction: column;
  gap: @light-spacing;
  position: fixed;
  width: 18rem;
  top: @toolbar-height;
  padding: @light-spacing @light-spacing;
  right: calc(18rem + 7rem);
  &:extend(.first-layer);
  max-height: 24rem;
  &:extend(.background-semitransparent-dark);
  &:extend(.blur);
  &:extend(.round-corners);
  &:extend(.bordered);

  .subtitle {
    margin: 0;
    font-size: @text-size;
  }

  .submit-container {
    display: flex;
    justify-content: flex-end;
    &:extend(.full-width);
  }

  &--compact {
    right: @servers-size + 2rem;
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  .create-group {
    left: @servers-size + 2rem;
  }
}
