<div class="group-invite">
  <TypographyText
    font="heading"
    size="sm"
    color="dark"
    style="margin-bottom: 0.5rem"
  >
    {{ $t('pages.chat.group_invite') }}
  </TypographyText>
  <TypographyText size="sm" color="dark">
    {{ $t('pages.chat.group_invite_description') }}
  </TypographyText>
  <InteractablesUserPicker v-model="recipients" :exclude="groupMembers" />
  <TypographyText size="sm" color="danger"> {{ error }} </TypographyText>
  <InteractablesButton
    :color="recipients.length ? 'primary' : 'dark'"
    :text="$t('pages.chat.add_member')"
    :loading="isLoading"
    @click="confirm"
  />
</div>
