<div v-if="popularGlyph" class="glyph-popular">
  <div class="glyph-detail-card">
    <div
      class="bg-header"
      :style="`background-image:url(${popularGlyph.image})`"
    >
      <div class="badges">
        <div v-if="popularGlyph.isNew" class="badge-new">
          {{ $t('glyphs.new') }}
        </div>
        <div v-if="popularGlyph.isSale" class="badge-sale">
          {{ $t('glyphs.sale') }}
        </div>
        <TypographyText>
          {{ `${popularGlyph.glyph.stickerURLs.length} glyphs` }}
        </TypographyText>
      </div>
    </div>
    <div class="glyph-content">
      <div class="glyph-list">
        <EnhancersGlyphsItem
          v-for="url in popularGlyph.glyph.stickerURLs"
          :key="url"
          :src="url"
          :width="38"
          :height="38"
        ></EnhancersGlyphsItem>
      </div>
      <div class="glyph-content-text">
        <div class="glyph-name">
          <TypographySubtitle :size="6" :text="popularGlyph.glyph.name" />
        </div>
        <TypographyText> {{ popularGlyph.glyph.description }} </TypographyText>
        <div class="btns">
          <InteractablesButton
            color="primary"
            :text="$t('glyphs.shop_now')"
            @click="shopGlyph"
          >
          </InteractablesButton>
          <div class="navigator">
            <InteractablesButton @click="() => { navigateGlyph('prev') }">
              <chevron-left-icon size="1.5x"></chevron-left-icon>
            </InteractablesButton>
            <InteractablesButton @click="() => { navigateGlyph('next') }">
              <chevron-right-icon size="1.5x"></chevron-right-icon>
            </InteractablesButton>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
