.search-container {
  position: relative;
}
.search-box {
  display:inline-block;
  position: relative;
  width: 180px;
  font-size: 12px;
  border: 1px solid @light-gray;
  background: @darker;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 3px;
  transition: width .1s;
  &.focus {
    width: 282px;
    .search-input {
      width: 250px;
    }
  }
  .search-input {
    display: inline-block;
    position: relative;
    padding: 0 5px;
    width: 150px;
    max-width: 100%;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    font-size: @text-size;
    background-color: transparent;
    outline: 0;
    border: 0;
    color: @text;
    z-index: 1;
    scrollbar-width: 0;
  }
}
.search-clear {
  position: absolute;
  font-size: @title-text;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: @dark-gray;
  border-color: transparent;
  color: @text;
  z-index: 2;
  &:focus {
    background-color: @dark;
  }
}
.search-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: @text-muted;
  z-index: 0;
}
.search-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  line-height: 30px;
  font-size: @text-size;
  color: @text-muted;
  padding: 0 5px;
}
.hide {
  display: none;
}

.search-options {
  position: absolute;
  left: 0;
  margin-top: 4px;
  z-index: 9999;
  background-color: @dark-gray;
  width: 100%;
  border-radius: 3px;
  padding: 3px 6px;
  border: 1px solid @light-gray;
}

.search-option-group {
  padding: 5px;
  
  li {
    font-size: 16px;
    padding: 5px 10px;
    &:hover, &.active {
      background-color: @black;
      border-radius: 2px;
    }
    span:last-child {
      font-weight: 100;
      color: grey;
    }
  }

  li:first-child {
    font-size: 12px;
  }
}

.search-results {
  position: absolute;
  left: 0;
  margin-top: 4px;
  z-index: 9999;
  background-color: @dark-gray;
  width: 100%;
  border-radius: 3px;
  padding: 3px 6px;
  border: 1px solid @light-gray;
}

.search-result-group {
  padding: 5px;
  
  li {
    font-size: 16px;
    padding: 5px 10px;
    &:hover, &.active {
      background-color: @black;
      border-radius: 2px;
    }
    span:last-child {
      font-weight: 100;
      color: grey;
    }
  }

  li:first-child {
    font-size: 12px;
  }
}

.date-selection {
  position: absolute;
  left: 0;
  margin-top: 4px;
  z-index: 9999;
  background-color: @dark-gray;
  width: 100%;
  border-radius: 3px;
  padding: 12px 6px;
  border: 1px solid @light-gray;
  display: flex;
  justify-content: center;
}
