<div class="search-container" v-click-outside="lostFocus">
  <div :class="{'search-box': true, focus: isFocus}">
    <div :class="{'search-placeholder': true, hide: !isEmpty}">
      {{placeholder}}
    </div>
    <div class="search-icon">
      <font-awesome-icon :icon="['far', 'search']" />
    </div>
    <!-- <input
      ref="searchInput"
      class="search-input"
      v-model="text"
      @keyup="keyup"
      @keydown="keydown"
      @change="change"
      @focus="setFocus"
    /> -->
    <div class="search-input-container">
      <div
        ref="searchInput"
        class="search-input"
        contenteditable=""
        @focus="setFocus"
        @keyup="keyup"
        @keypress="keypress"
        @input="input"
      >
      </div>
    </div>
    <button class="search-clear" @click="clearSearch">
      <font-awesome-icon :icon="['far', 'times']" />
    </button>
  </div>
  <div :class="{'search-options': true}" v-if="isFocus">
    <template v-if="isEmpty">
      <ul class="search-option-group">
        Search Options
        <li>from: user</li>
      </ul>
    </template>
  </div>
</div>
