.edit-message {
  margin: @light-spacing 0px;
  padding: @light-spacing;
  background: @semitransparent-dark-gradient;
  border-radius: @corner-rounding;
  border: 1px solid @primary-color;
  &-body {
    display: flex;
    align-items: center;
    border-radius: @corner-rounding;
    background: @semitransparent-lighter-gradient;
    padding: @light-spacing @normal-spacing;
    &-input {
      flex-grow: 1;
      font-size: @text-size;
    }
    &-emoj {
      flex-shrink: 0;
    }
  }
  &-bottom {
    font-size: @text-size;
  }
}