.tabs {
  display: flex;
  gap: 32px;
  margin-right: auto;
  justify-content: flex-start;
  flex-grow: 1;
  user-select: none;

  .tab {
    display: flex;
    gap: 8px;
    padding-bottom: 16px;

    &.active {
      color: @secondary-text;
      border-bottom: 2px solid @flair-color;
      padding-bottom: calc(@normal-spacing - 2px;);
    }
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  .tabs {
    gap: @normal-spacing;
  }
}

@media only screen and (max-width: @mobile-small-breakpoint) {
  .tabs {
    gap: initial;
    justify-content: space-between;
  }
}
