.menu-list-mobile {
  display: flex;
  gap: @light-spacing;

  li {
    padding: 4px;

    svg {
      &:extend(.font-muted);
    }

    &.is-active {
      svg {
        &:extend(.font-secondary);
      }
    }
  }
}

li {
  cursor: pointer;
  padding: @xlight-spacing @light-spacing;
  margin: 0.2rem -@light-spacing;
  display: inline-flex;
  align-items: center;
  border-radius: @corner-rounding-smaller;
  &:extend(.full-width);
  &:extend(.no-select);

  &:hover:not(.is-active) {
    background: @foreground;
  }

  svg {
    margin-right: @light-spacing;
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  li {
    margin: 0;

    svg {
      margin-right: 0;
    }
  }
}
