video {
  border-radius: @corner-rounding;
  overflow: hidden;
  box-shadow: @primary-glow;
}

.plyr__video-wrapper, .plyr__poster, .plyr {
  border-radius: @corner-rounding;
}

.plyr {
  border: @light-border;
}

.video {
  max-width: 540px;
  min-width: 200px;
  width: 70%;
}

.plyr__menu__container {
  background: @semitransparent-dark-gradient !important;
  backdrop-filter: @blur;
  color: @bright-text !important;
  padding: 0;
  border-radius: @corner-rounding;

  &:hover, .plyr_control, span {
    color: @bright-text !important;
  }
  &::after {
    border-top-color: @dark-gray !important;
  }
}

.plyr__tooltip {
  background: @semitransparent-dark-gradient !important;
  backdrop-filter: @blur;
  color: @bright-text !important;
  
  &::before {
    border-top-color: @dark-gray !important;
  }
}

.plyr__control {
  &:hover {
    background-color: transparent !important;
  }
}
.plyr__control--overlaid {
  background: @primary-color !important;
  box-shadow: @primary-glow;

  &:hover {
    background: @primary-color-alt !important;
    box-shadow: @primary-glow;
  }
}

.plyr--full-ui input[type=range] {
  color: @primary-color !important;
}

@media only screen and (max-width: @mobile-breakpoint) {
  .video {
    max-width: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: @mobile-candybar-breakpoint) {
  .download {
    display: none;
  }
  .is-text {
    display: none !important;
  }
}