.is-group {
  display: flex;
  width: 100%;
  margin-bottom: @light-spacing;

  .title {
    color: @bright-text;
    font-size: @title-text;
    font-weight: bold;
    cursor: pointer;
  }
  .circle {
    margin-top: 0.3rem;
    cursor: pointer;
  }
  .group-body {
    margin-left: 0.75rem;

    .group-heading {
      display: inline-flex;
      flex-direction: row;

      .is-text {
        margin-left: @light-spacing;
        line-height: 1.8;
        font-size: @micro-text-size;
        color: @text-muted;
      }
    }
  }
}