<button
  :class="`styled-button is-${size} is-${type} ${outlined ? 'is-outlined' : ''} ${loading ? 'is-loading' : ''} ${disabled ? 'is-disabled' : ''} ${fullWidth ? 'is-fullwidth' : ''} font-${font}`"
  :disabled="disabled || loading"
  @click="action"
  ref="styled-button"
>
  <InteractablesButtonHoverGlow :disabled="disabled || loading">
    <div class="spinner" v-if="loading">
      <UiLoadersSpinner
        spinning
        :class="`${loadingText ? '' :'no-spinner-margin'}`"
      />
      <span v-if="loadingText"> {{ loadingText }} </span>
    </div>

    <div v-else class="content">
      <div
        :class="`feather ${text.length ? '' : 'no-text-feather'}`"
        v-if="$slots.default"
      >
        <slot></slot>
      </div>
      <span v-if="text.length">{{ text }}</span>
    </div>
  </InteractablesButtonHoverGlow>
</button>
