.footer-typing-indicator {
  display: flex;
  align-items: center;

  .loader {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: relative;
    margin-right: 32px;
    &:extend(.typing-animation);
  }
}
