<div id="mobile-list" :class="{'mobile-list-flat': !gridLayout}">
  <div class="file-controls">
    <FilesAsideList :items="quickAccessOptions" />
    <div class="sort-container">
      <InteractablesSelect
        v-if="directory.length"
        v-model="sort"
        :options="sortOptions"
        :label="$t('pages.files.browse.sort')"
        small
        class="sort-selection"
      />
      <button @click="sort = sort" class="sort-button">
        <sort-asc-icon v-if="isSortAsc" size="1x" />
        <sort-desc-icon v-else size="1x" />
      </button>
    </div>
  </div>
  <div class="files-container">
    <FilesMobileListItem
      v-for="item in directory"
      :item="item"
      :key="item.id"
      @like="(item) => $emit('like', item)"
      @share="(item) => $emit('share', item)"
      @rename="(item) => $emit('rename', item)"
      @remove="(item) => $emit('remove', item)"
      @handle="(item) => $emit('handle', item)"
    />
  </div>
</div>
