.scroll-area {
  white-space: nowrap;

  &.enable-wrap {
    white-space: normal !important;
  }
}

.offset {
  top: 20.5rem;
}

.new-message-alert {
  position: absolute;
  &:extend(.background-primary);
  cursor: pointer;
  font-size: 14px;
  width: calc(@full - @normal-spacing * 1.8);
  margin-left: @normal-spacing;
  border-radius: 0 0 @corner-rounding @corner-rounding;
  z-index: @base-z-index + 11;
  padding: (@light-spacing / 2) @light-spacing;
  span {
    float: right;
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  .offset {
    top: 17rem;
  }
  .new-message-alert {
    min-width: 100vw - @sidebar-size;
  }
}
