<div id="volume" ref="volumegroup" @mousedown="hideSlider" tabindex="0">
  <InteractablesVolume
    v-if="showSlider"
    :volume="audio.volume"
    @returned-value="receivedValue"
  />
  <font-awesome-icon
    v-if="audio.volume >= 70"
    :icon="['far', 'volume-up']"
    @click="toggleSlider"
    class="fa-fw"
  />
  <font-awesome-icon
    v-if="audio.volume > 30 && audio.volume < 70"
    :icon="['far', 'volume']"
    @click="toggleSlider"
    class="fa-fw"
  />
  <font-awesome-icon
    v-if="audio.volume > 0 && audio.volume <= 30"
    :icon="['far', 'volume-down']"
    @click="toggleSlider"
    class="fa-fw"
  />
  <font-awesome-icon
    v-if="audio.volume == 0"
    :icon="['far', 'volume-off']"
    @click="toggleSlider"
    class="fa-fw"
  />
</div>
