<div :class="`volume-control ${isPopup? 'absolute': 'normal'} ${direction}`" ref="volumegroup" @mousedown="hideSlider" tabindex="0">
  <InteractablesVolume
    v-if="!isPopup || showSlider"
    :volume="volume"
    v-bind:direction="direction"
    @returned-value="receivedValue"
  />
  <div class="volume-icon" v-if="!plain">
    <font-awesome-icon
      v-if="volume >= 70"
      :icon="['far', 'volume-up']"
      @click="toggleSlider"
      class="fa-fw"
    />
    <font-awesome-icon
      v-if="volume > 30 && volume < 70"
      :icon="['far', 'volume']"
      @click="toggleSlider"
      class="fa-fw"
    />
    <font-awesome-icon
      v-if="volume > 0 && volume <= 30"
      :icon="['far', 'volume-down']"
      @click="toggleSlider"
      class="fa-fw"
    />
    <font-awesome-icon
      v-if="volume == 0"
      :icon="['far', 'volume-off']"
      @click="toggleSlider"
      class="fa-fw"
    />
  </div>
</div>
