#encrypted-yellow {
    color: @yellow;
    width: calc(100% - @light-spacing * 2);
    text-align: center;
    margin-left: 2.5%;
    font-size: 10pt;
    margin: @light-spacing;
    padding: @light-spacing;
    background: @semitransparent-light-gradient;
    border-radius: 3px;
}

@media only screen and (max-width: @mobile-breakpoint) {
    #encrypted-yellow {
        min-width: 90vw;
        margin: 16px 16px 0px 16px;
        overflow-x: hidden;
        width: 90%;
    }
}