#grid-view {
  &.mobile-grid-view {
    height: auto;
  }
  .files-container {
    &:extend(.full-width);
    height: auto;
  }
  display: flexbox;
  &:extend(.full-width);
  flex-direction: column;
}
