#grid-view {
  &:extend(.full-width);

  .files-container {
    &:extend(.full-width);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: @normal-spacing;
  }
}
