@media_open_offset: 16rem;
@mobile_media_open_offset: 12rem;
@mobile_candybar_media_open_offset: 18rem;
@mobile_swiper_slide_side: 24px;
@swiper_container_background: #323242;
@slide_out_gradient: linear-gradient(
    163.91deg,
    rgba(48, 52, 71, 0.5) 0%,
    rgba(42, 54, 75, 0) 100%
  ),
  linear-gradient(163.91deg, rgba(28, 39, 58, 0.9) 0%, rgba(0, 0, 0, 0.09) 100%),
  linear-gradient(
    359.95deg,
    rgba(36, 40, 57, 0.9) 0.04%,
    rgba(34, 44, 63, 0) 99.95%
  ),
  @darker;

#app-wrap {
  &.is-collapsed.chat-page,
  &.is-collapsed.message-page {
    #mobile-nav {
      transform: translate(0, @mobile-nav-size);
    }
  }

  .media-open {
    margin-top: @media_open_offset;
  }
}

#app {
  display: flex;
  user-select: none;
  height: @app-height;

  .swiper {
    width: 100%;
    .swiper-wrapper {
      box-sizing: border-box;
    }

    .sidebar-container {
      width: calc(@sidebar-size + @servers-size);
      display: flex;
      @media only screen and (max-width: @mobile-breakpoint) {
        margin-top: @normal-spacing;
        height: calc(100% - @normal-spacing);
        background: @slide_out_gradient;
      }
    }

    .dynamic-content {
      width: 100%;
    }

    .aside-container {
      width: @sidebar-size;
    }
  }

  .toggle--sidebar {
    cursor: pointer;
    position: absolute;
    top: @xlarge-spacing;
    left: @normal-spacing;
    &:extend(.filter-glow);
    &:extend(.fourth-layer);
  }

  .dynamic-content {
    &:extend(.full-width);
    position: relative;
    user-select: text;
    display: flex;
    flex-direction: column;

    .file-preview {
      transition: @transition-all;
    }

    .media-open {
      &:extend(.full-width);
      flex: 1;
    }

    .chat-container {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    #chat {
      overflow: hidden;
      flex-grow: 1;
    }

    #chatbar {
      &:extend(.full-width);
      min-width: 0;
      justify-content: flex-end;
      transition: height @animation-speed;
      margin-bottom: 1rem;
    }

    &.fullscreen-media {
      .media-open {
        margin-top: 0;
      }
      .scroll-area {
        height: 0;
      }
      #pinned-messages {
        .scroll-area {
          height: auto;
        }
      }
      #mediastream {
        height: calc(@full - @toolbar-height - @light-spacing);
      }
      #chatbar {
        &:extend(.first-layer);
      }
    }
  }

  &.is-collapsed {
    #sidebar .toggle-sidebar {
      right: -2rem;
      top: 1.8rem;
    }

    .breadcrumb {
      padding-top: @xlarge-spacing + @light-spacing;
    }
  }

  &.is-collapsed-aside {
    #aside {
      transform: translateX(calc(@sidebar-size));
    }

    &.direct {
      .info-toggle {
        visibility: hidden !important;
      }
    }
  }

  &.has-background-call {
    position: relative;
    padding-top: @background-call-height;
  }
}

.desktop .dynamic-content.swiper-slide-next {
  padding-right: calc(@sidebar-size + @servers-size);
  #mediastream {
    width: calc(@full - (@normal-spacing * 2));
    margin: 0 1rem;
  }
  .search-result {
    margin-right: calc(@sidebar-size + @servers-size);
    margin-bottom: @normal-spacing;
  }
}

&.is-open-aside {
  .info-toggle {
    visibility: hidden !important;
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  .media-open {
    padding-top: @mobile_media_open_offset !important;
    &::-webkit-scrollbar-track {
      margin-top: @mobile_media_open_offset + 1rem !important;
    }
  }
  .dynamic-content {
    pointer-events: none;
  }
  &.is-collapsed {
    .dynamic-content {
      pointer-events: all;
    }
  }

  .swiper-slide-next {
    pointer-events: all;
  }

  #app {
    &.is-collapsed-aside {
      #aside {
        transform: translateX(@full);
      }
    }
    &.is-collapsed {
      .breadcrumb {
        padding-top: @normal-spacing;
      }
    }
  }

  .dynamic-content.swiper-slide-next {
    padding-right: 0;
    #mediastream {
      width: calc(@full - (@normal-spacing * 2));
      margin: 0 1rem;
    }
  }

  .swiper-slide {
    width: calc(100vw - @mobile_swiper_slide_side) !important;
    background: @background;
    box-shadow: 0 10px 20px 0 rgb(8 11 15 / 23%);
    border-radius: 4px;
    margin-right: @normal-spacing;
  }

  .swiper-slide:last-child {
    margin-right: 0;
    width: 100vw !important;
  }

  #friends,
  #files {
    margin-bottom: 80px;
  }
}

@media only screen and (max-width: @mobile-candybar-breakpoint) {
  .media-open {
    padding-top: @mobile_candybar_media_open_offset !important;
    &::-webkit-scrollbar-track {
      margin-top: @mobile_candybar_media_open_offset + 1rem !important;
    }
  }
}

@import url('~/assets/styles/themes/moonless_night.less');
