#app {
  display: flex;
  height: 100%;
  inset: 0;
  position: absolute;
  transition: left @animation-speed-long ease;

  &.hide-sidebars {
    left: calc(calc(@sidebar-width + @slimbar-width) * -1);
  }
}

@import url('~/assets/styles/themes/moonless_night.less');
