@media_open_offset: 16rem;
@mobile_media_open_offset: 12rem;
@mobile_candybar_media_open_offset: 18rem;
#app-wrap {
  #app.mobile-app {
    height: calc(var(--app-height) - @mobile-nav-size);
    transition: height @animation-speed;
  }
  #mobile-nav {
    transition: bottom @animation-speed;
  }

  &.is-collapsed {
    #app.mobile-app {
      height: var(--app-height);
    }
    #mobile-nav {
      bottom: -@mobile-nav-size;
    }
  }

  .media-open {
    padding-top: @media_open_offset;
    &::-webkit-scrollbar-track {
      margin-top: @media_open_offset;
    }
  }
}

#app {
  display: flex;
  user-select: none;
  height: var(--app-height);

  .swiper {
    width: 100%;
    overflow: unset;
    .swiper-wrapper {
      box-sizing: border-box;
      .swiper-slide {
        flex-shrink: unset;
      }
      .sidebar-container.swiper-slide-active {
        width: @sidebar-size !important;
      }
      .sidebar-container.swiper-slide-prev {
        width: 0 !important;
      }

      .dynamic-content.swiper-slide-active {
        width: calc(100vw - 60px) !important;
      }
      .dynamic-content.swiper-slide-next {
        width: calc(100vw - @sidebar-size - 60px) !important;
      }
    }
  }

  .dynamic-content {
    width: 100%;
    position: relative;
    user-select: text;
    display: flex;
    flex-direction: column;
    position: relative;

    .file-preview {
      transition: @transition-all;
    }

    #toolbar {
      max-height: @toolbar-height;
    }

    .media-open {
      width: 100%;
      flex: 1;
      transition: flex 0.3s;
    }

    #chatbar {
      width: 100%;
      min-width: 0;
      justify-content: flex-end;
      transition: height 0.3s;

      &.has-reply {
        .chatbar-wrap {
          margin-top: 0;
          border-top: 0;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-bottom-left-radius: @corner-rounding;
          border-bottom-right-radius: @corner-rounding;
        }
      }
    }

    #mediastream {
      transition: flex 0.3s;
    }
    &.fullscreen-media {
      .media-open {
        flex: 0;
      }
      #chatbar {
        height: 0;
        margin-top: 0;
      }
      .scroll-area {
        height: 0;
      }
      #pinned-messages {
        .scroll-area {
          height: auto;
        }
      }
      #mediastream {
        height: calc(100% - @toolbar-height - @light-spacing);
      }
    }
  }

  #sidebar,
  #servers-vertical-list,
  .dynamic-content,
  #sidebar .toggle-sidebar,
  #toolbar {
    transition: @transition-all;
  }

  &.is-collapsed {
    .file-preview {
      width: calc(100% - 2rem) !important;
    }
    #sidebar,
    #servers-vertical-list {
      transform: translateX(calc(-@sidebar-size + -@servers-size));
    }
    .dynamic-content {
      margin-left: calc(-@sidebar-size + -@servers-size);
    }
    #sidebar .toggle-sidebar {
      right: -2rem;
      z-index: @base-z-index + 1;
      top: 1.8rem;
    }
    #toolbar {
      padding-left: 3rem;
    }
    .breadcrumb {
      padding-top: @xlarge-spacing + @light-spacing;
    }
  }

  &.is-collapsed-aside {
    #aside {
      transform: translateX(calc(@sidebar-size));
    }
    .dynamic-content {
      margin-right: -250px;
    }

    &.group {
      #toolbar {
        padding-right: 3rem;
      }
    }

    &.direct {
      .info-toggle {
        visibility: hidden !important;
      }
    }
  }
}

&.is-open-aside {
  .info-toggle {
    visibility: hidden !important;
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  .media-open {
    padding-top: @mobile_media_open_offset !important;
    &::-webkit-scrollbar-track {
      margin-top: @mobile_media_open_offset + 1rem !important;
    }
  }
  .dynamic-content {
    pointer-events: none;
  }
  &.is-collapsed {
    .dynamic-content {
      pointer-events: all;
    }
  }
  #app {
    &.is-collapsed-aside {
      #aside {
        transform: translateX(100%);
      }
    }
  }
}

@media only screen and (max-width: @mobile-candybar-breakpoint) {
  .media-open {
    padding-top: @mobile_candybar_media_open_offset !important;
    &::-webkit-scrollbar-track {
      margin-top: @mobile_candybar_media_open_offset + 1rem !important;
    }
  }
}
