#alerts {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: @light-spacing;

  top: 45px;
  left: 0;
  max-height: 50vh;
  width: 25rem;
  padding: @light-spacing @xlight-spacing;
  cursor: default;
  overflow-y: scroll;
  &:extend(.background-semitransparent-light);
  &:extend(.round-corners);
  &:extend(.bordered);
  &:extend(.blur);

  .header {
    .subtitle {
      font-size: @micro-text-size !important;
      font-family: @primary-font;
    }
    font-size: @micro-text-size !important;
    font-family: @primary-font;
  }

  button {
    flex-shrink: 0;
    width: fit-content;
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  #alerts {
    top: 68px;
    width: 100%;
  }
}
