<div id="alerts">
  <div class="header">
    <flask-conical-icon size="0.85x" />
    <TypographySubtitle :size="6" :text="$t('pages.chat.alerts')" />
  </div>
  <template v-if="notifications.length">
    <InteractablesButton
      @click="clearNotifications"
      class="alerts-clear-button"
      color="primary"
      :text="$t('ui.clear_all')"
    />
    <ToolbarAlertsAlert
      v-for="notification in notifications"
      :alert="notification[1]"
      :alertDid="notification[0]"
      :key="notification.id"
    />
  </template>
  <TypographySubtitle v-else :size="6" :text="$t('alerts.caught_up')" />
</div>
