<div id="alerts">
  <div class="header">
    <flask-conical-icon size="0.85x" />
    <TypographySubtitle :size="6" :text="$t('pages.chat.alerts')" />
  </div>
  <template v-if="notifications.length">
    <InteractablesButton
      size="xs"
      :action="clearNotifications"
      class="alerts-clear-btn"
      :text="$t('ui.clear_all')"
    />
    <ToolbarAlertsAlert
      v-for="notification in notifications"
      :alert="notification"
      :key="notification.id"
    />
  </template>
  <TypographySubtitle v-else :size="6" :text="$t('alerts.caught_up')" />
</div>
