<div id="alerts">
  <div class="header">
    <flask-conical-icon size="0.85x" />
    <TypographySubtitle :size="6" :text="$t('pages.chat.alerts')" />
  </div>
  <template>
    <section v-if="alerts.length">
      <InteractablesButton
        @click="clearNotifications"
        class="alerts-clear-button"
        color="primary"
        :text="$t('ui.clear_all')"
      />
      <ToolbarAlertsAlert
        v-for="alert in alerts"
        v-if="alert.type !== 'EMPTY'"
        :alert="alert"
        :key="alert.id"
      />
    </section>
    <section v-else>
      <TypographySubtitle :size="6" :text="$t('alerts.caught_up')" />
    </section>
  </template>
</div>
