<div id="statusbar">
  <div class="circle-container">
    <font-awesome-icon
      :icon="['fas', 'circle']"
      :class="`status is-${user.state}`" />
    <UiCircle type="random" seed="0xdf9eb223bafbe5c5271415c75aecd68c21fe3d7f" :size="28" />
  </div>
  <div class="user-info">
    <TypographyTitle :size="6" :text="user.name" />
    <TypographySubtitle :size="6" :text="user.status" />
  </div>
  <div class="statusbar-spacer"></div>
  <div class="controls">
    <div class="has-tooltip has-tooltip-bottom has-tooltip-primary" data-tooltip="Call">
      <font-awesome-icon
        class="control-icon"
        :icon="['far', 'phone']" />
    </div>
    <div class="has-tooltip has-tooltip-bottom has-tooltip-primary" data-tooltip="Video">
      <font-awesome-icon
        class="control-icon"
        :icon="['far', 'video']" />
    </div>
    <InteractablesInput v-if="!$device.isMobile" class="input-wrap" mdv-model="input1Text" type="dark" outlined size="small" placeholder="Search..." />
  </div>
</div>