.meter {
  &: extend(.full-width);
  display: inline-block;
  background:
    linear-gradient(
      90deg,
      rgb(0 184 148 / 100%) 0%,
      rgb(0 184 148 / 100%) 40%,
      rgb(251 192 45 / 100%) 80%,
      rgb(223 112 112 / 100%) 95%
    );
  border-radius: @corner-rounding;
  overflow: hidden;
  transition: clip-path 0.1s ease-out;
  height: 100%;
  position: absolute;
  top: 0;
}

.solid {
  background-color: @foreground;
  position: relative;
}
