.filterbox {
  position: relative;
  .filter-label {
    margin-right: 8px;
    cursor: pointer;
  }
  .filter-options {
    display: none;
    position: absolute;
    background: @darker;
    border: @light-border;
    border-radius: @corner-rounding;
    padding: @light-spacing @normal-spacing;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    width: 220px;
    z-index: 10;
    &.active {
      display: inline-block;
    }
    li {
      padding: 4px 0px;
      input {
        margin-right: 12px;
      }
    }
  }
}
