<div class="toolbar">
  <button v-if="$route.params.id" @click="$emit('slidePrev')">
    <menu-icon class="toggle-sidebar" size="1.5x" />
  </button>
  <TypographyTitle :size="6" v-if="conversation" :text="conversation.name" />
  <button
    class="phone"
    :class="{'disabled' : !enableRTC || webrtc.activeCall}"
    data-cy="toolbar-enable-audio"
    @click="handleCall"
  >
    <phone-call-icon size="1.4x" :color="isGroup ? 'grey' : ''" />
  </button>
  <button
    :class="{'disabled' : !enableRTC || webrtc.activeCall}"
    data-cy="toolbar-enable-audio"
    @click="handleCall"
  >
    <video-icon size="1.4x" :color="isGroup ? 'grey' : ''" />
  </button>
  <template v-if="details">
    <UiUserState v-if="!isGroup" :user="details" />
    <UiGroupIcon v-else :group="details" />
  </template>
</div>
