<label :class="`switch-container ${small ? 'is-small' : ''}`">
  <input
    type="checkbox"
    :checked="isEnabled"
    :disabled="isLocked"
    @click="toggle"
  />
  <div :class="`switch-button-control ${small ? 'is-small' : ''}`">
    <div
      class="switch-button"
      data-cy="switch-button"
      :class="{ enabled: isEnabled, locked: isLocked }"
    >
      <div class="sw-button"></div>
    </div>
    <div class="switch-button-label">
      <slot></slot>
    </div>
  </div>
  <span v-if="label" class="label">{{ label }}</span>
</label>
