.switch-container {
  display: inline-flex;
  align-content: flex-end;
  margin: @light-spacing 0;
  align-items: center;
  gap: 10px;

  input {
    position: absolute;
    appearance: none;
    width: 0;
    height: 0;
    opacity: 0;
  }

  &.is-small {
    transform: scale(0.75);
    transform-origin: 0;
  }

  .switch-button {
    position: relative;
    height: 1.6rem;
    width: calc(1.6rem * 2);
    border-radius: 1.6rem;
    transition: all @animation-speed-micro ease-in-out;
    cursor: pointer;
    border: 0.125rem solid @flair-color;
    box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.33);

    &::after {
      &:extend(.background-flair);
      &:extend(.switch-off-glow-flair);
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      height: calc(1.6rem - (2 * 0.125rem) - 0.125rem);
      width: calc(1.6rem - (2 * 0.125rem) - 0.125rem);
      border-radius: calc(1.6rem - (2 * 0.125rem) - 0.125rem);
      transition: transform @animation-speed-micro ease-in-out;
      transform: translateY(-50%) translateX(1px);
    }

    &.enabled {
      &:extend(.background-flair);
      &:extend(.glow-flair);
      box-shadow: none;

      &::after {
        height: calc(1.6rem - (2 * 0.125rem));
        width: calc(1.6rem - (2 * 0.125rem));
        border-radius: calc(1.6rem - (2 * 0.125rem));
        transform: translateY(-50%)
          translateX(calc(calc(1.6rem - (2 * 0.125rem)) + (2 * 0.125rem)));
        border: 0.2rem solid @flair-color;
        background: @white !important;
      }
    }

    &.locked {
      border-color: @gray;

      &::after {
        border-color: @gray;
        background: @gray !important;
        box-shadow: -5px 0px 20px -2px @gray !important;
      }
    }

    &.locked.enabled {
      box-shadow: unset !important;
      background: @gray !important;
      ::after {
        background: @white !important;
      }
    }
  }
}
