.profile-card {
  width: 100%;
  overflow: hidden;
  border: @light-border;
  border-radius: @corner-rounding;
  box-shadow: 0px -5px 15px 0 rgba(19, 24, 31, 0.4);

  &-body {
    padding: @normal-spacing;

    .profile-badges {
      margin-top: @normal-spacing;
      .profile-badge {
        font-size: @xl-icon-size;
        margin-right: @normal-spacing;
        color: @green;
      }
    }

    .profile-preferences {
      margin-top: @normal-spacing;

      &-location {
        margin-top: @normal-spacing;
        margin-bottom: @normal-spacing;
      }

      &-language {
        margin-top: @normal-spacing;
        margin-bottom: @normal-spacing;
      }
    }
  }
}