.slimbar {
  display: flex;
  flex-direction: column;
  height: @full;
  padding: @light-spacing;
  overflow-y: scroll;
  transition: @transition-all;
  &:extend(.third-layer);
}

.sat-icon {
  fill: @secondary-text;
  flex-shrink: 0;
}

.circle-group {
  display: flex;
  flex-direction: column;
  gap: @light-spacing;
  &:extend(.font-primary);
  align-items: center;
  button {
    display: flex;
    flex-direction: column;
    height: @full;
    pointer-events: auto;
    box-sizing: border-box;
    padding-left: @light-spacing;
    padding-top: @normal-spacing;
    overflow-y: overlay;

    #simple-scrollbar {
      height: auto;
    }
  }
  #list-container {
    height: fit-content;
    position: relative;
    pointer-events: auto;
  }

  .slimbar-spinner {
    width: 40px;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
  }
}

.unreads {
  position: relative;
  .unread {
    padding: @xlight-spacing 0;
  }
}

.servers {
  &::-webkit-scrollbar {
    display: none;
  }
  #list-container {
    display: inline-flex;
    align-items: center;
  }
  .circle {
    position: relative;
  }
  display: inline-flex;
  align-items: center;
}

.unreads {
  position: relative;
  .unread {
    margin: 0 @light-spacing;
  }
}

.server,
.unreads {
  // width: 50px;

  &:extend(.first-layer);
}
