.slimbar {
  display: flex;
  flex-direction: column;
  height: @full;
  padding: @light-spacing;
  overflow-y: scroll;
  transition: @transition-all;
  &:extend(.third-layer);
}

.sat-icon {
  fill: @secondary-text;
  flex-shrink: 0;
}

.circle-group {
  display: flex;
  flex-direction: column;
  gap: @light-spacing;
  &:extend(.font-primary);
  align-items: center;
  button {
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
  }
}

.unreads {
  position: relative;
  .unread {
    padding: @xlight-spacing 0;
  }
}

.slimbar-spinner {
  width: 40px;
  height: 40px;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
