<div :id="horizontal ? 'servers-horizontal-list' : 'servers-vertical-list'">
  <div class="servers">
    <div
      v-if="horizontal"
      class="circle-group"
      @click="toggleModal(ModalWindows.CALL_TO_ACTION)"
    >
      <UiCircle type="icon" :size="40">
        <plus-icon size="0.75x" />
      </UiCircle>
    </div>

    <div v-on:click="$router.push('/chat/direct')" class="circle-group">
      <UiCircle type="icon" :size="40">
        <satellite-icon size="0.75x" />
      </UiCircle>
    </div>
    <UiScroll verticalScroll v-if="!horizontal">
      <div class="slimbar-spinner" v-if="friendsDS === DataStateType.Loading">
        <UiLoadersSpinner :spinning="true" />
      </div>
      <div id="list-container" v-else>
        <UiHorizontalRule v-if="unreads.length > 0" />
        <div class="unreads" v-for="user in unreads">
          <Unread
            :key="user.address"
            :user="user"
            :active="$route.params.address === user.address"
          />
        </div>
        <UiHorizontalRule v-if="servers.length > 0" />
        <UiComingSoon :tooltipText="$t('coming_soon.communities')">
          <div
            class="server"
            v-for="server in servers"
            v-on:click="$router.push('/server/chat')"
          >
            <UiCircle
              type="random"
              :size="40"
              :seed="server.address"
              :name="server.name"
            />
          </div>
        </UiComingSoon>
      </div>
    </UiScroll>
    <div id="list-container" v-else>
      <div class="unreads" v-for="user in unreads">
        <Unread
          :key="user.address"
          :user="user"
          :active="$route.params.address === user.address"
        />
      </div>

      <UiVerticalRule v-if="servers.length > 0" />

      <UiComingSoon
        :tooltipText="$t('coming_soon.communities')"
        :horizontal="horizontal"
        :tooltipPosition="'bottom'"
      >
        <div
          class="server"
          v-for="server in servers"
          v-on:click="$router.push('/server/chat')"
        >
          <UiCircle
            type="random"
            :size="40"
            :seed="server.address"
            :name="server.name"
          />
        </div>
      </UiComingSoon>
    </div>
    <div
      v-if="!horizontal"
      class="circle-group"
      v-tooltip.right="$t('servers.new_server')"
      @click="toggleModal(ModalWindows.CALL_TO_ACTION)"
    >
      <UiCircle type="icon" :size="40">
        <plus-icon size="0.75x" />
      </UiCircle>
    </div>
    <div
      class="circle-group"
      data-cy="settings"
      v-tooltip.right="$t('pages.settings.settings')"
      v-on:click="$store.commit('ui/toggleSettings', { show: true })"
    >
      <UiCircle type="icon" :size="40">
        <settings-icon size="0.75x" />
      </UiCircle>
    </div>
  </div>
</div>
