<div class="slimbar hidden-scroll">
  <UiCircle class="sat-icon" type="icon" :size="40">
    <satellite-icon size="0.75x" />
  </UiCircle>
  <hr />
  <UiComingSoon :tooltipText="$t('coming_soon.communities')">
    <div class="circle-group">
      <UiCircle
        v-for="server in servers"
        :key="server.address"
        type="random"
        :size="40"
        :seed="server.address"
        :name="server.name"
        @click="$router.push('/server/chat')"
      />
    </div>
  </UiComingSoon>
  <hr />
  <div class="circle-group">
    <UiComingSoon :tooltipText="$t('coming_soon.communities')">
      <button disabled>
        <plus-icon size="1.8x" />
      </button>
    </UiComingSoon>
    <button
      data-cy="go-to-settings"
      v-tooltip.right="$t('pages.settings.settings')"
      @click="$store.commit('ui/setSettingsRoute')"
    >
      <settings-icon size="1.8x" />
    </button>
  </div>
</div>
