<div class="container">
  <div class="decryption-body">
    <template v-if="step === 'signup'">
      <UiInfoButton class="info-button">
        <template #title> {{ $t('pages.unlock.create') }} </template>
        <template #subtitle> {{ pinDescription }} </template>
      </UiInfoButton>
    </template>

    <div class="input-container">
      <InteractablesInput
        v-model="pin"
        type="password"
        :color="error ? 'danger' : 'primary'"
        :label="step === 'login' ? $t('pages.unlock.decrypt') : $t('pages.unlock.choose_pin')"
        :placeholder="$t('pages.unlock.placeholder')"
        :loading="status === 'loading'"
        size="sm"
        autofocus
        @submit="action"
        data-cy="pin-label"
        :error="$t(error)"
      >
        <unlock-icon size="1x" v-if="getIcon() === 'unlocked'" />
        <chevron-right-icon size="1x" v-else />
      </InteractablesInput>
    </div>
    <InteractablesSwitch
      v-model="storePin"
      :label="$t('pages.unlock.store_pin')"
    />
    <br />
    <button
      v-if="step === 'login'"
      class="delete-link font-size-sm"
      @click="clearAndReset"
    >
      {{ $t('pages.unlock.delete_account_label') }}
    </button>
    <!-- <InteractablesRealm /> -->
    <TypographyText v-if="!isChrome" color="danger" style="max-width: 600px">
      {{ $t('pages.unlock.browser_warning') }}
    </TypographyText>
    <div class="random-user-container" v-if="isDev">
      <InteractablesButton
        class="random-user-btn"
        :text="status === 'loading' ? '':  $t('pages.unlock.generate_random_user')"
        @click="createRandom"
        ><UiLoadersSpinner v-if="status === 'loading'" spinning
      /></InteractablesButton>
    </div>
  </div>
  <UiVersion name version @click="toggleChangelogVisibility" />
  <UiUpdateModal v-if="ui.modals.changelog" />
</div>
