.signin-container {
  &:extend(.setup-container);
  padding: 24px;

  .logo-container {
    width: @full;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;

    .logoimg {
      width: 200px;
      height: 200px;
    }
  }

  .signin-body {
    height: @full;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .info-button {
      display: flex;
      justify-content: flex-end;
    }

    .realm-container {
      &:extend(.full-width);
      display: inline-flex;
      justify-content: center;
      margin: 24px 0 72px 0;
    }

    .input-container {
      margin-bottom: 8px;
    }

    .delete-link {
      font-family: @secondary-font;
      font-size: @font-size-sm;
      color: @secondary-text;
      margin: 0 auto;
      margin-top: 48px;
      &:hover {
        opacity: 0.75;
      }
      &.disabled {
        opacity: 0.75;
      }
    }

    .random-user-container {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }
  }

  .browser-warning {
    font-size: @font-size-xs;
    color: @red;
    max-width: 600px;
    text-align: center;
  }

  .version {
    &:extend(.full-width);
    justify-content: center;
    padding-bottom: 16px;
  }
}

@media only screen and (max-width: @mobile-small-breakpoint) {
  .signin-container {
    .logo-container {
      .logoimg {
        width: 150px;
        height: 150px;
      }
    }
    .version {
      padding-bottom: 0;
    }
  }
}
