.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  flex-wrap: nowrap;
  flex-direction: column;

  .decryption-body {
    min-width: 250px;
    align-self: center;
    margin-bottom: 25vh;
  }

  .version {
    position: absolute;
    bottom: @normal-spacing;
    justify-content: center;
    width: 100%;
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  .container {
    margin: 0 2rem;

    .decryption-body {
      width: 100%;
    }
  }
}