<div class="container">
  <div class="header">
    <div v-if="!isChrome" class="banner-wrapper">
      <UiBanner>
        <template #header>
          {{ $t('pages.unlock.browser_warning_header') }}
        </template>
        <template #content>
          {{ $t('pages.unlock.browser_warning_content') }} {{
          $t('pages.unlock.browser_warning_content2') }}
          <a :href="$t('pages.unlock.browser_warning_link')" target="_blank"
            >Blog post.
          </a>
        </template>
      </UiBanner>
    </div>
  </div>

  <div class="decryption-body">
    <template v-if="step === 'signup'">
      <UiInfoButton class="info-button">
        <template #title> {{ $t('pages.unlock.create') }} </template>
        <template #body> {{ pinDescription }} </template>
      </UiInfoButton>
    </template>

    <div class="input-container">
      <InteractablesInput
        v-model="pin"
        type="password"
        :color="error ? 'danger' : 'primary'"
        :label="step === 'login' ? $t('pages.unlock.decrypt') : $t('pages.unlock.choose_pin')"
        :placeholder="$t('pages.unlock.placeholder')"
        :loading="status === 'loading'"
        autofocus
        @submit="action"
        data-cy="pin-label"
        :error="$t(error)"
      >
        <unlock-icon size="1x" v-if="getIcon() === 'unlocked'" />
        <chevron-right-icon size="1x" v-else />
      </InteractablesInput>
    </div>

    <InteractablesSwitch
      v-model="storePin"
      :label="$t('pages.unlock.store_pin')"
      show-label
    />

    <br />

    <button
      v-if="step === 'login'"
      class="delete-link font-size-sm"
      @click="confirmClearAccountModalVisible = true"
    >
      {{ $t('pages.unlock.delete_account_label') }}
    </button>

    <!-- <InteractablesRealm /> -->

    <div class="random-user-container" v-if="isDev">
      <InteractablesButton
        class="random-user-btn"
        :text="status === 'loading' ? '':  $t('pages.unlock.generate_random_user')"
        @click="createRandom"
        ><UiLoadersSpinner v-if="status === 'loading'" spinning
      /></InteractablesButton>
    </div>
  </div>

  <UiVersion name version @click="toggleChangelogVisibility" />

  <UiModal
    v-if="ui.modals.changelog"
    @close="toggleModal(ModalWindows.CHANGELOG)"
  >
    <UiUpdateModal />
  </UiModal>

  <UiConfirmationModal
    :show-modal="confirmClearAccountModalVisible"
    @close="() => confirmClearAccountModalVisible = false"
    @confirm="clearAccount"
    show-confirm-button
  >
    <template #title>{{ $t('pages.unlock.confirm_clear_account') }}</template>
    <template #body
      >{{ $t('pages.unlock.confirm_clear_account_description') }}</template
    >
  </UiConfirmationModal>
</div>
