<div class="container">
  <div class="decryption-body">
    <template v-if="step === 'signup'">
      <UiInfoButton class="info-button">
        <template #title> {{ $t('pages.unlock.create') }} </template>
        <template #subtitle> {{ pinDescription }} </template>
      </UiInfoButton>
    </template>

    <div class="input-container">
      <InteractablesInput
        v-model="pin"
        type="password"
        :color="error ? 'danger' : 'primary'"
        :label="step === 'login' ? $t('pages.unlock.decrypt') : $t('pages.unlock.choose_pin')"
        :placeholder="$t('pages.unlock.placeholder')"
        :loading="status === 'loading'"
        size="sm"
        autofocus
        @submit="action"
        data-cy="pin-label"
      >
        <unlock-icon size="1x" v-if="getIcon() === 'unlocked'" />
        <chevron-right-icon size="1x" v-else />
      </InteractablesInput>
      <TypographyError v-if="error" :text="$t(error)" />
    </div>
    <InteractablesSwitch
      v-model="storePin"
      :label="$t('pages.unlock.store_pin')"
    />
    <br />
    <a v-if="step === 'login'" class="delete-link" @click="clearAndReset">
      {{$t('pages.unlock.delete_account_label')}}
    </a>
    <div class="realm-container" v-if="!$device.isMobile">
      <!-- <InteractablesRealm /> -->
      <UiInlineNotification
        v-if="!isChrome"
        :text="$t('pages.unlock.browser_warning')"
      />
    </div>
    <div class="random-user-container" v-if="isDev">
      <InteractablesButton
        color="primary"
        class="random-user-btn"
        :text="status === 'loading' ? '':  $t('pages.unlock.generate_random_user')"
        @click="createRandom"
        ><UiLoadersSpinner v-if="status === 'loading'" spinning
      /></InteractablesButton>
    </div>
  </div>
  <UiVersion name version @click="toggleChangelogVisibility" />
  <UiUpdateModal v-if="ui.modals.changelog" />
</div>
