.user-search {
  position: relative;

  &-slot {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    max-width: @full;
    min-width: 0;
    margin-top: @xlight-spacing;
  }

  .chip {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 1px @xlight-spacing;
    border-radius: @corner-rounding-xxlarge;
    background: @foreground;
    margin-right: @xlight-spacing;

    .text {
      margin-left: @xlight-spacing;
    }
    .action {
      margin-left: @xlight-spacing;
      cursor: pointer;
    }
  }

  .user-selected {
    flex: 1 1;
    outline: none;
    background: transparent;
    border-width: 0px;
    &:extend(.font-primary);
    font-size: smaller !important;
    outline: none;
    min-width: 50px;
  }

  &-input {
    flex: 1 1;
    outline: none;
    background: transparent;
    border-width: 0px;
    &:extend(.font-primary);
    font-size: inherit !important;
    outline: none;
    min-width: 50px;
  }

  &-list {
    display: none;
    position: absolute;
    &:extend(.full-width);
    height: 200px;
    overflow-y: auto;

    &.active {
      display: flex;
    }

    &.top {
      left: 0px;
      bottom: 0px;
      .user-search-result {
        left: 0px;
        bottom: 0px;
      }
    }

    &.bottom {
      left: 0px;
      top: 0px;
      .user-search-result {
        left: 0px;
        top: 0px;
      }
    }
  }

  &-result {
    &:extend(.full-width);
    background: @darker;
    border: 1px solid @background;
    position: absolute;
    height: auto;

    li {
      display: flex;
      align-items: center;
      &:extend(.light-padding);
      .text {
        margin-left: @light-spacing;
        flex: 1 1;
      }
      .action {
        flex: 0 0;
        .fa-plus {
          cursor: pointer;
        }
      }

      &:hover,
      &.active {
        background: @foreground;
      }
    }
  }
}
