.plyr--audio {
  border-radius: @corner-rounding;

  .plyr__controls {
    border-radius: @corner-rounding;
    background-color: @dark-gray !important;
    color: @bright-text !important;
  }

  .plyr__progress__buffer {
    color: red !important;
  }
}