.audio {
  max-width: 400px;
  width: 50%;
  margin: @normal-spacing 0;
}

.plyr--audio {
  border-radius: @corner-rounding;

  .plyr__controls {
    border-radius: @corner-rounding;
    background: @semitransparent-light-gradient !important;
    color: @bright-text !important;
    border: @light-border;
  }

  .plyr__progress__buffer {
    color: @text-muted !important;
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  .audio {
    max-width: 100%;
    width: 100%;
  }
}