.marketplace-glyphs {
  .subtitle {
    color: @bright-text;
  }
  .marketplace-glyphs-detail {
    .go-back {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: @bright-text;
    }
  }
}
