<div class="marketplace-glyphs">
  <div
    v-if="ui.glyphMarketplaceView.view === GlyphMarketViewStatus.HOME"
    class="marketplace-glyphs-home"
  >
    <div class="home-content">
      <div class="featured-block">
        <TailoredMarketplaceGlyphsFeatured></TailoredMarketplaceGlyphsFeatured>
      </div>
      <TailoredMarketplaceGlyphsPopular></TailoredMarketplaceGlyphsPopular>
    </div>
    <TailoredMarketplaceGlyphsTrending
      :list="$mock.glyphs"
    ></TailoredMarketplaceGlyphsTrending>
    <TailoredMarketplaceGlyphsShop title="Shop"></TailoredMarketplaceGlyphsShop>
  </div>
  <div v-else class="marketplace-glyphs-detail">
    <div class="go-back" @click="goBack()">
      <chevron-left-icon size="1.5x"></chevron-left-icon>
      <TypographySubtitle :size="6" text="Back" />
    </div>
    <TailoredMarketplaceGlyphsShop
      v-if="ui.glyphMarketplaceView.view === GlyphMarketViewStatus.SHOP_ALL"
      title="Shop All Glyphs"
    ></TailoredMarketplaceGlyphsShop>
    <TailoredMarketplaceGlyphsDetail
      v-if="ui.glyphMarketplaceView.view === GlyphMarketViewStatus.SHOP_DETAIL"
    ></TailoredMarketplaceGlyphsDetail>
  </div>
</div>
