<div
  id="app-wrap"
  :class="`${sidebar ? 'is-open' : 'is-collapsed'}`">
  <div id="app" 
    :class="`${sidebar ? 'is-open' : 'is-collapsed'} ${$device.isMobile ? 'mobile-app' : ''}`" 
    v-touch:swipe="sidebarSwipeHandler(this)"
    v-touch-options="{ swipeTolerance: 75 }"
    >
    <UiGlobal />

    <TailoredCoreServersList :servers="$mock.servers" :unreads="$mock.unreads" />
    <UiModal v-if="ui.modals.showMarketPlace" :closeModal="toggleMarketPlace" nopad>
      <TailoredMarketplace :closeModal="toggleMarketPlace" v-click-outside="toggleMarketPlace" />
    </UiModal>
    <TailoredServersSidebar :toggle="() => $data.sidebar = !$data.sidebar" />
    <TailoredMessagingEnhancers />
    <div :class="`dynamic-content ${ui.fullscreen ? 'fullscreen-media' : ''}`">
      <TailoredCoreStatusbar
        id="statusbar"
        :server="{ name: 'Test Server', address: '0x0', desc: 'Just a test server' }"
        :user="$mock.users[0]"/>
        <TailoredCoreMedia :fullscreen="ui.fullscreen" :users="$mock.callUsers" :maxViewableUsers="10"
        :fullscreenMaxViewableUsers="20" />
      <Nuxt id="server" ref="server" class="hidden-scroll"/>
      <TailoredCoreChatbar />
    </div>
  </div>
  <TailoredCoreMobileNav v-if="$device.isMobile"/>
</div>