.item {
  height: 64px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  position: relative;
  padding: @light-spacing;
  &:extend(.no-select);
  &:extend(.round-corners);

  &.is-loading {
    pointer-events: none;
    .user-loader {
      display: flex;
    }
  }

  &.selected {
    background-color: #2e303d;
  }

  &:hover {
    &:extend(.background-semitransparent-light);
  }
  &:last-child {
    margin-bottom: 16px;
  }

  .user-info {
    flex-grow: 1;
    min-width: 0;

    .top {
      display: flex;
      gap: 4px;

      .user-name {
        flex-grow: 1;
        min-width: 0;
        &:extend(.ellipsis);
      }

      .user-chat-details {
        flex-shrink: 0;
      }
    }

    .bottom {
      display: flex;
      justify-content: space-between;
      gap: 4px;

      .sidebar-subtitle {
        &:extend(.ellipsis);

        .subtitle {
          &:extend(.ellipsis);
        }
      }

      .tag {
        min-width: 16px;
      }
    }
  }

  .user-loader {
    inset: 0;
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: rgba(@black, 0.2);
    &:extend(.first-layer);
  }
}
