<UiContextMenu
  class="wrapper"
  :class="{ 'is-loading': isLoading }"
  :items="contextMenuValues"
>
  <nuxt-link
    class="item"
    :to="`${$device.isMobile ? '/mobile' : ''}/chat/${conversationId}`"
    data-cy="sidebar-user"
  >
    <UiUserState
      v-if="conversation.type === 'direct'"
      :user="otherParticipants[0]"
      :conversationId="conversationId"
    />
    <UiGroupIcon
      v-else-if="conversation.participants"
      :members="conversation.participants"
    />

    <div class="user-info">
      <div class="row">
        <TypographyText
          class="ellipsis"
          as="h4"
          :color="numUnreadMessages ? 'light' : 'dark'"
          data-cy="sidebar-user-name"
        >
          {{ conversation.name }}
        </TypographyText>

        <TypographyText
          class="timestamp"
          v-if="timestamp"
          color="dark"
          size="xs"
        >
          {{ timestamp }}
        </TypographyText>
      </div>

      <div class="row">
        <TypographyText
          size="sm"
          class="subtitle"
          :color="numUnreadMessages ? 'light' : 'dark'"
          :weight="numUnreadMessages ? 'bold' : ''"
        >
          <div class="ellipsis" v-html="subtitle" />
        </TypographyText>
        <TypographyTag
          v-if="numUnreadMessages"
          class="tag"
          :text="unreadDisplay"
          small
        />
      </div>
    </div>
  </nuxt-link>

  <div class="loader">
    <UiLoadersSpinner :spinning="isLoading" />
  </div>
</UiContextMenu>
