.item {
  height: 64px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  &:extend(.no-select);
  &:extend(.round-corners);

  &.is-loading {
    pointer-events: none;
    .user-loader {
      display: flex;
    }
  }

  &.selected {
    background-color: #2e303d;
  }

  &:hover {
    &:extend(.background-semitransparent-light);
  }

  .user-info {
    flex: 1;
    padding-left: @light-spacing;
    overflow: hidden;
  }

  .user-chat-details {
    align-self: flex-start;

    .is-text {
      margin: 0;
      line-height: 2;
      padding: 0;
      font-size: @micro-text-size;
      &:extend(.font-muted);
    }
  }

  .tag {
    height: 18px;
    padding: 0.35rem;
    font-weight: bold;
    align-self: flex-end;
    float: right;
    margin: 0.5rem 0 0 0;
  }

  .user-loader {
    inset: 0;
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: rgba(@black, 0.2);
    &:extend(.first-layer);
  }
}
