.reply-container {
    border: @light-border;
    border-radius: @corner-rounding;
    padding: (@light-spacing / 2) @light-spacing;
    margin-top: @light-spacing;
    margin-bottom: @light-spacing;
    background: @semitransparent-light-gradient;
  

  .reply-preview {
    padding: 0.25rem;
    cursor: pointer;
    font-size: @text-size;
    color: @bright-text;
  }

  .reply-close {
    cursor: pointer;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: @text-size;
    color: @bright-text;
  }

  .is-reply {
    padding: 0.25rem;
    display: flex;
    margin-bottom: 0.25rem;

    .circle {
        margin-top: 0.3rem;
        cursor: pointer;
    }

    .reply-body {
        margin-left: 0.75rem;
        width: 100%;

        .reply-heading {
            display: inline-flex;
            flex-direction: row;
            align-items: center;

            .is-text {
                margin-left: @light-spacing;
                font-size: @micro-text-size;
                color: @text-muted;
                display: flex;
                align-items: flex-end;
                height: 1.2rem;
            }
        }
    }
}
}