.search-result {
  font-family: @primary-font;
  background: @semitransparent-light-gradient;
  backdrop-filter: @blur;
  position: fixed;
  right: 10px;
  min-width: 300px;
  max-width: 800px;
  width: 80%;
  top: @statusbar-height - 9rem;
  border: @light-border !important;
  z-index: @base-z-index + 3;
  border-radius: @corner-rounding;
  font-size: @text-size;
  padding: @light-spacing;
  &-header {
    color: @primary-color;
    font-size: @title-text;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-group {
    position: relative;
    padding: 5px 10px 2px 10px;
    display: flex;
    flex-wrap: wrap;
    color: @text-muted;
    & .group-item {
      padding: 5px 10px;
      &:hover {
        color: @bright-text;
      }
      &.active {
        color: @bright-text;
        border-color: @primary-color;
      }
    }
  }
  &-filters {
    padding: 5px 10px;
    display: flex;
    flex-wrap: wrap;
    > div {
      position: relative;
      @media screen and (max-width: 440px) {
        width: 100%;
      }
      width: 180px;
      padding: 4px;
    }
    .date-input {
      color: @bright-text;
      background: @primary-gradient;
      box-shadow: @primary-glow;
      border-radius: 1rem;
      height: 28px;
      font-size: @text-size;
      border: 1px solid @primary-color;
      outline: none;
      line-height: 1.2;
      padding: 0 10px 0 38px;
      width: 100%;

      &::placeholder {
        color: @bright-text !important;
      }
    }
    .date-icon {
      color: @bright-text;
      position: absolute;
      top: 10px;
      left: 20px;
      font-size: @small-icon-size;
    }
    .add-more-filters {
      outline: none;
      border: none;
      color: @primary-color;
      background-color: transparent;
      line-height: 32px;
      border-radius: 16px;
      padding: 0 10px;
      &:hover {
        background-color: @primary-color;
      }
      &:active {
        background-color: @primary-color;
      }
    }
  }
  &-meta {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 12px;
    .result-count {
      font-size: @text-size;
      font-weight: bold;
    }
    .result-orderby {
      display: flex;
      .orderby-item {
        padding: 2px 8px;
        &.active {
          font-weight: bold;
        }
      }
    }
  }
  &-content {
    max-height: calc(100vh - 650px);
  }
  &-inner {
    padding: 5px 10px;
  }
  .close {
    position: unset;
  }
  &-history {
    padding: 5px 10px;
  }
}