.background-call {
  &:extend(.background-flair);
  &:extend(.font-secondary);
  border-radius: 0 0 @corner-rounding @corner-rounding;
  height: @background-call-height;
  z-index: @fifth-layer-zindex;
  font-size: @micro-text-size;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  box-shadow: 0px 0px 30px rgba(var(--flair-color-rgb), 0.35),
    0px 0px 20px rgba(var(--flair-color-rgb), 0.4);
  padding: 10px 10%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  &-name {
    &:extend(.ellipsis);
    &:extend(.font-primary);
    font-weight: 700;
  }
}
