.background-call {
  background-color: @flair-color;
  height: 30px;
  text-align: center;
  padding: 10px 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  &-name {
    &:extend(.ellipsis);
    &:extend(.font-primary);
    font-weight: 700;
  }
}
