.background-call {
  &:extend(.background-flair);
  &:extend(.font-secondary);
  height: @backgroundCall-height;
  z-index: @fifth-layer-zindex;
  font-size: @micro-text-size;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  box-shadow: 0px 0px 30px rgba(39, 97, 253, 0.35),
    0px 0px 20px rgba(39, 97, 253, 0.4);
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  &-name {
    &:extend(.font-primary);
    font-weight: 700;
  }
}
