.recent-transactions {
  width: 50%;
  margin-right: @normal-spacing;
  .recent-transactions-items {
    background: @semitransparent-light-gradient;
    border-radius: @corner-rounding;
    padding: @normal-spacing;
    border: @light-border;
  }
  .balance-heading {
    display: inline-flex;
    .is-text {
      margin-left: @light-spacing;
    }
  }
}