<div class="friend">
  <UiUserState :user="friend" />
  <div class="description">
    <TypographySubtitle :size="6" :text="friend.name" />
    <TypographyText :text="friend.status" />
  </div>
  <div class="spacer"></div>
  <div class="controls" v-if="request">
    <InteractablesButton
      v-if="loading !== 'decline'"
      type="success"
      size="small"
      class="has-tooltip has-tooltip-primary has-tooltip-bottom has-tooltip-desktop-only"
      data-tooltip="Accept"
      :loading="loading === 'accept'"
      :action="acceptFriendRequest"
      >
      <check-icon size="1x" />
    </InteractablesButton>
    <InteractablesButton
      v-if="loading !== 'accept'"
      type="danger"
      size="small"
      class="has-tooltip has-tooltip-primary has-tooltip-bottom has-tooltip-desktop-only"
      data-tooltip="Decline"
      :loading="loading === 'decline'"
      :action="declineFriendRequest">
      <x-icon size="1x"/>
    </InteractablesButton>
  </div>
  <div class="controls" v-else-if="blocked">
    <InteractablesButton
      type="danger"
      size="small"
      class="has-tooltip has-tooltip-primary has-tooltip-bottom has-tooltip-desktop-only"
      data-tooltip="Unblock"
      :action="() => {}">
      <x-icon size="1x" />
    </InteractablesButton>
  </div>
  <div class="controls" v-else-if="send">
    <InteractablesButton
      type="primary"
      size="small"
      class="has-tooltip has-tooltip-primary has-tooltip-bottom has-tooltip-desktop-only"
      data-tooltip="Send"
      :loading="loading === 'sending'"
      :action="createFriendRequest">
      <check-icon size="1x" />
    </InteractablesButton>
  </div>
  <div class="controls" v-else>
    <InteractablesButton
      v-if="loading !== 'options'"
      type="primary"
      size="small"
      class="has-tooltip has-tooltip-primary has-tooltip-bottom has-tooltip-desktop-only"
      data-tooltip="Message"
      :action="sendMessageRequest">
      <message-square-icon size="1x" />
    </InteractablesButton>
    <InteractablesButton
      type="primary"
      size="small"
      class="has-tooltip has-tooltip-primary has-tooltip-bottom has-tooltip-desktop-only"
      data-tooltip="Options"
      :loading="loading === 'options'"
      :action="contextMenu">
      <more-vertical-icon size="1x" />
    </InteractablesButton>
  </div>
</div>