<div class="friend">
  <UiCircle type="random" :seed="friend.address" :size="35" />
  <font-awesome-icon
    :icon="['far', 'mobile-alt']"
    v-if="friend.state === 'mobile'"
    :class="`mobile-status is-${friend.state}`" />
  <font-awesome-icon
    :icon="['fas', 'circle']"
    v-if="friend.state !== 'mobile'"
    :class="`status is-${friend.state}`" />
  <div class="description">
    <TypographySubtitle :size="6" :text="friend.name" />
    <TypographyText :text="friend.status" />
  </div>
  <div class="spacer"></div>
  <div class="controls" v-if="request">
    <InteractablesButton
      type="success"
      size="small"
      class="has-tooltip has-tooltip-primary has-tooltip-bottom has-tooltip-desktop-only"
      data-tooltip="Accept"
      :action="() => {}"
      :icon="{ style: 'far', name: 'check' }" />
    <InteractablesButton
      type="danger"
      size="small"
      class="has-tooltip has-tooltip-primary has-tooltip-bottom has-tooltip-desktop-only"
      data-tooltip="Decline"
      :action="() => {}"
      :icon="{ style: 'far', name: 'times' }" />
  </div>
  <div class="controls" v-else-if="blocked">
    <InteractablesButton
      type="danger"
      size="small"
      class="has-tooltip has-tooltip-primary has-tooltip-bottom has-tooltip-desktop-only"
      data-tooltip="Unblock"
      :action="() => {}"
      :icon="{ style: 'far', name: 'times' }" />
  </div>
  <div class="controls" v-else>
    <InteractablesButton
      type="primary"
      size="small"
      class="has-tooltip has-tooltip-primary has-tooltip-bottom has-tooltip-desktop-only"
      data-tooltip="Message"
      :action="() => {}"
      :icon="{ style: 'far', name: 'comment-alt-dots' }" />
    <InteractablesButton
      type="primary"
      size="small"
      class="has-tooltip has-tooltip-primary has-tooltip-bottom has-tooltip-desktop-only"
      data-tooltip="Options"
      :action="() => {}"
      :icon="{ style: 'far', name: 'ellipsis-v' }" />
  </div>
</div>