.friend {
  position: relative;
  padding: @light-spacing @normal-spacing;
  display: flex;
  align-content: center;
  user-select: none;
  border-radius: @corner-rounding;
  margin: 0 @light-spacing;

  &:hover {
    background: @semitransparent-light-gradient;
  }

  .circle {
    align-self: center;
  }

  .description {
    margin-left: @normal-spacing;
    p,
    h1 {
      margin: 0;
      font-size: @mini-text-size;
    }
    h1 {
      color: @bright-text;
    }
    p {
      color: @text-muted;
    }
  }

  .controls {
    justify-self: flex-end;
    align-self: center;
    float: right;
    min-width: 4.8rem;
  }

  .spacer {
    flex: 1;
  }
  .status {
    position: absolute;
    top: calc(28px + @light-spacing);
    left: calc(25px + @normal-spacing);
    font-size: @mini-text-size;
    text-shadow: 0 0 3px #000;

    path {
      stroke: @dark-gray;
      stroke-width: 100;
    }
    &.is-online {
      color: @green;
    }
    &.is-offline {
      color: @gray;
    }
    &.is-idle {
      color: @yellow;
    }
  }

  .mobile-status {
    position: absolute;
    top: calc(28px + @light-spacing);
    left: calc(25px + @normal-spacing);
    font-size: @small-icon-size;
    text-shadow: 0 0 3px #000;

    path {
      stroke: @dark-gray;
      stroke-width: 30;
    }
    &.is-mobile {
      color: @green;
    }
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  .friend {
    min-width: @viewport-width;
  }
}
