.container {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 40rem;
  display: flex;
  justify-content: center;
  text-align: center;

  .input-account-body {
    align-self: center;
    padding: 0 @normal-spacing;
    max-width: 100vw;
    .recover-account.button {
      width: 24rem;
      max-width: 100%;
      margin-top: @normal-spacing;
    }
    .columns {
      margin: @normal-spacing auto 0;
      max-width: 100%;
      width: 24rem;
      .column {
        padding: @xlight-spacing;
        .tag,
        .tag-container {
          width: 100%;
        }

        .tag {
          margin: @xlight-spacing 0;
        }
      }
    }
  }
  .input-error {
    margin-top: @normal-spacing;
  }
}
