.container {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 40rem;
  display: flex;
  justify-content: center;
  text-align: center;

  .input-account-body {
    width: 32rem;
    align-self: center;
    margin-bottom: 25vh;
    padding: 0 @normal-spacing;
    max-width: 100vw;
    .recover-account.button {
      width: 24rem;
      max-width: 100%;
      margin-top: @normal-spacing;
    }
    .columns {
      margin: @normal-spacing auto 0;
      max-width: 100%;
      width: 24rem;
      .column {
        padding: @xlight-spacing;
        .tag,
        .tag-container {
          width: 100%;
        }

        .tag {
          margin: @xlight-spacing 0;
        }
      }
    }
  }
  .input-error {
    margin-top: @normal-spacing;
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  .container {
    justify-content: flex-start;
    flex-direction: column;
    padding-top: @normal-spacing;
    .input-account-body {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    .filler {
      flex: 1;
    }
    .buttons {
      margin-top: auto;
      align-self: flex-end;
      width: 100%;
      .is-button {
        min-width: 100%;
        width: 100%;
        margin-bottom: @normal-spacing;
      }
    }
  }
}
