<div class="sounds">
  <TypographyTitle
    :size="6"
    :text="$t('pages.settings.notifications.sounds.title')"
  />
  <SettingsPagesNotificationsSoundsItem
    v-model="message"
    :title="$t('pages.settings.notifications.sounds.message')"
  />
  <SettingsPagesNotificationsSoundsItem
    v-model="call"
    :title="$t('pages.settings.notifications.sounds.call')"
  />
  <SettingsPagesNotificationsSoundsItem
    v-model="mute"
    :title="$t('pages.settings.notifications.sounds.mute')"
  />
  <SettingsPagesNotificationsSoundsItem
    v-model="deafen"
    :title="$t('pages.settings.notifications.sounds.deafen')"
  />
  <SettingsPagesNotificationsSoundsItem
    v-model="undeafen"
    :title="$t('pages.settings.notifications.sounds.undeafen')"
  />
  <SettingsPagesNotificationsSoundsItem
    v-model="upload"
    :title="$t('pages.settings.notifications.sounds.upload')"
  />
  <SettingsPagesNotificationsSoundsItem
    v-model="connected"
    :title="$t('pages.settings.notifications.sounds.connected')"
  />
</div>
