.close-button {
  &:extend(.font-primary);
  position: absolute;
  right: 0;
  top: 0;
  font-size: @text-size;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: @dark;
  filter: drop-shadow(0px 5px 8px @black);
}
