.close-button {
  &:extend(.font-primary);
  position: absolute;
  right: 2rem;
  top: 1.75rem;
  font-size: @text-size;
  background: @foreground-alt;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  border-radius: @half;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media only screen and (max-width: @mobile-breakpoint) {
  .close-button {
    right: @normal-spacing;
    top: @normal-spacing;
  }
}
