.profile-card {
  &:extend(.full-width);
  &:extend(.round-corners);
  box-shadow: 1.15px 1.15px 2.6px rgba(19, 24, 31, 0.8);

  &-body {
    padding: @normal-spacing;
    background: @midground-alt;
    border-top: none;
    &:extend(.bordered);

    .profile-badges {
      margin-top: @normal-spacing;
      .profile-badge {
        font-size: @xl-icon-size;
        margin-right: @normal-spacing;
        &:extend(.color-success);
      }
    }

    .profile-preferences {
      margin-top: @normal-spacing;

      &-timezone {
        margin-top: @normal-spacing;
        margin-bottom: @normal-spacing;
        .timezone-list {
          .items {
            width: 25rem !important;
            max-width: 25rem !important;
            .ps-container {
              height: 20rem;
            }
          }
        }
      }

      &-language {
        margin-top: @normal-spacing;
        margin-bottom: @normal-spacing;
      }
    }
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  .profile-card {
    &-body {
      .profile-preferences {
        &-timezone {
          .timezone-list {
            .items {
              width: 100% !important;
              max-width: 100% !important;
            }
          }
        }
      }
    }
  }
}
