<div class="profile-card">
  <SettingsProfilePicture />
  <div class="profile-card-body">
    <div class="profile-badges" v-if="info.badges && info.badges.length">
      <TypographyTitle
        :size="6"
        :text="$t('pages.settings.profile.info.badges')"
      />
      <span class="profile-badge" v-for="(badge, i) in info.badges" :key="i">
        <UiDynamicIcon size="1x" icon="badge.badge.icon" />
      </span>
    </div>
    <div class="profile-preferences">
      <TypographyTitle
        :size="6"
        :text="$t('pages.settings.profile.info.preferences')"
      />
      <div class="profile-preferences-timezone">
        <InteractablesSelect
          v-model="timezone"
          :options="timezones"
          :label="$t('pages.settings.profile.info.timezone')"
          :placeholder="$t('pages.settings.profile.info.selectTimezone')"
          show-label
          small
        />
      </div>
      <div class="profile-preferences-language" v-if="featureReadyToShow">
        <TypographyText>
          {{ $t('pages.settings.profile.info.language')}}
        </TypographyText>
        <!-- <multiselect
          :options="[]"
          :multiple="true"
          :close-on-select="false"
          :clear-on-select="false"
          :preserve-search="true"
          :placeholder="$t('pages.settings.profile.info.selectLanguage')"
          label="name"
          track-by="name"
          v-model="languages"
          selectLabel=""
          deselectLabel=""
          selectedLabel=""
        >
          <span slot="noResult"
            >{{ $t('pages.settings.profile.info.noResult') }}</span
          >
        </multiselect> -->
        <div class="mg-half">
          <InteractablesChip
            v-for="(lng, i) in info.languages"
            :key="i"
            :text="lng"
          />
        </div>
      </div>
    </div>
  </div>
</div>
