.profile-card {
  &: extend(.full-width);
  &: extend(.bordered);
  &: extend(.round-corners);
  box-shadow: 0 -5px 15px 0 rgb(19 24 31 / 40%);

  &-body {
    padding: @normal-spacing;

    .profile-badges {
      margin-top: @normal-spacing;

      .profile-badge {
        font-size: @xl-icon-size;
        margin-right: @normal-spacing;
        &: extend(.color-success);
      }
    }

    .profile-preferences {
      margin-top: @normal-spacing;

      &-timezone {
        margin-top: @normal-spacing;
        margin-bottom: @normal-spacing;

        .timezone-list {
          .items {
            width: 25rem !important;
            max-width: 25rem !important;

            .ps-container {
              height: 20rem;
            }
          }
        }
      }

      &-language {
        margin-top: @normal-spacing;
        margin-bottom: @normal-spacing;
      }
    }
  }
}
