<div>
  <UiSvgDefs class="hidden" />
  <InteractablesContextMenu v-if="ui.contextMenuStatus" />
  <transition name="modal">
    <UiModal v-if="incomingCall" :showCloseButton="false">
      <MediaIncomingCall />
    </UiModal>
    <UiModal
      v-if="ui.modals.consentScanConfirmation"
      @close="() => toggleModal(ModalWindows.CONSENT_SCAN_CONFIRMATION)"
    >
      <ConsentScanConfirmation
        @close="() => toggleModal(ModalWindows.CONSENT_SCAN_CONFIRMATION)"
      />
    </UiModal>
    <UiModal
      v-if="ui.modals.callToAction"
      @close="() => toggleModal(ModalWindows.CALL_TO_ACTION)"
    >
      <CallToAction />
    </UiModal>
    <SettingsModal v-if="ui.settingsRoute && !$device.isMobile" />
    <UiModal v-if="ui.modals.wallet" @close="toggleModal(ModalWindows.WALLET)">
      <WalletPopup />
    </UiModal>
    <UiModal
      v-if="ui.modals.marketplace"
      @close="toggleModal(ModalWindows.MARKETPLACE)"
    >
      <Marketplace @close="toggleModal(ModalWindows.MARKETPLACE)" />
    </UiModal>
    <UiModal v-if="ui.modals.glyph" @close="toggleModal(ModalWindows.GLYPH)">
      <Glyphs @close="toggleModal(ModalWindows.GLYPH)" />
    </UiModal>
    <UiModal
      v-if="ui.fullProfile"
      @close="$store.commit('ui/setFullProfile', undefined)"
    >
      <UserProfile @close="$store.commit('ui/setFullProfile', undefined)" />
    </UiModal>
    <UiModal
      v-if="ui.modals.renameFile"
      @close="toggleModal(ModalWindows.RENAME_FILE)"
    >
      <FilesRename @close="toggleModal(ModalWindows.RENAME_FILE)" />
    </UiModal>
    <UiModal
      v-if="ui.modals.changelog"
      :showCloseButton="false"
      @close="toggleModal(ModalWindows.CHANGELOG)"
    >
      <UiUpdateModal />
    </UiModal>
    <UiModal
      v-if="ui.chatImageOverlay"
      fullscreen
      @close="$store.commit('ui/setChatImageOverlay', undefined)"
    >
      <UiChatImageOverlay />
    </UiModal>
    <UiModal
      v-if="files.preview"
      :showCloseButton="false"
      fullscreen
      @close="$store.commit('files/setPreview', undefined)"
    >
      <FilesView @close="$store.commit('files/setPreview', undefined)" />
    </UiModal>
    <UiModal
      v-if="isNewAccount"
      :showCloseButton="false"
      @close="$store.commit('accounts/setNewAccount', false)"
    >
      <UiWelcomeModal />
    </UiModal>
  </transition>
  <transition :name="$device.isMobile ? 'slide' : ''">
    <InteractablesQuickProfile v-if="ui.quickProfile" />
    <SidebarQuick
      v-if="$device.isMobile && modal.type === ModalTypes.QUICK_CHAT"
      @toggle="modal.type = ModalTypes.EMPTY"
    />
  </transition>
  <UiPip
    v-if="$device.isDesktop && isBackgroundCall"
    v-slot="{ dragging, width, height }"
  >
    <MediaPreviewCall :dragging="dragging" :width="width" :height="height" />
  </UiPip>
</div>
