<div>
  <SettingsModal v-if="ui.showSettings" />
  <InteractablesContextMenu v-if="ui.contextMenuStatus" />
  <UiModal
    v-if="ui.modals.wallet"
    :close-modal="() => toggleModal(ModalWindows.WALLET)"
    nopad
    v-click-outside="() => toggleModal(ModalWindows.WALLET)"
  >
    <WalletPopup />
  </UiModal>
  <UiModal
    v-if="ui.modals.createServer"
    :close-modal="() => toggleModal(ModalWindows.CREATE_SERVER)"
    :title="$t('servers.create.heading')"
  >
    <ServersCreate
      v-click-outside="() => toggleModal(ModalWindows.CREATE_SERVER)"
      :close-modal="() => toggleModal(ModalWindows.CREATE_SERVER)"
    />
  </UiModal>
  <UiModal
    v-if="ui.modals.error"
    :close-modal="() => toggleModal(ModalWindows.ERROR)"
    :title="$t('popups.error.title')"
  >
    <UiPopupsError
      v-click-outside="() => toggleModal(ModalWindows.ERROR)"
      :close-modal="() => toggleModal(ModalWindows.ERROR)"
      :set-close-timeout="5000"
    />
  </UiModal>
  <UiModal v-if="webrtc.incomingCall" nopad>
    <MediaIncomingCall :accept-call="acceptCall" :deny-call="denyCall" />
  </UiModal>
  <UiModal
    v-if="ui.modals.marketplace"
    :close-modal="() => toggleModal(ModalWindows.MARKETPLACE)"
    nopad
  >
    <Marketplace
      v-click-outside="() => toggleModal(ModalWindows.MARKETPLACE)"
      :close-modal="() => toggleModal(ModalWindows.MARKETPLACE)"
    />
  </UiModal>
  <UiModal
    v-if="ui.modals.glyph"
    :close-modal="() => toggleModal(ModalWindows.GLYPH)"
    nopad
    v-click-outside="() => toggleModal(ModalWindows.GLYPH)"
    small
  >
    <Glyphs
      v-click-outside="() => toggleModal(ModalWindows.GLYPH)"
      :close-modal="() => toggleModal(ModalWindows.GLYPH)"
    />
  </UiModal>
  <UiModal
    v-if="ui.modals.userProfile"
    :close-modal="() => toggleModal(ModalWindows.USER_PROFILE)"
    nopad
    v-click-outside="() => toggleModal(ModalWindows.USER_PROFILE)"
  >
    <UserProfile :close-modal="() => toggleModal(ModalWindows.USER_PROFILE)" />
  </UiModal>
  <UiModal
    v-if="ui.modals.callToAction"
    :close-modal="() => toggleModal(ModalWindows.CALL_TO_ACTION)"
    nopad
    v-click-outside="() => toggleModal(ModalWindows.CALL_TO_ACTION)"
  >
    <CallToAction
      :close-modal="() => toggleModal(ModalWindows.CALL_TO_ACTION)"
    />
  </UiModal>
  <UiModal
    v-if="ui.modals.renameFile"
    :close-modal="() => toggleModal(ModalWindows.RENAME_FILE)"
    v-click-outside="() => toggleModal(ModalWindows.RENAME_FILE)"
    small
    nopad
  >
    <FilesRename :close-modal="() => toggleModal(ModalWindows.RENAME_FILE)" />
  </UiModal>
  <UiUpdateModal
    v-if="ui.modals.changelog"
    v-click-outside="() => toggleModal(ModalWindows.CHANGELOG)"
  />
  <UiChatImageOverlay v-if="ui.chatImageOverlay" />
  <FilesView v-if="files.preview" />
  <transition :name="$device.isMobile ? 'slide' : ''">
    <InteractablesQuickProfile v-if="ui.quickProfile" :user="ui.quickProfile" />
  </transition>
  <UiBackgroundCall v-if="showBackgroundCall" />
</div>
