.user-state {
    position: relative;
    display: flex;
    align-items: center;
    height: 35px;
    width: 35px;
    .status {
        position: absolute;
        bottom: -1.5px;
        right: -2.5px;
        font-size: @text-size;
        text-shadow: 0 0 3px #000;
        display: inline-flex;
        align-content: center;

        circle {
            stroke: @dark-gray;
            stroke-width: 5;
            paint-order: stroke;
        }
        &.is-online {
            color: @green;
            fill: @green;
        }
        &.is-offline {
            color: @gray;
            fill: @gray;
        }
        &.is-idle {
            color: @yellow;
            fill: @yellow;
        }
    }

    .mobile-status {
        position: absolute;
        bottom: -1.5px;
        right: -2.5px;
        font-size: @small-icon-size;
        text-shadow: 0 0 3px #000;

        rect {
            stroke: @dark-gray;
            stroke-width: 4;
            paint-order: stroke;
            fill: @green;
        }
        line {
            fill: #000;
            stroke: @dark-gray;
            stroke-width: 4;
        }
        &.is-mobile {
            color: @green;
        }
    }

    #typing-badge-container {
        background: @primary-color;
        width: 40px;
        height: 18px;
        position: absolute;
        bottom: -1.5px;
        left: 18px;
        padding: 5px;
        border-radius: 10px;
        border: 3px solid @dark-gray;
    }
}