.is-connected {
  display: flex;
  align-items: center;
  gap: 8px;

  .status {
    font-size: @text-size;
    text-shadow: 0 0 3px #000;
    width: 8px;

    circle {
      stroke: @midground;
      stroke-width: 5;
      paint-order: stroke;
    }
    &.is-online {
      &:extend(.color-success);
      fill: @green;
    }
    &.is-offline {
      &:extend(.font-gray);
      fill: @gray;
    }
    &.is-idle {
      &:extend(.color-warning);
      fill: @yellow;
    }
  }
}
