<div id="controls">
  <InteractablesButton
    :type="audio.muted ? 'danger' : 'dark'"
    size="small"
    class="has-tooltip has-tooltip-primary has-tooltip-top has-tooltip-desktop-only"
    :data-tooltip="$t('global.mute')"
    :action="toggleMute"
    :text="$t('controls.mic')">
    <mic-off-icon v-if="audio.muted" size="1x"></mic-off-icon>
    <mic-icon v-else size="1x"></mic-icon>
  </InteractablesButton>
  <InteractablesButton
    :type="audio.deafened ? 'danger' : 'dark'"
    size="small"
    class="has-tooltip has-tooltip-primary has-tooltip-top has-tooltip-desktop-only"
    :data-tooltip="$t('global.deafen')"
    :action="toggleDeafen"
    :text="$t('controls.headphones')">
    <headphones-icon size="1x"></headphones-icon>
  </InteractablesButton>
  <InteractablesButton
    :type="video.disabled ? 'danger' : 'dark'"
    size="small"
    class="has-tooltip has-tooltip-primary has-tooltip-top has-tooltip-desktop-only"
    :data-tooltip="$t('global.toggle')"
    :text="$t('controls.video')"
    :action="toggleVideo"
    >
    <video-off-icon v-if="video.disabled" size="1x"></video-off-icon>
    <video-icon v-else size="1x"></video-icon>
  </InteractablesButton>
</div>