<div id="actions">
  <div
    data-cy="call-video"
    v-tooltip.top="videoMuted ? $t('controls.turn_on_camera') : $t('controls.turn_off_camera')"
  >
    <InteractablesButton
      class="left"
      :type="videoMuted ? 'danger' : 'dark'"
      data-cy="call-video"
      size="small"
      :action="() => toggleMute('video')"
      :loading="isLoading"
      loadingText=""
    >
      <video-icon data-cy="video-unmuted" v-if="!videoMuted" size="1.2x" />
      <video-off-icon data-cy="video-muted" v-else size="1.2x" />
    </InteractablesButton>
  </div>
  <div v-tooltip.top="audioMuted ? $t('controls.unmute') : $t('controls.mute')">
    <InteractablesButton
      :type="audioMuted ? 'danger' : 'dark'"
      size="small"
      data-cy="call-audio"
      :action="() => toggleMute('audio')"
      :loading="isLoading"
      loadingText=""
    >
      <mic-icon data-cy="audio-unmuted" v-if="!audioMuted" size="1.2x" />
      <mic-off-icon data-cy="audio-muted" v-else size="1.2x" />
    </InteractablesButton>
  </div>
  <div
    v-tooltip.top="screenMuted ? $t('controls.screen') : $t('controls.stop_streaming')"
  >
    <InteractablesButton
      :type="screenMuted ? 'danger' : 'dark'"
      size="small"
      data-cy="call-screen-share"
      :action="() => toggleMute('screen')"
      :loading="isLoading"
      loadingText=""
    >
      <screen-share-icon
        data-cy="screen-unmuted"
        v-if="!screenMuted"
        size="1.2x"
      />
      <screen-share-off-icon data-cy="screen-muted" v-else size="1.2x" />
    </InteractablesButton>
  </div>
  <div v-tooltip.top="$t('controls.hang_up')">
    <InteractablesButton
      class="right"
      type="danger"
      data-cy="call-hangup"
      size="small"
      :action="() => hangUp()"
    >
      <phone-off-icon size="1.2x" />
    </InteractablesButton>
  </div>
</div>
