<SettingsPage>
  <TypographyHorizontalRuleText
    plaintext
    :value="$t('pages.settings.audio.title')"
  />
  <!--Audio Sources-->
  <!-- Requires user permissions to see in most browsers -->
  <SettingsSection
    v-if="!userHasGivenAudioAccess"
  >
    <SettingsUnit
      :title="$t('pages.settings.audio.sources.title')"
      :text="$t('pages.settings.audio.sources.subtitle')"
      v-if="!userDeniedAudioAccess"
    >
      <!-- Ask for permissions block -->
      <InteractablesButton
        :text="$t('pages.settings.audio.sources.permissionButtonText')"
        size="small"
        type="primary"
        :action="enableAudio"
      />
    </SettingsUnit>

    <!-- Permission Denied Block -->
    <TypographyError
      v-else
      :text="$t('pages.settings.audio.sources.permissionDeniedMessage')"
    />
  </SettingsSection>
  <!-- Permission Granted Block -->
  <SettingsSection v-if="userHasGivenAudioAccess">
    <!-- Audio In -->
    <SettingsUnit
      :title="$t('pages.settings.audio.sources.input.title')"
      :text="$t('pages.settings.audio.sources.input.subtitle')"
    >
      <InteractablesSelect
        v-model="selectedAudioInput"
        :options="audioInputs"
        :label="$t('pages.settings.audio.sources.input.title')"
      />
    </SettingsUnit>
    <!-- Audio Out -->
    <SettingsUnit
      :title="$t('pages.settings.audio.sources.output.title')"
      :text="$t('pages.settings.audio.sources.output.subtitle')"
    >
      <InteractablesSelect
        v-if="browserAllowsAudioOut"
        v-model="selectedAudioOutput"
        :options="audioOutputs"
        :label="$t('pages.settings.audio.sources.output.title')"
      />
      <TypographyError
        v-if="!browserAllowsAudioOut"
        :text="$t('pages.settings.audio.sources.browserDoesNotSupportAudioOutChange')"
      />
    </SettingsUnit>
  </SettingsSection>

  <!--Audio Bitrate & Sample-->
  <SettingsSection>
    <SettingsUnit :title="$t('pages.settings.audio.inputVolume.title')">
      <br />
      <div class="meter-container">
        <UiMeter :value="micLevel" :height="5" solid />
      </div>
      <MediaActionsVolume
        :volume="audio.inputVolume"
        direction="ltr"
        plain
        @volumeControlValueChange="inputVolumeControlValueChange"
      />
    </SettingsUnit>
    <SettingsUnit :title="$t('pages.settings.audio.volume.title')">
      <br />
      <div class="meter-container">
        <UiMeter :value="0" :height="5" solid />
      </div>
      <MediaActionsVolume
        :volume="audio.volume"
        direction="ltr"
        plain
        @volumeControlValueChange="volumeControlValueChange"
      />
    </SettingsUnit>
  </SettingsSection>

  <!--Audio Bitrate & Sample-->
  <UiComingSoon :areaCover="true" :hide="true">
    <SettingsSection>
      <SettingsUnit
        :title="$t('pages.settings.audio.bitrate.title')"
        :text="$t('pages.settings.audio.bitrate.subtitle')"
      >
        <InteractablesSelect
          :options="Bitrates"
          v-model="isBitrate"
          :label="$t('pages.settings.audio.bitrate.title')"
        />
      </SettingsUnit>
      <SettingsUnit
        :title="$t('pages.settings.audio.sampleSize.title')"
        :text="$t('pages.settings.audio.sampleSize.subtitle')"
      >
        <InteractablesSelect
          :options="SampleSizes"
          v-model="isSampleSize"
          :label="$t('pages.settings.audio.sampleSize.title')"
        />
      </SettingsUnit>
    </SettingsSection>

    <!--Echo Cancellation & Noise Suppression-->
    <SettingsSection>
      <SettingsUnit
        :title="$t('pages.settings.audio.echo.title')"
        :text="$t('pages.settings.audio.echo.subtitle')"
      >
        <InteractablesSwitch
          v-model="isEchoCancellation"
          :isEnabled="settings.echoCancellation"
        />
      </SettingsUnit>
      <SettingsUnit
        :title="$t('pages.settings.audio.noise.title')"
        :text="$t('pages.settings.audio.noise.subtitle')"
      >
        <InteractablesSwitch
          v-model="isNoiseSuppression"
          :isEnabled="settings.noiseSuppression"
        />
      </SettingsUnit>
    </SettingsSection>
  </UiComingSoon>
  <!-- Video -->
  <TypographyHorizontalRuleText
    plaintext
    :value="$t('pages.settings.video.title')"
  />

  <!--Video Input Source -->
  <SettingsSection>
    <SettingsUnit
      :title="$t('pages.settings.video.sources.input.title')"
      :text="$t('pages.settings.video.sources.input.subtitle')"
    >
      <!-- Ask for permissions block -->
      <InteractablesButton
        v-if="!userHasGivenVideoAccess && !userDeniedVideoAccess"
        :text="$t('pages.settings.audio.sources.permissionButtonText')"
        size="small"
        type="primary"
        :disabled="!hasWebcam"
        :action="enableVideo"
      />
      <InteractablesSelect
        v-if="userHasGivenVideoAccess"
        v-model="isVideoInput"
        :options="videoInputs"
        :label="$t('pages.settings.video.sources.input.title')"
      />

      <!-- Permission Denied Block -->
      <span v-if="userDeniedVideoAccess">
        <TypographyError
          :text="$t('pages.settings.video.sources.permissionDeniedMessage')"
        />
      </span>
    </SettingsUnit>
    <SettingsUnit
      v-if="getInitialized"
      :title="$t('pages.settings.video.flipVideo.title')"
      :text="$t('pages.settings.video.flipVideo.subtitle')"
    >
      <InteractablesSwitch
        v-model="flipVideo"
        :isLocked="loading.includes('flipVideo')"
      />
    </SettingsUnit>
    <UiLoadersGenericContent class="column unit" :count="1" v-else />
  </SettingsSection>

  <!-- Screen Share -->
  <TypographyHorizontalRuleText
    plaintext
    :value="$t('pages.settings.screen.title')"
    v-if="featureReadyToShow"
  />

  <!-- Capture Mouse -->
  <SettingsSection v-if="featureReadyToShow">
    <SettingsUnit
      :title="$t('pages.settings.screen.captureMouse.title')"
      :text="$t('pages.settings.screen.captureMouse.subtitle')"
    >
      <InteractablesSelect
        v-model="isCaptureMouse"
        :options="captureMouses"
        label="$t('pages.settings.screen.captureMouse.title')"
      />
    </SettingsUnit>
  </SettingsSection>

  <!-- Notification Sounds -->
  <TypographyHorizontalRuleText
    plaintext
    :value="$t('pages.settings.notifications.title')"
  />
  <SettingsPagesAudioSounds />
  <TypographyText v-if="loading.length" :text="$t('pages.privacy.updating')" />
</SettingsPage>
