.audio-io-container {
  .settings-section {
    grid-gap: 0;
  }
}

@media only screen and (min-width: @medium-breakpoint) {
  .audio-io-container {
    // background-color: #454;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: @large-spacing;

    .settings-section {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
    }
  }
}
