.quick-chat {
  &:extend(.background-semitransparent-dark);
  &:extend(.bordered);
  &:extend(.blur);
  position: absolute;
  width: 288px;
  top: 100%;
  left: 13px;
  padding: 8px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 500px;
  border-radius: @corner-rounding;
  z-index: 1;
}
