<div class="quick-chat">
  <div>
    <TypographySubtitle :size="6" :text="$t('pages.chat.new_chat')" />
    <TypographyText>
      {{ $t('pages.chat.new_chat_description') }}
    </TypographyText>
  </div>
  <InteractablesUserPicker v-model="friends" height="220px" />
  <template v-if="friends.length > 1">
    <InteractablesInput
      v-model.trim="name"
      size="xs"
      :placeholder="$t('pages.chat.new_group_name')"
      :minLength="$Config.chat.groupNameMinLength"
      :maxLength="$Config.chat.groupNameMaxLength"
      :invalid="isInvalidName && Boolean(error)"
      @submit="confirm"
      :error="error"
    />
  </template>
  <InteractablesButton
    :type="friends.length ? 'primary' : 'dark'"
    size="small"
    :text="$t('pages.chat.chat_now')"
    :action="confirm"
    :loading="isLoading"
    :disabled="!friends.length"
    fullWidth
  />
</div>
