<div class="accounts">
  <div class="accounts-heading">
    <link-2-icon size="1.2x" />
    <TypographyText text="Linked Accounts" />
  </div>
  <div class="account-list">
    <WalletAccountsAccount v-for="account in $mock.wallet.LinkedAccounts" :account="account" :key="account.name" />
    <UiHorizontalRule />
    <div class="accounts-footer">
      <plus-circle-icon size="1x" class="green" />
      <TypographyText text="Link New Account / Device" />
    </div>
  </div>
  <div class="accounts-subtext">
    <InteractablesSwitch size="small" />
    <TypographyText text="Require Pin Auth?" />
  </div>
  <TypographyText text="This is suggested for all users to increase finanical security" class="yellow" />
</div>