
.accounts {
  width: 50%;
  .accounts-heading {
    display: inline-flex;
    .is-text {
      margin-left: @light-spacing;
    }
  }

  .accounts-footer {
    display: inline-flex;
    align-items: center;
    .is-text {
      margin-left: @light-spacing;
    }
  }

  .account-list {
    background: @semitransparent-light-gradient;
    border-radius: @corner-rounding;
    border: @light-border;
    padding: @normal-spacing;
  }

  .yellow {
    font-size: @micro-text-size;
  }

  .accounts-subtext {
    display: inline-flex;
    align-items: center;
    margin-top: @light-spacing;
    .is-text {
      margin-left: @light-spacing;
    }
  }
}