<div class="accounts">
  <div class="accounts-heading">
    <link-2-icon size="1.2x" />
    <TypographyText>
      {{ $t('wallet.accounts.linked_accounts') }}
    </TypographyText>
  </div>
  <div class="account-list">
    <WalletAccountsAccount
      v-for="account in $mock.wallet.LinkedAccounts"
      :account="account"
      :key="account.name"
    />
    <UiHorizontalRule />
    <div class="accounts-footer">
      <plus-circle-icon size="1x" class="green" />
      <TypographyText>
        {{ $t('wallet.accounts.link_new_account_or_device') }}
      </TypographyText>
    </div>
  </div>
  <div class="accounts-subtext">
    <InteractablesSwitch size="small" />
    <TypographyText>
      {{ $t('wallet.accounts.require_pin_auth') }}
    </TypographyText>
  </div>
  <TypographyText class="yellow">
    {{ $t('wallet.accounts.security_suggestion') }}
  </TypographyText>
</div>
