.user {
  display: inline-flex;
  overflow: hidden;
  min-width: 0;
  text-overflow: ellipsis;
  margin: 0 -0.35rem;
  padding: 0.4rem 0.35rem;
  border-radius: @corner-rounding;
  cursor: pointer;
  position: relative;
  user-select: none;
  width: calc(100% + 0.7rem);

  .tag {
    background-color: @primary-color;
    height: 18px;
    padding: 0.35rem;
    align-self: flex-end;
    float: right;
    margin: 0.5rem 0 0 0;
  }

  .status {
    position: absolute;
    top: 33.5px;
    left: 30px;
    font-size: 10pt;
    text-shadow: 0 0 3px #000;

    path {
      stroke: @dark-gray;
      stroke-width: 100;
    }
    &.is-online {
      color: @green;
    }
    &.is-offline {
      color: @gray;
    }
    &.is-idle {
      color: @yellow;
    }
  }
  
  .circle {
    align-self: center;
    justify-self: center;
  }

  .user-info {
    min-width: 0;
    padding-left: @light-spacing;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;


    .title {
      margin: 0 0 1.25rem 0;
      text-overflow: ellipsis;
      min-width: 0;
      font-size: @title-text;
    }
    
    .subtitle {
      height: 30px;
      display: inline-block;
      min-width: 0;
    }
  
    .subtitle {
      font-size: @mini-text-size;
    }
  }

  .user-chat-details {
    .is-text {
      margin: 0;
      padding: 0;
      font-size: @micro-text-size;
    }
  }
}