<div 
  :class="`${square ? 'is-square' : 'is-rounded'} ${type === 'icon' ? 'circle-flex' : 'circle'}`"
  :style="`font-size: ${size * 0.55}px; height: ${size}px; width: ${size}px; background: ${color};`"
  @click="() => {$emit('click')}"
  >
  <img
    :src="source"
    v-if="type === 'image' && source"
    alt="Cirlce Image"
    :class="`${square ? 'is-square' : 'is-rounded'} image`">
  <jazzicon
    v-else-if="type === 'random'"
    class="jazzicon"
    :address="seed"
    :diameter="size"
  />
  <UiDynamicIcon
    size="1x"
    :icon="icon"
    v-else-if="icon" />
  <slot></slot>
</div>