<div
  :class="`${square ? 'is-square' : 'is-rounded'} ${type === 'icon' ? 'circle-flex' : 'circle'}`"
  :style="`font-size: ${size * 16 / 30}px; height: ${size}px; width: ${size}px; background: ${color};`"
  @click="() => {$emit('click')}"
>
  <img
    v-if="type === 'image' && source"
    :src="source"
    alt="Circle Image"
    :class="`${square ? 'is-square' : 'is-rounded'} image`"
    data-cy="circle-has-picture"
    draggable="false"
  />

  <div
    v-else-if="type === 'random'"
    class="satellite-circle"
    :style="`background: ${finalColor}`"
    data-cy="circle-without-picture"
  >
    <satellite-icon v-if="!name" size="0.75x" />
    <div v-else>{{ firstLetter }}</div>
  </div>

  <UiDynamicIcon size="1x" :icon="icon" v-else-if="icon" />
  <slot></slot>
</div>
