.circle {
  display: inline-block;
  vertical-align: top;
  .image {
    width: 100%;
    height: 100%;
  }
}

.circle-flex {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.is-rounded {
  border-radius: 50%;
}