<div v-if="glyphDetail" class="glyph-marketplace-detail">
  <div class="detail-header">
    <TypographySubtitle :size="6" text="Gaming/Art/Category" />
    <div class="owner-name">
      <UiCircle type="random" :size="28" />
      <TypographySubtitle :size="6" :text="glyphDetail.glyph.artist" />
    </div>
  </div>
  <div class="glyph-detail-card">
    <div
      class="bg-header"
      :style="`background-image:url(${glyphDetail.image})`"
    >
      <div class="badges">
        <div v-if="glyphDetail.isNew" class="badge-new">New</div>
        <div v-if="glyphDetail.isSale" class="badge-sale">Sale</div>
      </div>
    </div>
    <div class="glyph-content">
      <div class="glyph-content-text">
        <div class="glyph-name">
          <TypographySubtitle :size="4" :text="glyphDetail.glyph.name" />
          <heart-icon size="1.5x" />
        </div>
        <TypographyText>
          {{ `${glyphDetail.glyph.stickerURLs.length} glyphs` }}
        </TypographyText>
        <TypographyText> {{ glyphDetail.glyph.description }} </TypographyText>
        <TypographySubtitle :size="4" :text="`$${glyphDetail.price}`" />
        <div>
          <InteractablesButton type="primary" size="small" text="Buy Now">
          </InteractablesButton>
          <InteractablesButton type="dark" size="small" text="Add to cart">
          </InteractablesButton>
        </div>
      </div>
      <div class="glyph-list">
        <EnhancersGlyphsItem
          v-for="url in glyphDetail.glyph.stickerURLs"
          :key="url"
          :src="url"
          :width="52"
          :height="52"
        ></EnhancersGlyphsItem>
      </div>
    </div>
  </div>
</div>
