.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  flex-wrap: nowrap;
  flex-direction: column;
  section {
    padding: @xlarge-spacing;
    margin-bottom: 5rem;
    .privacy-body {
      min-width: 16rem;
      align-self: center;
      margin: 0 @normal-spacing;
      margin-top: 20vh;

      .subtitle {
        margin-bottom: @xlight-spacing;
        text-transform: uppercase;
      }

      .switch-column {
        max-width: 75px;
      }

      .center {
        text-align: center;
        .subtitle {
          font-weight: bold;
        }
      }
      .right {
        float: right;
      }
    }
  }
}


@media only screen and (max-width: @mobile-breakpoint) {
  .container {
    height: 100%;
    padding-top: @normal-spacing;
    justify-content: flex-start;

    .center {
      margin-bottom: @normal-spacing;
    }
    section {
      margin: 0;
      padding: 0;
      height: 100%;
      .privacy-body {
        margin-top: 0;
        min-height: calc(100% - @normal-spacing);
        display: flex;
        flex-direction: column;
      }
    }
    .spacer {
      flex: 1;
    }
    .is-button {
      width: 100%;
    }
  }
}