.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  flex-wrap: nowrap;
  flex-direction: column;
  section {
    padding: @xlarge-spacing;
    margin-bottom: 5rem;
    .privacy-body {
      min-width: 16rem;
      align-self: center;
      margin: 0 @normal-spacing;
      margin-top: 20vh;

      .subtitle {
        margin-bottom: @xlight-spacing;
        text-transform: uppercase;
      }

      .switch-column {
        max-width: 75px;
      }

      .center {
        text-align: center;
        .subtitle {
          font-weight: bold;
        }
      }
      .right {
        float: right;
      }
    }
  }
}
