<div class="container">
  <div class="privacy-body">
    <div class="columns">
      <div class="column center">
        <TypographyTitle
          :size="6"
          :text="serverType === 'own' ? $t('pages.privacy.newTitle2') : $t('pages.privacy.newTitle1')"
        />
        <TypographySubtitle
          :size="6"
          :text="serverType === 'own' ? $t('pages.privacy.newSubtitle2') : $t('pages.privacy.newSubtitle1')"
        />
      </div>
    </div>
    <div class="column">
      <InteractablesSelect
        :options="ServerTypes"
        v-model="serverType"
        size="small"
        class="form-control"
      />
    </div>
    <div class="column" v-if="serverType === 'own'">
      <InteractablesInput v-model="ownInfo" type="dark" size="small" />
    </div>

    <div class="columns" v-if="serverType === 'own'"></div>
    <UiScroll verticalScroll enableWrap scrollbarVisibility="scroll">
      <div class="columns">
        <div class="column">
          <div class="columns is-mobile">
            <div class="column switch-column">
              <InteractablesSwitch v-model="registry" isLocked small />
            </div>
            <div class="column">
              <TypographySubtitle
                :size="6"
                :text="$t('pages.privacy.register.title')"
              />
              <TypographyText :text="$t('pages.privacy.register.subtitle')" />
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns is-mobile">
            <div class="column switch-column">
              <InteractablesSwitch v-model="storePin" small />
            </div>
            <div class="column">
              <TypographySubtitle
                :size="6"
                :text="$t('pages.privacy.pin.title')"
              />
              <TypographyText :text="$t('pages.privacy.pin.subtitle')" />
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="columns is-mobile">
            <div class="column switch-column">
              <InteractablesSwitch v-model="embeddedLinks" small />
            </div>
            <div class="column">
              <TypographySubtitle
                :size="6"
                :text="$t('pages.privacy.embeds.title')"
              />
              <TypographyText :text="$t('pages.privacy.embeds.subtitle')" />
            </div>
          </div>
        </div>
        <div class="column">
          <div class="columns is-mobile">
            <div class="column switch-column">
              <InteractablesSwitch v-model="displayCurrentActivity" small />
            </div>
            <div class="column">
              <TypographySubtitle
                :size="6"
                :text="$t('pages.privacy.activity.title')"
              />
              <TypographyText :text="$t('pages.privacy.activity.subtitle')" />
            </div>
          </div>
        </div>
      </div>
    </UiScroll>
    <br />
    <div class="spacer"></div>
    <div class="columns is-mobile buttons">
      <div class="column">
        <InteractablesButton
          class="right"
          type="primary"
          :action="generateWallet"
        >
          {{ $t('pages.privacy.continue') }}
        </InteractablesButton>
      </div>
    </div>
  </div>
</div>
