@sidebar-size: 250px;

#aside {
  transition: @transition-all;
  width: @sidebar-size;
  min-width: @sidebar-size;
  position: relative;
  display: inline-flex;
  height: 100%;
  padding-left: @light-spacing;
  // background-color: @dark-gray;
  display: flex;
  flex-direction: column;
  padding-bottom: @light-spacing;
  z-index: @base-z-index;
  align-items: center;

  #aside-box {
    border-radius: @corner-rounding;
    margin-top: @normal-spacing;
    background: @semitransparent-light-gradient;
    box-shadow: @ui-shadow;
    margin-right: @normal-spacing;
    margin-left: @light-spacing;
    padding: @light-spacing;
  }

  .info-toggle {
    font-size: 20px;
    color: @primary-color;
    position: absolute;
    left: -5rem;
    top: 1.8rem;
    z-index: 999;
    transition: visibility 0.1s;
  }

  #top-info {
    width: 100%;
    height: 46px;
    padding: 0 @light-spacing;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      margin-bottom: 0;
    }
  }

  #actions {
    width: 100%;
    padding: 0 @light-spacing;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .action-icon {
      padding: 10px;
      height: 10px;
      width: 20px;
      font-size: @small-icon-size;
    }
    .circle-flex {
      background: @semitransparent-lightest-gradient !important;
      cursor: pointer;
      font-size: @tiny-icon-size !important;
      
      &:hover {
        background: @primary-gradient !important;
        box-shadow: @primary-glow;
      }
    }
  }

  #members {
    width: 100%;
    max-height: calc(100% - 8.5rem);
    #members-number {
      display: flex;
      margin-bottom: 0.5rem;
      .is-text {
        text-align: left;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #aside {
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 2;
    background: @dark-gradient;
  }
  .is-open {
    #aside {
      transform: translateX(calc(@sidebar-size));
    }
  }
}
