#profile {
  position: absolute;
  top: 0;
  left: 0;
  width: @full;

  .profile-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    width: @full;
    border-radius: 5px;

    &:extend(.modal-gradient);
  }

  .banner {
    height: 120px;
    object-fit: cover;
  }
  .photo {
    margin-left: @xlarge-spacing;
    max-height: 424px;
    margin: -88px 16px 0 0;
  }
  .photo-sm {
    display: none;
  }
  .profile-body {
    display: flex;
    padding: 12px;

    .details {
      width: @full;
      display: flex;
      flex-direction: column;

      .scroll {
        padding: 16px;
      }
    }
    .details-info {
      display: flex;
      flex-wrap: wrap;

      .details-wrapper {
        padding: 32px 0;
        width: @full;
        display: flex;
        justify-content: space-between;
      }
      .intro {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .badges {
          display: flex;
          gap: 0.4rem;
        }
      }
    }
    .tabs {
      padding: 0 @large-spacing;
      border-bottom: 1px solid rgba(@gray, 0.5);
    }
    .buttons {
      flex-shrink: 0;
      display: flex;
      gap: 8px;
      .button {
        max-height: 30px;
      }
    }
    .scroll-area {
      padding: 0 @large-spacing 0 @large-spacing;
      margin: auto;
      max-height: 250px;
      @media only screen and (max-width: @mobile-breakpoint) {
        max-height: calc(@app-height - 468px);
      }
    }
    .about {
      display: flex;
      flex-direction: column;
      gap: @normal-spacing;

      // temp font fixes until we refactor headings
      .title.is-6 {
        font-size: 12px;
        margin-bottom: 0.5rem;
      }
      p {
        font-size: 12px;
      }
    }
  }
}

@media only screen and (max-width: @medium-breakpoint) {
  #profile {
    .photo {
      max-height: 320px;
    }
  }
}

@media only screen and (max-width: @small-breakpoint) {
  #profile {
    display: flex;
    flex-direction: column;

    .banner {
      height: 150px;
    }

    .details {
      .details-info {
        justify-content: center;
        .details-wrapper {
          padding: 32px 16px;
        }
      }
    }

    .photo {
      display: none;
    }
    .photo-sm {
      display: block;
      max-height: 220px;
      margin: -140px 0 0 0;
    }
    .profile-body {
      padding-top: 0;
    }
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  #profile {
    .photo-sm {
      max-height: 160px;
    }
  }
}

@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  #profile {
    .close-button {
      top: 2.5rem;
    }
  }
}
