<div class="profile-wrapper" data-cy="profile">
  <div class="banner-container">
    <img :src="sample.imageUrl" class="banner" alt="" />
  </div>
  <div class="profile-body">
    <img v-if="!$device.isMobile" :src="sample.imageUrl" class="photo" alt="" />
    <div class="details">
      <div class="details-info">
        <UiUserState :user="user" />
        <div class="details-user">
          <TypographyText class="ellipsis" as="h4">
            {{user?.name}}
          </TypographyText>
          <TypographyText class="ellipsis" size="sm" color="dark">
            {{ user?.status }}
          </TypographyText>
        </div>
        <div class="buttons">
          <InteractablesButton v-if="isMe" @click="openSettings">
            <edit-icon size="1.2x" />
          </InteractablesButton>
          <InteractablesButton
            v-else-if="!isFriend"
            :loading="loading"
            @click="createFriendRequest"
          >
            <user-plus-icon size="1.2x" />
          </InteractablesButton>
        </div>
      </div>
      <InteractablesTabs :tabs="tabs" :route="route" @setRoute="setRoute" />
      <div class="details-main">
        <UserProfileAbout v-if="route === 'about'" />
        <UserProfileAccounts v-if="route === 'accounts'" />
        <div v-if="route === 'activity'">activity</div>
        <div v-if="route === 'mutual'">mutual</div>
      </div>
    </div>
  </div>
</div>
