<div
  v-if="user"
  id="profile"
  data-cy="profile"
  v-click-outside="closeProfileModal"
>
  <div class="profile-wrapper">
    <InteractablesClose :action="closeProfileModal" />
    <img :src="sample.imageUrl" alt="" class="banner" />
    <div class="profile-body">
      <img :src="sample.imageUrl" alt="" class="photo" />
      <div class="details">
        <div class="details-info">
          <img :src="sample.imageUrl" alt="" class="photo-sm" />
          <!--  <UiUserState
          :user="ui.userProfile.did"
          :size="80"
          :src="profilePictureSrc"
        /> -->
          <div class="details-wrapper">
            <div class="intro">
              <div>
                <TypographyTitle :text="user.name" :size="6" />
                <TypographyText weight="light"
                  >{{ user.status }}</TypographyText
                >
              </div>
              <!-- todo: add real badges and conditional -->
              <div class="badges">
                <award-icon
                  v-for="n in 3"
                  :key="n"
                  size="1.2x"
                  :style="`color:${badgeColors[n]}`"
                />
              </div>
            </div>
            <div class="buttons">
              <InteractablesButton
                @click="createFriendRequest"
                :loading="loading"
                color="success"
                v-if="!isFriend"
              >
                <user-plus-icon size="1.25x" />
              </InteractablesButton>
              <InteractablesButton
                @click="redirectToProfile"
                :loading="loading"
                v-if="isMe"
              >
                <edit-icon size="1.25x" /> {{$t('modal.profile.edit')}}
              </InteractablesButton>
              <InteractablesButton v-if="!isMe">
                <more-vertical-icon size="1.25x" />
              </InteractablesButton>
            </div>
          </div>
        </div>
        <InteractablesTabs
          :tabs="tabs"
          @setRoute="setRoute"
          :route="route"
          class="tabs"
        >
        </InteractablesTabs>

        <div class="scroll">
          <UserProfileAbout :user="user" v-if="route === 'about'" />
          <UserProfileAccounts :user="user" v-if="route === 'accounts'" />
          <div v-if="route === 'activity'">activity</div>
          <div v-if="route === 'mutual'">mutual</div>
        </div>
      </div>
    </div>
  </div>
</div>
