.user-profile {
  display: flex;
  height: @full;
  max-height: @full;
  overflow: hidden;

  .body-panel {
    width: 784px;
    padding: 32px;
    .top-bar {
      height: 25px;
      display: flex;
      align-items: center;
      .action {
        flex-shrink: 0;
      }
    }
  }
}
