#profile {
  display: flex;
  flex-direction: column;
  height: 540px;
  width: 964px;
  max-height: @full;
  max-width: @full;

  .banner {
    height: 120px;
    object-fit: cover;
  }

  .photo {
    max-height: 424px;
    margin-top: -120px;
  }

  .profile-body {
    display: flex;
    gap: @large-spacing;
    padding: @xlarge-spacing;

    .details {
      width: @full;
      display: flex;
      flex-direction: column;
    }

    .details-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: @normal-spacing;
      margin-bottom: @large-spacing;

      .intro {
        display: flex;
        flex-direction: column;
      }
    }
    .buttons {
      padding-bottom: @normal-spacing;
      margin-left: auto;
    }
    .about {
      display: flex;
      flex-direction: column;
      gap: @normal-spacing;
    }
  }
}
