// Animations
@animation-speed: 0.05s;
@animation-speed-micro: 0.05s; 
@transition-all: all @animation-speed ease; // DEPRICATED don't use this

.fade-enter-active, .fade-leave-active {
    transition: opacity @animation-speed;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
.slide-enter-active {
    transition: all @animation-speed ease;
}
.slide-leave-active {
    transition: all @animation-speed;
}
.slide-enter, .slide-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateY(100%);
}