@blur: blur(40px);
@light-blur: blur(8px);
@heavy-blur: blur(220px);

.blur {
  backdrop-filter: @blur;
}
.blur-less {
  backdrop-filter: @light-blur;
}
.blur-more {
  backdrop-filter: @heavy-blur;
}

.blur-image {
  filter: @blur;
}
