@import url('~/assets/styles/framework/layout.less');
@import url('~/assets/styles/framework/colors.less');
@import url('~/assets/styles/framework/blurs.less');
@import url('~/assets/styles/framework/glows.less');
@import url('~/assets/styles/framework/breakpoints.less');
@import url('~/assets/styles/framework/typography.less');
@import url('~/assets/styles/framework/ui.less');
@import url('~/assets/styles/framework/animations.less');

@background-layer-zindex: -1;
@base-layer-zindex: 0;
@first-layer-zindex: 10;
@second-layer-zindex: 20;
@third-layer-zindex: 30;
@fourth-layer-zindex: 40;
@fifth-layer-zindex: 50;
@viewport-width: 100vw;

#__nuxt,
#__layout,
#app-wrap,
#app {
  height: 100%;
}

.background-layer {
  z-index: @background-layer-zindex;
}
.base-layer {
  z-index: @base-layer-zindex;
}
.first-layer {
  z-index: @first-layer-zindex;
}
.second-layer {
  z-index: @second-layer-zindex;
}
.third-layer {
  z-index: @third-layer-zindex;
}
.fourth-layer {
  z-index: @fourth-layer-zindex;
}
.fifth-layer {
  z-index: @fifth-layer-zindex;
}
