@import url('~/assets/styles/framework/layout.less');
@import url('~/assets/styles/framework/colors.less');
@import url('~/assets/styles/framework/blurs.less');
@import url('~/assets/styles/framework/glows.less');
@import url('~/assets/styles/framework/breakpoints.less');
@import url('~/assets/styles/framework/typography.less');
@import url('~/assets/styles/framework/ui.less');
@import url('~/assets/styles/framework/animations.less');

@base-z-index: 1;
@viewport-width: 100vw;

@import url('@creativebulma/bulma-tooltip/dist/bulma-tooltip.min.css');
@import url('~/assets/styles/thirdparty/scrollbar.less');

#__nuxt,
#__layout,
#app-wrap,
#app {
  height: 100%;
}
