@primary-glow: 0 5px 14px -5px @primary-color;
@flair-glow: 0 5px 14px -5px @flair-color;
@white-glow: 0 5px 14px -5px @white;
@danger-glow: 0 5px 14px -5px @red;

@white-text-glow: drop-shadow(0px 5px 8px rgba(255, 255, 255, 0.5));
@primary-text-glow: drop-shadow(0px 5px 8px rgba(39, 97, 253, 0.5));

@ui-shadow: 0 10px 20px 0 #080b0f3b;

.glow-flair {
  box-shadow: @flair-glow;
}
.glow-primary {
  box-shadow: @primary-glow;
}
.glow-white {
  box-shadow: @white-glow;
}
.glow-danger {
  box-shadow: @danger-glow;
}
.filter-glow {
  filter: @white-text-glow;
}
.filter-glow-accent {
  filter: @primary-text-glow;
}
