@flair-glow: 0 5px 14px -5px @flair-color;
@switch-off-flair-glow: -5px 0px 20px -2px @flair-color;
@flair-glow-secondary: 0 5px 14px -5px @flair-color-secondary;
@switch-off-flair-glow-secondary: -5px 0px 20px -2px @flair-color-secondary;

@white-glow: 0 5px 14px -5px @white;
@danger-glow: 0 5px 14px -5px @red;

@white-text-glow: drop-shadow(0px 5px 8px rgba(255, 255, 255, 0.5));
@flair-text-glow: drop-shadow(0px 5px 8px rgba(var(--flair-color), 0.5));

@ui-shadow: 0 10px 20px 0 #080b0f3b;

.glow-flair {
  box-shadow: @flair-glow;
}
.glow-flair-secondary {
  box-shadow: @flair-glow-secondary;
}
.glow-white {
  box-shadow: @white-glow;
}
.glow-danger {
  box-shadow: @danger-glow;
}
.filter-glow-flair {
  filter: @flair-text-glow;
}
.filter-glow {
  filter: @white-text-glow;
}
.switch-off-glow-flair {
  box-shadow: @switch-off-flair-glow;
}
.switch-off-glow-flair-secondary {
  box-shadow: @switch-off-flair-glow-secondary;
}
