//------------- layout -------------

@half: 50%;
@full: 100%;

.full-width { width: @full }
.half-width { width: @half }

.inline-flex-centered {
  display: inline-flex;
  justify-items: center;
  align-items: center;
}
