@primary-font: 'SpaceMono', monospace;
@secondary-font: 'Poppins';
@title-text: 10pt;
@text-size: 10pt;
@mini-text-size: 9pt;
@micro-text-size: 8pt;

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
