@primary-font: 'SpaceMono', monospace;
@secondary-font: 'Poppins';
@title-text: 11pt;
@text-size: 10pt;
@mini-text-size: 9pt;
@micro-text-size: 8pt;

@font-size-xs: 0.75rem;
@font-size-sm: 0.875rem;
@font-size-md: 1rem;
@font-size-lg: 1.125rem;
@font-size-xl: 1.25rem;
@font-size-2xl: 1.5rem;

.font-size-xs {
  font-size: @font-size-xs;
}

.font-size-sm {
  font-size: @font-size-sm;
}

.font-size-md {
  font-size: @font-size-md;
}

.font-size-lg {
  font-size: @font-size-lg;
}

.font-size-xl {
  font-size: @font-size-xl;
}

.font-size-2xl {
  font-size: @font-size-2xl;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.multiline-ellipsis(@lines: 2) {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: @lines;
  -webkit-box-orient: vertical;
}
