@primary-font: 'SpaceMono', monospace;
@secondary-font: 'Poppins';
@title-text: 11pt;
@text-size: 10pt;
@mini-text-size: 9pt;
@micro-text-size: 8pt;

@heading-font: 'SpaceMono', monospace;
@body-font: 'Poppins';

@font-size-xs: 0.75rem;
@font-size-sm: 0.875rem;
@font-size-md: 1rem;
@font-size-lg: 1.125rem;
@font-size-xl: 1.25rem;
@font-size-2xl: 1.5rem;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

.uppercase {
  text-transform: uppercase;
}

.font {
  // font families
  &-heading {
    font-family: @heading-font;
  }
  &-body {
    font-family: @body-font;
  }

  // sizes
  &-size-xs {
    font-size: @font-size-xs;
  }
  &-size-sm {
    font-size: @font-size-sm;
  }
  &-size-md {
    font-size: @font-size-md;
  }
  &-size-lg {
    font-size: @font-size-lg;
  }
  &-size-xl {
    font-size: @font-size-xl;
  }
  &-size-2xl {
    font-size: @font-size-2xl;
  }

  // colors
  &-color-body {
    color: @body;
  }
  &-color-light {
    color: @light;
  }
  &-color-dark {
    color: @dark;
  }
  &-color-flair {
    color: @flair-color;
  }
  &-color-error {
    color: @red;
  }
  &-color-white {
    color: @white;
  }
}

.font-weight {
  &-normal {
    font-weight: 400;
  }
  &-medium {
    font-weight: 500;
  }
  &-bold {
    font-weight: 600;
  }
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.multiline-ellipsis(@lines: 2) {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: @lines;
  -webkit-box-orient: vertical;
}
