// Navigation
@sidebar-size: 18.5rem;
@sidebar-size-mobile: 100vw;
@servers-size: 60px;
@toolbar-height: 75px;
@chatbar-size: 78px;
@mobile-nav-size: 4.5rem;
@slimbar-size: 60px;
@chatbar-input-height: 48px;
@background-call-height: 36px;

// Popups
@enhancers-height: 30rem;
@enhancers-width: 34rem;

// Modals
@normal-modal-size: 500px;

// Icons
@icon-size: 14pt;
@tiny-icon-size: 11pt;
@small-icon-size: 12pt;
@larger-icon-size: 16pt;
@xl-icon-size: 22pt;

// Corners
@corner-rounding-xxlarge: 24px;
@corner-rounding: 4px;
@corner-rounding-smaller: 2px;

.round-corners {
  border-radius: @corner-rounding;
}

// Spacing
@xlight-spacing: 0.25rem;
@light-spacing: 0.5rem;
@normal-spacing: 1rem;
@large-spacing: 1.5rem;
@xlarge-spacing: 2rem;

.more-pad-sides {
  padding: @light-spacing @normal-spacing;
}

.light-padding {
  padding: @light-spacing;
}

// Scrollbar
@scroll-bar: 5px;

// Borders
@light-border: 1px solid rgba(105, 128, 167, 0.05);

.bordered {
  border: @light-border;
}

@mini-light-border: 1px solid rgba(199, 206, 246, 0.25);

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// hide from view, but not from screenreaders https://www.a11yproject.com/posts/how-to-hide-content/
.hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}
