<div
  class="group-icon"
  :class="{unread : members.length > 3 }"
  :style="`width:${size}px; height:${size}px`"
>
  <div :class="groupClass">
    <div v-for="(member, i) in members.slice(0, 3)" :class="`group-el-${i}`">
      <UiCircle
        :type="getSource(member) ? 'image' : 'random'"
        :source="getSource(member)"
        :size="groupClass == 'multi' ? (i === 2 ? 10 : i == 1 ? 20 : 30) : groupIconSize"
        :seed="member.id"
      />
    </div>
  </div>
  <span v-if="members.length > 3" class="label">
    {{group.members.length}}
  </span>
</div>
