.group-icon {
  .circle {
    &:extend(.bordered);
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: @half;
  }

  .group {
    width: 40px;
    height: 40px;
    position: relative;

    &.multi {
      & > div {
        position: absolute;
      }

      .group-el-0 {
        right: 0;
        top: 0;
      }

      .group-el-1 {
        left: 0px;
        bottom: 5px;
        width: 20px;
        height: 20px;
      }

      .group-el-2 {
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
      }
    }

    &.double {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      & > div {
        position: absolute;
      }

      .group-el-0 {
        top: 5px;
        left: 0;
      }

      .group-el-1 {
        bottom: 5px;
        right: 0;
      }
    }

    &.single {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &.unread {
    position: relative;

    .label {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: @micro-text-size;
      border-radius: 16px;
      line-height: 1.2;
      padding: 0.1rem 0.27rem;
      text-align: center;
      &:extend(.font-primary);
      font-family: @primary-font;
    }
  }
  width: 40px;
  height: 40px;
}
