<div class="market-place">
    <div class="side-bar">
        <TailoredMarketplaceSidebar :categories="marketCategories" />
    </div>
    <div class="body-panel">
        <div class="top-bar">
            <div class="search">
                <TailoredMarketplaceSearchbox />
            </div>
            <div class="filter">
                <TailoredMarketplaceFilterbox />
            </div>
            <div class="action">
                <InteractablesClose :action="closeModal" />
            </div>
        </div>
        <div class="buttons-bar">
            <TailoredMarketplaceButtongroup>
                <InteractablesButton
                    text="Glyphs"
                    size="small"
                    type="dark"
                    :icon="{ style: 'far', name: 'grin-tongue-wink' }"
                    :action="() => {}"
                />
                <InteractablesButton
                    text="Themes"
                    size="small"
                    type="primary"
                    :icon="{ style: 'far', name: 'palette' }"
                    :action="() => {}"
                />
                <InteractablesButton
                    text="NFTs"
                    size="small"
                    type="dark"
                    :icon="{ style: 'far', name: 'cubes' }"
                    :action="() => {}"
                />
            </TailoredMarketplaceButtongroup>
        </div>
        <div class="listing-panel">
            <UiScroll verticalScroll scrollbarVisibility="scroll" enableWrap noPadding>
                <TailoredMarketplaceListing/>
            </UiScroll>
        </div>
    </div>
</div>
