<div class="market-place">
    <div class="side-bar">
        <TailoredMarketPlaceSideBar :categories="marketCategories" />
    </div>
    <div class="body-panel">
        <div class="top-bar">
            <div class="search">
                <TailoredMarketPlaceSearchBox />
            </div>
            <div class="filter">
                <TailoredMarketPlaceFilterBox />
            </div>
            <div class="action">
                <InteractablesClose :action="closeModal" />
            </div>
        </div>
        <div class="buttons-bar">
            <TailoredMarketPlaceButtonGroup>
                <button>Skins</button><button>Glyphs</button><button>Themes</button>
            </TailoredMarketPlaceButtonGroup>
        </div>
        <div class="listing">
            <TailoredMarketPlaceListing/>
        </div>
    </div>
</div>
