.market-place {
    display: flex;
    
    .side-bar {
        min-width: 312px;
        background-color: #16161D;
    }
    .body-panel {
        min-width: 784px;
        background-color: #101017;
    }
}