.market-place {
    display: flex;
    height: 100%;
    max-height: 100%;
    overflow: hidden;

    .listing-panel {
        max-height: 480px;
        height: 480px;
        margin-bottom: -@normal-spacing;
    }
    
    .side-bar {
        width: 312px;
        background-color: @darker;
    }
    .body-panel {
        width: 784px;
        background-color: @dark-gray-alt;
        padding: 32px;

        .top-bar {
            display: flex;
            align-items: center;
            .search {
                flex-grow: 1;
                margin-right: 32px;
            }
            .filter {
                flex-shrink: 0;
                margin-right: 32px;
            }
            .action {
                flex-shrink: 0;
                .close-button {
                    position: static !important;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 32px;
                    height: 32px;
                    left: 0px;
                    top: 0px;
                }
            }
        }

        .buttons-bar {
            margin: 24px 0px;
            display: flex;
            justify-content: center;
        }
    }
}