<div id="accounts-settings">
  <div class="columns is-desktop">
    <div class="column">
      <TypographyTitle :size="6" :text="$t('pages.settings.accounts.title')" />
      <TypographySubtitle
        :size="6"
        :text="$t('pages.settings.accounts.subtitle')"
      />
    </div>
  </div>

  <div class="columns is-desktop">
    <div class="column">
      <TypographyLabel :text="$t('pages.settings.accounts.active')" />
      <InteractablesInputGroup
        readonly
        type="primary"
        :action="copyAddress"
        :text="accounts.active"
      >
        <clipboard-icon size="1x" />
      </InteractablesInputGroup>
    </div>
  </div>

  <!-- <div class="columns is-desktop">
    <div class="column">
      <TypographyLabel :text="$t('pages.settings.accounts.gas_price')" />
      <InteractablesInput readonly type="primary" :text="accounts.gasPrice" />
    </div>
  </div> -->

  <UiSpacer :height="20" />

  <div class="columns is-desktop">
    <div class="column">
      <TypographyTitle
        :size="6"
        :text="$t('pages.settings.accounts.devices')"
      />
      <TypographySubtitle
        :size="6"
        :text="$t('pages.settings.accounts.no_devices')"
      />
    </div>
  </div>

  <UiSpacer :height="20" />

  <div class="columns is-desktop">
    <div class="column">
      <TypographyTitle
        :size="6"
        :text="$t('pages.settings.profile.phrase.title')"
      />
      <TypographySubtitle
        :size="6"
        :text="$t('pages.settings.profile.phrase.subtitle')"
      />
      <div class="button-container">
        <InteractablesButton
          :text="showPhrase ? $t('pages.settings.accounts.hide_phrase') : $t('pages.settings.accounts.reveal_phrase')"
          size="normal"
          type="primary"
          :action="togglePhrase"
        />
        <InteractablesButton
          :text="$t('pages.settings.accounts.copy_phrase')"
          size="normal"
          type="primary"
          :action="copyPhrase"
        />
      </div>
      <div v-if="showPhrase" class="tag-wrap">
        <TypographyNumberedWord
          v-for="word, i in splitPhrase"
          :key="i"
          :word="word"
          :number="i + 1"
        />
      </div>
    </div>
  </div>
</div>
