.button-container {
  display: flex;
  gap: @normal-spacing;
  .styled-button {
    min-width: 135px;
  }
}

.tag-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: @normal-spacing;
  gap: @light-spacing;
}
