.button-container {
  display: flex;
  gap: @normal-spacing;
  button {
    min-width: 135px; //avoid layout shift when text changes
  }
}

.tag-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: @normal-spacing;
  gap: @light-spacing;
}
