<SettingsPage>
  <SettingsUnit>
    <TypographyText as="h2">
      {{ $t('pages.settings.accounts.title') }}
    </TypographyText>
    <TypographyText color="dark">
      {{ $t('pages.settings.accounts.subtitle') }}
    </TypographyText>
  </SettingsUnit>

  <SettingsUnit>
    <TypographyLabel :text="$t('pages.settings.accounts.active')" />
    <InteractablesInput readonly :text="getId" @submit="copyAddress(getId)">
      <clipboard-icon size="1x" />
    </InteractablesInput>
  </SettingsUnit>
  <SettingsUnit>
    <TypographyLabel :text="$t('pages.settings.accounts.active_did')" />
    <InteractablesInput
      readonly
      :text="accounts.active"
      @submit="copyAddress(accounts.active)"
    >
      <clipboard-icon size="1x" />
    </InteractablesInput>
  </SettingsUnit>
  <!-- <SettingsSection>
    <SettingsUnit>
      <TypographyLabel :text="$t('pages.settings.accounts.gas_price')" />
      <InteractablesInput readonly type="primary" :text="accounts.gasPrice" />
    </SettingsUnit>
  </SettingsSection> -->

  <SettingsUnit>
    <TypographyText as="h3">
      {{ $t('pages.settings.accounts.devices') }}
    </TypographyText>
    <TypographyText color="dark">
      {{ $t('pages.settings.accounts.no_devices') }}
    </TypographyText>
  </SettingsUnit>

  <SettingsUnit>
    <TypographyText as="h3">
      {{ $t('pages.settings.profile.phrase.title') }}
    </TypographyText>
    <TypographyText color="dark" style="margin-bottom: 1rem">
      {{ $t('pages.settings.profile.phrase.subtitle') }}
    </TypographyText>
    <div class="button-container">
      <InteractablesButton
        :text="showPhrase ? $t('pages.settings.accounts.hide_phrase') : $t('pages.settings.accounts.reveal_phrase')"
        @click="togglePhrase"
      />
      <InteractablesButton
        :text="$t('pages.settings.accounts.copy_phrase')"
        @click="copyPhrase"
      />
    </div>
    <div v-if="showPhrase" class="tag-wrap">
      <TypographyNumberedWord
        v-for="word, i in splitPhrase"
        :key="i"
        :word="word"
        :number="i + 1"
      />
    </div>
  </SettingsUnit>
</SettingsPage>
