#glyphs-nav {
    background: @semitransparent-dark-gradient;
    padding: @light-spacing;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .account-list {
        display: flex;
        align-items: center;
        .timer {
            margin-right: @light-spacing;
            background: @semitransparent-light-gradient;
            padding: @xlight-spacing @light-spacing;
        }
    }
    .pack-list {
        border-left: @mini-light-border;
        border-right: @mini-light-border;
        padding: 0 @light-spacing;
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
    .glyph-item, .circle {
        margin-right: @light-spacing;
    }
    .market-place {
        padding: 0 @light-spacing;
    }
}