#app-wrap {
  #app.mobile-app {
    height: calc(100vh - @mobile-nav-size);
    transition: height @animation-speed;
  }
  #mobile-nav {
    transition: bottom @animation-speed;
  }

  &.is-collapsed {
    #app.mobile-app {
      height: 100vh;
    }
    #mobile-nav {
      bottom: -@mobile-nav-size;
    }
  }

  .media-open {
    padding-top: 16rem;
  }
}

#app {
  display: flex;
  user-select: none;
  height: 100vh;
  .dynamic-content {
    position: relative;
    user-select: text;
    display: flex;
    flex-direction: column;
    position: relative;

    .file-preview {
      transition: @transition-all;
    }

    #statusbar {
      max-height: @statusbar-height;
    }

    #chat {
      width: 100%;
      flex: 1;
      transition: flex 0.3s;
      overflow-x: hidden;
    }

    #chatbar {
      height: @chatbar-size;
      width: 100%;
      min-width: 0;
      justify-content: flex-end;
      transition: height 0.3s;

      &.has-reply {
        .chatbar-wrap {
          margin-top: 0;
          border-top: 0;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-bottom-left-radius: @corner-rounding;
          border-bottom-right-radius: @corner-rounding;
        }
      }
    }

    #mediastream {
      transition: flex 0.3s;
    }
    &.fullscreen-media {
      #chat {
        height: 0;
        flex: 0;
      }
      #chatbar {
        height: 0;
        margin-top: 0;
      }
      .scroll-area {
        height: 0;
      }
      #mediastream {
        height: calc(100% - @statusbar-height - @light-spacing);
      }
    }
  }

  #sidebar,
  #servers-vertical-list,
  .dynamic-content,
  #sidebar .toggle-sidebar,
  #statusbar {
    transition: @transition-all;
  }

  &.is-collapsed {
    .file-preview {
      width: calc(100% - 2rem) !important;
    }
    #sidebar,
    #servers-vertical-list {
      transform: translateX(calc(-@sidebar-size + -@servers-size));
    }
    .dynamic-content {
      margin-left: calc(-@sidebar-size + -@servers-size);
    }
    #sidebar .toggle-sidebar {
      right: -2rem;
      z-index: @base-z-index + 1;
      top: 1.8rem;
    }
    #statusbar {
      padding-left: 3rem;
    }
  }

  &.is-collapsed-aside {
    #aside {
      transform: translateX(calc(@sidebar-size));
    }
    .dynamic-content {
      margin-right: -250px;
    }

    &.group {
      #statusbar {
        padding-right: 3rem;
      }
    }

    &.direct {
      .info-toggle {
        visibility: hidden !important;
      }
    }
  }
}

&.is-open-aside {
  .info-toggle {
    visibility: hidden !important;
  }
}
