@sidebar-size: 250px;
@servers-size: 60px;

#app-wrap {
  #app.mobile-app {
    height: calc(100vh - @mobile-nav-size);
    transition: height @animation-speed;
  }
  #mobile-nav {
    transition: bottom @animation-speed;
  }

  &.is-collapsed {
    #app.mobile-app {
      height: 100vh;
    }
    #mobile-nav {
      bottom: -@mobile-nav-size;
    }
  }
}

#app {
  display: flex;
  background-color: @darker;
  user-select: none;
  height: 100vh;

  .dynamic-content {
    background-color: @darker;
    user-select: text;
    display: flex;
    flex-direction: column;

    .file-preview {
      transition: @transition-all;
    }

    #statusbar {
      max-height: @statusbar-height;
    }

    #chat {
      width: 100%;
      flex: 1;
      overflow-y: scroll;
      position: relative;
    }

    #chatbar {
      height: @chatbar-size;
      width: 100%;
      min-width: 0;
      justify-content: flex-end;
    }
  }

  #sidebar, #servers-vertical-list, .dynamic-content, #sidebar .toggle-sidebar, #statusbar {
    transition: @transition-all;
  }

  &.is-collapsed {
    .file-preview {
      width: calc(100% - 2rem) !important;
    }
    #sidebar, #servers-vertical-list {
      transform: translateX(calc(-@sidebar-size + -@servers-size));
    }
    .dynamic-content {
      margin-left: calc(-@sidebar-size + -@servers-size);
    }
    #sidebar .toggle-sidebar {
      right: -2rem;
      z-index: 1;
    }
    #statusbar {
      padding-left: 3rem;
    }
  }
}