<div id="app-wrap"
  :class="`${sidebar ? 'is-open' : 'is-collapsed'} ${this.asidebar && this.selectedGroup ? 'is-open-aside' : 'is-collapsed-aside'} ${this.selectedGroup ? 'active-group' : null}`">
  <div id="app"
    :class="`${sidebar ? 'is-open' : 'is-collapsed'} ${this.asidebar && this.selectedGroup ? 'is-open-aside' : 'is-collapsed-aside'} ${this.selectedGroup ? 'group' : 'direct'} ${$device.isMobile ? 'mobile-app' : ''}`"
    v-touch:swipe="sidebarSwipeHandler(this)" v-touch-options="{ swipeTolerance: 75 }">
    <UiGlobal />

    <TailoredCoreServersList :servers="$mock.servers" :unreads="$mock.unreads" :openModal="toggleModal" />
    <TailoredCoreSidebar :toggle="() => $data.sidebar = !$data.sidebar" :users="friends.all" :groups="$mock.groups" />
    <div :class="`dynamic-content ${ui.fullscreen ? 'fullscreen-media' : ''}`">
      <TailoredCoreStatusbar id="statusbar" :user="$mock.users[0]" />
      <TailoredCoreMedia v-if="$device.isMobile" :fullscreen="ui.fullscreen" :users="$mock.callUsers" :maxViewableUsers="10"
        :fullscreenMaxViewableUsers="6" />
      <TailoredCoreMedia  v-else :fullscreen="ui.fullscreen" :users="$mock.callUsers" :maxViewableUsers="10"
        :fullscreenMaxViewableUsers="20" />
      <UiChatScroll :contents="ui.messages" :preventScrollOffset="500" :class="media.activeCall ? 'media-open' : ''" enableWrap>
        <Nuxt />
      </UiChatScroll>
      <TailoredMessagingEnhancers />
      <TailoredCommandsPreview :message="ui.chatbarContent" />
      <TailoredCoreChatbarReply />
      <TailoredCoreChatbar />
    </div>
    <TailoredCoreGroupAside :toggle="() => $data.asidebar = !$data.asidebar"
      :selectedGroup="$mock.groups.find(group => group.address === this.selectedGroup)" :friends="$mock.friends" />
  </div>
  <TailoredCoreMobileNav v-if="$device.isMobile" />
</div>