<div id="app" 
  :class="`${sidebar ? 'is-open' : 'is-collapsed'}`" 
  v-touch:swipe="sidebarSwipeHandler(this)"
  v-touch-options="{ swipeTolerance: 75 }"
  >
  <InteractablesContextMenu v-if="this.$store.state.ui.contextMenuStatus"/>
  <TailoredCoreServersList :servers="$mock.servers" :unreads="$mock.unreads" />
  <TailoredCoreSidebar :toggle="() => $data.sidebar = !$data.sidebar" :users="$mock.users"/>
  <div class="dynamic-content">
    <TailoredCoreStatusbar
      id="statusbar"
      :user="$mock.users[0]"/>
    <Nuxt id="chat" ref="chat" />
    <TailoredCoreChatbar />
  </div>
</div>