<div v-if="call" class="user">
  <video
    v-if="videoStream"
    :id="`${isLocal ? 'local' : 'remote'}-video-${user.did}`"
    class="video-stream"
    data-cy="video-stream"
    :src-object.prop="videoStream"
    playsinline
    autoplay
  />

  <div
    v-else
    class="voice-user"
    :class="{calling: audioStream, loading: isPending && !isLocal}"
  >
    <TypographyTag :title="user.name" class="ellipsis tag" inverted>
      {{user.name}}
    </TypographyTag>
    <UiLoadersScaleLoader v-if="isPending && !isLocal" class="loader" />
    <UiCircle
      v-else
      :type="src ? 'image' : 'random'"
      :seed="user.did"
      :size="$device.isMobile ? 36 : 65"
      data-cy="media-user-circle"
      :source="src"
      color="transparent"
    />
  </div>

  <video
    v-if="screenStream"
    :id="`${isLocal ? 'local' : 'remote'}-screen-${user.did}`"
    class="video-stream"
    data-cy="screen-stream"
    :src-object.prop="screenStream"
    playsinline
    autoplay
  />

  <div class="indicators" v-if="!isPending || isLocal">
    <div class="indicator" data-cy="muted-indicator" v-if="!audioStream">
      <mic-off-icon />
    </div>
  </div>

  <audio
    v-if="!isLocal && !audio.deafened && audioStream"
    :id="`audio-stream-${audioStream.id}`"
    :class="`${isLocal ? 'local' : 'remote'}-audio-stream`"
    :src-object.prop="audioStream"
    autoplay
  />
</div>
