<div v-if="call" class="user" :class="{'user-talking': isTalking}">
  <div v-if="screenStream" class="video-stream-container">
    <video
      class="video-stream screen-stream"
      data-cy="screen-stream"
      :src-object.prop="screenStream"
      playsinline
      :id="`${isLocal ? 'local' : 'remote'}-screen-${user.address}`"
    ></video>
  </div>

  <div v-else-if="videoStream" class="video-stream-container">
    <video
      class="video-stream"
      data-cy="video-stream"
      :src-object.prop="videoStream"
      playsinline
      :id="`${isLocal ? 'local' : 'remote'}-video-${user.address}`"
    ></video>
  </div>

  <div class="media-user" :class="{pending: isPending}" v-else-if="user">
    <UiCircle
      :type="src ? 'image' : 'random'"
      :seed="user.did"
      :size="$device.isMobile ? 36 : 65"
      data-cy="media-user-circle"
      :class="{calling: audioStream}"
      :source="src"
      color="transparent"
    />
    <UiLoadersScaleLoader v-if="isPending" class="media-user-loader" />
    <TypographyTag :text="user.name" :title="user.name" inverted />
  </div>

  <div
    v-if="!isLocal && !audio.deafened && audioStream"
    class="audio-stream-container"
  >
    <audio
      :id="`audio-stream-${audioStream.id}`"
      :class="`${isLocal ? 'local' : 'remote'}-audio-stream`"
      :src-object.prop="audioStream"
      autoplay
    />
  </div>

  <div class="indicators">
    <div class="indicator" data-cy="muted-indicator" v-if="muted.audio">
      <mic-off-icon />
    </div>
  </div>
</div>
