.user {
  position: relative;
}

.video-stream-container {
  height: 100%;
  width: 100%;
  background: @semitransparent-light-gradient;
  border: 1px solid @foreground;
  border-radius: @corner-rounding;
  .video-stream {
    width: 100%;
    height: 100%;
    border-radius: @corner-rounding;
    object-fit: cover;
    box-shadow: none;
    &.flip {
      transform: scaleX(-1);
    }
  }
}

.indicators {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  padding: @light-spacing;
  gap: @light-spacing;

  .indicator {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: @indicator-size;
    height: @indicator-size;
    opacity: 0.5;
    border-radius: 100%;
    background-color: @foreground-alt;
    box-shadow: -2px 2px 30px rgba(18, 18, 22, 0.45),
      0px 1px 2px rgba(43, 43, 59, 0.65);

    svg {
      color: @white;
      width: 16px;
      height: 16px;
    }
  }
}

.media-user {
  .circle {
    position: absolute;
    top: calc(@half - 38.5px);
    left: calc(@half - 32.5px);
  }

  .calling {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
  }
  .tag {
    &:extend(.ellipsis);
    &:extend(.background-semitransparent-dark);
    &:extend(.font-primary);
    font-family: @primary-font;

    display: inline-block;
    line-height: 2em;
    max-width: calc(100% - @indicator-size - @light-spacing);
  }
  width: 100%;
  height: 100%;
  &:extend(.round-corners);
  display: inline-block;
  padding: @light-spacing;
  position: relative;
}

@media only screen and (max-width: @mobile-breakpoint) {
  .user {
    min-width: 160px;
    min-height: 90px;
    .circle,
    .tag,
    .talking {
      top: calc(@half - 5px);
      left: calc(@half - 17.5px);
    }
  }
}
