.file {
  display: flex;
  flex-direction: column;
  min-height: 234px;
  border-radius: @corner-rounding-smaller;
  &:extend(.background-semitransparent-light);

  &.clickable {
    cursor: pointer;
  }

  .quick-actions {
    width: @full;
    padding: @normal-spacing;
    position: absolute;
    z-index: @base-z-index + 1;

    .like {
      float: right;
    }

    svg:hover {
      &:extend(.font-secondary);
    }
  }

  &.disabled {
    cursor: not-allowed;

    .quick-actions {
      display: none;
    }
  }
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding-top: 36px; // half of the text area height. this centers

    .file-type-icon {
      &:extend(.font-accent);
    }
  }

  .image-preview {
    height: 162px;
    object-fit: cover;
    filter: brightness(0.75);
  }

  .text-container {
    padding: @normal-spacing;

    .maintext {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .subtext {
      &:extend(.font-muted);
    }
  }
}
