.file {
  .quick-actions {
    position: absolute;
    top: 0;
    &:extend(.full-width);
    display: inline-block;
    &:extend(.more-pad-sides);

    .like {
      float: right;
    }

    svg:hover {
      &:extend(.font-secondary);
      cursor: pointer;
    }
  }

  .file-icon {
    font-size: 80px;
    margin-top: 50px;
    margin-left: 45px;
    &:extend(.font-accent);
  }

  .image-preview {
    margin-top: -(@normal-spacing * 2);
    height: 112px;
    background-size: cover;
  }

  .file-display {
    margin-left: 55px;
  }

  .text-container {
    padding: @normal-spacing;

    .subtext {
      &:extend(.font-muted);
    }
  }
  width: 20%;
  min-width: 160px;
  margin-right: @light-spacing;
  margin-bottom: @light-spacing;
  border-radius: @corner-rounding-smaller;
  &:extend(.background-semitransparent-light);
  float: left;
  display: inline-flex;
  flex-direction: column;
  align-content: center;
  padding-top: @normal-spacing * 2;
  overflow: hidden;
}

@media only screen and (max-width: @mobile-breakpoint) {
  .mobile-file {
    width: 47%;
    min-width: 100px;
    .file-icon {
      margin-left: 10vw;
    }
  }
}
