<div class="file" @click="fileClick">
  <div class="quick-actions">
    <link-icon
      size="1.25x"
      class="share"
      v-if="item.meta && item.meta.shared"
      @mouseover="mouseOver"
      @mouseleave="mouseLeave"
    />
    <heart-icon
      size="1.25x"
      class="like"
      v-if="item.meta && item.meta.liked"
      @mouseover="mouseOver"
      @mouseleave="mouseLeave"
    />
  </div>
  <div
    v-if="isImage(item.type)"
    class="image-preview"
    :style="`background-image: url('${item.location}')`"
  />
  <div v-else class="icon-container">
    <folder-icon v-if="item.children" size="4x" class="file-type-icon" />
    <!-- todo - condition for zip image after confirming how type data will come through - AP-641 -->
    <file-icon v-else size="4x" class="file-type-icon" />
  </div>
  <div class="text-container">
    <TypographyText :size="6" :text="item.name" />
    <TypographyText :size="6" :text="getSubtext" class="subtext" />
  </div>
</div>
