<div
  class="file"
  @click="fileClick"
  @mouseover="fileHover=true"
  @mouseleave="fileHover=false"
>
  <div class="quick-actions">
    <link-icon
      v-if="item.shared"
      size="1.25x"
      class="link"
      @mouseover="linkHover=true"
      @mouseleave="linkHover=false"
    />
    <heart-icon
      v-if="item.liked || fileHover"
      size="1.25x"
      class="like"
      @mouseover="heartHover=true"
      @mouseleave="heartHover=false"
    />
  </div>
  <div
    v-if="isImage(item.type)"
    class="image-preview"
    :style="`background-image: url('${item.location}')`"
  />
  <div v-else class="icon-container">
    <folder-icon v-if="item.content" size="4x" class="file-type-icon" />
    <!-- todo - condition for zip image after confirming how type data will come through - AP-641 -->
    <file-icon v-else size="4x" class="file-type-icon" />
  </div>
  <div class="text-container">
    <TypographyText :size="6" :text="item.name" class="maintext" />
    <TypographyText :size="6" :text="getSubtext" class="subtext" />
  </div>
</div>
