<div id="wallet-mini-send">
  <UiSpacer :height="25" />
  <div class="flex-row centered">
    <TypographyTitle :size="2" text="$0" />
  </div>
  <UiSpacer :height="45" />
  <div class="flex-row">
    <InteractablesInputGroup
      class="input-container"
      type="primary"
      size="small"
      :placeholder="$t('friends.search_placeholder')"
      :action="searchFriend"
      v-model="accountID"
      :isLoading="searching"
    >
      <check-circle-2-icon size="1x" />
    </InteractablesInputGroup>
    <InteractablesSelect
      :options="[{ text: 'USD', value: 'usd' }]"
      v-model="paymentOption"
      size="small"
      class="form-control"
    />
  </div>
  <div id="send-payment">
    <InteractablesButton
      type="primary"
      size="small"
      :text="$t('wallet.mini_wallet.send_money')"
      :action="updateMethod('send')"
    >
      <send-icon size="1x" />
    </InteractablesButton>
    <InteractablesButton
      type="primary"
      size="small"
      :text="$t('wallet.mini_wallet.request_money')"
      :action="updateMethod('request')"
    >
      <redo-icon size="1x" />
    </InteractablesButton>
  </div>
  <TypographyHorizontalRuleText
    plaintext
    :value="$t('wallet.mini_wallet.details')"
  />
  <div class="details">
    <TypographyText
      :size="6"
      :text="$t('wallet.mini_wallet.to') + '0x0000000...'"
    />
    <TypographyText
      :size="6"
      :text="$t('wallet.mini_wallet.from') + '0x0000000...'"
    />
    <TypographyText
      :size="6"
      :text="$t('wallet.mini_wallet.amount') + '0.00'"
    />
    <TypographyText
      :size="6"
      :text="$t('wallet.mini_wallet.currency') + 'USDC'"
    />
    <br />
    <TypographyText
      :size="6"
      :text="$t('wallet.mini_wallet.txid') + 'AU28CC012ECX0Z'"
    />
  </div>
</div>
