<div
  class="typeahead-container"
  data-cy="add-passphrase"
  v-click-outside="lostFocus"
>
  <div
    class="search-box"
    :class="{'right-icon': clearIcon && searchText.length > 0}"
  >
    <input
      v-model="searchText"
      :class="`input is-${size} is-${type}`"
      :placeholder="placeholder"
      @mousedown="setFocus"
      @input="update"
      @keyup.enter="onEnterPressed"
      @keyup.esc="lostFocus"
      @keydown.up="onUpBrowseItem"
      @keydown.down="onDownBrowseItem"
    />
    <button
      v-if="clearIcon && searchText.length > 0"
      class="search-clear"
      @click="clearSearch"
    >
      <delete-icon size="1x" />
    </button>
  </div>
  <div v-if="isFocus && searchResults.length" class="search-options">
    <ul class="search-option-group">
      <li
        v-for="(item, i) in searchResults"
        :class="{'active': i === browseIndex}"
        @click="onItemClicked(item, i)"
        @mousemove="onItemHighlighted(i)"
        @focus="onItemHighlighted(i)"
      >
        {{ label ? item[label] : item}}
      </li>
    </ul>
  </div>
</div>
