.typeahead-container {
  position: relative;
  .search-options {
    position: absolute;
    left: 0;
    margin-top: @light-spacing * 1.5;
    &:extend(.bordered);

    &:extend(.first-layer);
    &:extend(.background-semitransparent-light);
    &:extend(.blur);
    &:extend(.full-width);
    &:extend(.round-corners);
    padding: @xlight-spacing / 2 0;
    .search-option-group {
      padding: @light-spacing 0;
      li {
        font-size: 16px;
        padding: 5px 10px;
        text-align: center;
        &:not(.active) {
          background: transparent !important;
          box-shadow: none !important;
        }
        &.active {
          &:extend(.background-primary);
          &:extend(.glow-primary);
          &:extend(.font-secondary);
          cursor: pointer;
          &:extend(.round-corners);
          span:last-child {
            &:extend(.font-secondary);
          }
        }
        span:last-child {
          &:extend(.font-muted);
        }
      }
    }
  }
}
