.typeahead-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  .input-outer {
    display: flex;
    align-items: stretch;
    flex-grow: 1;

    .search-box {
      position: relative;
      display: flex;
      flex-grow: 1;

      &.right-icon {
        .input {
          padding-right: 34px;
        }
      }

      .input {
        flex-grow: 1;
        padding: 0.5rem;
        box-shadow: none;
        background: @input-gradient 100% center;
        border: none;
        border-radius: @corner-rounding;
        border: 1px solid transparent;

        &:focus {
          background-image: @semitransparent-lightest-gradient;
        }

        ::placeholder {
          color: @body;
        }

        &[type='search']::-webkit-search-cancel-button {
          display: none;
        }
      }

      &:not(:last-child) .input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
      }

      .search-clear {
        &:extend(.font-primary);
        &:hover {
          background: @semitransparent-lightest-gradient;
        }
        position: absolute;
        font-size: @tiny-icon-size;
        top: 0;
        right: 0;
        width: 34px;
        height: @full;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        &:extend(.first-layer);
      }
    }
  }

  .search-options {
    position: absolute;
    left: 0;
    margin-top: @normal-spacing * 2.5;
    &:extend(.bordered);

    &:extend(.first-layer);
    &:extend(.background-semitransparent-light);
    &:extend(.blur);
    &:extend(.full-width);
    &:extend(.round-corners);
    .search-option-group {
      li {
        font-size: 16px;
        padding: 5px 10px;
        text-align: center;
        &:not(.active) {
          background: transparent !important;
          box-shadow: none !important;
        }
        &.active {
          &:extend(.font-secondary);
          cursor: pointer;
          &:extend(.round-corners);
          span:last-child {
            &:extend(.font-secondary);
          }
        }
        span:last-child {
          &:extend(.font-muted);
        }
      }
    }
  }
}
