<div id="files" class="hidden-scroll" v-scroll-lock="true">
  <FilesView
    v-if="file"
    :file="file"
    @close="file = false"
    @forceRender="forceRender"
  />
  <FilesAside v-if="$device.isMobile" class="mobile-file-aside" />
  <div class="files-top">
    <FilesFilepath />
  </div>
  <div class="files-container">
    <div class="files-left">
      <FilesControls :changeView="changeView" @forceRender="forceRender" />
      <UiLoadersSpinner v-if="textile.filesLoading" spinning />
      <TypographyText
        v-else-if="!directory.length"
        :text="$t('pages.files.empty')"
      />
      <FilesList
        v-else-if="view === 'list'"
        :directory="directory"
        :counter="counter"
        @handle="handle"
        @forceRender="forceRender"
      />
      <FilesGrid
        v-else
        :directory="directory"
        :counter="counter"
        @handle="handle"
        @forceRender="forceRender"
      />
    </div>
    <FilesAside v-if="!$device.isMobile" class="files-right" />
  </div>
</div>
