<div
  id="files"
  data-cy="files-screen"
  class="hidden-scroll"
  v-scroll-lock="true"
>
  <FilesAside v-if="$device.isMobile" class="mobile-file-aside" />
  <div class="files-top">
    <FilesFilepath />
  </div>
  <div class="files-container">
    <div class="files-left">
      <FilesControls
        ref="controls"
        :changeView="changeView"
        @addError="(e) => errors.push(e)"
        @clearErrors="errors=[]"
        @export="exportFileSystem"
      >
        <div class="error-container" v-if="errors.length">
          <alert-triangle-icon size="1.3x" />
          <div>
            <TypographyError
              v-for="error in errors"
              :key="error"
              :text="error"
            />
          </div>
          <x-icon size="1.3x" class="close" @click="errors=[]" />
        </div>
      </FilesControls>
      <UiLoadersGenericContent :count="3" v-if="!getInitialized" />
      <TypographyText
        v-else-if="!directory.length"
        :text="$t('pages.files.empty')"
      />
      <FilesList
        v-else-if="view === 'list'"
        :directory="directory"
        :counter="counter"
        :sort="sort"
        @like="like"
        @share="share"
        @remove="remove"
        @handle="handle"
        @setSort="setSort"
        @forceRender="forceRender"
      />
      <FilesGrid
        v-else
        :directory="directory"
        :counter="counter"
        @like="like"
        @share="share"
        @remove="remove"
        @handle="handle"
      />
    </div>
    <FilesAside v-if="!$device.isMobile" class="files-right" />
  </div>
</div>
