<div id="files">
  <notifications />
  <div class="files-top">
    <TailoredFilesFilepath :path="path" :pull="pull" :setPath="setPath" />
  </div>
  <div class="files-container">
    <div class="files-left">
      <InteractablesInput
        size="small"
        input-kind="text"
        type="dark"
        placeholder="Search..."
      />
      <UiSpacer :height="10" />
      <TailoredFilesControls :changeView="changeView" />
      <UiSpacer :height="10" />
      <TypographyText :size="6" text="Files" />
      <UiScroll ref="files" verticalScroll scrollbarVisibility="scroll">
        <div v-if="view === 'list'">
          <TailoredFilesList 
            :path="getPath().children"
            v-if="$store.state.dataState.files !== DataStateType.Loading"
            :push="push" />
          <UiLoadersFileTable v-else :rows="5" />
        </div>
        <div v-else>
          <TailoredFilesGrid
            :path="getPath().children"
            v-if="$store.state.dataState.files !== DataStateType.Loading"
            :push="push" />
        </div>
      </UiScroll>
    </div>
    <div class="files-right">
      <TailoredFilesAside />
    </div>
  </div>
</div>
