#files {
  padding: @normal-spacing;

  .files-container {
    &:extend(.full-width);
    display: flex;
    flex-direction: row;
  }

  .files-left {
    &:extend(.full-width);
  }
  .files-right {
    width: 350px;
    padding: 0 0 @normal-spacing @normal-spacing;
  }
  .files-top {
    &:extend(.full-width);
    display: inline-flex;
    margin-bottom: @normal-spacing;
  }

  .mobile-file-aside {
    padding-bottom: 10px;
  }

  .hidden-file-aside {
    display: none;
  }

  .scroll-area {
    max-height: 75vh;
  }
}

@media only screen and (max-width: @mobile-breakpoint) {
  #files {
    margin-top: 3.5rem;
  }
}
