.files-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  gap: 0px @normal-spacing;
  grid-auto-flow: row;
  grid-template-areas:
    'files-top files-top'
    'files-controls files-aside-container'
    'files-table files-aside-container';

  padding: @normal-spacing;
  overflow-y: scroll;

  .files-top {
    margin-bottom: @normal-spacing;
    grid-area: files-top;
  }

  .files-controls {
    grid-area: files-controls;
  }

  .files-table {
    overflow-x: auto;
    grid-area: files-table;
  }

  .files-aside-container {
    grid-area: files-aside-container;
  }

  &-mobile {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      'files-top'
      'files-container'
      'files-aside-container'
      'files-table';
    margin-top: 3.5rem;

    .files-aside-container {
      padding-bottom: @light-spacing;
    }

    .files-table {
      min-height: 380px;
      margin-top: @normal-spacing;
    }
  }
}
