.user-search {
  position: relative;
  
  &-slot {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    min-width: 0;
    height: auto;
    
    .chip {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      flex-grow: 0;
      padding: 1px @xlight-spacing;
      border-radius: @corner-rounding-xxlarge;
      background-color: @light-gray;
      margin-right: @xlight-spacing;

      .text {
        margin-left: @xlight-spacing;
      }
      .action {
        margin-left: @xlight-spacing;
        cursor: pointer;
      }
    }
  }

  &-input {
    flex: 1 1;
    outline: none;
    background-color: transparent;
    border-width: 0px;
    color: @text;
    font-size: inherit !important;
    outline: none;
    min-width: 50px;
  }

  &-list {
    display: none;
    position: absolute;
    width: 100%;
    height: 200px;
    overflow-y: auto;

    &.active {
      display: flex;
    }

    &.top {
      left: 0px;
      bottom: 0px;
      .user-search-result {
        left: 0px;
        bottom: 0px;
      }
    }

    &.bottom {
      left: 0px;
      top: 0px;
      .user-search-result {
        left: 0px;
        top: 0px;
      }
    }
  }

  &-result {
    width: 100%;
    background-color: @darker;
    border: 1px solid @dark;
    
    li {
      display: flex;
      align-items: center;
      padding: @light-spacing;
      .text {
        margin-left: @light-spacing;
        flex: 1 1;
      }
      .action {
        flex: 0 0;
        .fa-plus {
          cursor: pointer;
        }
      }

      &:hover, &.active {
        background-color: @light-gray;
      }
    }
  }
}