<div class="files-container" data-cy="files-screen">
  <!-- dont remove ref, used in layouts/desktop.vue -->
  <FilesControls ref="controls" class="controls" />
  <div class="files-aside-container">
    <FilesAside data-cy="file-aside" />
  </div>
  <div class="files-path">
    <div v-if="searchValue" class="search-info">
      <TypographyText class="search-info-text">
        {{ $t('pages.files.search.for_1') }} "{{ searchValue }}" {{
        $t('pages.files.search.for_2') }}
        <em>{{searchScope}}</em>
      </TypographyText>
    </div>

    <FilesFilepath v-else />

    <FilesControlsSwitch />
  </div>

  <FilesMobileControls v-if="$device.isMobile" class="mobile-controls" />

  <div class="files-view">
    <div v-if="!directory.length">
      <UiResultsMessage
        :title="$t(`${searchValue ? 'ui.no_results' : 'pages.files.empty'}`)"
      />
    </div>

    <FilesMobileList
      v-else-if="$device.isMobile"
      :directory="directory"
      @like="like"
      @share="share"
      @rename="rename"
      @remove="remove"
      @handle="handle"
    />

    <div v-else-if="gridLayout" class="files-view__desktop-wrapper">
      <FilesGrid
        :directory="directory"
        @like="like"
        @share="share"
        @rename="rename"
        @remove="remove"
        @handle="handle"
        class="files-view-desktop"
      />
    </div>

    <div v-else-if="!gridLayout" class="files-view__desktop-wrapper">
      <FilesList
        :directory="directory"
        @like="like"
        @share="share"
        @rename="rename"
        @remove="remove"
        @handle="handle"
        class="files-view-desktop"
      />
    </div>
  </div>
</div>
