<div class="files-container" data-cy="files-screen">
  <!-- dont remove ref, used in layouts/desktop.vue -->
  <FilesControls ref="controls" class="controls" />
  <div class="files-aside-container">
    <FilesAside />
  </div>
  <div class="files-path">
    <div v-if="searchValue" class="search-info">
      <TypographyText class="search-info-text">
        {{ $t('pages.files.search.for_1') }} "{{ searchValue }}" {{
        $t('pages.files.search.for_2') }}
        <em>{{searchScope}}</em>
      </TypographyText>
    </div>

    <FilesFilepath v-else />

    <FilesControlsSwitch />
  </div>
  <div class="files-view">
    <div v-if="!directory.length">
      <UiResultsMessage
        :title="$t(`pages.files.${searchValue ? 'search.' : ''}empty`)"
      />
    </div>
    <FilesMobileList
      v-else-if="$device.isMobile"
      :directory="directory"
      @like="like"
      @share="share"
      @rename="rename"
      @remove="remove"
      @handle="handle"
    />
    <FilesGrid
      v-else-if="gridLayout"
      :directory="directory"
      @like="like"
      @share="share"
      @rename="rename"
      @remove="remove"
      @handle="handle"
    />
    <FilesList
      v-else-if="!gridLayout"
      :directory="directory"
      @like="like"
      @share="share"
      @rename="rename"
      @remove="remove"
      @handle="handle"
    />
  </div>
</div>
