.glyph-item {
    position: relative;
}

.glyph-item-loading-container {
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    display: flex !important;
    justify-content: center;
    align-items: center;
    text-align: center;
}