<div id="file-list">
  <TailoredFilesView v-if="file" :file="file" />
  <table class="table">
    <thead>
      <th>
        Name
        <font-awesome-icon class="sort" :icon="['far', 'sort']" />
      </th>
      <th v-if="!$device.isMobile">
        Modified
        <font-awesome-icon class="sort" :icon="['far', 'sort']" />
      </th>
      <th v-if="!$device.isMobile">
        Type
        <font-awesome-icon class="sort" :icon="['far', 'sort']" />
      </th>
      <th v-if="!$device.isMobile">
        Encrypted
        <font-awesome-icon class="sort" :icon="['far', 'sort']" />
      </th>
      <th>
        Size
        <font-awesome-icon class="sort" :icon="['far', 'sort']" />
      </th>
      <th></th>
    </thead>
    <tbody>
      <tr class="item" v-for="item in path">
        <td class="filename" v-on:click="() => handle(item)">
          <span class="icon">
            <font-awesome-icon :icon="['far', 'folder']" v-if="item.children" />
            <font-awesome-icon :icon="['far', 'archive']" v-else-if="item.type && item.type.includes('archive')" />
            <font-awesome-icon :icon="['far', 'image']" v-else-if="item.type && item.type.includes('image')" />
            <font-awesome-icon :icon="['far', 'file-alt']" v-else />
          </span>
          {{ item.name }}
        </td>
        <td v-if="!$device.isMobile">{{ $dayjs(item.modified).from() }}</td>
        <td v-if="!$device.isMobile">{{ item.type ? item.type : item.children ? 'Folder' : '-' }}</td>
        <td class="has-tooltip has-tooltip-primary has-tooltip-top"
          :data-tooltip="(item.encrypted) ? 'Encrypted' : 'Unencrypted'" v-if="!$device.isMobile">
          <font-awesome-icon
            :icon="['far', 'lock']"
            v-if="item.encrypted" />
          <font-awesome-icon
            :icon="['far', 'lock-open']"
            v-else="item.encrypted" />
        </td>
        <td>{{ item.size ? $filesize(item.size) : '-' }}</td>
        <td class="options">
          <font-awesome-icon :icon="['far', 'ellipsis-v']" />
        </td>
      </tr>
    </tbody>
  </table>
</div>