.input-file {
  display: none;
}

.cropped-image {
  border-radius: @half;
  height: 400px;
  width: 500px;
}

.file-browser-trigger {
  position: absolute;
  height: 200px;
  width: 500px;
  cursor: pointer;
  &:extend(.third-layer);
}

.croppie-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cropper-mask {
  &:extend(.blur-less);
  background: transparent !important;
  opacity: 1;
}

.cropper-container {
  &:extend(.background-semitransparent-light);
  &:extend(.blur);
  &:extend(.bordered);
  &:extend(.round-corners);
  &:extend(.flex-justify-content-centered);
  &:extend(.absolute-coverage);
  flex-direction: column;
  align-items: center;
  padding: 35px;
  margin: auto;
  width: 380px;
  height: 380px;
  animation: zoom-in-zoom-out @animation-speed ease-out;
  &:extend(.third-layer);
}
