<div id="file-controls">
  <div class="search-container">
    <InteractablesInput
      size="small"
      input-kind="text"
      type="dark"
      :placeholder="$t('pages.files.browse.search')"
      class="search"
    />
    <InteractablesSelect
      :placeholder="$t('pages.files.file_type')"
      :options="[
        { text: 'Option 1', value: 1 },
        { text: 'Option 2', value: 2 },
        { text: 'Option 3', value: 3 },
      ]"
      size="small"
    />
  </div>
  <div class="add-container">
    <InteractablesButton
      type="primary"
      :text="$t('pages.files.controls.new_file')"
      size="small"
      :action="addFile"
      :loading="ui.isLoadingFileIndex || textile.filesLoading"
    >
      <file-plus-icon size="1.3x" />
    </InteractablesButton>
    <InteractablesInputGroup
      v-model="text"
      class="name"
      size="small"
      type="primary"
      :action="addFolder"
      :placeholder="$t('pages.files.controls.name_folder')"
      :loading="ui.isLoadingFileIndex || textile.filesLoading"
      :disabled="ui.isLoadingFileIndex || textile.filesLoading"
    >
      <folder-plus-icon size="1.3x" />
    </InteractablesInputGroup>
    <input
      ref="upload"
      type="file"
      @click="resetFileUpload"
      @change="handleFile"
      style="width: 0; height: 0"
      multiple
    />
  </div>
  <TypographyError
    v-if="errors.length"
    v-for="error in errors"
    :key="error"
    :text="error"
    class="error"
  />
  <div class="switcher-container">
    <TypographyText :size="6" :text="$t('pages.files.browse.files')" />
    <FilesViewSwitcher :changeView="changeView" />
  </div>
</div>
