#file-controls {
  &:extend(.full-width);

  .file-flex {
    display: flex;
  }
  .search-container {
    display: flex;
    margin-bottom: @normal-spacing;
    .search {
      flex-grow: 2;
      margin-right: @normal-spacing;
    }
  }
  .add-container {
    display: flex;
    gap: @light-spacing;
    margin-bottom: @large-spacing;
    height: 32px; // temp ensure there's no page jumping while input is rendered
    .name {
      flex-grow: 2;
    }
  }

  .switcher-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: @normal-spacing;
  }
}

@media only screen and (max-width: 576px) {
  #file-controls {
    display: block;
    min-width: @viewport-width - 20px;
    & > div {
      display: block;
      margin-bottom: @normal-spacing;
    }
  }
}
