.search-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  .search {
    flex-grow: 1;
  }
  // temp styles for coming soon
  span {
    width: 100%;
  }
  //end temp
}
.add-container {
  display: flex;
  gap: @light-spacing;
  // todo: temp ensure there's no page jumping while input is rendered

  .name {
    flex-grow: 1;
  }

  .add-file-btn {
    flex-shrink: 0;
    .content {
      width: 120px;
    }
  }
}

.status {
  margin-bottom: @normal-spacing;
}

.error-container {
  &:extend(.round-corners);
  display: flex;
  gap: @light-spacing;
  padding: @light-spacing;
  border: 1px solid @red;
  margin-bottom: @normal-spacing;
  div {
    display: flex;
    gap: @xlight-spacing;
    flex-direction: column;
  }
  svg {
    color: @red;
    flex-shrink: 0;
    &.close {
      margin-left: auto;
      cursor: pointer;
    }
  }
}
