#file-controls {
  display: inline-flex;
  justify-content: flex-end;
  width: 100%;

  .button {
    margin-left: 0.25rem;
  }

  .file-flex {
    display: inline-flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }

  #file-upload {
    width: 0px;
    height: 0px;
    overflow: hidden;
    display: none;
  }
  #quick-upload {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  #file-controls {
    display: block;
    min-width: @viewport-width - 20px;
    .file-type {
      .select {
        // width: 100%;
      }
    }
    & > div {
      display: block;
      margin-bottom: @normal-spacing;
    }
  }
}
