<div>
  <div class="search-container">
    <InteractablesSidebarToggle v-if="!showSidebar && !$device.isMobile" />
    <InteractablesInput
      v-model="searchValue"
      size="xs"
      :placeholder="$t('pages.files.search.placeholder')"
      class="search"
      type="search"
    >
      <template #append>
        <button
          @click="toggleSearchAll"
          class="input-button"
          :class="{ 'active': searchAll }"
        >
          <globe-icon
            class="input-icon"
            size="1x"
            v-tooltip.top="$t(`pages.files.search.${searchAll ? 'disable_global' : 'enable_global'}`)"
          />
        </button>
      </template>
    </InteractablesInput>
    <!-- <InteractablesSelect
      :placeholder="$t('pages.files.file_type')"
      :options="[
        { text: 'Option 1', value: 1 },
        { text: 'Option 2', value: 2 },
        { text: 'Option 3', value: 3 },
      ]"
      size="small"
    /> -->
  </div>
  <div class="add-container">
    <InteractablesButton
      color="primary"
      :text="$t('pages.files.controls.new_file')"
      @click="addFile"
    >
      <file-plus-icon size="1.3x" />
    </InteractablesButton>
    <InteractablesInput
      v-model="newFolderName"
      class="name"
      size="xs"
      :placeholder="$t('pages.files.controls.name_folder')"
      @submit="addFolder"
    >
      <folder-plus-icon size="1.3x" />
    </InteractablesInput>
    <input
      ref="upload"
      type="file"
      style="display: none"
      multiple
      @click="resetFileUpload"
      @change="handleInput"
    />
  </div>
  <TypographyText v-if="status" class="status"> {{ status }} </TypographyText>
  <div v-if="errors.length" class="error-container">
    <alert-triangle-icon size="1.3x" />
    <div>
      <TypographyError v-for="error in errors" :key="error" :text="error" />
    </div>
    <x-icon size="1.3x" class="close" @click="errors = []" />
  </div>
</div>
