.glyph-card {
  font-family: @primary-font;
  border-radius: @corner-rounding;
  overflow: hidden;
  min-width: 200px;
  width: 100%;
  max-width: 100%;
  border: @light-border;
  background: transparent;
  box-shadow: none;

  .glyph-card-header {
    width: 100%;
    height: 10.5rem;
    padding: @normal-spacing;
    border-radius: 4px 4px 0px 0px;
    background-color: @primary-color-alt;
    background-position: center;
    background-size: cover;
    .btn-group {
      display: flex;
      justify-content: space-between;
      .favorite {
        font-size: 18px;
      }
    }
    .glyph-list {
      padding-top: @normal-spacing;
      max-height: 6rem;
      overflow: hidden;
      div {
        display: inline-block;
        margin: 0 @light-spacing @light-spacing 0;
      }
    }
  }
  .card-text {
    width: 100%;
    height: 145px;
    padding: @normal-spacing;
    background: @semitransparent-dark-gradient;
    .name {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 8px;
    }
    .description {
      font-size: 12px;
      margin-bottom: 8px;
    }
    .price {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      font-size: 24px;
      font-weight: 600;
      .btn-buy {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        border-radius: 20px;
        color: @bright-text;
        font-size: 12px;
        background: @primary-gradient;
        box-shadow: @primary-glow;
      }
    }
  }
}
