.context-menu {
  position: fixed;
  background: @semitransparent-dark-gradient;
  backdrop-filter: @blur;
  color: @bright-text;
  z-index: 999;
  outline: none;
  cursor: pointer;
  padding: 8px;
  border-radius: @corner-rounding;
  max-width: 200px;
  min-width: 150px;
  // border: 1px solid @primary-color;
  // box-shadow: 0px 0px 12px @black;
  .subtitle {
    margin: 0 0 @light-spacing @light-spacing;
    font-size: @mini-text-size;
  }
  p {
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 14px;
  }
  p:hover {
    background: @primary-color;
    color: @bright-text;
  }
  .quickReactions {
    display: flex;
    flex-flow: row nowrap;
    height: 3rem;
    border-bottom: 1px solid;
    padding-bottom: 4px;
    margin-bottom: 4px;
    justify-content: center;
    p {
      display: flex;
      flex-grow: 1;
      font-size: 2rem;
      justify-content: center;
      align-items: center;
    }
    p:hover {
      background: none;
      text-shadow: -1px 0 1px @primary-color, 0 1px 1px @primary-color, 1px 0 1px @primary-color, 0 -1px 1px @primary-color, 0 0 12px @gray;
    }
  }
}