<div
  class="context-menu"
  data-cy="context-menu"
  ref="contextMenu"
  :style="{ left: ui.contextMenuPosition.x + 'px', 
  top: ui.contextMenuPosition.y + 'px' }"
  v-click-outside="close"
>
  <TypographySubtitle :size="6" :text="title" v-if="title.length" />
  <template v-for="item of ui.contextMenuValues">
    <p
      v-if="item.text !== 'quickReaction'"
      data-cy="context-menu-option"
      :class="item?.type"
      @click="handle(item.func)"
    >
      {{ item.text }}
    </p>
    <div v-else-if="getSortedMostUsedEmojis.length" class="quickReactions">
      <p
        v-for="reaction of mostUsedEmojis"
        data-cy="quick-reaction"
        @click="handle(() => {item.func(reaction)})"
      >
        {{ reaction.content }}
      </p>
    </div>
  </template>
</div>
