.context-menu {
  position: fixed;
  background: @light-gray;
  color: @text-muted;
  z-index: 999;
  outline: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  width: 200px;
  p {
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
  }
  p:hover {
    background: @primary-color;
    color: @bright-text;
  }
}